# Airbyte Declarative Source for chatgpt-team.
#
# Talks to a customer-deployed `chatgpt-team-proxy` HTTP endpoint, NOT to
# chatgpt.com directly. The proxy is a headless-Chromium bridge that holds
# the customer's chatgpt.com session, derives a short-lived bearer
# access_token, and presents the chatgpt.com web API (/backend-api/*) as a
# plain HTTP service. Insight authenticates with a shared bearer token
# (`proxy_auth_token`); the session never leaves the customer.
#
# The proxy maps the external `/api/*` route onto `chatgpt.com/backend-api/*`,
# so stream paths below start with `/api/...`.
#
# Proxy source code + Dockerfile + deployment docs:
#   https://gitlab.constr.dev/insight/secure-enclave → proxies/chatgpt_team/
#
# Eight streams:
#   1. chatgpt_team_seats             — full snapshot, offset-paginated
#   2. chatgpt_team_chat_activity     — per-day, cursor-paginated; DatetimeBasedCursor
#   3. chatgpt_team_codex_user_daily  — per-day, page-paginated; DatetimeBasedCursor
#   4. chatgpt_team_codex_user_daily_org — the same day's envelope, headcount only
#   5. chatgpt_team_codex_sessions_daily — per-day, unpaginated; credits by surface
#   6. chatgpt_team_subscription_usage   — per-model spend snapshot; 401/403/404 tolerated
#   7. chatgpt_team_subscription_balance — current balance snapshot; 401/403/404 tolerated
#   8. chatgpt_team_account_settings     — workspace seat defaults and caps
#
# Streams 3 and 5 are both per-person-per-day Codex readings and neither
# replaces the other — see stream 5 for which fields each one owns.
#
# The roster, leaderboard, sessions and settings shapes below were read back
# from a workspace. The two subscription streams were not: their fields still
# come from the data_collector prototype (apps/openai) and are unconfirmed.
# The proxy handles the chatgpt.com access_token.

version: "7.0.4"
type: DeclarativeSource

definitions:
  base_requester: &base_requester
    type: HttpRequester
    url_base: "{{ config['proxy_url'] }}"
    http_method: GET
    request_headers:
      Authorization: "Bearer {{ config['proxy_auth_token'] }}"

  standard_fields: &standard_fields
    - type: AddedFieldDefinition
      path: [tenant_id]
      value: "{{ config['insight_tenant_id'] }}"
    - type: AddedFieldDefinition
      path: [source_id]
      value: "{{ config['insight_source_id'] }}"
    - type: AddedFieldDefinition
      path: [collected_at]
      value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
    - type: AddedFieldDefinition
      path: [data_source]
      value: insight_chatgpt_team

  # Per-day cursor shared by every daily stream: chat_activity,
  # codex_user_daily, codex_user_daily_org and codex_sessions_daily. The API
  # treats start_date/end_date as an inclusive single-day filter, so we
  # walk one day per request (step P1D) and inject the day onto each row
  # (the per-user objects do not carry the date themselves).
  day_cursor: &day_cursor
    type: DatetimeBasedCursor
    cursor_field: date
    cursor_datetime_formats:
      - "%Y-%m-%d"
    datetime_format: "%Y-%m-%d"
    start_datetime:
      type: MinMaxDatetime
      datetime: "{{ config.get('start_date') or day_delta(-7, format='%Y-%m-%d') }}"
      datetime_format: "%Y-%m-%d"
    # INVARIANT: no end bound. An end pinned to a calendar midnight makes the
    # cursor's final window span two days, and `date` below is stamped from the
    # window's start — so a day's rows land under the previous date. Letting the
    # window end at the read time keeps the final one inside today.
    step: P1D
    cursor_granularity: P1D
    # Re-pull a 2-day tail so late-arriving / still-accumulating "yesterday"
    # analytics rows reach Bronze. The dbt models' 3-day window can't fix data
    # Bronze never received.
    lookback_window: P2D
    start_time_option:
      type: RequestOption
      field_name: start_date
      inject_into: request_parameter
    end_time_option:
      type: RequestOption
      field_name: end_date
      inject_into: request_parameter

  # The subscription streams are the only ones an installation can legitimately
  # be unable to read, and there are three ways that happens. A blank
  # chatgpt_org_id makes the path /subscriptions//usage → 404. A session the
  # vendor gates out of billing → 403. A session whose workspace ROLE is below
  # account-admin → 401, which is the case an analytics-viewer identity hits.
  # All three are IGNOREd so the stream commits zero records and the seat, chat
  # and Codex streams still sync.
  #
  # 401 is split into its own filter for one reason: its error_message is the
  # only place the difference between "no billing capability" and "nothing to
  # report" is written down. Know what that buys. On action: IGNORE the CDK
  # passes the message to logger.info (airbyte_cdk http_client, the IGNORE
  # branch) and nothing else — it becomes a line in the connector's log stream,
  # never a record, a state message or any field the warehouse can be asked
  # about later. An empty table has no freshness to go stale either, so
  # assert_chatgpt_subscription_stream_not_silent compares an instance against
  # its own past and still cannot see one that never read billing at all.
  #
  # ⚠️ MONITORING: IGNORE also hides a mistyped chatgpt_org_id or a broken proxy
  # route (green-but-empty). Runbook: if chatgpt_org_id is SET but the
  # subscription streams return 0 rows for N consecutive days, alert — that is a
  # misconfig, not "no billing visibility".
  billing_error_handler: &billing_error_handler
    type: DefaultErrorHandler
    response_filters:
      - type: HttpResponseFilter
        http_codes: [401]
        action: IGNORE
        error_message: "chatgpt.com returned 401 on a subscription stream — the workspace role is below account-admin, so this installation has no billing capability at all. Stream skipped, sync continues; nothing downstream will ever populate until the role is raised."
      - type: HttpResponseFilter
        http_codes: [403, 404]
        action: IGNORE
        error_message: "chatgpt.com returned 403/404 — billing not visible (or chatgpt_org_id blank). Subscription stream skipped, sync continues."

  # WORKAROUND: the proxy mints its chatgpt.com bearer from a browser session,
  # and a session that has just come up answers 401/403 until it settles. RETRY
  # rather than IGNORE: unlike the billing streams there is no benign reading of
  # 401/403 here, so the sync must recover or fail loudly — never commit zero
  # records and report green.
  session_error_handler: &session_error_handler
    type: DefaultErrorHandler
    max_retries: 3
    backoff_strategies:
      - type: ConstantBackoffStrategy
        backoff_time_in_seconds: 60
    response_filters:
      - type: HttpResponseFilter
        http_codes: [401, 403]
        action: RETRY
        error_message: "chatgpt-team-proxy returned 401/403 — the browser session may still be settling; retrying."

check:
  type: CheckStream
  stream_names:
    - chatgpt_team_seats

streams:
  # ── Stream 1: chatgpt_team_seats ────────────────────────────────────
  # Org roster. Endpoint: GET /backend-api/accounts/{account_id}/users
  # Response envelope: {items: [...], total, limit, offset}. Offset-paginated
  # (offset += page size; stop when a page returns < page size).
  - type: DeclarativeStream
    name: chatgpt_team_seats
    primary_key:
      - user_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        type: object
        additionalProperties: true
        properties:
          tenant_id: { type: string }
          source_id: { type: string }
          unique_key: { type: string }
          collected_at: { type: string }
          data_source: { type: string }
          user_id: { type: string }
          email: { type: string }
          name: { type: ["string", "null"] }
          role: { type: ["string", "null"] }
          seat_type: { type: ["string", "null"] }
          added_at: { type: ["string", "null"] }
          # INVARIANT: everything below is declared last and in this order. The
          # reconciler appends a new column to a table that already exists, so
          # anywhere else would give a fresh install a different column order
          # from a reconciled one, and union_by_tag reads positionally.
          #
          # credit_limits is the per-member spend cap, and it carries three
          # distinct states the reader must keep apart: absent (no override),
          # an empty array (an override that removes the cap) and an array of
          # {enforcement_mode, limit, limit_mode}. Kept whole rather than
          # flattened — the cap is denominated in credits, not currency.
          account_user_id: { type: ["string", "null"] }
          verified_email: { type: ["string", "null"] }
          trial_state: { type: ["string", "null"] }
          is_trial: { type: ["boolean", "null"] }
          is_scim_managed: { type: ["boolean", "null"] }
          creation_source: { type: ["string", "null"] }
          # The vendor's own departure signal. Nothing reads it yet; collecting
          # it is what makes a seat's tenure knowable later at all.
          deactivated_time: { type: ["string", "null"] }
          pending_seat_type: { type: ["string", "null"] }
          reclaimable_seat_type: { type: ["string", "null"] }
          credit_limits: { type: ["array", "null"] }
    retriever:
      type: SimpleRetriever
      requester:
        <<: *base_requester
        path: "/api/accounts/{{ config['chatgpt_account_id'] }}/users"
        request_parameters:
          query: ""
        error_handler: *session_error_handler
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [items]
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: OffsetIncrement
          page_size: 25
        page_token_option:
          type: RequestOption
          field_name: offset
          inject_into: request_parameter
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
    transformations:
      - type: AddFields
        fields: *standard_fields
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [user_id]
            value: "{{ record['id'] | string }}"
          - type: AddedFieldDefinition
            # The endpoint names the join date `created_time` (not `added_at`).
            path: [added_at]
            value: "{{ record.get('created_time') }}"
          - type: AddedFieldDefinition
            path: [unique_key]
            value: "{{ config['insight_tenant_id'] }}-{{ config['insight_source_id'] }}-{{ record['id'] }}"

  # ── Stream 2: chatgpt_team_chat_activity ────────────────────────────
  # Per-user per-day chat usage. Endpoint:
  #   GET /backend-api/accounts/{account_id}/analytics/user_list
  # Response: {users: [...], next_cursor}. Cursor-paginated within a day;
  # DatetimeBasedCursor walks days. `date` injected from the cursor.
  - type: DeclarativeStream
    name: chatgpt_team_chat_activity
    primary_key:
      - date
      - email
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        type: object
        additionalProperties: true
        properties:
          tenant_id: { type: string }
          source_id: { type: string }
          unique_key: { type: string }
          collected_at: { type: string }
          data_source: { type: string }
          date: { type: string }
          email: { type: string }
          name: { type: ["string", "null"] }
          seat_type: { type: ["string", "null"] }
          messages: { type: ["number", "null"] }
          gpt_messages: { type: ["number", "null"] }
          tool_messages: { type: ["number", "null"] }
          connector_messages: { type: ["number", "null"] }
          project_messages: { type: ["number", "null"] }
          credits_used: { type: ["number", "null"] }
    retriever:
      type: SimpleRetriever
      requester:
        <<: *base_requester
        path: "/api/accounts/{{ config['chatgpt_account_id'] }}/analytics/user_list"
        request_parameters:
          page_size: "100"
          order_by_field: "messages"
          order_by_direction: "DESC"
        error_handler: *session_error_handler
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [users]
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get('next_cursor', '') }}"
          stop_condition: "{{ not response.get('next_cursor') }}"
        page_token_option:
          type: RequestOption
          field_name: after_cursor
          inject_into: request_parameter
    incremental_sync: *day_cursor
    transformations:
      - type: AddFields
        fields: *standard_fields
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            # The API does not include the date in per-user objects; inject
            # the cursor's current day so rows from different days do not
            # collide on the primary key.
            path: [date]
            value: "{{ stream_interval.start_time }}"
          - type: AddedFieldDefinition
            path: [unique_key]
            value: "{{ config['insight_tenant_id'] }}-{{ config['insight_source_id'] }}-{{ stream_interval.start_time }}-{{ record['email'] }}"

  # ── Stream 3: chatgpt_team_codex_user_daily ─────────────────────────
  # Per-user per-day Codex usage. Endpoint:
  #   GET /backend-api/wham/analytics/usage-leaderboard
  # Response: {data: [...], total_users}. Page-number-paginated within a
  # day; DatetimeBasedCursor walks days. lines_added comes from a nested
  # code_attribution object.
  #
  # INVARIANT: `credits` is ON-DEMAND usage, not total Codex consumption.
  # Established by reading a workspace back:
  #   - it equals the vendor's own on-demand figure at every grain that
  #     publishes one (per user per day, per org per day, per org per month),
  #     with no observed case of credits > 0 while on-demand is 0;
  #   - Codex activity routinely records credits = 0 while the same rows carry
  #     non-zero token counts, on a large share of active days and inside the
  #     history of every user who has ever spent a credit;
  #   - the credited/uncredited boundary does not follow the model used, so it
  #     is not a premium-model meter.
  # What remains unproven is WHY the uncredited usage is uncredited — covered
  # by an allowance, or simply unmetered. Either way it is excluded, so the
  # figure must never be read as total consumption.
  - type: DeclarativeStream
    name: chatgpt_team_codex_user_daily
    primary_key:
      - date
      - email
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        type: object
        additionalProperties: true
        properties:
          tenant_id: { type: string }
          source_id: { type: string }
          unique_key: { type: string }
          collected_at: { type: string }
          data_source: { type: string }
          date: { type: string }
          email: { type: string }
          user_id: { type: ["string", "null"] }
          name: { type: ["string", "null"] }
          credits: { type: ["number", "null"] }
          n_threads: { type: ["number", "null"] }
          n_turns: { type: ["number", "null"] }
          current_streak: { type: ["number", "null"] }
          text_tokens: { type: ["number", "null"] }
          lines_added: { type: ["number", "null"] }
    retriever:
      type: SimpleRetriever
      requester:
        <<: *base_requester
        path: "/api/wham/analytics/usage-leaderboard"
        request_parameters:
          # INVARIANT: no window_days. The day_cursor injects start_date /
          # end_date for a single day, and window_days would turn each "daily"
          # row into a rolling multi-day aggregate over the same range.
          client_filter: "all"
          sort_by: "credits"
          sort_direction: "desc"
        error_handler: *session_error_handler
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [data]
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: PageIncrement
          page_size: 50
          start_from_page: 1
          # The endpoint is 1-indexed and an omitted `page` answers page 1 —
          # measured: the no-page and page=1 responses are identical, page=2
          # returns the next ranks. Naming it changes no behaviour; it removes
          # a server default the walk would otherwise depend on silently.
          inject_on_first_request: true
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: request_parameter
    incremental_sync: *day_cursor
    transformations:
      - type: AddFields
        fields: *standard_fields
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [date]
            value: "{{ stream_interval.start_time }}"
          - type: AddedFieldDefinition
            # Null-safe, not ''-safe: an absent id and an empty one are
            # different facts and the column is nullable to keep them apart.
            path: [user_id]
            value: "{{ record['user_id'] | string if record.get('user_id') else None }}"
          - type: AddedFieldDefinition
            # Nested under code_attribution.lines_of_code.added; null-safe.
            path: [lines_added]
            value: "{{ ((record.get('code_attribution') or {}).get('lines_of_code') or {}).get('added') }}"
          - type: AddedFieldDefinition
            path: [unique_key]
            value: "{{ config['insight_tenant_id'] }}-{{ config['insight_source_id'] }}-{{ stream_interval.start_time }}-{{ record['email'] }}"

  # ── Stream 4: chatgpt_team_codex_user_daily_org ─────────────────────
  # The leaderboard envelope without its rows. Same endpoint as stream 3,
  # asked for one row: field_path [] selects the envelope itself, and
  # total_users is the day's headcount as the vendor counts it.
  #
  # Kept out of chatgpt_team_codex_user_daily because it describes the
  # organisation, not a person: copying it onto every user row would
  # multiply one fact by the roster and make any sum wrong.
  #
  # No Silver target of its own. It exists so the completeness gate in
  # chatgpt_team__ai_dev_usage can ask whether a stored day came from a read
  # that returned everybody — the vendor keeps no history, so a headcount not
  # captured on the day it was published is gone.
  - type: DeclarativeStream
    name: chatgpt_team_codex_user_daily_org
    primary_key:
      - date
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        type: object
        additionalProperties: true
        properties:
          tenant_id: { type: string }
          source_id: { type: string }
          unique_key: { type: string }
          collected_at: { type: string }
          data_source: { type: string }
          date: { type: string }
          # INVARIANT: declared last. The reconciler appends a new column to a
          # table that already exists, so anywhere else would give a fresh
          # install a different column order from a reconciled one.
          total_users: { type: ["number", "null"] }
    retriever:
      type: SimpleRetriever
      requester:
        <<: *base_requester
        path: "/api/wham/analytics/usage-leaderboard"
        request_parameters:
          client_filter: "all"
          sort_by: "credits"
          sort_direction: "desc"
          page_size: "1"
        error_handler: *session_error_handler
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    incremental_sync: *day_cursor
    transformations:
      # The envelope also holds the leaderboard page. Keeping it would store
      # the roster twice — once per user row in chatgpt_team_codex_user_daily
      # and once more inside every org row.
      - type: RemoveFields
        field_pointers:
          - [data]
      - type: AddFields
        fields: *standard_fields
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [date]
            value: "{{ stream_interval.start_time }}"
          - type: AddedFieldDefinition
            # INVARIANT: the read is in the key, so each read of a day keeps
            # its own envelope. total_users is only true as of the read that
            # returned it — a day still in progress reports fewer people than
            # it ends with — so the gate needs the reference belonging to the
            # read it judges, not the day's newest one.
            path: [unique_key]
            value: "{{ config['insight_tenant_id'] }}-{{ config['insight_source_id'] }}-{{ stream_interval.start_time }}-{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"

  # ── Stream 5: chatgpt_team_codex_sessions_daily ─────────────────────
  # Per-user per-day Codex usage as the vendor's session/message aggregate.
  # Endpoint:
  #   GET /backend-api/wham/analytics/daily-sessions-messages-counts
  # Response: {data: [...], group_by}. One row per (user_id, date); the row
  # carries its own `date`, so unlike the leaderboard nothing is stamped from
  # the request window.
  #
  # INVARIANT: not paginated — page_size is ignored and `page` is rejected as an
  # unparseable next_page token. What that proves is narrow and worth stating
  # exactly: pagination-boundary truncation cannot occur here, because there is
  # no pagination to truncate on. It does NOT prove the response is complete.
  # The endpoint publishes no envelope and no expected total, so a partial
  # answer is not detectable from its own payload, and this stream therefore
  # carries no completeness gate — not because none is needed, but because
  # nothing in the response could drive one.
  #
  # INVARIANT: keyed on user_id, not email. This endpoint publishes neither
  # email nor name, and the id it does publish is the roster's `id` — verified
  # by joining a day's readers onto the roster with no unmatched row. Identity
  # therefore resolves downstream through the roster, never from this stream.
  #
  # FIELD OWNERSHIP. The two Codex streams overlap and neither replaces the
  # other, so each fact has exactly one owning stream and downstream models
  # read it only from its owner:
  #
  #   leaderboard (stream 3) owns:  email, name, lines_added, n_threads,
  #                                 n_turns, current_streak, and the
  #                                 AUTHORITATIVE total on-demand credits
  #   this stream owns:             the per-surface credit_* split, the token
  #                                 split, n_new_sessions_*, n_user_messages_*,
  #                                 n_tasks_web, n_code_reviews_web
  #
  # INVARIANT: the total belongs to the leaderboard, not here, and the two
  # differ in what they can prove about themselves. The leaderboard publishes
  # a total_users envelope and a read that loses somebody is rejected whole by
  # the gate in chatgpt_team__ai_dev_usage; this endpoint publishes no envelope
  # and no read of it can be judged against anything. Equal values do not make
  # equal guarantees, so credit_total and on_demand_credits are collected here
  # to RECONCILE against the leaderboard's figure, never to replace it.
  #
  # RECONCILIATION is on (user_id, date). The leaderboard publishes both
  # email and user_id; this stream publishes user_id alone. A person-day
  # present in one stream and absent from the other is a fact about the
  # vendor, not a row to drop or a column to null out — the staging model
  # keeps both sides and records which stream each row was seen in, so a
  # divergence is queryable rather than silent. Reading credits through an
  # inner join on the leaderboard would discard exactly the person-days the
  # leaderboard's own activity counters leave at zero, which are measurably
  # credit-bearing.
  - type: DeclarativeStream
    name: chatgpt_team_codex_sessions_daily
    primary_key:
      - date
      - user_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        type: object
        additionalProperties: true
        properties:
          tenant_id: { type: string }
          source_id: { type: string }
          unique_key: { type: string }
          collected_at: { type: string }
          data_source: { type: string }
          date: { type: string }
          user_id: { type: string }
          n_new_sessions_total: { type: ["number", "null"] }
          n_user_messages_total: { type: ["number", "null"] }
          n_tasks_web: { type: ["number", "null"] }
          n_code_reviews_web: { type: ["number", "null"] }
          credit_total: { type: ["number", "null"] }
          on_demand_credits: { type: ["number", "null"] }
          uncached_text_input_tokens: { type: ["number", "null"] }
          cached_text_input_tokens: { type: ["number", "null"] }
          text_output_tokens: { type: ["number", "null"] }
          text_total_tokens: { type: ["number", "null"] }
          # Per-surface credits. The surface list is the vendor's own and it
          # grows without notice, so a surface added later arrives as a column
          # this schema does not declare and is dropped until it is added here.
          credit_cli: { type: ["number", "null"] }
          credit_vscode: { type: ["number", "null"] }
          credit_exec: { type: ["number", "null"] }
          credit_sdk_ts: { type: ["number", "null"] }
          credit_desktop: { type: ["number", "null"] }
          credit_web: { type: ["number", "null"] }
          credit_slack: { type: ["number", "null"] }
          credit_github_code_review: { type: ["number", "null"] }
          credit_github_turn: { type: ["number", "null"] }
          # Per-surface new sessions, same caveat as the credits above.
          n_new_sessions_cli: { type: ["number", "null"] }
          n_new_sessions_vscode: { type: ["number", "null"] }
          n_new_sessions_exec: { type: ["number", "null"] }
          n_new_sessions_sdk_ts: { type: ["number", "null"] }
          n_new_sessions_desktop: { type: ["number", "null"] }
          n_new_sessions_work_desktop: { type: ["number", "null"] }
          n_new_sessions_work_web: { type: ["number", "null"] }
          n_new_sessions_work_mobile: { type: ["number", "null"] }
          n_new_sessions_other: { type: ["number", "null"] }
          # Per-surface user messages, same caveat again.
          n_user_messages_cli: { type: ["number", "null"] }
          n_user_messages_vscode: { type: ["number", "null"] }
          n_user_messages_exec: { type: ["number", "null"] }
          n_user_messages_sdk_ts: { type: ["number", "null"] }
          n_user_messages_desktop: { type: ["number", "null"] }
          n_user_messages_work_desktop: { type: ["number", "null"] }
          n_user_messages_work_web: { type: ["number", "null"] }
          n_user_messages_work_mobile: { type: ["number", "null"] }
          n_user_messages_other: { type: ["number", "null"] }
          # NOT collected, and the reason is in docs/.../chatgpt-team-codex-sessions-payload.md:
          # the nested clients[] / models[] arrays and the workspace-wide
          # n_users_used_* counters. Nothing downstream reads them yet, and a
          # fact this connector never stores cannot gain a reader later — so
          # the document lists them for whoever decides they are wanted.
    retriever:
      type: SimpleRetriever
      requester:
        <<: *base_requester
        path: "/api/wham/analytics/daily-sessions-messages-counts"
        error_handler: *session_error_handler
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [data]
    incremental_sync: *day_cursor
    transformations:
      - type: AddFields
        fields: *standard_fields
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            # The record's own date, not the request window's start: this
            # endpoint dates every row, and reading the window instead would
            # reintroduce the off-by-one the shared cursor's missing end bound
            # was fixed to avoid.
            path: [unique_key]
            value: "{{ config['insight_tenant_id'] }}-{{ config['insight_source_id'] }}-{{ record['date'] }}-{{ record['user_id'] }}"

  # ── Stream 6: chatgpt_team_subscription_usage ───────────────────────
  # Per-model spend for the current window. Endpoint:
  #   GET /backend-api/subscriptions/{org_id}/usage
  # Response: {usage_detail: [{label, amount}], current_balance, ...}.
  # No pagination. Snapshot: a `snapshot_date` (today) is injected so daily
  # snapshots accumulate instead of overwriting.
  #
  # INVARIANT: a fixed rolling [-30d, today] window, independent of the
  # config's start_date. The vendor's billing period does not start on the 1st
  # and this connector does not model it, so the window is a rolling read of
  # the current state rather than a period boundary. Nothing here loads a past
  # billing period, and moving the analytics backfill date does not make it.
  # Billing-cycle alignment stays deferred.
  - type: DeclarativeStream
    name: chatgpt_team_subscription_usage
    primary_key:
      - snapshot_date
      - model
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        type: object
        additionalProperties: true
        properties:
          tenant_id: { type: string }
          source_id: { type: string }
          unique_key: { type: string }
          collected_at: { type: string }
          data_source: { type: string }
          snapshot_date: { type: string }
          model: { type: string }
          amount: { type: ["number", "null"] }
    retriever:
      type: SimpleRetriever
      requester:
        <<: *base_requester
        path: "/api/subscriptions/{{ config['chatgpt_org_id'] }}/usage"
        request_parameters:
          # INVARIANT: not config['start_date']. That knob backfills the daily
          # streams; letting it reach here would silently redefine `amount`
          # from a rolling 30-day figure to an all-time one under an unchanged
          # snapshot_date, with nothing downstream recording which it is.
          start_date: "{{ day_delta(-30, format='%Y-%m-%d') }}"
          end_date: "{{ now_utc().strftime('%Y-%m-%d') }}"
        error_handler: *billing_error_handler
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [usage_detail]
    transformations:
      - type: AddFields
        fields: *standard_fields
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [snapshot_date]
            value: "{{ now_utc().strftime('%Y-%m-%d') }}"
          - type: AddedFieldDefinition
            path: [model]
            value: "{{ record['label'] }}"
          - type: AddedFieldDefinition
            path: [unique_key]
            value: "{{ config['insight_tenant_id'] }}-{{ config['insight_source_id'] }}-{{ now_utc().strftime('%Y-%m-%d') }}-{{ record['label'] }}"

  # ── Stream 7: chatgpt_team_subscription_balance ─────────────────────
  # Current balance snapshot. Same endpoint as stream 5, but extracts the
  # root object's current_balance (field_path []). One row per run.
  - type: DeclarativeStream
    name: chatgpt_team_subscription_balance
    primary_key:
      - snapshot_date
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        type: object
        additionalProperties: true
        properties:
          tenant_id: { type: string }
          source_id: { type: string }
          unique_key: { type: string }
          collected_at: { type: string }
          data_source: { type: string }
          snapshot_date: { type: string }
          current_balance: { type: ["number", "null"] }
    retriever:
      type: SimpleRetriever
      requester:
        <<: *base_requester
        path: "/api/subscriptions/{{ config['chatgpt_org_id'] }}/usage"
        request_parameters:
          # INVARIANT: not config['start_date']. That knob backfills the daily
          # streams; letting it reach here would silently redefine `amount`
          # from a rolling 30-day figure to an all-time one under an unchanged
          # snapshot_date, with nothing downstream recording which it is.
          start_date: "{{ day_delta(-30, format='%Y-%m-%d') }}"
          end_date: "{{ now_utc().strftime('%Y-%m-%d') }}"
        error_handler: *billing_error_handler
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    transformations:
      # field_path [] takes the whole envelope, so the per-model array rides
      # along as an undeclared field. Dropped here: stream 5 already stores it
      # one row per model, and a second copy inside the balance row is a
      # second answer to the same question.
      - type: RemoveFields
        field_pointers:
          - [usage_detail]
      - type: AddFields
        fields: *standard_fields
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [snapshot_date]
            value: "{{ now_utc().strftime('%Y-%m-%d') }}"
          - type: AddedFieldDefinition
            path: [unique_key]
            value: "{{ config['insight_tenant_id'] }}-{{ config['insight_source_id'] }}-{{ now_utc().strftime('%Y-%m-%d') }}"

  # ── Stream 8: chatgpt_team_account_settings ─────────────────────────
  # Workspace-level seat defaults. Endpoint:
  #   GET /backend-api/accounts/{account_id}/settings
  # One row per run, keyed on the snapshot day.
  #
  # Why it is worth a stream of its own: a member's own credit_limits is an
  # OVERRIDE. seat_type_credit_limits holds the default that actually applies
  # to everyone without one, so the effective cap for most seats is knowable
  # only here. Costs one request per sync on the session already open.
  - type: DeclarativeStream
    name: chatgpt_team_account_settings
    primary_key:
      - snapshot_date
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        type: object
        additionalProperties: true
        properties:
          tenant_id: { type: string }
          source_id: { type: string }
          unique_key: { type: string }
          collected_at: { type: string }
          data_source: { type: string }
          snapshot_date: { type: string }
          # Keyed by seat type, each value a list of cap objects shaped like a
          # member's credit_limits entry. Kept whole: the key set is the
          # vendor's seat vocabulary and pinning it here would be a guess.
          seat_type_credit_limits: { type: ["object", "null"] }
          default_seat_type: { type: ["string", "null"] }
          auto_approve_seat_upgrades: { type: ["boolean", "null"] }
    retriever:
      type: SimpleRetriever
      requester:
        <<: *base_requester
        path: "/api/accounts/{{ config['chatgpt_account_id'] }}/settings"
        error_handler: *session_error_handler
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    transformations:
      - type: AddFields
        fields: *standard_fields
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [snapshot_date]
            value: "{{ now_utc().strftime('%Y-%m-%d') }}"
          - type: AddedFieldDefinition
            path: [unique_key]
            value: "{{ config['insight_tenant_id'] }}-{{ config['insight_source_id'] }}-{{ now_utc().strftime('%Y-%m-%d') }}"

spec:
  type: Spec
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    required:
      - insight_tenant_id
      - insight_source_id
      - chatgpt_account_id
      - proxy_url
      - proxy_auth_token
    properties:
      insight_tenant_id:
        type: string
        title: Insight Tenant ID
        description: Tenant isolation identifier, injected as `tenant_id` on every record.
        order: 0
      chatgpt_account_id:
        type: string
        title: ChatGPT Account ID
        description: |
          ChatGPT workspace account UUID — used by `/accounts/{account_id}/*`
          endpoints. Find it via the logged-in browser at
          `https://chatgpt.com/api/auth/session` or in DevTools.
        order: 1
      chatgpt_org_id:
        type: string
        title: ChatGPT Organization ID
        description: |
          ChatGPT organization UUID (e.g. `org-...`) — used ONLY by the
          subscription streams (`/subscriptions/{org_id}/*`). Optional:
          leave blank if the operator account lacks billing visibility
          (e.g. an `analytics-viewer` role) — the subscription streams are
          then skipped and the seat/chat/Codex streams still run.
        default: ""
        order: 2
      proxy_url:
        type: string
        title: Proxy URL
        description: |
          Base URL of the customer-deployed chatgpt-team-proxy
          (https://gitlab.constr.dev/insight/secure-enclave →
          proxies/chatgpt_team). The customer hosts this proxy themselves.
          No default — operator MUST set per installation.
        order: 3
      proxy_auth_token:
        type: string
        title: Proxy Auth Token
        airbyte_secret: true
        description: |
          Shared bearer token used by Insight to authenticate to the
          customer-hosted proxy. Sent as `Authorization: Bearer <token>`
          on every request. Matches the proxy's PROXY_AUTH_TOKEN env var.
        order: 4
      insight_source_id:
        type: string
        title: Source Instance ID
        description: Connector instance identifier for multi-instance deployments. Set by the reconcile loop from the K8s Secret annotation `insight.cyberfabric.com/source-id`.
        default: ""
        order: 5
      start_date:
        type: string
        title: Start Date (daily analytics streams only)
        description: |
          Earliest date (YYYY-MM-DD) the per-day ANALYTICS streams backfill
          from: chat_activity, codex_user_daily and codex_user_daily_org.
          Default: 7 days ago. There is no floor — how far back it reaches is
          whatever history the workspace still holds.

          It does NOT reach the subscription streams. Those ask for a fixed
          rolling 30-day window ending today, whatever this is set to, so
          moving it back does not load historical billing periods. Historical
          subscription backfill is not supported and has not been confirmed
          against a live workspace.

          The seat roster and account settings are full snapshots and have no
          window at all.
        default: ""
        order: 6
    additionalProperties: true

metadata:
  autoImportSchema:
    chatgpt_team_seats: true
    chatgpt_team_chat_activity: true
    chatgpt_team_codex_user_daily: true
    chatgpt_team_subscription_usage: true
    chatgpt_team_subscription_balance: true
