# Airbyte Declarative Source for chatgpt-team.
#
# Talks to a customer-deployed `chatgpt-team-proxy` HTTP endpoint, NOT to
# chatgpt.com directly. The proxy is a headless-Chromium bridge that holds
# the customer's chatgpt.com session, derives a short-lived bearer
# access_token, and presents the chatgpt.com web API (/backend-api/*) as a
# plain HTTP service. Insight authenticates with a shared bearer token
# (`proxy_auth_token`); the session never leaves the customer.
#
# The proxy maps the external `/api/*` route onto `chatgpt.com/backend-api/*`,
# so stream paths below start with `/api/...`.
#
# Proxy source code + Dockerfile + deployment docs:
#   https://gitlab.constr.dev/insight/secure-enclave → proxies/chatgpt_team/
#
# Seven streams:
#   1. chatgpt_team_seats             — full snapshot, offset-paginated
#   2. chatgpt_team_chat_activity     — per-day, cursor-paginated; DatetimeBasedCursor
#   3. chatgpt_team_codex_user_daily  — per-day, page-paginated; DatetimeBasedCursor
#   4. chatgpt_team_codex_user_daily_org — the same day's envelope, headcount only
#   5. chatgpt_team_subscription_usage   — per-model spend snapshot; tolerates 403
#   6. chatgpt_team_subscription_balance — current balance snapshot; tolerates 403
#   7. chatgpt_team_account_settings     — workspace seat defaults and caps
#
# The roster, leaderboard and settings shapes below were read back from a
# workspace. The two subscription streams were not: their fields still come
# from the data_collector prototype (apps/openai) and are unconfirmed.
# The proxy handles the chatgpt.com access_token.

version: "7.0.4"
type: DeclarativeSource

definitions:
  base_requester: &base_requester
    type: HttpRequester
    url_base: "{{ config['proxy_url'] }}"
    http_method: GET
    request_headers:
      Authorization: "Bearer {{ config['proxy_auth_token'] }}"

  standard_fields: &standard_fields
    - type: AddedFieldDefinition
      path: [tenant_id]
      value: "{{ config['insight_tenant_id'] }}"
    - type: AddedFieldDefinition
      path: [source_id]
      value: "{{ config['insight_source_id'] }}"
    - type: AddedFieldDefinition
      path: [collected_at]
      value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
    - type: AddedFieldDefinition
      path: [data_source]
      value: insight_chatgpt_team

  # Per-day cursor shared by chat_activity and codex_user_daily. The API
  # treats start_date/end_date as an inclusive single-day filter, so we
  # walk one day per request (step P1D) and inject the day onto each row
  # (the per-user objects do not carry the date themselves).
  day_cursor: &day_cursor
    type: DatetimeBasedCursor
    cursor_field: date
    cursor_datetime_formats:
      - "%Y-%m-%d"
    datetime_format: "%Y-%m-%d"
    start_datetime:
      type: MinMaxDatetime
      datetime: "{{ config.get('start_date') or day_delta(-7, format='%Y-%m-%d') }}"
      datetime_format: "%Y-%m-%d"
    # INVARIANT: no end bound. An end pinned to a calendar midnight makes the
    # cursor's final window span two days, and `date` below is stamped from the
    # window's start — so a day's rows land under the previous date. Letting the
    # window end at the read time keeps the final one inside today.
    step: P1D
    cursor_granularity: P1D
    # Re-pull a 2-day tail so late-arriving / still-accumulating "yesterday"
    # analytics rows reach Bronze. The dbt models' 3-day window can't fix data
    # Bronze never received.
    lookback_window: P2D
    start_time_option:
      type: RequestOption
      field_name: start_date
      inject_into: request_parameter
    end_time_option:
      type: RequestOption
      field_name: end_date
      inject_into: request_parameter

  # The subscription streams are the only ones an installation can legitimately
  # be unable to read, and there are three ways that happens. A blank
  # chatgpt_org_id makes the path /subscriptions//usage → 404. A session the
  # vendor gates out of billing → 403. A session whose workspace ROLE is below
  # account-admin → 401, which is the case an analytics-viewer identity hits.
  # All three are IGNOREd so the stream commits zero records and the seat, chat
  # and Codex streams still sync.
  #
  # 401 is split into its own filter for one reason: its error_message is the
  # only place the difference between "no billing capability" and "nothing to
  # report" is written down. The warehouse cannot tell them apart — an empty
  # table has no freshness to go stale — so the sync log carries it instead,
  # and assert_chatgpt_subscription_stream_not_silent names both causes.
  #
  # ⚠️ MONITORING: IGNORE also hides a mistyped chatgpt_org_id or a broken proxy
  # route (green-but-empty). Runbook: if chatgpt_org_id is SET but the
  # subscription streams return 0 rows for N consecutive days, alert — that is a
  # misconfig, not "no billing visibility".
  billing_error_handler: &billing_error_handler
    type: DefaultErrorHandler
    response_filters:
      - type: HttpResponseFilter
        http_codes: [401]
        action: IGNORE
        error_message: "chatgpt.com returned 401 on a subscription stream — the workspace role is below account-admin, so this installation has no billing capability at all. Stream skipped, sync continues; nothing downstream will ever populate until the role is raised."
      - type: HttpResponseFilter
        http_codes: [403, 404]
        action: IGNORE
        error_message: "chatgpt.com returned 403/404 — billing not visible (or chatgpt_org_id blank). Subscription stream skipped, sync continues."

  # WORKAROUND: the proxy mints its chatgpt.com bearer from a browser session,
  # and a session that has just come up answers 401/403 until it settles. RETRY
  # rather than IGNORE: unlike the billing streams there is no benign reading of
  # 401/403 here, so the sync must recover or fail loudly — never commit zero
  # records and report green.
  session_error_handler: &session_error_handler
    type: DefaultErrorHandler
    max_retries: 3
    backoff_strategies:
      - type: ConstantBackoffStrategy
        backoff_time_in_seconds: 60
    response_filters:
      - type: HttpResponseFilter
        http_codes: [401, 403]
        action: RETRY
        error_message: "chatgpt-team-proxy returned 401/403 — the browser session may still be settling; retrying."

check:
  type: CheckStream
  stream_names:
    - chatgpt_team_seats

streams:
  # ── Stream 1: chatgpt_team_seats ────────────────────────────────────
  # Org roster. Endpoint: GET /backend-api/accounts/{account_id}/users
  # Response envelope: {items: [...], total, limit, offset}. Offset-paginated
  # (offset += page size; stop when a page returns < page size).
  - type: DeclarativeStream
    name: chatgpt_team_seats
    primary_key:
      - user_id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        type: object
        additionalProperties: true
        properties:
          tenant_id: { type: string }
          source_id: { type: string }
          unique_key: { type: string }
          collected_at: { type: string }
          data_source: { type: string }
          user_id: { type: string }
          email: { type: string }
          name: { type: ["string", "null"] }
          role: { type: ["string", "null"] }
          seat_type: { type: ["string", "null"] }
          added_at: { type: ["string", "null"] }
          # INVARIANT: everything below is declared last and in this order. The
          # reconciler appends a new column to a table that already exists, so
          # anywhere else would give a fresh install a different column order
          # from a reconciled one, and union_by_tag reads positionally.
          #
          # credit_limits is the per-member spend cap, and it carries three
          # distinct states the reader must keep apart: absent (no override),
          # an empty array (an override that removes the cap) and an array of
          # {enforcement_mode, limit, limit_mode}. Kept whole rather than
          # flattened — the cap is denominated in credits, not currency.
          account_user_id: { type: ["string", "null"] }
          verified_email: { type: ["string", "null"] }
          trial_state: { type: ["string", "null"] }
          is_trial: { type: ["boolean", "null"] }
          is_scim_managed: { type: ["boolean", "null"] }
          creation_source: { type: ["string", "null"] }
          # The vendor's own departure signal. Nothing reads it yet; collecting
          # it is what makes a seat's tenure knowable later at all.
          deactivated_time: { type: ["string", "null"] }
          pending_seat_type: { type: ["string", "null"] }
          reclaimable_seat_type: { type: ["string", "null"] }
          credit_limits: { type: ["array", "null"] }
    retriever:
      type: SimpleRetriever
      requester:
        <<: *base_requester
        path: "/api/accounts/{{ config['chatgpt_account_id'] }}/users"
        request_parameters:
          query: ""
        error_handler: *session_error_handler
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [items]
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: OffsetIncrement
          page_size: 25
        page_token_option:
          type: RequestOption
          field_name: offset
          inject_into: request_parameter
        page_size_option:
          type: RequestOption
          field_name: limit
          inject_into: request_parameter
    transformations:
      - type: AddFields
        fields: *standard_fields
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [user_id]
            value: "{{ record['id'] | string }}"
          - type: AddedFieldDefinition
            # The endpoint names the join date `created_time` (not `added_at`).
            path: [added_at]
            value: "{{ record.get('created_time') }}"
          - type: AddedFieldDefinition
            path: [unique_key]
            value: "{{ config['insight_tenant_id'] }}-{{ config['insight_source_id'] }}-{{ record['id'] }}"

  # ── Stream 2: chatgpt_team_chat_activity ────────────────────────────
  # Per-user per-day chat usage. Endpoint:
  #   GET /backend-api/accounts/{account_id}/analytics/user_list
  # Response: {users: [...], next_cursor}. Cursor-paginated within a day;
  # DatetimeBasedCursor walks days. `date` injected from the cursor.
  - type: DeclarativeStream
    name: chatgpt_team_chat_activity
    primary_key:
      - date
      - email
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        type: object
        additionalProperties: true
        properties:
          tenant_id: { type: string }
          source_id: { type: string }
          unique_key: { type: string }
          collected_at: { type: string }
          data_source: { type: string }
          date: { type: string }
          email: { type: string }
          name: { type: ["string", "null"] }
          seat_type: { type: ["string", "null"] }
          messages: { type: ["number", "null"] }
          gpt_messages: { type: ["number", "null"] }
          tool_messages: { type: ["number", "null"] }
          connector_messages: { type: ["number", "null"] }
          project_messages: { type: ["number", "null"] }
          credits_used: { type: ["number", "null"] }
    retriever:
      type: SimpleRetriever
      requester:
        <<: *base_requester
        path: "/api/accounts/{{ config['chatgpt_account_id'] }}/analytics/user_list"
        request_parameters:
          page_size: "100"
          order_by_field: "messages"
          order_by_direction: "DESC"
        error_handler: *session_error_handler
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [users]
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get('next_cursor', '') }}"
          stop_condition: "{{ not response.get('next_cursor') }}"
        page_token_option:
          type: RequestOption
          field_name: after_cursor
          inject_into: request_parameter
    incremental_sync: *day_cursor
    transformations:
      - type: AddFields
        fields: *standard_fields
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            # The API does not include the date in per-user objects; inject
            # the cursor's current day so rows from different days do not
            # collide on the primary key.
            path: [date]
            value: "{{ stream_interval.start_time }}"
          - type: AddedFieldDefinition
            path: [unique_key]
            value: "{{ config['insight_tenant_id'] }}-{{ config['insight_source_id'] }}-{{ stream_interval.start_time }}-{{ record['email'] }}"

  # ── Stream 3: chatgpt_team_codex_user_daily ─────────────────────────
  # Per-user per-day Codex usage. Endpoint:
  #   GET /backend-api/wham/analytics/usage-leaderboard
  # Response: {data: [...], total_users}. Page-number-paginated within a
  # day; DatetimeBasedCursor walks days. lines_added comes from a nested
  # code_attribution object.
  #
  # INVARIANT: `credits` is ON-DEMAND usage, not total Codex consumption.
  # Established by reading a workspace back:
  #   - it equals the vendor's own on-demand figure at every grain that
  #     publishes one (per user per day, per org per day, per org per month),
  #     with no observed case of credits > 0 while on-demand is 0;
  #   - Codex activity routinely records credits = 0 while the same rows carry
  #     non-zero token counts, on a large share of active days and inside the
  #     history of every user who has ever spent a credit;
  #   - the credited/uncredited boundary does not follow the model used, so it
  #     is not a premium-model meter.
  # What remains unproven is WHY the uncredited usage is uncredited — covered
  # by an allowance, or simply unmetered. Either way it is excluded, so the
  # figure must never be read as total consumption.
  - type: DeclarativeStream
    name: chatgpt_team_codex_user_daily
    primary_key:
      - date
      - email
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        type: object
        additionalProperties: true
        properties:
          tenant_id: { type: string }
          source_id: { type: string }
          unique_key: { type: string }
          collected_at: { type: string }
          data_source: { type: string }
          date: { type: string }
          email: { type: string }
          user_id: { type: ["string", "null"] }
          name: { type: ["string", "null"] }
          credits: { type: ["number", "null"] }
          n_threads: { type: ["number", "null"] }
          n_turns: { type: ["number", "null"] }
          current_streak: { type: ["number", "null"] }
          text_tokens: { type: ["number", "null"] }
          lines_added: { type: ["number", "null"] }
    retriever:
      type: SimpleRetriever
      requester:
        <<: *base_requester
        path: "/api/wham/analytics/usage-leaderboard"
        request_parameters:
          # INVARIANT: no window_days. The day_cursor injects start_date /
          # end_date for a single day, and window_days would turn each "daily"
          # row into a rolling multi-day aggregate over the same range.
          client_filter: "all"
          sort_by: "credits"
          sort_direction: "desc"
        error_handler: *session_error_handler
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [data]
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: PageIncrement
          page_size: 50
          start_from_page: 1
          # The endpoint is 1-indexed and an omitted `page` answers page 1 —
          # measured: the no-page and page=1 responses are identical, page=2
          # returns the next ranks. Naming it changes no behaviour; it removes
          # a server default the walk would otherwise depend on silently.
          inject_on_first_request: true
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
        page_size_option:
          type: RequestOption
          field_name: page_size
          inject_into: request_parameter
    incremental_sync: *day_cursor
    transformations:
      - type: AddFields
        fields: *standard_fields
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [date]
            value: "{{ stream_interval.start_time }}"
          - type: AddedFieldDefinition
            # Null-safe, not ''-safe: an absent id and an empty one are
            # different facts and the column is nullable to keep them apart.
            path: [user_id]
            value: "{{ record['user_id'] | string if record.get('user_id') else None }}"
          - type: AddedFieldDefinition
            # Nested under code_attribution.lines_of_code.added; null-safe.
            path: [lines_added]
            value: "{{ ((record.get('code_attribution') or {}).get('lines_of_code') or {}).get('added') }}"
          - type: AddedFieldDefinition
            path: [unique_key]
            value: "{{ config['insight_tenant_id'] }}-{{ config['insight_source_id'] }}-{{ stream_interval.start_time }}-{{ record['email'] }}"

  # ── Stream 4: chatgpt_team_codex_user_daily_org ─────────────────────
  # The leaderboard envelope without its rows. Same endpoint as stream 3,
  # asked for one row: field_path [] selects the envelope itself, and
  # total_users is the day's headcount as the vendor counts it.
  #
  # Kept out of chatgpt_team_codex_user_daily because it describes the
  # organisation, not a person: copying it onto every user row would
  # multiply one fact by the roster and make any sum wrong.
  #
  # No Silver target of its own. It exists so the completeness gate in
  # chatgpt_team__ai_dev_usage can ask whether a stored day came from a read
  # that returned everybody — the vendor keeps no history, so a headcount not
  # captured on the day it was published is gone.
  - type: DeclarativeStream
    name: chatgpt_team_codex_user_daily_org
    primary_key:
      - date
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        type: object
        additionalProperties: true
        properties:
          tenant_id: { type: string }
          source_id: { type: string }
          unique_key: { type: string }
          collected_at: { type: string }
          data_source: { type: string }
          date: { type: string }
          # INVARIANT: declared last. The reconciler appends a new column to a
          # table that already exists, so anywhere else would give a fresh
          # install a different column order from a reconciled one.
          total_users: { type: ["number", "null"] }
    retriever:
      type: SimpleRetriever
      requester:
        <<: *base_requester
        path: "/api/wham/analytics/usage-leaderboard"
        request_parameters:
          client_filter: "all"
          sort_by: "credits"
          sort_direction: "desc"
          page_size: "1"
        error_handler: *session_error_handler
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    incremental_sync: *day_cursor
    transformations:
      # The envelope also holds the leaderboard page. Keeping it would store
      # the roster twice — once per user row in chatgpt_team_codex_user_daily
      # and once more inside every org row.
      - type: RemoveFields
        field_pointers:
          - [data]
      - type: AddFields
        fields: *standard_fields
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [date]
            value: "{{ stream_interval.start_time }}"
          - type: AddedFieldDefinition
            # INVARIANT: the read is in the key, so each read of a day keeps
            # its own envelope. total_users is only true as of the read that
            # returned it — a day still in progress reports fewer people than
            # it ends with — so the gate needs the reference belonging to the
            # read it judges, not the day's newest one.
            path: [unique_key]
            value: "{{ config['insight_tenant_id'] }}-{{ config['insight_source_id'] }}-{{ stream_interval.start_time }}-{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"

  # ── Stream 5: chatgpt_team_subscription_usage ───────────────────────
  # Per-model spend for the current window. Endpoint:
  #   GET /backend-api/subscriptions/{org_id}/usage
  # Response: {usage_detail: [{label, amount}], current_balance, ...}.
  # No pagination. Snapshot: a `snapshot_date` (today) is injected so daily
  # snapshots accumulate instead of overwriting.
  #
  # NOTE: the prototype queried the billing cycle (resets on the 14th). We
  # use a simple [start_date or -30d, today] window here; billing-cycle
  # alignment is deferred (spec OQ — billing semantics).
  - type: DeclarativeStream
    name: chatgpt_team_subscription_usage
    primary_key:
      - snapshot_date
      - model
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        type: object
        additionalProperties: true
        properties:
          tenant_id: { type: string }
          source_id: { type: string }
          unique_key: { type: string }
          collected_at: { type: string }
          data_source: { type: string }
          snapshot_date: { type: string }
          model: { type: string }
          amount: { type: ["number", "null"] }
    retriever:
      type: SimpleRetriever
      requester:
        <<: *base_requester
        path: "/api/subscriptions/{{ config['chatgpt_org_id'] }}/usage"
        request_parameters:
          # INVARIANT: not config['start_date']. That knob backfills the daily
          # streams; letting it reach here would silently redefine `amount`
          # from a rolling 30-day figure to an all-time one under an unchanged
          # snapshot_date, with nothing downstream recording which it is.
          start_date: "{{ day_delta(-30, format='%Y-%m-%d') }}"
          end_date: "{{ now_utc().strftime('%Y-%m-%d') }}"
        error_handler: *billing_error_handler
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [usage_detail]
    transformations:
      - type: AddFields
        fields: *standard_fields
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [snapshot_date]
            value: "{{ now_utc().strftime('%Y-%m-%d') }}"
          - type: AddedFieldDefinition
            path: [model]
            value: "{{ record['label'] }}"
          - type: AddedFieldDefinition
            path: [unique_key]
            value: "{{ config['insight_tenant_id'] }}-{{ config['insight_source_id'] }}-{{ now_utc().strftime('%Y-%m-%d') }}-{{ record['label'] }}"

  # ── Stream 6: chatgpt_team_subscription_balance ─────────────────────
  # Current balance snapshot. Same endpoint as stream 5, but extracts the
  # root object's current_balance (field_path []). One row per run.
  - type: DeclarativeStream
    name: chatgpt_team_subscription_balance
    primary_key:
      - snapshot_date
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        type: object
        additionalProperties: true
        properties:
          tenant_id: { type: string }
          source_id: { type: string }
          unique_key: { type: string }
          collected_at: { type: string }
          data_source: { type: string }
          snapshot_date: { type: string }
          current_balance: { type: ["number", "null"] }
    retriever:
      type: SimpleRetriever
      requester:
        <<: *base_requester
        path: "/api/subscriptions/{{ config['chatgpt_org_id'] }}/usage"
        request_parameters:
          # INVARIANT: not config['start_date']. That knob backfills the daily
          # streams; letting it reach here would silently redefine `amount`
          # from a rolling 30-day figure to an all-time one under an unchanged
          # snapshot_date, with nothing downstream recording which it is.
          start_date: "{{ day_delta(-30, format='%Y-%m-%d') }}"
          end_date: "{{ now_utc().strftime('%Y-%m-%d') }}"
        error_handler: *billing_error_handler
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    transformations:
      # field_path [] takes the whole envelope, so the per-model array rides
      # along as an undeclared field. Dropped here: stream 5 already stores it
      # one row per model, and a second copy inside the balance row is a
      # second answer to the same question.
      - type: RemoveFields
        field_pointers:
          - [usage_detail]
      - type: AddFields
        fields: *standard_fields
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [snapshot_date]
            value: "{{ now_utc().strftime('%Y-%m-%d') }}"
          - type: AddedFieldDefinition
            path: [unique_key]
            value: "{{ config['insight_tenant_id'] }}-{{ config['insight_source_id'] }}-{{ now_utc().strftime('%Y-%m-%d') }}"

  # ── Stream 7: chatgpt_team_account_settings ─────────────────────────
  # Workspace-level seat defaults. Endpoint:
  #   GET /backend-api/accounts/{account_id}/settings
  # One row per run, keyed on the snapshot day.
  #
  # Why it is worth a stream of its own: a member's own credit_limits is an
  # OVERRIDE. seat_type_credit_limits holds the default that actually applies
  # to everyone without one, so the effective cap for most seats is knowable
  # only here. Costs one request per sync on the session already open.
  - type: DeclarativeStream
    name: chatgpt_team_account_settings
    primary_key:
      - snapshot_date
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $schema: http://json-schema.org/schema#
        type: object
        additionalProperties: true
        properties:
          tenant_id: { type: string }
          source_id: { type: string }
          unique_key: { type: string }
          collected_at: { type: string }
          data_source: { type: string }
          snapshot_date: { type: string }
          # Keyed by seat type, each value a list of cap objects shaped like a
          # member's credit_limits entry. Kept whole: the key set is the
          # vendor's seat vocabulary and pinning it here would be a guess.
          seat_type_credit_limits: { type: ["object", "null"] }
          default_seat_type: { type: ["string", "null"] }
          auto_approve_seat_upgrades: { type: ["boolean", "null"] }
    retriever:
      type: SimpleRetriever
      requester:
        <<: *base_requester
        path: "/api/accounts/{{ config['chatgpt_account_id'] }}/settings"
        error_handler: *session_error_handler
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
    transformations:
      - type: AddFields
        fields: *standard_fields
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [snapshot_date]
            value: "{{ now_utc().strftime('%Y-%m-%d') }}"
          - type: AddedFieldDefinition
            path: [unique_key]
            value: "{{ config['insight_tenant_id'] }}-{{ config['insight_source_id'] }}-{{ now_utc().strftime('%Y-%m-%d') }}"

spec:
  type: Spec
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    required:
      - insight_tenant_id
      - insight_source_id
      - chatgpt_account_id
      - proxy_url
      - proxy_auth_token
    properties:
      insight_tenant_id:
        type: string
        title: Insight Tenant ID
        description: Tenant isolation identifier, injected as `tenant_id` on every record.
        order: 0
      chatgpt_account_id:
        type: string
        title: ChatGPT Account ID
        description: |
          ChatGPT workspace account UUID — used by `/accounts/{account_id}/*`
          endpoints. Find it via the logged-in browser at
          `https://chatgpt.com/api/auth/session` or in DevTools.
        order: 1
      chatgpt_org_id:
        type: string
        title: ChatGPT Organization ID
        description: |
          ChatGPT organization UUID (e.g. `org-...`) — used ONLY by the
          subscription streams (`/subscriptions/{org_id}/*`). Optional:
          leave blank if the operator account lacks billing visibility
          (e.g. an `analytics-viewer` role) — the subscription streams are
          then skipped and the seat/chat/Codex streams still run.
        default: ""
        order: 2
      proxy_url:
        type: string
        title: Proxy URL
        description: |
          Base URL of the customer-deployed chatgpt-team-proxy
          (https://gitlab.constr.dev/insight/secure-enclave →
          proxies/chatgpt_team). The customer hosts this proxy themselves.
          No default — operator MUST set per installation.
        order: 3
      proxy_auth_token:
        type: string
        title: Proxy Auth Token
        airbyte_secret: true
        description: |
          Shared bearer token used by Insight to authenticate to the
          customer-hosted proxy. Sent as `Authorization: Bearer <token>`
          on every request. Matches the proxy's PROXY_AUTH_TOKEN env var.
        order: 4
      insight_source_id:
        type: string
        title: Source Instance ID
        description: Connector instance identifier for multi-instance deployments. Set by the reconcile loop from the K8s Secret annotation `insight.cyberfabric.com/source-id`.
        default: ""
        order: 5
      start_date:
        type: string
        title: Start Date (daily streams only)
        description: |
          Earliest date to backfill the per-day streams (chat_activity,
          codex_user_daily) from (YYYY-MM-DD). Default: 7 days ago. Set to
          "2026-01-14" for a full historical backfill (earliest observed
          data point for the test org). Also bounds the subscription window.
        default: ""
        order: 6
    additionalProperties: true

metadata:
  autoImportSchema:
    chatgpt_team_seats: true
    chatgpt_team_chat_activity: true
    chatgpt_team_codex_user_daily: true
    chatgpt_team_subscription_usage: true
    chatgpt_team_subscription_balance: true
