version: 6.60.9

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - meetings

definitions:
  linked:
    HttpRequester:
      authenticator:
        type: SessionTokenAuthenticator
        login_requester:
          type: HttpRequester
          authenticator:
            type: BasicHttpAuthenticator
            username: "{{ config['zoom_client_id'] }}"
            password: "{{ config['zoom_client_secret'] }}"
          http_method: POST
          url: https://zoom.us/oauth/token
          request_body:
            type: RequestBodyUrlEncodedForm
            value:
              grant_type: account_credentials
              account_id: "{{ config['zoom_account_id'] }}"
        expiration_duration: PT1H
        session_token_path:
          - access_token
        request_authentication:
          type: Bearer
      error_handler:
        type: CompositeErrorHandler
        error_handlers:
          - type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                action: RATE_LIMITED
                http_codes:
                  - 429
            backoff_strategies:
              - type: WaitTimeFromHeader
                header: Retry-After
          - type: DefaultErrorHandler
            response_filters:
              - type: HttpResponseFilter
                action: RATE_LIMITED
                http_codes:
                  - 503
            backoff_strategies:
              - type: WaitTimeFromHeader
                header: Retry-After
          - type: DefaultErrorHandler
            max_retries: 5
            response_filters:
              - type: HttpResponseFilter
                action: RETRY
                http_codes:
                  - 500
                  - 502
                  - 504
            backoff_strategies:
              - type: ExponentialBackoffStrategy
                factor: 5
      request_body:
        type: RequestBodyUrlEncodedForm
        value:
          grant_type: account_credentials
          account_id: "{{ config['zoom_account_id'] }}"
      request_parameters:
        type: past
        page_size: "{{ config['page_size'] }}"
    SimpleRetriever:
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: next_page_token
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get('next_page_token') }}"
        stop_condition:
          type: StopCondition
          condition: "{{ not response.get('next_page_token') }}"

streams:
  - type: DeclarativeStream
    name: users
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      requester:
        type: HttpRequester
        authenticator:
          type: SessionTokenAuthenticator
          login_requester:
            type: HttpRequester
            authenticator:
              type: BasicHttpAuthenticator
              username: "{{ config['zoom_client_id'] }}"
              password: "{{ config['zoom_client_secret'] }}"
            http_method: POST
            url: https://zoom.us/oauth/token
            request_body:
              type: RequestBodyUrlEncodedForm
              value:
                grant_type: account_credentials
                account_id: "{{ config['zoom_account_id'] }}"
          expiration_duration: PT1H
          session_token_path:
            - access_token
          request_authentication:
            type: Bearer
        http_method: GET
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: RATE_LIMITED
                  http_codes:
                    - 429
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
                - type: ExponentialBackoffStrategy
                  factor: 10
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: RATE_LIMITED
                  http_codes:
                    - 503
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              max_retries: 5
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 500
                    - 502
                    - 504
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 5
        request_parameters:
          page_size: "{{ config['page_size'] }}"
        url: https://api.zoom.us/v2/users
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: next_page_token
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get('next_page_token') }}"
        stop_condition:
          type: StopCondition
          condition: "{{ not response.get('next_page_token') }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - users
    primary_key: unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          type:
            type:
              - number
              - "null"
          id:
            type:
              - string
              - "null"
          first_name:
            type:
              - string
              - "null"
          last_name:
            type:
              - string
              - "null"
          display_name:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          pmi:
            type:
              - number
              - "null"
          timezone:
            type:
              - string
              - "null"
          verified:
            type:
              - number
              - "null"
          dept:
            type:
              - string
              - "null"
          created_at:
            type:
              - string
              - "null"
          last_login_time:
            type:
              - string
              - "null"
          last_client_version:
            type:
              - string
              - "null"
          group_ids:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          language:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          role_id:
            type:
              - string
              - "null"
          employee_unique_id:
            type:
              - string
              - "null"
          user_created_at:
            type:
              - string
              - "null"
          tenant_id:
            type:
              - string
              - "null"
          source_id:
            type:
              - string
              - "null"
          unique_key:
            type: string
          pic_url:
            type:
              - string
              - "null"
          phone_number:
            type:
              - string
              - "null"
        required:
          - unique_key
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - tenant_id
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path:
              - source_id
            value: "{{ config['insight_source_id'] }}"
          - type: AddedFieldDefinition
            path:
              - unique_key
            value: >-
              {{ config['insight_tenant_id'] }}-{{ config['insight_source_id'] }}-{{ record['id'] }}
  - type: DeclarativeStream
    name: meetings
    retriever:
      type: SimpleRetriever
      decoder:
        type: JsonDecoder
      requester:
        type: HttpRequester
        authenticator:
          type: SessionTokenAuthenticator
          login_requester:
            type: HttpRequester
            authenticator:
              type: BasicHttpAuthenticator
              username: "{{ config['zoom_client_id'] }}"
              password: "{{ config['zoom_client_secret'] }}"
            http_method: POST
            url: https://zoom.us/oauth/token
            request_body:
              type: RequestBodyUrlEncodedForm
              value:
                grant_type: account_credentials
                account_id: "{{ config['zoom_account_id'] }}"
          expiration_duration: PT1H
          session_token_path:
            - access_token
          request_authentication:
            type: Bearer
        http_method: GET
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: RATE_LIMITED
                  http_codes:
                    - 429
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
                - type: ExponentialBackoffStrategy
                  factor: 10
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: RATE_LIMITED
                  http_codes:
                    - 503
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              max_retries: 5
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 500
                    - 502
                    - 504
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 5
        request_parameters:
          $ref: "#/definitions/linked/HttpRequester/request_parameters"
        url: https://api.zoom.us/v2/metrics/meetings
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: next_page_token
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get('next_page_token') }}"
        stop_condition:
          type: StopCondition
          condition: "{{ not response.get('next_page_token') }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - meetings
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: end_time
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
        - "%Y-%m-%dT%H:%M:%S%z"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ (now_utc() - duration('P150D')).strftime('%Y-%m-%d') }}"
        datetime_format: "%Y-%m-%d"
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%d') }}"
        datetime_format: "%Y-%m-%d"
      datetime_format: "%Y-%m-%d"
      start_time_option:
        type: RequestOption
        field_name: from
        inject_into: request_parameter
      end_time_option:
        type: RequestOption
        field_name: to
        inject_into: request_parameter
      lookback_window: P7D
      step: P30D
      cursor_granularity: P1D
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          uuid:
            type:
              - string
              - "null"
          id:
            type:
              - number
              - "null"
          topic:
            type:
              - string
              - "null"
          host:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          user_type:
            type:
              - string
              - "null"
          start_time:
            type:
              - string
              - "null"
          end_time:
            type: string
          duration:
            type:
              - string
              - "null"
          participants:
            type:
              - number
              - "null"
          has_pstn:
            type:
              - boolean
              - "null"
          has_archiving:
            type:
              - boolean
              - "null"
          has_voip:
            type:
              - boolean
              - "null"
          has_3rd_party_audio:
            type:
              - boolean
              - "null"
          has_video:
            type:
              - boolean
              - "null"
          has_screen_share:
            type:
              - boolean
              - "null"
          has_recording:
            type:
              - boolean
              - "null"
          has_sip:
            type:
              - boolean
              - "null"
          dept:
            type:
              - string
              - "null"
          has_poll:
            type:
              - boolean
              - "null"
          has_qa:
            type:
              - boolean
              - "null"
          has_survey:
            type:
              - boolean
              - "null"
          session_key:
            type:
              - string
              - "null"
          audio_quality:
            type:
              - string
              - "null"
          has_manual_captions:
            type:
              - boolean
              - "null"
          has_automated_captions:
            type:
              - boolean
              - "null"
          has_meeting_summary:
            type:
              - boolean
              - "null"
          avg_jointime_cost:
            type:
              - number
              - "null"
          tenant_id:
            type:
              - string
              - "null"
          source_id:
            type:
              - string
              - "null"
          unique_key:
            type: string
          video_quality:
            type:
              - string
              - "null"
          screen_share_quality:
            type:
              - string
              - "null"
        required:
          - unique_key
          - end_time
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - tenant_id
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path:
              - source_id
            value: "{{ config['insight_source_id'] }}"
          - type: AddedFieldDefinition
            path:
              - unique_key
            value: >-
              {{ config['insight_tenant_id'] }}-{{ config['insight_source_id'] }}-{{ record['uuid'] }}
  - type: DeclarativeStream
    name: participants
    retriever:
      type: SimpleRetriever
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: uuid
            partition_field: meeting_uuid
            # Persist the _meetings parent cursor inside the participants
            # state (parent_state) so each sync enumerates only meetings newer
            # than the saved cursor (minus the parent's P7D lookback) instead
            # of re-fanning out over the full now-150d window (~25k Heavy
            # requests — exhausts Zoom's 60k/day Dashboard-API quota; the
            # 2026-07-14 dev-vhc 429 incident). Requires the substream itself
            # to be incremental: the parent cursor piggybacks on the child
            # state message, a full-refresh child persists nothing — verified
            # by tests/test_participants.py.
            incremental_dependency: true
            stream:
              type: DeclarativeStream
              name: _meetings
              primary_key:
                - uuid
              retriever:
                type: SimpleRetriever
                decoder:
                  type: JsonDecoder
                requester:
                  type: HttpRequester
                  authenticator:
                    type: SessionTokenAuthenticator
                    login_requester:
                      type: HttpRequester
                      authenticator:
                        type: BasicHttpAuthenticator
                        username: "{{ config['zoom_client_id'] }}"
                        password: "{{ config['zoom_client_secret'] }}"
                      http_method: POST
                      url: https://zoom.us/oauth/token
                      request_body:
                        type: RequestBodyUrlEncodedForm
                        value:
                          grant_type: account_credentials
                          account_id: "{{ config['zoom_account_id'] }}"
                    expiration_duration: PT1H
                    session_token_path:
                      - access_token
                    request_authentication:
                      type: Bearer
                  http_method: GET
                  error_handler:
                    type: CompositeErrorHandler
                    error_handlers:
                      - type: DefaultErrorHandler
                        response_filters:
                          - type: HttpResponseFilter
                            action: RATE_LIMITED
                            http_codes:
                              - 429
                        backoff_strategies:
                          - type: WaitTimeFromHeader
                            header: Retry-After
                          - type: ExponentialBackoffStrategy
                            factor: 10
                      - type: DefaultErrorHandler
                        response_filters:
                          - type: HttpResponseFilter
                            action: RATE_LIMITED
                            http_codes:
                              - 503
                        backoff_strategies:
                          - type: WaitTimeFromHeader
                            header: Retry-After
                      - type: DefaultErrorHandler
                        max_retries: 5
                        response_filters:
                          - type: HttpResponseFilter
                            action: RETRY
                            http_codes:
                              - 500
                              - 502
                              - 504
                        backoff_strategies:
                          - type: ExponentialBackoffStrategy
                            factor: 5
                  request_parameters:
                    $ref: "#/definitions/linked/HttpRequester/request_parameters"
                  url: https://api.zoom.us/v2/metrics/meetings
                paginator:
                  type: DefaultPaginator
                  page_token_option:
                    type: RequestOption
                    inject_into: request_parameter
                    field_name: next_page_token
                  pagination_strategy:
                    type: CursorPagination
                    cursor_value: "{{ response.get('next_page_token') }}"
                  stop_condition:
                    type: StopCondition
                    condition: "{{ not response.get('next_page_token') }}"
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path:
                      - meetings
              incremental_sync:
                type: DatetimeBasedCursor
                cursor_field: end_time
                cursor_datetime_formats:
                  - "%Y-%m-%dT%H:%M:%SZ"
                  - "%Y-%m-%dT%H:%M:%S%z"
                start_datetime:
                  type: MinMaxDatetime
                  datetime: >-
                    {{ (now_utc() - duration('P150D')).strftime('%Y-%m-%d') }}
                  datetime_format: "%Y-%m-%d"
                end_datetime:
                  type: MinMaxDatetime
                  datetime: "{{ now_utc().strftime('%Y-%m-%d') }}"
                  datetime_format: "%Y-%m-%d"
                datetime_format: "%Y-%m-%d"
                start_time_option:
                  type: RequestOption
                  field_name: from
                  inject_into: request_parameter
                end_time_option:
                  type: RequestOption
                  field_name: to
                  inject_into: request_parameter
                lookback_window: P7D
                step: P30D
                cursor_granularity: P1D
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  type: object
                  $schema: http://json-schema.org/schema#
                  properties:
                    uuid:
                      type:
                        - string
                        - "null"
                    end_time:
                      type: string
                  additionalProperties: true
      decoder:
        type: JsonDecoder
      requester:
        type: HttpRequester
        authenticator:
          type: SessionTokenAuthenticator
          login_requester:
            type: HttpRequester
            authenticator:
              type: BasicHttpAuthenticator
              username: "{{ config['zoom_client_id'] }}"
              password: "{{ config['zoom_client_secret'] }}"
            http_method: POST
            url: https://zoom.us/oauth/token
            request_body:
              type: RequestBodyUrlEncodedForm
              value:
                grant_type: account_credentials
                account_id: "{{ config['zoom_account_id'] }}"
          expiration_duration: PT1H
          session_token_path:
            - access_token
          request_authentication:
            type: Bearer
        http_method: GET
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: SUCCESS
                  http_codes:
                    - 404
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: RATE_LIMITED
                  http_codes:
                    - 429
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
                - type: ExponentialBackoffStrategy
                  factor: 10
            - type: DefaultErrorHandler
              response_filters:
                - type: HttpResponseFilter
                  action: RATE_LIMITED
                  http_codes:
                    - 503
              backoff_strategies:
                - type: WaitTimeFromHeader
                  header: Retry-After
            - type: DefaultErrorHandler
              max_retries: 5
              response_filters:
                - type: HttpResponseFilter
                  action: RETRY
                  http_codes:
                    - 500
                    - 502
                    - 504
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 5
        request_parameters:
          $ref: "#/definitions/linked/HttpRequester/request_parameters"
        url: >-
          https://api.zoom.us/v2/metrics/meetings/{{ stream_partition.meeting_uuid | replace('/', '%2F') | replace('+', '%2B') | replace('=', '%3D') }}/participants
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: next_page_token
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get('next_page_token') }}"
        stop_condition:
          type: StopCondition
          condition: "{{ not response.get('next_page_token') }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - participants
    # Formal cursor: the endpoint accepts no time filters (no request options
    # injected) and nothing is filtered client-side — every enumerated
    # meeting's participants are always fully emitted. The cursor exists so
    # the stream is stateful, which is what lets incremental_dependency (on
    # the parent config above) persist the _meetings cursor as parent_state.
    # Duplicates from the parent's P7D lookback re-enumeration are deduped at
    # read time downstream (bronze is append-only ReplacingMergeTree).
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: join_time
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
        - "%Y-%m-%dT%H:%M:%S%z"
      start_datetime:
        type: MinMaxDatetime
        datetime: >-
          {{ (now_utc() - duration('P150D')).strftime('%Y-%m-%d') }}
        datetime_format: "%Y-%m-%d"
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
    primary_key: unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          version:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          user_id:
            type:
              - string
              - "null"
          participant_uuid:
            type:
              - string
              - "null"
          user_name:
            type:
              - string
              - "null"
          device:
            type:
              - string
              - "null"
          client:
            type:
              - string
              - "null"
          ip_address:
            type:
              - string
              - "null"
          internal_ip_addresses:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          location:
            type:
              - string
              - "null"
          network_type:
            type:
              - string
              - "null"
          microphone:
            type:
              - string
              - "null"
          speaker:
            type:
              - string
              - "null"
          camera:
            type:
              - string
              - "null"
          data_center:
            type:
              - string
              - "null"
          full_data_center:
            type:
              - string
              - "null"
          connection_type:
            type:
              - string
              - "null"
          video_connection_type:
            type:
              - string
              - "null"
          as_connection_type:
            type:
              - string
              - "null"
          join_time:
            type:
              - string
              - "null"
          leave_time:
            type:
              - string
              - "null"
          share_application:
            type:
              - boolean
              - "null"
          share_desktop:
            type:
              - boolean
              - "null"
          share_whiteboard:
            type:
              - boolean
              - "null"
          recording:
            type:
              - boolean
              - "null"
          pc_name:
            type:
              - string
              - "null"
          domain:
            type:
              - string
              - "null"
          mac_addr:
            type:
              - string
              - "null"
          harddisk_id:
            type:
              - string
              - "null"
          leave_reason:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          registrant_id:
            type:
              - string
              - "null"
          status:
            type:
              - string
              - "null"
          os:
            type:
              - string
              - "null"
          os_version:
            type:
              - string
              - "null"
          browser_name:
            type:
              - string
              - "null"
          browser_version:
            type:
              - string
              - "null"
          device_name:
            type:
              - string
              - "null"
          groupId:
            type:
              - string
              - "null"
          health:
            type:
              - string
              - "null"
          customer_key:
            type:
              - string
              - "null"
          sip_uri:
            type:
              - string
              - "null"
          from_sip_uri:
            type:
              - string
              - "null"
          role:
            type:
              - string
              - "null"
          participant_user_id:
            type:
              - string
              - "null"
          audio_call:
            type:
              - array
              - "null"
          has_archiving:
            type:
              - boolean
              - "null"
          optional_archiving:
            type:
              - string
              - "null"
          aic_disclaimer:
            type:
              - string
              - "null"
          total_jointime_cost:
            type:
              - number
              - "null"
          is_original_host:
            type:
              - boolean
              - "null"
          tenant_id:
            type:
              - string
              - "null"
          source_id:
            type:
              - string
              - "null"
          meeting_uuid:
            type:
              - string
              - "null"
          unique_key:
            type: string
        required:
          - unique_key
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - tenant_id
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path:
              - source_id
            value: "{{ config['insight_source_id'] }}"
          - type: AddedFieldDefinition
            path:
              - meeting_uuid
            value: "{{ stream_partition.meeting_uuid }}"
          - type: AddedFieldDefinition
            path:
              - unique_key
            value: >-
              {{ config['insight_tenant_id'] }}-{{ config['insight_source_id'] }}-{{ stream_partition.meeting_uuid }}-{{ record['participant_uuid'] }}-{{ record['join_time'] }}

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - insight_tenant_id
      - insight_source_id
      - zoom_account_id
      - zoom_client_id
      - zoom_client_secret
    properties:
      insight_tenant_id:
        type: string
        description: Insight tenant identifier stamped onto every emitted record.
        title: Insight Tenant ID
        order: 0
      insight_source_id:
        type: string
        title: Insight Source ID
        order: 1
      zoom_account_id:
        type: string
        description: Zoom Server-to-Server OAuth account ID.
        title: Zoom Account ID
        order: 2
      zoom_client_id:
        type: string
        description: Zoom Server-to-Server OAuth client ID.
        title: Zoom Client ID
        order: 3
      zoom_client_secret:
        type: string
        description: Zoom Server-to-Server OAuth client secret.
        title: Zoom Client Secret
        airbyte_secret: true
        order: 4
      page_size:
        type: integer
        description: Requested page size for paginated Zoom endpoints.
        title: Page Size
        default: 100
        minimum: 1
        maximum: 300
        order: 5
    additionalProperties: true

metadata:
  assist: {}
  autoImportSchema:
    users: true
    meetings: true
    participants: true
  applied_migrations:
    - from_version: 6.60.9
      to_version: "*"
      migration: HttpRequesterUrlBaseToUrl
      migrated_at: "2026-03-31T12:47:20.392375+00:00"
    - from_version: 6.60.9
      to_version: "*"
      migration: HttpRequesterPathToUrl
      migrated_at: "2026-03-31T12:47:20.394350+00:00"
    - from_version: 6.60.9
      to_version: "*"
      migration: HttpRequesterRequestBodyJsonDataToRequestBody
      migrated_at: "2026-03-31T12:47:20.396027+00:00"
  testedStreams:
    meetings:
      streamHash: 53757180365ef2af868c5703f781876cb9348c6a
      isStale: false
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    users:
      streamHash: 6329685d2a2c26f40d2334ea185422fb7313110c
      isStale: false
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true
    participants:
      streamHash: 3dfc479445bc0a31d2c694da0f906a14a119f8b1
      isStale: false
      hasResponse: true
      responsesAreSuccessful: true
      hasRecords: true
      primaryKeysArePresent: true
      primaryKeysAreUnique: true

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: 4
