version: 7.0.4

type: DeclarativeSource

# Bitbucket Cloud connector built on the git-cli-proxy (issue #2224).
#
# Two upstreams in ONE manifest, which is the whole point: repository discovery
# talks to the Bitbucket API, while commit-level extraction talks to the proxy,
# which serves it from a bare blobless clone instead of one API call per commit.
# `url_base` is a per-requester property, so mixing them needs no special
# machinery.
#
# The manifest is FULLY INLINED (no $ref, no definitions.linked): the Builder
# strict validator resolves no $ref, so a shared authenticator or url_base is
# rejected. Duplication here is the price of Builder compatibility.
#
#   repositories     -> Bitbucket /2.0/repositories/{ws} incremental (updated_on)
#   commits          -> proxy /v1/commits              incremental (committed_date), per repo
#   commit_files     -> proxy /v1/file-changes         incremental (committed_date), per repo
#   repo_branches    -> proxy /v1/branches             full refresh, per repo
#
# The proxy answers 429 + Retry-After while a cold repository is being cloned
# in the background, so every proxy stream retries on 429 and fails fast on the
# permanent ones (409 superseded snapshot, 413 oversized repository).
#
# NOT ported here: pull requests and their children (comments, reviewers,
# commits, diffstat). That data does not exist in git, so it stays on the vendor
# API — a mechanical port of the CDK connector's streams, tracked separately.
#
# Bitbucket is where the per-commit API cost hurts most: the CDK connector calls
# `diffstat/{sha}` once per commit against a ~1000 req/h budget.

check:
  type: CheckStream
  stream_names:
    - repositories

streams:
  # ── Repository discovery (GitLab API) ───────────────────────────────────
  # The incremental parent: only repositories whose last_activity_at advanced
  # are visited by the commit streams below.
  - type: DeclarativeStream
    name: repositories
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          repository_uuid: {type: [string, "null"]}
          clone_url: {type: [string, "null"]}
          slug: {type: [string, "null"]}
          name: {type: [string, "null"]}
          full_name: {type: [string, "null"]}
          is_private: {type: [boolean, "null"]}
          language: {type: [string, "null"]}
          size: {type: [integer, "null"]}
          created_on: {type: [string, "null"]}
          updated_on: {type: [string, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "{{ config['bitbucket_api_base_url'] }}"
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['bitbucket_username'] }}"
          password: "{{ config['bitbucket_token'] }}"
        path: "/repositories/{{ stream_partition.workspace }}"
        http_method: GET
        request_parameters:
          pagelen: "{{ config.get('bitbucket_page_size', 100) }}"
          # Ascending, so the cursor advances monotonically across pages.
          sort: updated_on
          # Trim the payload: the full repository object is large and only
          # these fields are used (identity, cursor, clone link).
          fields: >-
            next,values.uuid,values.slug,values.name,values.full_name,values.is_private,values.language,values.size,values.created_on,values.updated_on,values.mainbranch.name,values.workspace.slug,values.links.clone
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [values]
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get('next', '') }}"
          stop_condition: "{{ not response.get('next') }}"
        page_token_option:
          type: RequestPath
      partition_router:
        type: ListPartitionRouter
        values: "{{ config['bitbucket_workspaces'] }}"
        cursor_field: workspace
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_on
      datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%f%z"
        - "%Y-%m-%dT%H:%M:%S%z"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['bitbucket_start_date'] }}"
        datetime_format: "%Y-%m-%d"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [tenant_id]
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path: [source_id]
            value: "{{ config['insight_source_id'] }}"
          - type: AddedFieldDefinition
            path: [data_source]
            value: insight_bitbucket_nocode
          - type: AddedFieldDefinition
            path: [repository_uuid]
            value: "{{ record['uuid'] }}"
          - type: AddedFieldDefinition
            path: [clone_url]
            # Bitbucket nests clone links in an array; the proxy routes on a
            # flat field, and the API link is authoritative — deriving the URL
            # from full_name would duplicate knowledge of the host layout.
            value: >-
              {{ (record['links']['clone'] | selectattr('name', 'equalto', 'https') | map(attribute='href') | list | first) }}
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ record['id'] }} #magic___^_^___line
  # ── Commits (git-cli-proxy) ─────────────────────────────────────────────
  - type: DeclarativeStream
    name: commits
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          repository: {type: [string, "null"]}
          sha: {type: [string, "null"]}
          message: {type: [string, "null"]}
          authored_date: {type: [string, "null"]}
          committed_date: {type: [string, "null"]}
          author_name: {type: [string, "null"]}
          author_email: {type: [string, "null"]}
          committer_name: {type: [string, "null"]}
          committer_email: {type: [string, "null"]}
          parent_hashes: {type: [array, "null"], items: {type: string}}
          is_merge: {type: [boolean, "null"]}
          additions: {type: [integer, "null"]}
          deletions: {type: [integer, "null"]}
          changed_files: {type: [integer, "null"]}
          branch_names: {type: [array, "null"], items: {type: string}}
          patch_id: {type: [string, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "{{ config['git_proxy_url'] }}"
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['git_proxy_token'] }}"
        request_headers:
          X-Tenant-Id: "{{ config['insight_tenant_id'] }}"
          X-Source-Id: "{{ config['insight_source_id'] }}"
          X-Git-Username: x-token-auth
          X-Git-Token: "{{ config['bitbucket_token'] }}"
        path: /v1/commits
        http_method: GET
        request_parameters:
          repo: "{{ stream_partition.repo_clone_url }}"
          page_size: "{{ config.get('proxy_page_size', 500) }}"
        error_handler:
          type: DefaultErrorHandler
          backoff_strategies:
            - type: WaitTimeFromHeader
              header: Retry-After
              max_waiting_time_in_seconds: 600
          response_filters:
            # The repository is being cloned in the background: the proxy is
            # working, the caller waits.
            - type: HttpResponseFilter
              http_codes: [429]
              action: RETRY
              error_message: Repository is being prepared by the proxy
            # A superseded snapshot (409) or an oversized repository (413) are
            # permanent for this attempt — retrying the same page token loops.
            - type: HttpResponseFilter
              http_codes: [409, 413]
              action: FAIL
              error_message: >-
                Proxy refused the page: snapshot changed or repository exceeds the configured size cap
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [items]
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response['next_page_token'] }}"
          stop_condition: "{{ not response.get('next_page_token') }}"
        page_token_option:
          type: RequestOption
          field_name: page_token
          inject_into: request_parameter
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: clone_url
            partition_field: repo_clone_url
            # `incremental_dependency` is what keeps the sync proportional to
            # activity: the parent is itself incremental, so only repositories
            # touched since the last sync are visited. The CDK persists parent
            # state ONLY when the child is incremental — which this stream is.
            incremental_dependency: true
            # Inlined: the Builder strict validator rejects a whole-object
            # $ref for a substream parent.
            stream:
              type: DeclarativeStream
              name: repositories_for_commits
              primary_key:
                - uuid
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  type: object
                  $schema: http://json-schema.org/schema#
                  properties:
                    uuid: {type: [string, "null"]}
                    clone_url: {type: [string, "null"]}
                    updated_on: {type: [string, "null"]}
                  additionalProperties: true
              retriever:
                type: SimpleRetriever
                requester:
                  type: HttpRequester
                  url_base: "{{ config['bitbucket_api_base_url'] }}"
                  authenticator:
                    type: BasicHttpAuthenticator
                    username: "{{ config['bitbucket_username'] }}"
                    password: "{{ config['bitbucket_token'] }}"
                  path: "/repositories/{{ stream_partition.workspace }}"
                  http_method: GET
                  request_parameters:
                    pagelen: "{{ config.get('bitbucket_page_size', 100) }}"
                    sort: updated_on
                    fields: >-
                      next,values.uuid,values.slug,values.updated_on,values.links.clone
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path: [values]
                paginator:
                  type: DefaultPaginator
                  pagination_strategy:
                    type: CursorPagination
                    cursor_value: "{{ response.get('next', '') }}"
                    stop_condition: "{{ not response.get('next') }}"
                  page_token_option:
                    type: RequestPath
              partition_router:
                type: ListPartitionRouter
                values: "{{ config['bitbucket_workspaces'] }}"
                cursor_field: workspace
              incremental_sync:
                type: DatetimeBasedCursor
                cursor_field: updated_on
                datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
                cursor_datetime_formats:
                  - "%Y-%m-%dT%H:%M:%S.%f%z"
                  - "%Y-%m-%dT%H:%M:%S%z"
                start_datetime:
                  type: MinMaxDatetime
                  datetime: "{{ config['bitbucket_start_date'] }}"
                  datetime_format: "%Y-%m-%d"
              transformations:
                - type: AddFields
                  fields:
                    - type: AddedFieldDefinition
                      path: [clone_url]
                      value: >-
                        {{ (record['links']['clone'] | selectattr('name', 'equalto', 'https') | map(attribute='href') | list | first) }}
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: committed_date
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S%z"
        - "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['bitbucket_start_date'] }}"
        datetime_format: "%Y-%m-%d"
      start_time_option:
        type: RequestOption
        field_name: since
        inject_into: request_parameter
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [tenant_id]
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path: [source_id]
            value: "{{ config['insight_source_id'] }}"
          - type: AddedFieldDefinition
            path: [data_source]
            value: insight_bitbucket_nocode
          - type: AddedFieldDefinition
            path: [repository]
            value: "{{ stream_partition.repo_clone_url }}"
          # Repository identity is REQUIRED in the key: forks share commit
          # SHAs, so tenant+source+sha alone would let the ReplacingMergeTree
          # collapse commits from different repositories into one row.
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ stream_partition.repo_clone_url }}:{{ record['sha'] }}

  # ── Per-file changes (git-cli-proxy) ────────────────────────────────────
  - type: DeclarativeStream
    name: commit_files
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          repository: {type: [string, "null"]}
          sha: {type: [string, "null"]}
          committed_date: {type: [string, "null"]}
          filename: {type: [string, "null"]}
          previous_filename: {type: [string, "null"]}
          status: {type: [string, "null"]}
          additions: {type: [integer, "null"]}
          deletions: {type: [integer, "null"]}
          changes: {type: [integer, "null"]}
          is_binary: {type: [boolean, "null"]}
          patch: {type: [string, "null"]}
          patch_truncated: {type: [boolean, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "{{ config['git_proxy_url'] }}"
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['git_proxy_token'] }}"
        request_headers:
          X-Tenant-Id: "{{ config['insight_tenant_id'] }}"
          X-Source-Id: "{{ config['insight_source_id'] }}"
          X-Git-Username: x-token-auth
          X-Git-Token: "{{ config['bitbucket_token'] }}"
        path: /v1/file-changes
        http_method: GET
        request_parameters:
          repo: "{{ stream_partition.repo_clone_url }}"
          page_size: "{{ config.get('proxy_page_size', 500) }}"
          include_patch: "{{ config.get('bitbucket_include_patch', true) | lower }}"
          max_patch_bytes: "{{ config.get('bitbucket_max_patch_bytes', 1048576) }}"
        error_handler:
          type: DefaultErrorHandler
          backoff_strategies:
            - type: WaitTimeFromHeader
              header: Retry-After
              max_waiting_time_in_seconds: 600
          response_filters:
            - type: HttpResponseFilter
              http_codes: [429]
              action: RETRY
              error_message: Repository is being prepared by the proxy
            - type: HttpResponseFilter
              http_codes: [409, 413]
              action: FAIL
              error_message: >-
                Proxy refused the page: snapshot changed or repository exceeds the configured size cap
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [items]
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response['next_page_token'] }}"
          stop_condition: "{{ not response.get('next_page_token') }}"
        page_token_option:
          type: RequestOption
          field_name: page_token
          inject_into: request_parameter
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: clone_url
            partition_field: repo_clone_url
            incremental_dependency: true
            stream:
              type: DeclarativeStream
              name: repositories_for_files
              primary_key:
                - uuid
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  type: object
                  $schema: http://json-schema.org/schema#
                  properties:
                    uuid: {type: [string, "null"]}
                    clone_url: {type: [string, "null"]}
                    updated_on: {type: [string, "null"]}
                  additionalProperties: true
              retriever:
                type: SimpleRetriever
                requester:
                  type: HttpRequester
                  url_base: "{{ config['bitbucket_api_base_url'] }}"
                  authenticator:
                    type: BasicHttpAuthenticator
                    username: "{{ config['bitbucket_username'] }}"
                    password: "{{ config['bitbucket_token'] }}"
                  path: "/repositories/{{ stream_partition.workspace }}"
                  http_method: GET
                  request_parameters:
                    pagelen: "{{ config.get('bitbucket_page_size', 100) }}"
                    sort: updated_on
                    fields: >-
                      next,values.uuid,values.slug,values.updated_on,values.links.clone
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path: [values]
                paginator:
                  type: DefaultPaginator
                  pagination_strategy:
                    type: CursorPagination
                    cursor_value: "{{ response.get('next', '') }}"
                    stop_condition: "{{ not response.get('next') }}"
                  page_token_option:
                    type: RequestPath
              partition_router:
                type: ListPartitionRouter
                values: "{{ config['bitbucket_workspaces'] }}"
                cursor_field: workspace
              incremental_sync:
                type: DatetimeBasedCursor
                cursor_field: updated_on
                datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
                cursor_datetime_formats:
                  - "%Y-%m-%dT%H:%M:%S.%f%z"
                  - "%Y-%m-%dT%H:%M:%S%z"
                start_datetime:
                  type: MinMaxDatetime
                  datetime: "{{ config['bitbucket_start_date'] }}"
                  datetime_format: "%Y-%m-%d"
              transformations:
                - type: AddFields
                  fields:
                    - type: AddedFieldDefinition
                      path: [clone_url]
                      value: >-
                        {{ (record['links']['clone'] | selectattr('name', 'equalto', 'https') | map(attribute='href') | list | first) }}
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: committed_date
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S%z"
        - "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['bitbucket_start_date'] }}"
        datetime_format: "%Y-%m-%d"
      start_time_option:
        type: RequestOption
        field_name: since
        inject_into: request_parameter
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [tenant_id]
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path: [source_id]
            value: "{{ config['insight_source_id'] }}"
          - type: AddedFieldDefinition
            path: [data_source]
            value: insight_bitbucket_nocode
          - type: AddedFieldDefinition
            path: [repository]
            value: "{{ stream_partition.repo_clone_url }}"
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ stream_partition.repo_clone_url }}:{{ record['sha'] }}:{{ record['filename'] }}

  # ── Branch heads (git-cli-proxy) ────────────────────────────────────────
  # Full refresh: bronze keeps the LATEST state per branch, and head-movement
  # history is derived downstream by the snapshot/fields_history dbt macros —
  # the same pattern user profiles use.
  - type: DeclarativeStream
    name: repo_branches
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          repository: {type: [string, "null"]}
          name: {type: [string, "null"]}
          head_sha: {type: [string, "null"]}
          head_committed_date: {type: [string, "null"]}
          is_default: {type: [boolean, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "{{ config['git_proxy_url'] }}"
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['git_proxy_token'] }}"
        request_headers:
          X-Tenant-Id: "{{ config['insight_tenant_id'] }}"
          X-Source-Id: "{{ config['insight_source_id'] }}"
          X-Git-Username: x-token-auth
          X-Git-Token: "{{ config['bitbucket_token'] }}"
        path: /v1/branches
        http_method: GET
        request_parameters:
          repo: "{{ stream_partition.repo_clone_url }}"
          page_size: "{{ config.get('proxy_page_size', 500) }}"
        error_handler:
          type: DefaultErrorHandler
          backoff_strategies:
            - type: WaitTimeFromHeader
              header: Retry-After
              max_waiting_time_in_seconds: 600
          response_filters:
            - type: HttpResponseFilter
              http_codes: [429]
              action: RETRY
              error_message: Repository is being prepared by the proxy
            - type: HttpResponseFilter
              http_codes: [409, 413]
              action: FAIL
              error_message: >-
                Proxy refused the page: snapshot changed or repository exceeds the configured size cap
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [items]
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response['next_page_token'] }}"
          stop_condition: "{{ not response.get('next_page_token') }}"
        page_token_option:
          type: RequestOption
          field_name: page_token
          inject_into: request_parameter
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: clone_url
            partition_field: repo_clone_url
            # No `incremental_dependency` here: this stream is full refresh, so
            # the CDK would not persist parent state anyway. Branch heads are
            # cheap and must be re-read for every repository each sync.
            stream:
              type: DeclarativeStream
              name: repositories_for_branches
              primary_key:
                - uuid
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  type: object
                  $schema: http://json-schema.org/schema#
                  properties:
                    uuid: {type: [string, "null"]}
                    clone_url: {type: [string, "null"]}
                  additionalProperties: true
              retriever:
                type: SimpleRetriever
                requester:
                  type: HttpRequester
                  url_base: "{{ config['bitbucket_api_base_url'] }}"
                  authenticator:
                    type: BasicHttpAuthenticator
                    username: "{{ config['bitbucket_username'] }}"
                    password: "{{ config['bitbucket_token'] }}"
                  path: "/repositories/{{ stream_partition.workspace }}"
                  http_method: GET
                  request_parameters:
                    pagelen: "{{ config.get('bitbucket_page_size', 100) }}"
                    fields: >-
                      next,values.uuid,values.slug,values.links.clone
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path: [values]
                paginator:
                  type: DefaultPaginator
                  pagination_strategy:
                    type: CursorPagination
                    cursor_value: "{{ response.get('next', '') }}"
                    stop_condition: "{{ not response.get('next') }}"
                  page_token_option:
                    type: RequestPath
              partition_router:
                type: ListPartitionRouter
                values: "{{ config['bitbucket_workspaces'] }}"
                cursor_field: workspace
              transformations:
                - type: AddFields
                  fields:
                    - type: AddedFieldDefinition
                      path: [clone_url]
                      value: >-
                        {{ (record['links']['clone'] | selectattr('name', 'equalto', 'https') | map(attribute='href') | list | first) }}
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [tenant_id]
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path: [source_id]
            value: "{{ config['insight_source_id'] }}"
          - type: AddedFieldDefinition
            path: [data_source]
            value: insight_bitbucket_nocode
          - type: AddedFieldDefinition
            path: [repository]
            value: "{{ stream_partition.repo_clone_url }}"
          # No head_sha in the key: the key identifies the BRANCH, so the RMT
          # collapses to its latest state and a head move is a change the
          # downstream snapshot macro can see.
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ stream_partition.repo_clone_url }}:{{ record['name'] }}

concurrency_level:
  type: ConcurrencyLevel
  # Never 1: the concurrent CDK self-deadlocks at a single worker once a sync
  # generates ~10k partitions.
  default_concurrency: 4

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    title: Bitbucket Cloud (git-cli-proxy) Spec
    required:
      - insight_tenant_id
      - insight_source_id
      - bitbucket_username
      - bitbucket_token
      - bitbucket_workspaces
      - git_proxy_url
      - git_proxy_token
    properties:
      insight_tenant_id:
        type: string
        description: Insight tenant identifier stamped onto every emitted record.
        title: Insight Tenant ID
        order: 0
      insight_source_id:
        type: string
        description: >-
          Instance discriminator for multi-instance support (e.g. bitbucket-acme).
        title: Insight Source ID
        order: 1
      bitbucket_username:
        type: string
        description: >-
          Atlassian account username or email. Personal API tokens authenticate as HTTP basic `username:token`, both against the API and against the clone the proxy performs.
        title: Username / Email
        order: 2
      bitbucket_token:
        type: string
        description: >-
          Bitbucket API token with `repository:read`. Forwarded to the proxy per request for the clone and never stored there.
        title: API Token
        airbyte_secret: true
        order: 3
      bitbucket_workspaces:
        type: array
        items:
          type: string
        description: Workspace slugs to sync.
        title: Workspaces
        order: 4
      git_proxy_url:
        type: string
        description: >-
          Base URL of the git-cli-proxy service (cluster-internal, e.g. http://insight-git-cli-proxy:8085). No default: a wrong or absent value must fail the check, not fall back somewhere.
        title: Git Proxy URL
        order: 5
      git_proxy_token:
        type: string
        description: Bearer token the git-cli-proxy requires on every /v1 request.
        title: Git Proxy Token
        airbyte_secret: true
        order: 6
      bitbucket_api_base_url:
        type: string
        description: Bitbucket API base URL.
        title: API Base URL
        default: "https://api.bitbucket.org/2.0"
        order: 7
      bitbucket_start_date:
        type: string
        description: Earliest date for incremental sync (YYYY-MM-DD).
        title: Start Date
        format: date
        default: "2020-01-01"
        order: 8
      bitbucket_page_size:
        type: integer
        description: Bitbucket API page size (max 100).
        title: Bitbucket Page Size
        default: 100
        minimum: 1
        maximum: 100
        order: 9
      proxy_page_size:
        type: integer
        description: Rows per page requested from the git-cli-proxy.
        title: Proxy Page Size
        default: 500
        minimum: 1
        maximum: 10000
        order: 10
      bitbucket_include_patch:
        type: boolean
        description: >-
          Store per-file diff text. Keep enabled to allow recomputing line counts later under different filters; disable to cut bronze volume.
        title: Include Patch Text
        default: true
        order: 11
      bitbucket_max_patch_bytes:
        type: integer
        description: >-
          Truncation cap for a single file's diff. Truncated rows are flagged with patch_truncated so downstream never mistakes them for complete.
        title: Max Patch Bytes
        default: 1048576
        minimum: 1024
        order: 12
    additionalProperties: true

metadata:
  autoImportSchema:
    repositories: false
    commits: false
    commit_files: false
    repo_branches: false
