version: 7.0.4

type: DeclarativeSource

# Bitbucket Cloud connector built on the git-cli-proxy (issue #2224).
#
# Two upstreams in ONE manifest, which is the whole point: repository discovery
# talks to the Bitbucket API, while commit-level extraction talks to the proxy,
# which serves it from a bare blobless clone instead of one API call per commit.
# `url_base` is a per-requester property, so mixing them needs no special
# machinery.
#
# The manifest is FULLY INLINED (no $ref, no definitions.linked): the Builder
# strict validator resolves no $ref, so a shared authenticator or url_base is
# rejected. Duplication here is the price of Builder compatibility.
#
#   repositories     -> Bitbucket /2.0/repositories/{ws} incremental (updated_on)
#   commits          -> proxy /v1/commits              incremental (committed_date), per repo
#   commit_files     -> proxy /v1/file-changes         incremental (committed_date), per repo
#   repo_branches    -> proxy /v1/branches             full refresh, per repo
#
# The proxy answers 429 + Retry-After while a cold repository is being cloned
# in the background, so every proxy stream retries on 429 and fails fast on the
# permanent ones (409 superseded snapshot, 413 oversized repository).
#
# Vendor-API streams (pull requests, comments, activity, workspace members,
# pipelines, deployments) live in this same manifest: that data does not
# exist in git. Issues and projects are deliberately not synced.

check:
  type: CheckStream
  stream_names:
    - repositories

streams:
  # ── Repository discovery (Bitbucket API) ────────────────────────────────
  # The incremental parent: only repositories whose updated_on advanced are
  # visited by the commit streams below.
  - type: DeclarativeStream
    name: repositories
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          repository_uuid: {type: [string, "null"]}
          clone_url: {type: [string, "null"]}
          slug: {type: [string, "null"]}
          name: {type: [string, "null"]}
          full_name: {type: [string, "null"]}
          is_private: {type: [boolean, "null"]}
          language: {type: [string, "null"]}
          size: {type: [integer, "null"]}
          created_on: {type: [string, "null"]}
          updated_on: {type: [string, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "{{ config.get('bitbucket_api_base_url', 'https://api.bitbucket.org/2.0') }}"
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['bitbucket_username'] }}"
          password: "{{ config['bitbucket_token'] }}"
        path: "/repositories/{{ stream_partition.workspace }}"
        http_method: GET
        request_parameters:
          pagelen: "{{ config.get('bitbucket_page_size', 100) }}"
          # Ascending, so the cursor advances monotonically across pages.
          sort: updated_on
          # Trim the payload: the full repository object is large and only
          # these fields are used (identity, cursor, clone link).
          fields: >-
            next,values.uuid,values.slug,values.name,values.full_name,values.is_private,values.language,values.size,values.created_on,values.updated_on,values.mainbranch.name,values.workspace.slug,values.links.clone
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [values]
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get('next', '') }}"
          stop_condition: "{{ not response.get('next') }}"
        page_token_option:
          type: RequestPath
      partition_router:
        type: ListPartitionRouter
        values: "{{ config['bitbucket_workspaces'] }}"
        cursor_field: workspace
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_on
      datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%f%z"
        - "%Y-%m-%dT%H:%M:%S%z"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config.get('bitbucket_start_date', '2020-01-01') }}"
        datetime_format: "%Y-%m-%d"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [tenant_id]
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path: [source_id]
            value: "{{ config['insight_source_id'] }}"
          - type: AddedFieldDefinition
            path: [data_source]
            value: insight_bitbucket_nocode
          - type: AddedFieldDefinition
            path: [repository_uuid]
            value: "{{ record['uuid'] }}"
          - type: AddedFieldDefinition
            path: [clone_url]
            # Bitbucket nests clone links in an array; the proxy routes on a
            # flat field, and the API link is authoritative — deriving the URL
            # from full_name would duplicate knowledge of the host layout.
            value: >-
              {{ (record['links']['clone'] | selectattr('name', 'equalto', 'https') | map(attribute='href') | list | first) }}
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ record['uuid'] | replace(':', '%3A') }}
  # ── Commits (git-cli-proxy) ─────────────────────────────────────────────
  - type: DeclarativeStream
    name: commits
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          repository: {type: [string, "null"]}
          sha: {type: [string, "null"]}
          message: {type: [string, "null"]}
          authored_date: {type: [string, "null"]}
          committed_date: {type: [string, "null"]}
          author_name: {type: [string, "null"]}
          author_email: {type: [string, "null"]}
          committer_name: {type: [string, "null"]}
          committer_email: {type: [string, "null"]}
          parent_hashes: {type: [array, "null"], items: {type: string}}
          is_merge: {type: [boolean, "null"]}
          additions: {type: [integer, "null"]}
          deletions: {type: [integer, "null"]}
          changed_files: {type: [integer, "null"]}
          is_in_default_branch: {type: [boolean, "null"]}
          patch_id: {type: [string, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "{{ config['git_proxy_url'] }}"
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['git_proxy_token'] }}"
        request_headers:
          X-Tenant-Id: "{{ config['insight_tenant_id'] }}"
          X-Source-Id: "{{ config['insight_source_id'] }}"
          X-Git-Username: "{{ config.get('bitbucket_git_username', 'x-bitbucket-api-token-auth') }}"
          X-Git-Token: "{{ config['bitbucket_token'] }}"
        path: /v1/commits
        http_method: GET
        request_parameters:
          repo: "{{ stream_partition.repo_clone_url }}"
          page_size: "{{ config.get('proxy_page_size', 500) }}"
        error_handler:
          type: DefaultErrorHandler
          backoff_strategies:
            - type: WaitTimeFromHeader
              header: Retry-After
              max_waiting_time_in_seconds: 600
          response_filters:
            # The repository is being cloned in the background: the proxy is
            # working, the caller waits.
            - type: HttpResponseFilter
              http_codes: [429]
              action: RETRY
              error_message: Repository is being prepared by the proxy
            # Both are permanent for THIS repository and harmless for the rest,
            # so the partition is skipped rather than the whole stream failed.
            # A rising git_proxy_admission_rejects_total is the alert: a 413
            # means a repository is silently absent from bronze until an
            # operator raises cache.maxRepoBytes.
            - type: HttpResponseFilter
              http_codes: [404, 413]
              action: IGNORE
              error_message: >-
                Skipping this repository: gone at origin (404), or larger than
                cache.maxRepoBytes (413). Other repositories continue.
            # The pinned snapshot was superseded mid-walk. RETRY would replay
            # the same dead page token and 409 again; a response filter cannot
            # reset it. Rerunning the sync resumes each partition from its own
            # stored cursor against a fresh snapshot.
            - type: HttpResponseFilter
              http_codes: [409]
              action: FAIL
              error_message: >-
                Proxy snapshot changed mid-walk; rerun the sync to resume from the stored cursor
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [items]
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response['next_page_token'] }}"
          stop_condition: "{{ not response.get('next_page_token') }}"
        page_token_option:
          type: RequestOption
          field_name: page_token
          inject_into: request_parameter
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: clone_url
            partition_field: repo_clone_url
            # `incremental_dependency` is what keeps the sync proportional to
            # activity: the parent is itself incremental, so only repositories
            # touched since the last sync are visited. The CDK persists parent
            # state ONLY when the child is incremental — which this stream is.
            incremental_dependency: true
            # Inlined: the Builder strict validator rejects a whole-object
            # $ref for a substream parent.
            stream:
              type: DeclarativeStream
              name: repositories_for_commits
              primary_key:
                - uuid
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  type: object
                  $schema: http://json-schema.org/schema#
                  properties:
                    uuid: {type: [string, "null"]}
                    clone_url: {type: [string, "null"]}
                    updated_on: {type: [string, "null"]}
                  additionalProperties: true
              retriever:
                type: SimpleRetriever
                requester:
                  type: HttpRequester
                  url_base: "{{ config.get('bitbucket_api_base_url', 'https://api.bitbucket.org/2.0') }}"
                  authenticator:
                    type: BasicHttpAuthenticator
                    username: "{{ config['bitbucket_username'] }}"
                    password: "{{ config['bitbucket_token'] }}"
                  path: "/repositories/{{ stream_partition.workspace }}"
                  http_method: GET
                  request_parameters:
                    pagelen: "{{ config.get('bitbucket_page_size', 100) }}"
                    sort: updated_on
                    fields: >-
                      next,values.uuid,values.slug,values.updated_on,values.links.clone
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path: [values]
                paginator:
                  type: DefaultPaginator
                  pagination_strategy:
                    type: CursorPagination
                    cursor_value: "{{ response.get('next', '') }}"
                    stop_condition: "{{ not response.get('next') }}"
                  page_token_option:
                    type: RequestPath
              partition_router:
                type: ListPartitionRouter
                values: "{{ config['bitbucket_workspaces'] }}"
                cursor_field: workspace
              incremental_sync:
                type: DatetimeBasedCursor
                cursor_field: updated_on
                datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
                cursor_datetime_formats:
                  - "%Y-%m-%dT%H:%M:%S.%f%z"
                  - "%Y-%m-%dT%H:%M:%S%z"
                start_datetime:
                  type: MinMaxDatetime
                  datetime: "{{ config.get('bitbucket_start_date', '2020-01-01') }}"
                  datetime_format: "%Y-%m-%d"
              transformations:
                - type: AddFields
                  fields:
                    - type: AddedFieldDefinition
                      path: [clone_url]
                      value: >-
                        {{ (record['links']['clone'] | selectattr('name', 'equalto', 'https') | map(attribute='href') | list | first) }}
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: committed_date
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      # `git log --since` is a traversal cutoff: after a rebase the
      # replacement commits can carry dates BELOW the stored cursor and
      # would never be visited again. Re-enumerating one window each
      # sync recovers them; bronze dedups the re-read rows. This is a
      # heuristic, not a guarantee — a rewrite older than the window is
      # still lost, and nothing detects it.
      lookback_window: "{{ config.get('bitbucket_lookback_window', 'P1M') }}"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S%z"
        - "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config.get('bitbucket_start_date', '2020-01-01') }}"
        datetime_format: "%Y-%m-%d"
      start_time_option:
        type: RequestOption
        field_name: since
        inject_into: request_parameter
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [tenant_id]
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path: [source_id]
            value: "{{ config['insight_source_id'] }}"
          - type: AddedFieldDefinition
            path: [data_source]
            value: insight_bitbucket_nocode
          - type: AddedFieldDefinition
            path: [repository]
            value: "{{ stream_partition.repo_clone_url }}"
          # Repository identity is REQUIRED in the key: forks share commit
          # SHAs, so tenant+source+sha alone would let the ReplacingMergeTree
          # collapse commits from different repositories into one row.
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ stream_partition.repo_clone_url | replace(':', '%3A') }}:{{ record['sha'] | replace(':', '%3A') }}

  # ── Per-file changes (git-cli-proxy) ────────────────────────────────────
  - type: DeclarativeStream
    name: commit_files
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          repository: {type: [string, "null"]}
          sha: {type: [string, "null"]}
          committed_date: {type: [string, "null"]}
          filename: {type: [string, "null"]}
          previous_filename: {type: [string, "null"]}
          status: {type: [string, "null"]}
          additions: {type: [integer, "null"]}
          deletions: {type: [integer, "null"]}
          changes: {type: [integer, "null"]}
          is_binary: {type: [boolean, "null"]}
          patch: {type: [string, "null"]}
          patch_truncated: {type: [boolean, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "{{ config['git_proxy_url'] }}"
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['git_proxy_token'] }}"
        request_headers:
          X-Tenant-Id: "{{ config['insight_tenant_id'] }}"
          X-Source-Id: "{{ config['insight_source_id'] }}"
          X-Git-Username: "{{ config.get('bitbucket_git_username', 'x-bitbucket-api-token-auth') }}"
          X-Git-Token: "{{ config['bitbucket_token'] }}"
        path: /v1/file-changes
        http_method: GET
        request_parameters:
          repo: "{{ stream_partition.repo_clone_url }}"
          page_size: "{{ config.get('proxy_page_size', 500) }}"
          include_patch: "{{ config.get('bitbucket_include_patch', true) | lower }}"
          max_patch_bytes: "{{ config.get('bitbucket_max_patch_bytes', 1048576) }}"
        error_handler:
          type: DefaultErrorHandler
          backoff_strategies:
            - type: WaitTimeFromHeader
              header: Retry-After
              max_waiting_time_in_seconds: 600
          response_filters:
            # The repository is being cloned in the background: the proxy is
            # working, the caller waits.
            - type: HttpResponseFilter
              http_codes: [429]
              action: RETRY
              error_message: Repository is being prepared by the proxy
            # Both are permanent for THIS repository and harmless for the rest,
            # so the partition is skipped rather than the whole stream failed.
            # A rising git_proxy_admission_rejects_total is the alert: a 413
            # means a repository is silently absent from bronze until an
            # operator raises cache.maxRepoBytes.
            - type: HttpResponseFilter
              http_codes: [404, 413]
              action: IGNORE
              error_message: >-
                Skipping this repository: gone at origin (404), or larger than
                cache.maxRepoBytes (413). Other repositories continue.
            # The pinned snapshot was superseded mid-walk. RETRY would replay
            # the same dead page token and 409 again; a response filter cannot
            # reset it. Rerunning the sync resumes each partition from its own
            # stored cursor against a fresh snapshot.
            - type: HttpResponseFilter
              http_codes: [409]
              action: FAIL
              error_message: >-
                Proxy snapshot changed mid-walk; rerun the sync to resume from the stored cursor
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [items]
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response['next_page_token'] }}"
          stop_condition: "{{ not response.get('next_page_token') }}"
        page_token_option:
          type: RequestOption
          field_name: page_token
          inject_into: request_parameter
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: clone_url
            partition_field: repo_clone_url
            incremental_dependency: true
            stream:
              type: DeclarativeStream
              name: repositories_for_files
              primary_key:
                - uuid
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  type: object
                  $schema: http://json-schema.org/schema#
                  properties:
                    uuid: {type: [string, "null"]}
                    clone_url: {type: [string, "null"]}
                    updated_on: {type: [string, "null"]}
                  additionalProperties: true
              retriever:
                type: SimpleRetriever
                requester:
                  type: HttpRequester
                  url_base: "{{ config.get('bitbucket_api_base_url', 'https://api.bitbucket.org/2.0') }}"
                  authenticator:
                    type: BasicHttpAuthenticator
                    username: "{{ config['bitbucket_username'] }}"
                    password: "{{ config['bitbucket_token'] }}"
                  path: "/repositories/{{ stream_partition.workspace }}"
                  http_method: GET
                  request_parameters:
                    pagelen: "{{ config.get('bitbucket_page_size', 100) }}"
                    sort: updated_on
                    fields: >-
                      next,values.uuid,values.slug,values.updated_on,values.links.clone
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path: [values]
                paginator:
                  type: DefaultPaginator
                  pagination_strategy:
                    type: CursorPagination
                    cursor_value: "{{ response.get('next', '') }}"
                    stop_condition: "{{ not response.get('next') }}"
                  page_token_option:
                    type: RequestPath
              partition_router:
                type: ListPartitionRouter
                values: "{{ config['bitbucket_workspaces'] }}"
                cursor_field: workspace
              incremental_sync:
                type: DatetimeBasedCursor
                cursor_field: updated_on
                datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
                cursor_datetime_formats:
                  - "%Y-%m-%dT%H:%M:%S.%f%z"
                  - "%Y-%m-%dT%H:%M:%S%z"
                start_datetime:
                  type: MinMaxDatetime
                  datetime: "{{ config.get('bitbucket_start_date', '2020-01-01') }}"
                  datetime_format: "%Y-%m-%d"
              transformations:
                - type: AddFields
                  fields:
                    - type: AddedFieldDefinition
                      path: [clone_url]
                      value: >-
                        {{ (record['links']['clone'] | selectattr('name', 'equalto', 'https') | map(attribute='href') | list | first) }}
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: committed_date
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      # `git log --since` is a traversal cutoff: after a rebase the
      # replacement commits can carry dates BELOW the stored cursor and
      # would never be visited again. Re-enumerating one window each
      # sync recovers them; bronze dedups the re-read rows. This is a
      # heuristic, not a guarantee — a rewrite older than the window is
      # still lost, and nothing detects it.
      lookback_window: "{{ config.get('bitbucket_lookback_window', 'P1M') }}"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S%z"
        - "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config.get('bitbucket_start_date', '2020-01-01') }}"
        datetime_format: "%Y-%m-%d"
      start_time_option:
        type: RequestOption
        field_name: since
        inject_into: request_parameter
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [tenant_id]
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path: [source_id]
            value: "{{ config['insight_source_id'] }}"
          - type: AddedFieldDefinition
            path: [data_source]
            value: insight_bitbucket_nocode
          - type: AddedFieldDefinition
            path: [repository]
            value: "{{ stream_partition.repo_clone_url }}"
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ stream_partition.repo_clone_url | replace(':', '%3A') }}:{{ record['sha'] | replace(':', '%3A') }}:{{ record['filename'] | replace(':', '%3A') }}

  # ── Branch heads (git-cli-proxy) ────────────────────────────────────────
  # Full refresh: bronze keeps the LATEST state per branch, and head-movement
  # history is derived downstream by the snapshot/fields_history dbt macros —
  # the same pattern user profiles use.
  - type: DeclarativeStream
    name: repo_branches
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          repository: {type: [string, "null"]}
          name: {type: [string, "null"]}
          head_sha: {type: [string, "null"]}
          head_committed_date: {type: [string, "null"]}
          is_default: {type: [boolean, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "{{ config['git_proxy_url'] }}"
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['git_proxy_token'] }}"
        request_headers:
          X-Tenant-Id: "{{ config['insight_tenant_id'] }}"
          X-Source-Id: "{{ config['insight_source_id'] }}"
          X-Git-Username: "{{ config.get('bitbucket_git_username', 'x-bitbucket-api-token-auth') }}"
          X-Git-Token: "{{ config['bitbucket_token'] }}"
        path: /v1/branches
        http_method: GET
        request_parameters:
          repo: "{{ stream_partition.repo_clone_url }}"
          page_size: "{{ config.get('proxy_page_size', 500) }}"
        error_handler:
          type: DefaultErrorHandler
          backoff_strategies:
            - type: WaitTimeFromHeader
              header: Retry-After
              max_waiting_time_in_seconds: 600
          response_filters:
            # The repository is being cloned in the background: the proxy is
            # working, the caller waits.
            - type: HttpResponseFilter
              http_codes: [429]
              action: RETRY
              error_message: Repository is being prepared by the proxy
            # Both are permanent for THIS repository and harmless for the rest,
            # so the partition is skipped rather than the whole stream failed.
            # A rising git_proxy_admission_rejects_total is the alert: a 413
            # means a repository is silently absent from bronze until an
            # operator raises cache.maxRepoBytes.
            - type: HttpResponseFilter
              http_codes: [404, 413]
              action: IGNORE
              error_message: >-
                Skipping this repository: gone at origin (404), or larger than
                cache.maxRepoBytes (413). Other repositories continue.
            # The pinned snapshot was superseded mid-walk. RETRY would replay
            # the same dead page token and 409 again; a response filter cannot
            # reset it. Rerunning the sync resumes each partition from its own
            # stored cursor against a fresh snapshot.
            - type: HttpResponseFilter
              http_codes: [409]
              action: FAIL
              error_message: >-
                Proxy snapshot changed mid-walk; rerun the sync to resume from the stored cursor
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [items]
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response['next_page_token'] }}"
          stop_condition: "{{ not response.get('next_page_token') }}"
        page_token_option:
          type: RequestOption
          field_name: page_token
          inject_into: request_parameter
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: clone_url
            partition_field: repo_clone_url
            # No `incremental_dependency` here: this stream is full refresh, so
            # the CDK would not persist parent state anyway. Branch heads are
            # cheap and must be re-read for every repository each sync.
            stream:
              type: DeclarativeStream
              name: repositories_for_branches
              primary_key:
                - uuid
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  type: object
                  $schema: http://json-schema.org/schema#
                  properties:
                    uuid: {type: [string, "null"]}
                    clone_url: {type: [string, "null"]}
                  additionalProperties: true
              retriever:
                type: SimpleRetriever
                requester:
                  type: HttpRequester
                  url_base: "{{ config.get('bitbucket_api_base_url', 'https://api.bitbucket.org/2.0') }}"
                  authenticator:
                    type: BasicHttpAuthenticator
                    username: "{{ config['bitbucket_username'] }}"
                    password: "{{ config['bitbucket_token'] }}"
                  path: "/repositories/{{ stream_partition.workspace }}"
                  http_method: GET
                  request_parameters:
                    pagelen: "{{ config.get('bitbucket_page_size', 100) }}"
                    fields: >-
                      next,values.uuid,values.slug,values.links.clone
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path: [values]
                paginator:
                  type: DefaultPaginator
                  pagination_strategy:
                    type: CursorPagination
                    cursor_value: "{{ response.get('next', '') }}"
                    stop_condition: "{{ not response.get('next') }}"
                  page_token_option:
                    type: RequestPath
              partition_router:
                type: ListPartitionRouter
                values: "{{ config['bitbucket_workspaces'] }}"
                cursor_field: workspace
              transformations:
                - type: AddFields
                  fields:
                    - type: AddedFieldDefinition
                      path: [clone_url]
                      value: >-
                        {{ (record['links']['clone'] | selectattr('name', 'equalto', 'https') | map(attribute='href') | list | first) }}
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [tenant_id]
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path: [source_id]
            value: "{{ config['insight_source_id'] }}"
          - type: AddedFieldDefinition
            path: [data_source]
            value: insight_bitbucket_nocode
          - type: AddedFieldDefinition
            path: [repository]
            value: "{{ stream_partition.repo_clone_url }}"
          # No head_sha in the key: the key identifies the BRANCH, so the RMT
          # collapses to its latest state and a head move is a change the
          # downstream snapshot macro can see.
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ stream_partition.repo_clone_url | replace(':', '%3A') }}:{{ record['name'] | replace(':', '%3A') }}

  # ── Pull requests (Bitbucket API) ───────────────────────────────────────
  # Default filter is OPEN-only, and repeating `state` is the documented way
  # to widen it — request_parameters is a dict, so the states live in the
  # path. Reviewer identities are detail-only; approvals come from the
  # activity stream instead.
  - type: DeclarativeStream
    name: pull_requests
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          collected_at: {type: [string, "null"]}
          id: {type: [integer, "null"]}
          repo_full_name: {type: [string, "null"]}
          title: {type: [string, "null"]}
          state: {type: [string, "null"]}
          draft: {type: [boolean, "null"]}
          author_uuid: {type: [string, "null"]}
          author_display_name: {type: [string, "null"]}
          created_on: {type: [string, "null"]}
          updated_on: {type: [string, "null"]}
          merge_commit_sha: {type: [string, "null"]}
          closed_by_uuid: {type: [string, "null"]}
          source_branch: {type: [string, "null"]}
          source_commit_sha: {type: [string, "null"]}
          destination_branch: {type: [string, "null"]}
          comment_count: {type: [integer, "null"]}
          task_count: {type: [integer, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "{{ config.get('bitbucket_api_base_url', 'https://api.bitbucket.org/2.0') }}"
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['bitbucket_username'] }}"
          password: "{{ config['bitbucket_token'] }}"
        path: "/repositories/{{ stream_partition.repo_full_name }}/pullrequests?state=OPEN&state=MERGED&state=DECLINED&state=SUPERSEDED"
        http_method: GET
        request_parameters:
          # pagelen HARD CAP on /pullrequests is 50 (400 above).
          pagelen: "50"
          sort: updated_on
          q: >-
            updated_on >= "{{ stream_interval.start_time }}"
          fields: >-
            next,values.id,values.title,values.state,values.draft,values.author.uuid,values.author.display_name,values.created_on,values.updated_on,values.merge_commit.hash,values.closed_by.uuid,values.source.branch.name,values.source.commit.hash,values.destination.branch.name,values.comment_count,values.task_count
        error_handler:
          type: DefaultErrorHandler
          backoff_strategies:
            # Bitbucket sometimes sends Retry-After as an HTTP date, which this
            # strategy cannot parse; the exponential fallback covers that case.
            - type: WaitTimeFromHeader
              header: Retry-After
              max_waiting_time_in_seconds: 600
            - type: ExponentialBackoffStrategy
              factor: 5
          response_filters:
            - type: HttpResponseFilter
              http_codes: [429]
              action: RATE_LIMITED
              error_message: Bitbucket hourly rate budget exhausted
            - type: HttpResponseFilter
              http_codes: [403, 404]
              action: IGNORE
              error_message: >-
                Repository not accessible with this token or gone; other repositories continue.
            - type: HttpResponseFilter
              http_codes: [401]
              action: FAIL
              failure_type: config_error
              error_message: >-
                Bitbucket rejected the credentials. Personal API tokens need
                bitbucket_username set (Basic auth); workspace access tokens must
                NOT set it (Bearer). Mixing the two is the most common cause.
            - type: HttpResponseFilter
              http_codes: [500, 502, 503, 504]
              action: RETRY
              error_message: Transient Bitbucket error
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [values]
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get('next', '') }}"
          stop_condition: "{{ not response.get('next') }}"
        page_token_option:
          type: RequestPath
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: full_name
            partition_field: repo_full_name
            stream:
              type: DeclarativeStream
              name: repositories_for_pull_requests
              primary_key:
                - uuid
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  type: object
                  $schema: http://json-schema.org/schema#
                  properties:
                    uuid: {type: [string, "null"]}
                    full_name: {type: [string, "null"]}
                    updated_on: {type: [string, "null"]}
                  additionalProperties: true
              retriever:
                type: SimpleRetriever
                requester:
                  type: HttpRequester
                  url_base: "{{ config.get('bitbucket_api_base_url', 'https://api.bitbucket.org/2.0') }}"
                  authenticator:
                    type: BasicHttpAuthenticator
                    username: "{{ config['bitbucket_username'] }}"
                    password: "{{ config['bitbucket_token'] }}"
                  path: "/repositories/{{ stream_partition.workspace }}"
                  http_method: GET
                  request_parameters:
                    pagelen: "{{ config.get('bitbucket_page_size', 100) }}"
                    fields: next,values.uuid,values.full_name,values.updated_on
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path: [values]
                paginator:
                  type: DefaultPaginator
                  pagination_strategy:
                    type: CursorPagination
                    cursor_value: "{{ response.get('next', '') }}"
                    stop_condition: "{{ not response.get('next') }}"
                  page_token_option:
                    type: RequestPath
                partition_router:
                  type: ListPartitionRouter
                  values: "{{ config['bitbucket_workspaces'] }}"
                  cursor_field: workspace
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_on
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%f%z"
        - "%Y-%m-%dT%H:%M:%S%z"
      lookback_window: P1D
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config.get('bitbucket_start_date', '2020-01-01') }}"
        datetime_format: "%Y-%m-%d"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [tenant_id]
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path: [source_id]
            value: "{{ config['insight_source_id'] }}"
          - type: AddedFieldDefinition
            path: [data_source]
            value: insight_bitbucket_nocode
          - type: AddedFieldDefinition
            path: [collected_at]
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          - type: AddedFieldDefinition
            path: [repo_full_name]
            value: "{{ stream_partition.repo_full_name }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [author_uuid]
            value: "{{ (record.get('author') or {}).get('uuid') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [author_display_name]
            value: "{{ (record.get('author') or {}).get('display_name') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [merge_commit_sha]
            value: "{{ (record.get('merge_commit') or {}).get('hash') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [closed_by_uuid]
            value: "{{ (record.get('closed_by') or {}).get('uuid') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [source_branch]
            value: "{{ ((record.get('source') or {}).get('branch') or {}).get('name') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [source_commit_sha]
            value: "{{ ((record.get('source') or {}).get('commit') or {}).get('hash') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [destination_branch]
            value: "{{ ((record.get('destination') or {}).get('branch') or {}).get('name') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ stream_partition.repo_full_name | replace(':', '%3A') }}:{{ record['id'] }}
      - type: RemoveFields
        # Hoisted above; the nested originals stay out of bronze.
        field_pointers:
          - [author]
          - [merge_commit]
          - [closed_by]
          - [source]
          - [destination]

  # ── Pull request comments (Bitbucket API) ───────────────────────────────
  # Child of a stateless sliding window of recently updated PRs. Bodies are
  # deliberately not stored.
  - type: DeclarativeStream
    name: pull_request_comments
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          collected_at: {type: [string, "null"]}
          id: {type: [integer, "null"]}
          pr_id: {type: [integer, "null"]}
          repo_full_name: {type: [string, "null"]}
          author_uuid: {type: [string, "null"]}
          author_display_name: {type: [string, "null"]}
          deleted: {type: [boolean, "null"]}
          parent_id: {type: [integer, "null"]}
          inline_path: {type: [string, "null"]}
          created_on: {type: [string, "null"]}
          updated_on: {type: [string, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "{{ config.get('bitbucket_api_base_url', 'https://api.bitbucket.org/2.0') }}"
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['bitbucket_username'] }}"
          password: "{{ config['bitbucket_token'] }}"
        path: "/repositories/{{ stream_slice.extra_fields['repo_full_name'] }}/pullrequests/{{ stream_partition.pr_id }}/comments"
        http_method: GET
        request_parameters:
          pagelen: "100"
          fields: >-
            next,values.id,values.user.uuid,values.user.display_name,values.created_on,values.updated_on,values.deleted,values.parent.id,values.inline.path
        error_handler:
          type: DefaultErrorHandler
          backoff_strategies:
            # Bitbucket sometimes sends Retry-After as an HTTP date, which this
            # strategy cannot parse; the exponential fallback covers that case.
            - type: WaitTimeFromHeader
              header: Retry-After
              max_waiting_time_in_seconds: 600
            - type: ExponentialBackoffStrategy
              factor: 5
          response_filters:
            - type: HttpResponseFilter
              http_codes: [429]
              action: RATE_LIMITED
              error_message: Bitbucket hourly rate budget exhausted
            - type: HttpResponseFilter
              http_codes: [403, 404]
              action: IGNORE
              error_message: >-
                PR gone or not accessible; other pull requests continue.
            - type: HttpResponseFilter
              http_codes: [401]
              action: FAIL
              failure_type: config_error
              error_message: >-
                Bitbucket rejected the credentials. Personal API tokens need
                bitbucket_username set (Basic auth); workspace access tokens must
                NOT set it (Bearer). Mixing the two is the most common cause.
            - type: HttpResponseFilter
              http_codes: [500, 502, 503, 504]
              action: RETRY
              error_message: Transient Bitbucket error
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [values]
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get('next', '') }}"
          stop_condition: "{{ not response.get('next') }}"
        page_token_option:
          type: RequestPath
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: id
            partition_field: pr_id
            extra_fields:
              - [repo_full_name]
            stream:
              type: DeclarativeStream
              name: pull_requests_for_comments
              primary_key:
                - id
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  type: object
                  $schema: http://json-schema.org/schema#
                  properties:
                    id: {type: [integer, "null"]}
                    repo_full_name: {type: [string, "null"]}
                    updated_on: {type: [string, "null"]}
                  additionalProperties: true
              retriever:
                type: SimpleRetriever
                requester:
                  type: HttpRequester
                  url_base: "{{ config.get('bitbucket_api_base_url', 'https://api.bitbucket.org/2.0') }}"
                  authenticator:
                    type: BasicHttpAuthenticator
                    username: "{{ config['bitbucket_username'] }}"
                    password: "{{ config['bitbucket_token'] }}"
                  path: "/repositories/{{ stream_partition.repo_full_name }}/pullrequests?state=OPEN&state=MERGED&state=DECLINED&state=SUPERSEDED"
                  http_method: GET
                  request_parameters:
                    # pagelen HARD CAP on /pullrequests is 50 (400 above).
                    pagelen: "50"
                    sort: updated_on
                    # Stateless sliding window: the children have no cursor of their
                    # own, so parent state would never persist. RMT dedups the
                    # re-read window.
                    q: >-
                      updated_on >= "{{ format_datetime(now_utc() - duration('P' ~ config.get('bitbucket_pr_child_window_days', 30) ~ 'D'), '%Y-%m-%dT%H:%M:%SZ') }}"
                    fields: next,values.id,values.updated_on
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path: [values]
                paginator:
                  type: DefaultPaginator
                  pagination_strategy:
                    type: CursorPagination
                    cursor_value: "{{ response.get('next', '') }}"
                    stop_condition: "{{ not response.get('next') }}"
                  page_token_option:
                    type: RequestPath
                partition_router:
                  type: SubstreamPartitionRouter
                  parent_stream_configs:
                    - type: ParentStreamConfig
                      parent_key: full_name
                      partition_field: repo_full_name
                      stream:
                        type: DeclarativeStream
                        name: pull_requests_for_comments_repos
                        primary_key:
                          - uuid
                        schema_loader:
                          type: InlineSchemaLoader
                          schema:
                            type: object
                            $schema: http://json-schema.org/schema#
                            properties:
                              uuid: {type: [string, "null"]}
                              full_name: {type: [string, "null"]}
                              updated_on: {type: [string, "null"]}
                            additionalProperties: true
                        retriever:
                          type: SimpleRetriever
                          requester:
                            type: HttpRequester
                            url_base: "{{ config.get('bitbucket_api_base_url', 'https://api.bitbucket.org/2.0') }}"
                            authenticator:
                              type: BasicHttpAuthenticator
                              username: "{{ config['bitbucket_username'] }}"
                              password: "{{ config['bitbucket_token'] }}"
                            path: "/repositories/{{ stream_partition.workspace }}"
                            http_method: GET
                            request_parameters:
                              pagelen: "{{ config.get('bitbucket_page_size', 100) }}"
                              fields: next,values.uuid,values.full_name,values.updated_on
                          record_selector:
                            type: RecordSelector
                            extractor:
                              type: DpathExtractor
                              field_path: [values]
                          paginator:
                            type: DefaultPaginator
                            pagination_strategy:
                              type: CursorPagination
                              cursor_value: "{{ response.get('next', '') }}"
                              stop_condition: "{{ not response.get('next') }}"
                            page_token_option:
                              type: RequestPath
                          partition_router:
                            type: ListPartitionRouter
                            values: "{{ config['bitbucket_workspaces'] }}"
                            cursor_field: workspace
              transformations:
                - type: AddFields
                  fields:
                    - type: AddedFieldDefinition
                      path: [repo_full_name]
                      value: "{{ stream_partition.repo_full_name }}"
                      value_type: string
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [tenant_id]
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path: [source_id]
            value: "{{ config['insight_source_id'] }}"
          - type: AddedFieldDefinition
            path: [data_source]
            value: insight_bitbucket_nocode
          - type: AddedFieldDefinition
            path: [collected_at]
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          - type: AddedFieldDefinition
            path: [pr_id]
            value: "{{ stream_partition.pr_id }}"
          - type: AddedFieldDefinition
            path: [repo_full_name]
            value: "{{ stream_slice.extra_fields['repo_full_name'] }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [author_uuid]
            value: "{{ (record.get('user') or {}).get('uuid') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [author_display_name]
            value: "{{ (record.get('user') or {}).get('display_name') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [parent_id]
            value: "{{ (record.get('parent') or {}).get('id') }}"
          - type: AddedFieldDefinition
            path: [inline_path]
            value: "{{ (record.get('inline') or {}).get('path') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ stream_slice.extra_fields['repo_full_name'] | replace(':', '%3A') }}:{{ stream_partition.pr_id }}:{{ record['id'] }}
      - type: RemoveFields
        # Hoisted above; the nested originals stay out of bronze.
        field_pointers:
          - [user]
          - [parent]
          - [inline]

  # ── Pull request activity (Bitbucket API) ───────────────────────────────
  # The ONLY source of approvals, changes-requested and merge/decline
  # transitions on Bitbucket — there is no reviews endpoint. Entries carry no
  # id, so the key is synthesized from (kind, event date, actor); every part
  # coalesces to '' so an absent field can never render the literal "None".
  - type: DeclarativeStream
    name: pull_request_activity
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          collected_at: {type: [string, "null"]}
          pr_id: {type: [integer, "null"]}
          repo_full_name: {type: [string, "null"]}
          kind: {type: [string, "null"]}
          event_date: {type: [string, "null"]}
          actor_uuid: {type: [string, "null"]}
          actor_display_name: {type: [string, "null"]}
          update_state: {type: [string, "null"]}
          update_source_commit: {type: [string, "null"]}
          comment_id: {type: [integer, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "{{ config.get('bitbucket_api_base_url', 'https://api.bitbucket.org/2.0') }}"
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['bitbucket_username'] }}"
          password: "{{ config['bitbucket_token'] }}"
        path: "/repositories/{{ stream_slice.extra_fields['repo_full_name'] }}/pullrequests/{{ stream_partition.pr_id }}/activity"
        http_method: GET
        request_parameters:
          # pagelen HARD CAP on /activity is 50 (400 above).
          pagelen: "50"
        error_handler:
          type: DefaultErrorHandler
          backoff_strategies:
            # Bitbucket sometimes sends Retry-After as an HTTP date, which this
            # strategy cannot parse; the exponential fallback covers that case.
            - type: WaitTimeFromHeader
              header: Retry-After
              max_waiting_time_in_seconds: 600
            - type: ExponentialBackoffStrategy
              factor: 5
          response_filters:
            - type: HttpResponseFilter
              http_codes: [429]
              action: RATE_LIMITED
              error_message: Bitbucket hourly rate budget exhausted
            - type: HttpResponseFilter
              http_codes: [403, 404]
              action: IGNORE
              error_message: >-
                PR gone or not accessible; other pull requests continue.
            - type: HttpResponseFilter
              http_codes: [401]
              action: FAIL
              failure_type: config_error
              error_message: >-
                Bitbucket rejected the credentials. Personal API tokens need
                bitbucket_username set (Basic auth); workspace access tokens must
                NOT set it (Bearer). Mixing the two is the most common cause.
            - type: HttpResponseFilter
              http_codes: [500, 502, 503, 504]
              action: RETRY
              error_message: Transient Bitbucket error
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [values]
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get('next', '') }}"
          stop_condition: "{{ not response.get('next') }}"
        page_token_option:
          type: RequestPath
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: id
            partition_field: pr_id
            extra_fields:
              - [repo_full_name]
            stream:
              type: DeclarativeStream
              name: pull_requests_for_activity
              primary_key:
                - id
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  type: object
                  $schema: http://json-schema.org/schema#
                  properties:
                    id: {type: [integer, "null"]}
                    repo_full_name: {type: [string, "null"]}
                    updated_on: {type: [string, "null"]}
                  additionalProperties: true
              retriever:
                type: SimpleRetriever
                requester:
                  type: HttpRequester
                  url_base: "{{ config.get('bitbucket_api_base_url', 'https://api.bitbucket.org/2.0') }}"
                  authenticator:
                    type: BasicHttpAuthenticator
                    username: "{{ config['bitbucket_username'] }}"
                    password: "{{ config['bitbucket_token'] }}"
                  path: "/repositories/{{ stream_partition.repo_full_name }}/pullrequests?state=OPEN&state=MERGED&state=DECLINED&state=SUPERSEDED"
                  http_method: GET
                  request_parameters:
                    # pagelen HARD CAP on /pullrequests is 50 (400 above).
                    pagelen: "50"
                    sort: updated_on
                    # Stateless sliding window: the children have no cursor of their
                    # own, so parent state would never persist. RMT dedups the
                    # re-read window.
                    q: >-
                      updated_on >= "{{ format_datetime(now_utc() - duration('P' ~ config.get('bitbucket_pr_child_window_days', 30) ~ 'D'), '%Y-%m-%dT%H:%M:%SZ') }}"
                    fields: next,values.id,values.updated_on
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path: [values]
                paginator:
                  type: DefaultPaginator
                  pagination_strategy:
                    type: CursorPagination
                    cursor_value: "{{ response.get('next', '') }}"
                    stop_condition: "{{ not response.get('next') }}"
                  page_token_option:
                    type: RequestPath
                partition_router:
                  type: SubstreamPartitionRouter
                  parent_stream_configs:
                    - type: ParentStreamConfig
                      parent_key: full_name
                      partition_field: repo_full_name
                      stream:
                        type: DeclarativeStream
                        name: pull_requests_for_activity_repos
                        primary_key:
                          - uuid
                        schema_loader:
                          type: InlineSchemaLoader
                          schema:
                            type: object
                            $schema: http://json-schema.org/schema#
                            properties:
                              uuid: {type: [string, "null"]}
                              full_name: {type: [string, "null"]}
                              updated_on: {type: [string, "null"]}
                            additionalProperties: true
                        retriever:
                          type: SimpleRetriever
                          requester:
                            type: HttpRequester
                            url_base: "{{ config.get('bitbucket_api_base_url', 'https://api.bitbucket.org/2.0') }}"
                            authenticator:
                              type: BasicHttpAuthenticator
                              username: "{{ config['bitbucket_username'] }}"
                              password: "{{ config['bitbucket_token'] }}"
                            path: "/repositories/{{ stream_partition.workspace }}"
                            http_method: GET
                            request_parameters:
                              pagelen: "{{ config.get('bitbucket_page_size', 100) }}"
                              fields: next,values.uuid,values.full_name,values.updated_on
                          record_selector:
                            type: RecordSelector
                            extractor:
                              type: DpathExtractor
                              field_path: [values]
                          paginator:
                            type: DefaultPaginator
                            pagination_strategy:
                              type: CursorPagination
                              cursor_value: "{{ response.get('next', '') }}"
                              stop_condition: "{{ not response.get('next') }}"
                            page_token_option:
                              type: RequestPath
                          partition_router:
                            type: ListPartitionRouter
                            values: "{{ config['bitbucket_workspaces'] }}"
                            cursor_field: workspace
              transformations:
                - type: AddFields
                  fields:
                    - type: AddedFieldDefinition
                      path: [repo_full_name]
                      value: "{{ stream_partition.repo_full_name }}"
                      value_type: string
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [tenant_id]
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path: [source_id]
            value: "{{ config['insight_source_id'] }}"
          - type: AddedFieldDefinition
            path: [data_source]
            value: insight_bitbucket_nocode
          - type: AddedFieldDefinition
            path: [collected_at]
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          - type: AddedFieldDefinition
            path: [pr_id]
            value: "{{ stream_partition.pr_id }}"
          - type: AddedFieldDefinition
            path: [repo_full_name]
            value: "{{ stream_slice.extra_fields['repo_full_name'] }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [kind]
            value: "{{ 'approval' if record.get('approval') else 'changes_requested' if record.get('changes_requested') else 'update' if record.get('update') else 'comment' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [event_date]
            value: "{{ (record.get('approval') or {}).get('date') or (record.get('changes_requested') or {}).get('date') or (record.get('update') or {}).get('date') or (record.get('comment') or {}).get('created_on') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [actor_uuid]
            value: "{{ ((record.get('approval') or {}).get('user') or {}).get('uuid') or ((record.get('changes_requested') or {}).get('user') or {}).get('uuid') or ((record.get('update') or {}).get('author') or {}).get('uuid') or ((record.get('comment') or {}).get('user') or {}).get('uuid') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [actor_display_name]
            value: "{{ ((record.get('approval') or {}).get('user') or {}).get('display_name') or ((record.get('changes_requested') or {}).get('user') or {}).get('display_name') or ((record.get('update') or {}).get('author') or {}).get('display_name') or ((record.get('comment') or {}).get('user') or {}).get('display_name') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [update_state]
            value: "{{ (record.get('update') or {}).get('state') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [update_source_commit]
            value: "{{ (((record.get('update') or {}).get('source') or {}).get('commit') or {}).get('hash') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [comment_id]
            value: "{{ (record.get('comment') or {}).get('id') }}"
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ stream_slice.extra_fields['repo_full_name'] | replace(':', '%3A') }}:{{ stream_partition.pr_id }}:{{ 'approval' if record.get('approval') else 'changes_requested' if record.get('changes_requested') else 'update' if record.get('update') else 'comment' }}:{{ ((record.get('approval') or {}).get('date') or (record.get('changes_requested') or {}).get('date') or (record.get('update') or {}).get('date') or (record.get('comment') or {}).get('created_on') or '') | replace(':', '%3A') }}:{{ (((record.get('approval') or {}).get('user') or {}).get('uuid') or ((record.get('changes_requested') or {}).get('user') or {}).get('uuid') or ((record.get('update') or {}).get('author') or {}).get('uuid') or ((record.get('comment') or {}).get('user') or {}).get('uuid') or '') | replace(':', '%3A') }}
      - type: RemoveFields
        # Hoisted above; the nested originals stay out of bronze.
        field_pointers:
          - [approval]
          - [changes_requested]
          - [update]
          - [comment]

  # ── Workspace members (Bitbucket API) ───────────────────────────────────
  # Fills the identity gap the CDK connector never covered: Bitbucket exposes
  # no email anywhere, so identity joins on account_id / nickname.
  - type: DeclarativeStream
    name: workspace_members
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          collected_at: {type: [string, "null"]}
          account_id: {type: [string, "null"]}
          display_name: {type: [string, "null"]}
          nickname: {type: [string, "null"]}
          user_uuid: {type: [string, "null"]}
          workspace: {type: [string, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "{{ config.get('bitbucket_api_base_url', 'https://api.bitbucket.org/2.0') }}"
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['bitbucket_username'] }}"
          password: "{{ config['bitbucket_token'] }}"
        path: "/workspaces/{{ stream_partition.workspace }}/members"
        http_method: GET
        request_parameters:
          pagelen: "100"
          fields: >-
            next,values.user.account_id,values.user.display_name,values.user.nickname,values.user.uuid
        error_handler:
          type: DefaultErrorHandler
          backoff_strategies:
            # Bitbucket sometimes sends Retry-After as an HTTP date, which this
            # strategy cannot parse; the exponential fallback covers that case.
            - type: WaitTimeFromHeader
              header: Retry-After
              max_waiting_time_in_seconds: 600
            - type: ExponentialBackoffStrategy
              factor: 5
          response_filters:
            - type: HttpResponseFilter
              http_codes: [429]
              action: RATE_LIMITED
              error_message: Bitbucket hourly rate budget exhausted
            - type: HttpResponseFilter
              http_codes: [403]
              action: IGNORE
              error_message: >-
                Token cannot list this workspace's members; other workspaces continue.
            - type: HttpResponseFilter
              http_codes: [401]
              action: FAIL
              failure_type: config_error
              error_message: >-
                Bitbucket rejected the credentials. Personal API tokens need
                bitbucket_username set (Basic auth); workspace access tokens must
                NOT set it (Bearer). Mixing the two is the most common cause.
            - type: HttpResponseFilter
              http_codes: [500, 502, 503, 504]
              action: RETRY
              error_message: Transient Bitbucket error
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [values]
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get('next', '') }}"
          stop_condition: "{{ not response.get('next') }}"
        page_token_option:
          type: RequestPath
      partition_router:
        type: ListPartitionRouter
        values: "{{ config['bitbucket_workspaces'] }}"
        cursor_field: workspace
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [tenant_id]
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path: [source_id]
            value: "{{ config['insight_source_id'] }}"
          - type: AddedFieldDefinition
            path: [data_source]
            value: insight_bitbucket_nocode
          - type: AddedFieldDefinition
            path: [collected_at]
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          - type: AddedFieldDefinition
            path: [workspace]
            value: "{{ stream_partition.workspace }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [account_id]
            value: "{{ (record.get('user') or {}).get('account_id') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [display_name]
            value: "{{ (record.get('user') or {}).get('display_name') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [nickname]
            value: "{{ (record.get('user') or {}).get('nickname') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [user_uuid]
            value: "{{ (record.get('user') or {}).get('uuid') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ stream_partition.workspace | replace(':', '%3A') }}:{{ ((record.get('user') or {}).get('uuid') or '') | replace(':', '%3A') }}
      - type: RemoveFields
        # Hoisted above; the nested originals stay out of bronze.
        field_pointers:
          - [user]

  # ── CI pipelines (Bitbucket API) ────────────────────────────────────────
  # No `fields=` projection: partial-response support on this endpoint is
  # unreliable, so the full object ships.
  - type: DeclarativeStream
    name: pipelines
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          collected_at: {type: [string, "null"]}
          uuid: {type: [string, "null"]}
          build_number: {type: [integer, "null"]}
          repo_full_name: {type: [string, "null"]}
          state_name: {type: [string, "null"]}
          result_name: {type: [string, "null"]}
          target_ref: {type: [string, "null"]}
          target_commit_sha: {type: [string, "null"]}
          trigger_name: {type: [string, "null"]}
          creator_uuid: {type: [string, "null"]}
          duration_in_seconds: {type: [integer, "null"]}
          created_on: {type: [string, "null"]}
          completed_on: {type: [string, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "{{ config.get('bitbucket_api_base_url', 'https://api.bitbucket.org/2.0') }}"
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['bitbucket_username'] }}"
          password: "{{ config['bitbucket_token'] }}"
        # Trailing slash is load-bearing: without it this endpoint 404s.
        path: "/repositories/{{ stream_partition.repo_full_name }}/pipelines/"
        http_method: GET
        request_parameters:
          pagelen: "100"
          # Newest first + data-feed stop: `q` is NOT implemented on the
          # pipelines-module endpoints, so ascending with a server filter is
          # impossible and plain ascending would rescan all history each sync.
          sort: -created_on
        error_handler:
          type: DefaultErrorHandler
          backoff_strategies:
            # Bitbucket sometimes sends Retry-After as an HTTP date, which this
            # strategy cannot parse; the exponential fallback covers that case.
            - type: WaitTimeFromHeader
              header: Retry-After
              max_waiting_time_in_seconds: 600
            - type: ExponentialBackoffStrategy
              factor: 5
          response_filters:
            - type: HttpResponseFilter
              http_codes: [429]
              action: RATE_LIMITED
              error_message: Bitbucket hourly rate budget exhausted
            - type: HttpResponseFilter
              http_codes: [403, 404]
              action: IGNORE
              error_message: >-
                Pipelines not enabled or not visible for this repository; other repositories continue.
            - type: HttpResponseFilter
              http_codes: [401]
              action: FAIL
              failure_type: config_error
              error_message: >-
                Bitbucket rejected the credentials. Personal API tokens need
                bitbucket_username set (Basic auth); workspace access tokens must
                NOT set it (Bearer). Mixing the two is the most common cause.
            - type: HttpResponseFilter
              http_codes: [500, 502, 503, 504]
              action: RETRY
              error_message: Transient Bitbucket error
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [values]
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get('next', '') }}"
          stop_condition: "{{ not response.get('next') }}"
        page_token_option:
          type: RequestPath
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: full_name
            partition_field: repo_full_name
            stream:
              type: DeclarativeStream
              name: repositories_for_pipelines
              primary_key:
                - uuid
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  type: object
                  $schema: http://json-schema.org/schema#
                  properties:
                    uuid: {type: [string, "null"]}
                    full_name: {type: [string, "null"]}
                    updated_on: {type: [string, "null"]}
                  additionalProperties: true
              retriever:
                type: SimpleRetriever
                requester:
                  type: HttpRequester
                  url_base: "{{ config.get('bitbucket_api_base_url', 'https://api.bitbucket.org/2.0') }}"
                  authenticator:
                    type: BasicHttpAuthenticator
                    username: "{{ config['bitbucket_username'] }}"
                    password: "{{ config['bitbucket_token'] }}"
                  path: "/repositories/{{ stream_partition.workspace }}"
                  http_method: GET
                  request_parameters:
                    pagelen: "{{ config.get('bitbucket_page_size', 100) }}"
                    fields: next,values.uuid,values.full_name,values.updated_on
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path: [values]
                paginator:
                  type: DefaultPaginator
                  pagination_strategy:
                    type: CursorPagination
                    cursor_value: "{{ response.get('next', '') }}"
                    stop_condition: "{{ not response.get('next') }}"
                  page_token_option:
                    type: RequestPath
                partition_router:
                  type: ListPartitionRouter
                  values: "{{ config['bitbucket_workspaces'] }}"
                  cursor_field: workspace
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: created_on
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%f%z"
        - "%Y-%m-%dT%H:%M:%S%z"
      # created_on is immutable, so no lookback; descending order + data-feed
      # stop is what makes each sync O(new records).
      is_data_feed: true
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config.get('bitbucket_start_date', '2020-01-01') }}"
        datetime_format: "%Y-%m-%d"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [tenant_id]
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path: [source_id]
            value: "{{ config['insight_source_id'] }}"
          - type: AddedFieldDefinition
            path: [data_source]
            value: insight_bitbucket_nocode
          - type: AddedFieldDefinition
            path: [collected_at]
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          - type: AddedFieldDefinition
            path: [repo_full_name]
            value: "{{ stream_partition.repo_full_name }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [state_name]
            value: "{{ (record.get('state') or {}).get('name') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [result_name]
            value: "{{ ((record.get('state') or {}).get('result') or {}).get('name') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [target_ref]
            value: "{{ (record.get('target') or {}).get('ref_name') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [target_commit_sha]
            value: "{{ ((record.get('target') or {}).get('commit') or {}).get('hash') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [trigger_name]
            value: "{{ (record.get('trigger') or {}).get('name') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [creator_uuid]
            value: "{{ (record.get('creator') or {}).get('uuid') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ stream_partition.repo_full_name | replace(':', '%3A') }}:{{ record['uuid'] | replace(':', '%3A') }}
      - type: RemoveFields
        # Hoisted above; the nested originals stay out of bronze.
        field_pointers:
          - [state]
          - [target]
          - [trigger]
          - [creator]

  # ── Deployments (Bitbucket API) ─────────────────────────────────────────
  # Same pipelines-module shape; outcome (`state`) IS in the list, unlike
  # GitHub. Sort support here is thinner than on /pipelines/ — verify
  # `sort=-created_on` on the live smoke; the data-feed stop keeps
  # correctness either way.
  - type: DeclarativeStream
    name: deployments
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          collected_at: {type: [string, "null"]}
          uuid: {type: [string, "null"]}
          repo_full_name: {type: [string, "null"]}
          state_name: {type: [string, "null"]}
          state_status: {type: [string, "null"]}
          environment_uuid: {type: [string, "null"]}
          deployable_commit_sha: {type: [string, "null"]}
          deployable_pipeline_uuid: {type: [string, "null"]}
          created_on: {type: [string, "null"]}
          last_update_time: {type: [string, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "{{ config.get('bitbucket_api_base_url', 'https://api.bitbucket.org/2.0') }}"
        authenticator:
          type: BasicHttpAuthenticator
          username: "{{ config['bitbucket_username'] }}"
          password: "{{ config['bitbucket_token'] }}"
        # Trailing slash is load-bearing: without it this endpoint 404s.
        path: "/repositories/{{ stream_partition.repo_full_name }}/deployments/"
        http_method: GET
        request_parameters:
          pagelen: "100"
          # Newest first + data-feed stop: `q` is NOT implemented on the
          # pipelines-module endpoints, so ascending with a server filter is
          # impossible and plain ascending would rescan all history each sync.
          sort: -created_on
        error_handler:
          type: DefaultErrorHandler
          backoff_strategies:
            # Bitbucket sometimes sends Retry-After as an HTTP date, which this
            # strategy cannot parse; the exponential fallback covers that case.
            - type: WaitTimeFromHeader
              header: Retry-After
              max_waiting_time_in_seconds: 600
            - type: ExponentialBackoffStrategy
              factor: 5
          response_filters:
            - type: HttpResponseFilter
              http_codes: [429]
              action: RATE_LIMITED
              error_message: Bitbucket hourly rate budget exhausted
            - type: HttpResponseFilter
              http_codes: [403, 404]
              action: IGNORE
              error_message: >-
                Pipelines not enabled or not visible for this repository; other repositories continue.
            - type: HttpResponseFilter
              http_codes: [401]
              action: FAIL
              failure_type: config_error
              error_message: >-
                Bitbucket rejected the credentials. Personal API tokens need
                bitbucket_username set (Basic auth); workspace access tokens must
                NOT set it (Bearer). Mixing the two is the most common cause.
            - type: HttpResponseFilter
              http_codes: [500, 502, 503, 504]
              action: RETRY
              error_message: Transient Bitbucket error
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [values]
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get('next', '') }}"
          stop_condition: "{{ not response.get('next') }}"
        page_token_option:
          type: RequestPath
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: full_name
            partition_field: repo_full_name
            stream:
              type: DeclarativeStream
              name: repositories_for_deployments
              primary_key:
                - uuid
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  type: object
                  $schema: http://json-schema.org/schema#
                  properties:
                    uuid: {type: [string, "null"]}
                    full_name: {type: [string, "null"]}
                    updated_on: {type: [string, "null"]}
                  additionalProperties: true
              retriever:
                type: SimpleRetriever
                requester:
                  type: HttpRequester
                  url_base: "{{ config.get('bitbucket_api_base_url', 'https://api.bitbucket.org/2.0') }}"
                  authenticator:
                    type: BasicHttpAuthenticator
                    username: "{{ config['bitbucket_username'] }}"
                    password: "{{ config['bitbucket_token'] }}"
                  path: "/repositories/{{ stream_partition.workspace }}"
                  http_method: GET
                  request_parameters:
                    pagelen: "{{ config.get('bitbucket_page_size', 100) }}"
                    fields: next,values.uuid,values.full_name,values.updated_on
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path: [values]
                paginator:
                  type: DefaultPaginator
                  pagination_strategy:
                    type: CursorPagination
                    cursor_value: "{{ response.get('next', '') }}"
                    stop_condition: "{{ not response.get('next') }}"
                  page_token_option:
                    type: RequestPath
                partition_router:
                  type: ListPartitionRouter
                  values: "{{ config['bitbucket_workspaces'] }}"
                  cursor_field: workspace
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: created_on
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%f%z"
        - "%Y-%m-%dT%H:%M:%S%z"
      # created_on is immutable, so no lookback; descending order + data-feed
      # stop is what makes each sync O(new records).
      is_data_feed: true
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config.get('bitbucket_start_date', '2020-01-01') }}"
        datetime_format: "%Y-%m-%d"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [tenant_id]
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path: [source_id]
            value: "{{ config['insight_source_id'] }}"
          - type: AddedFieldDefinition
            path: [data_source]
            value: insight_bitbucket_nocode
          - type: AddedFieldDefinition
            path: [collected_at]
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          - type: AddedFieldDefinition
            path: [repo_full_name]
            value: "{{ stream_partition.repo_full_name }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [state_name]
            value: "{{ (record.get('state') or {}).get('name') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [state_status]
            value: "{{ ((record.get('state') or {}).get('status') or {}).get('name') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [environment_uuid]
            value: "{{ (record.get('environment') or {}).get('uuid') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [deployable_commit_sha]
            value: "{{ ((record.get('deployable') or {}).get('commit') or {}).get('hash') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [deployable_pipeline_uuid]
            value: "{{ ((record.get('deployable') or {}).get('pipeline') or {}).get('uuid') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [created_on]
            value: "{{ record.get('created_on') or (record.get('deployable') or {}).get('created_on') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ stream_partition.repo_full_name | replace(':', '%3A') }}:{{ record['uuid'] | replace(':', '%3A') }}
      - type: RemoveFields
        # Hoisted above; the nested originals stay out of bronze.
        field_pointers:
          - [state]
          - [environment]
          - [deployable]
concurrency_level:
  type: ConcurrencyLevel
  # Never 1: the concurrent CDK self-deadlocks at a single worker once a sync
  # generates ~10k partitions.
  default_concurrency: 4

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    title: Bitbucket Cloud (git-cli-proxy) Spec
    required:
      - insight_tenant_id
      - insight_source_id
      - bitbucket_username
      - bitbucket_token
      - bitbucket_workspaces
      - git_proxy_url
      - git_proxy_token
    properties:
      insight_tenant_id:
        type: string
        description: Insight tenant identifier stamped onto every emitted record.
        title: Insight Tenant ID
        order: 0
      insight_source_id:
        type: string
        description: >-
          Instance discriminator for multi-instance support (e.g. bitbucket-acme).
        title: Insight Source ID
        order: 1
      bitbucket_username:
        type: string
        description: >-
          Atlassian account username or email. Personal API tokens authenticate as HTTP basic `username:token`, both against the API and against the clone the proxy performs.
        title: Username / Email
        order: 2
      bitbucket_git_username:
        type: string
        description: >-
          Username the proxy presents when CLONING over https, which is NOT the API credential. `x-token-auth` is reserved for workspace/repository access tokens and is rejected for a personal API token; the default works for personal API tokens, and the account's short username works for access tokens.
        title: Git Clone Username
        default: x-bitbucket-api-token-auth
        order: 3
      bitbucket_token:
        type: string
        description: >-
          Bitbucket API token with `repository:read`. Forwarded to the proxy per request for the clone and never stored there.
        title: API Token
        airbyte_secret: true
        order: 4
      bitbucket_workspaces:
        type: array
        items:
          type: string
        description: Workspace slugs to sync.
        title: Workspaces
        order: 5
      git_proxy_url:
        type: string
        description: >-
          Base URL of the git-cli-proxy service (cluster-internal, e.g. http://insight-git-cli-proxy:8085). No default: a wrong or absent value must fail the check, not fall back somewhere.
        title: Git Proxy URL
        order: 6
      git_proxy_token:
        type: string
        description: Bearer token the git-cli-proxy requires on every /v1 request.
        title: Git Proxy Token
        airbyte_secret: true
        order: 7
      bitbucket_api_base_url:
        type: string
        description: Bitbucket API base URL.
        title: API Base URL
        default: "https://api.bitbucket.org/2.0"
        order: 8
      bitbucket_start_date:
        type: string
        description: Earliest date for incremental sync (YYYY-MM-DD).
        title: Start Date
        format: date
        default: "2020-01-01"
        order: 9
      bitbucket_page_size:
        type: integer
        description: Bitbucket API page size (max 100).
        title: Bitbucket Page Size
        default: 100
        minimum: 1
        maximum: 100
        order: 10
      proxy_page_size:
        type: integer
        description: Rows per page requested from the git-cli-proxy.
        title: Proxy Page Size
        default: 500
        minimum: 1
        maximum: 10000
        order: 11
      bitbucket_include_patch:
        type: boolean
        description: >-
          Store per-file diff text. Keep enabled to allow recomputing line counts later under different filters; disable to cut bronze volume.
        title: Include Patch Text
        default: true
        order: 12
      bitbucket_max_patch_bytes:
        type: integer
        description: >-
          Truncation cap for a single file's diff. Truncated rows are flagged with patch_truncated so downstream never mistakes them for complete.
        title: Max Patch Bytes
        default: 1048576
        minimum: 1024
        order: 13
      bitbucket_lookback_window:
        type: string
        description: >-
          ISO-8601 duration re-enumerated below the stored cursor on every sync. `git log --since` is a traversal cutoff, so after a rebase the replacement commits can carry dates below the cursor and would never be visited again. Bronze dedups the re-read rows, so the cost is one window per sync. A rewrite older than the window is still lost.
        title: Rebase Lookback Window
        default: P1M
        order: 14
      bitbucket_pr_child_window_days:
        type: integer
        description: >-
          Sliding window, in days, of pull requests whose comments and
          activity are re-read each sync. The children have no cursor of
          their own, so the window bounds their cost; edits on PRs older
          than the window are not picked up.
        title: PR Child Window (days)
        default: 30
        minimum: 1
        order: 15
    additionalProperties: true

metadata:
  autoImportSchema:
    repositories: false
    commits: false
    commit_files: false
    repo_branches: false
    pull_requests: false
    pull_request_comments: false
    pull_request_activity: false
    workspace_members: false
    pipelines: false
    deployments: false
