version: 6.60.9

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - wiki_spaces

definitions:
  auth:
    type: BasicHttpAuthenticator
    username: "{{ config['confluence_email'] }}"
    password: "{{ config['confluence_api_token'] }}"

  # Error handling per DESIGN §2.2 (cpt-insightspec-constraint-conf-rate-limit)
  # and §3.6 (rows 530-534): 401/403 halt the run; 429 honours Retry-After; 503
  # is also rate-limit on Atlassian, retry with backoff; other 5xx retry with
  # exponential backoff.
  #
  # max_waiting_time_in_seconds caps the Retry-After honoured by the backoff: if
  # Atlassian returns a wait larger than this, stop the stream instead of
  # sleeping. Without it a single oversized Retry-After silently blocks the
  # source for that whole duration (observed ~22min hang mid-sync, job stuck
  # "running" with no progress and no error). 600s tolerates normal throttling
  # while turning a pathological wait into a fast, visible failure.
  error_handler:
    type: DefaultErrorHandler
    backoff_strategies:
      - type: WaitTimeFromHeader
        header: Retry-After
        max_waiting_time_in_seconds: 600
    response_filters:
      - type: HttpResponseFilter
        action: RETRY
        http_codes: [429, 503]
      - type: HttpResponseFilter
        action: FAIL
        http_codes: [401, 403]

  # Substream children only: a parent page/comment deleted between the parent
  # enumeration and the child fetch returns 404 on /pages/{id}/* or
  # /*-comments/{id}/children. Without IGNORE, one deleted parent fails the
  # whole sync (the Jira/Zendesk substream lesson). Parents (spaces/pages)
  # deliberately keep the strict handler so a wrong instance_url (404 on the
  # list endpoint) surfaces instead of silently syncing empty.
  child_error_handler:
    type: DefaultErrorHandler
    backoff_strategies:
      - type: WaitTimeFromHeader
        header: Retry-After
        max_waiting_time_in_seconds: 600
    response_filters:
      - type: HttpResponseFilter
        action: IGNORE
        http_codes: [404]
        error_message: "Parent page/comment not found (deleted mid-sync) — partition skipped."
      - type: HttpResponseFilter
        action: RETRY
        http_codes: [429, 503]
      - type: HttpResponseFilter
        action: FAIL
        http_codes: [401, 403]

  base_requester:
    type: HttpRequester
    url_base: "{{ config['confluence_instance_url'] }}"
    http_method: GET
    authenticator:
      $ref: "#/definitions/auth"
    request_headers:
      Accept: application/json
    error_handler:
      $ref: "#/definitions/error_handler"

  add_fields:
    type: AddFields
    fields:
      - path: [tenant_id]
        value: "{{ config['insight_tenant_id'] }}"
      - path: [source_id]
        value: "{{ config['insight_source_id'] }}"
      - path: [data_source]
        value: "insight_confluence"

  confluence_paginator:
    type: DefaultPaginator
    page_token_option:
      type: RequestPath
    pagination_strategy:
      type: CursorPagination
      cursor_value: "{{ response.get('_links', {}).get('next', '') }}"
      stop_condition: "{{ not response.get('_links', {}).get('next') }}"

  wiki_spaces_schema:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - unique_key
      - tenant_id
      - source_id
    properties:
      unique_key: {type: ["string", "null"]}
      tenant_id: {type: ["string", "null"]}
      source_id: {type: ["string", "null"]}
      data_source: {type: ["string", "null"]}
      space_id: {type: ["string", "null"]}
      name: {type: ["string", "null"]}
      description: {type: ["string", "null"]}
      space_type: {type: ["string", "null"]}
      status: {type: ["string", "null"]}
      url: {type: ["string", "null"]}
      created_at: {type: ["string", "null"]}
      collected_at: {type: ["string", "null"]}
    additionalProperties: true

  wiki_pages_schema:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - unique_key
      - tenant_id
      - source_id
    properties:
      unique_key: {type: ["string", "null"]}
      tenant_id: {type: ["string", "null"]}
      source_id: {type: ["string", "null"]}
      data_source: {type: ["string", "null"]}
      page_id: {type: ["string", "null"]}
      space_id: {type: ["string", "null"]}
      title: {type: ["string", "null"]}
      status: {type: ["string", "null"]}
      author_id: {type: ["string", "null"]}
      last_editor_id: {type: ["string", "null"]}
      created_at: {type: ["string", "null"]}
      updated_at: {type: ["string", "null"]}
      version_number: {type: ["integer", "null"]}
      parent_page_id: {type: ["string", "null"]}
      collected_at: {type: ["string", "null"]}
    additionalProperties: true

  wiki_page_versions_schema:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - unique_key
      - tenant_id
      - source_id
    properties:
      unique_key: {type: ["string", "null"]}
      tenant_id: {type: ["string", "null"]}
      source_id: {type: ["string", "null"]}
      data_source: {type: ["string", "null"]}
      page_id: {type: ["string", "null"]}
      version_number: {type: ["integer", "null"]}
      author_id: {type: ["string", "null"]}
      created_at: {type: ["string", "null"]}
      message: {type: ["string", "null"]}
      minor_edit: {type: ["boolean", "null"]}
      collected_at: {type: ["string", "null"]}
    additionalProperties: true

  # Comments (issue #285): four streams in a 2x2 matrix.
  #   footer vs inline   — kind of comment (page-bottom vs highlight-anchored)
  #   top-level vs reply — page-level listing endpoints return ONLY top-level
  #                        comments. Replies are fetched via a separate
  #                        /{kind}-comments/{id}/children endpoint per
  #                        top-level comment.
  # All four schemas share a common base; inline top-level adds the highlight
  # anchor fields; reply schemas carry parent_comment_id.
  wiki_footer_comments_schema:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - unique_key
      - tenant_id
      - source_id
    properties:
      unique_key: {type: ["string", "null"]}
      tenant_id: {type: ["string", "null"]}
      source_id: {type: ["string", "null"]}
      data_source: {type: ["string", "null"]}
      comment_id: {type: ["string", "null"]}
      page_id: {type: ["string", "null"]}
      author_id: {type: ["string", "null"]}
      created_at: {type: ["string", "null"]}
      body_storage: {type: ["string", "null"]}
      resolution_status: {type: ["string", "null"]}
      collected_at: {type: ["string", "null"]}
    additionalProperties: true

  wiki_footer_comment_replies_schema:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - unique_key
      - tenant_id
      - source_id
    properties:
      unique_key: {type: ["string", "null"]}
      tenant_id: {type: ["string", "null"]}
      source_id: {type: ["string", "null"]}
      data_source: {type: ["string", "null"]}
      comment_id: {type: ["string", "null"]}
      page_id: {type: ["string", "null"]}
      parent_comment_id: {type: ["string", "null"]}
      author_id: {type: ["string", "null"]}
      created_at: {type: ["string", "null"]}
      body_storage: {type: ["string", "null"]}
      collected_at: {type: ["string", "null"]}
    additionalProperties: true

  wiki_inline_comments_schema:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - unique_key
      - tenant_id
      - source_id
    properties:
      unique_key: {type: ["string", "null"]}
      tenant_id: {type: ["string", "null"]}
      source_id: {type: ["string", "null"]}
      data_source: {type: ["string", "null"]}
      comment_id: {type: ["string", "null"]}
      page_id: {type: ["string", "null"]}
      author_id: {type: ["string", "null"]}
      created_at: {type: ["string", "null"]}
      body_storage: {type: ["string", "null"]}
      resolution_status: {type: ["string", "null"]}
      inline_marker_ref: {type: ["string", "null"]}
      inline_original_selection: {type: ["string", "null"]}
      collected_at: {type: ["string", "null"]}
    additionalProperties: true

  wiki_inline_comment_replies_schema:
    type: object
    $schema: http://json-schema.org/schema#
    required:
      - unique_key
      - tenant_id
      - source_id
    properties:
      unique_key: {type: ["string", "null"]}
      tenant_id: {type: ["string", "null"]}
      source_id: {type: ["string", "null"]}
      data_source: {type: ["string", "null"]}
      comment_id: {type: ["string", "null"]}
      page_id: {type: ["string", "null"]}
      parent_comment_id: {type: ["string", "null"]}
      author_id: {type: ["string", "null"]}
      created_at: {type: ["string", "null"]}
      body_storage: {type: ["string", "null"]}
      collected_at: {type: ["string", "null"]}
    additionalProperties: true

streams:
  - type: DeclarativeStream
    name: wiki_spaces
    primary_key:
      - unique_key
    supported_sync_modes:
      - full_refresh
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/definitions/wiki_spaces_schema"
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/base_requester"
        path: /wiki/api/v2/spaces
        request_parameters:
          limit: "{{ config.get('confluence_page_size', 100) }}"
      paginator:
        $ref: "#/definitions/confluence_paginator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
    transformations:
      - $ref: "#/definitions/add_fields"
      - type: AddFields
        fields:
          - path: [space_id]
            value: "{{ record['id'] }}"
          - path: [name]
            value: "{{ record.get('name', '') }}"
          - path: [description]
            value: >-
              {{ (record.get('description', {}) or {}).get('plain', {}).get('value', '') }}
          - path: [space_type]
            value: "{{ record['type'] }}"
          - path: [status]
            value: >-
              {{ 'active' if record.get('status') == 'current' else record.get('status', '') }}
          - path: [url]
            value: >-
              {{ record.get('_links', {}).get('webui', '') if record.get('_links', {}).get('webui', '').startswith('http') else config['confluence_instance_url'] + record.get('_links', {}).get('webui', '') }}
          - path: [created_at]
            value: "{{ record.get('createdAt', '') }}"
          - path: [collected_at]
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S.000Z') }}"
          - path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}-{{ config['insight_source_id']
              }}-{{ record['id'] }}

  - type: DeclarativeStream
    name: wiki_pages
    primary_key:
      - unique_key
    supported_sync_modes:
      - full_refresh
      - incremental
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/definitions/wiki_pages_schema"
    retriever:
      type: SimpleRetriever
      requester:
        $ref: "#/definitions/base_requester"
        path: /wiki/api/v2/pages
        request_parameters:
          status: current,archived,trashed
          sort: -modified-date
          limit: "{{ config.get('confluence_page_size', 100) }}"
      paginator:
        $ref: "#/definitions/confluence_paginator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      is_client_side_incremental: true
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%fZ"
        - "%Y-%m-%dT%H:%M:%S.%f%z"
        - "%Y-%m-%d"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config.get('confluence_start_date', '2020-01-01') }}"
        datetime_format: "%Y-%m-%d"
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S.%fZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
    transformations:
      - $ref: "#/definitions/add_fields"
      - type: AddFields
        fields:
          - path: [page_id]
            value: "{{ record['id'] }}"
          - path: [space_id]
            value: "{{ record['spaceId'] }}"
          - path: [author_id]
            value: "{{ record.get('authorId', '') }}"
          - path: [last_editor_id]
            value: "{{ record.get('version', {}).get('authorId', '') }}"
          - path: [created_at]
            value: "{{ record.get('createdAt', '') }}"
          - path: [updated_at]
            value: "{{ record.get('version', {}).get('createdAt', '') }}"
          - path: [version_number]
            value: "{{ record.get('version', {}).get('number', '') }}"
          - path: [parent_page_id]
            value: "{{ record.get('parentId', '') }}"
          - path: [collected_at]
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S.000Z') }}"
          - path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}-{{ config['insight_source_id']
              }}-{{ record['id'] }}

  - type: DeclarativeStream
    name: wiki_page_versions
    primary_key:
      - unique_key
    supported_sync_modes:
      - full_refresh
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/definitions/wiki_page_versions_schema"
    retriever:
      type: SimpleRetriever
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: page_id
            partition_field: page_id
            stream:
              $ref: "#/streams/1"
      requester:
        $ref: "#/definitions/base_requester"
        path: /wiki/api/v2/pages/{{ stream_partition.page_id }}/versions
        request_parameters:
          limit: "{{ config.get('confluence_page_size', 100) }}"
        error_handler:
          $ref: "#/definitions/child_error_handler"
      paginator:
        $ref: "#/definitions/confluence_paginator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
    transformations:
      - $ref: "#/definitions/add_fields"
      - type: AddFields
        fields:
          - path: [page_id]
            value: "{{ stream_partition.page_id }}"
          - path: [version_number]
            value: "{{ record.get('number', '') }}"
          - path: [author_id]
            value: "{{ record.get('authorId', '') }}"
          - path: [created_at]
            value: "{{ record.get('createdAt', '') }}"
          - path: [message]
            value: "{{ record.get('message', '') }}"
          - path: [minor_edit]
            value: "{{ record.get('minorEdit', false) }}"
          - path: [collected_at]
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S.000Z') }}"
          - path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}-{{ config['insight_source_id']
              }}-{{ stream_partition.page_id }}-{{ record['number'] }}

  # ─── Comments (issue #285) ────────────────────────────────────────────
  # Streams 4, 5, 6, 7 — top-level + replies for both footer and inline
  # comments. Replies require a separate API call per top-level comment
  # because the page-level listing endpoints don't include them; this is
  # implemented as a 2-level SubstreamPartitionRouter chain
  # (wiki_pages → top-level comments → replies).

  - type: DeclarativeStream
    name: wiki_footer_comments
    primary_key:
      - unique_key
    supported_sync_modes:
      - full_refresh
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/definitions/wiki_footer_comments_schema"
    retriever:
      type: SimpleRetriever
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: page_id
            partition_field: page_id
            stream:
              $ref: "#/streams/1"
      requester:
        $ref: "#/definitions/base_requester"
        path: /wiki/api/v2/pages/{{ stream_partition.page_id }}/footer-comments
        request_parameters:
          limit: "{{ config.get('confluence_page_size', 100) }}"
          body-format: storage
        error_handler:
          $ref: "#/definitions/child_error_handler"
      paginator:
        $ref: "#/definitions/confluence_paginator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
    transformations:
      - $ref: "#/definitions/add_fields"
      - type: AddFields
        fields:
          - path: [comment_id]
            value: "{{ record['id'] }}"
          - path: [page_id]
            value: "{{ stream_partition.page_id }}"
          - path: [author_id]
            value: "{{ (record.get('version', {}) or {}).get('authorId', '') }}"
          - path: [created_at]
            value: "{{ (record.get('version', {}) or {}).get('createdAt', '') }}"
          - path: [body_storage]
            value: >-
              {{ (record.get('body', {}) or {}).get('storage', {}).get('value', '') }}
          - path: [resolution_status]
            value: "{{ record.get('resolutionStatus', '') }}"
          - path: [collected_at]
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S.000Z') }}"
          - path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}-{{ config['insight_source_id']
              }}-{{ record['id'] }}

  - type: DeclarativeStream
    name: wiki_footer_comment_replies
    primary_key:
      - unique_key
    supported_sync_modes:
      - full_refresh
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/definitions/wiki_footer_comment_replies_schema"
    retriever:
      type: SimpleRetriever
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: comment_id
            partition_field: parent_comment_id
            stream:
              $ref: "#/streams/3"
      requester:
        $ref: "#/definitions/base_requester"
        path: /wiki/api/v2/footer-comments/{{ stream_partition.parent_comment_id }}/children
        request_parameters:
          limit: "{{ config.get('confluence_page_size', 100) }}"
          body-format: storage
        error_handler:
          $ref: "#/definitions/child_error_handler"
      paginator:
        $ref: "#/definitions/confluence_paginator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
    transformations:
      - $ref: "#/definitions/add_fields"
      - type: AddFields
        fields:
          - path: [comment_id]
            value: "{{ record['id'] }}"
          - path: [page_id]
            value: "{{ record.get('pageId', '') }}"
          - path: [parent_comment_id]
            value: "{{ stream_partition.parent_comment_id }}"
          - path: [author_id]
            value: "{{ (record.get('version', {}) or {}).get('authorId', '') }}"
          - path: [created_at]
            value: "{{ (record.get('version', {}) or {}).get('createdAt', '') }}"
          - path: [body_storage]
            value: >-
              {{ (record.get('body', {}) or {}).get('storage', {}).get('value', '') }}
          - path: [collected_at]
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S.000Z') }}"
          - path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}-{{ config['insight_source_id']
              }}-{{ record['id'] }}

  - type: DeclarativeStream
    name: wiki_inline_comments
    primary_key:
      - unique_key
    supported_sync_modes:
      - full_refresh
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/definitions/wiki_inline_comments_schema"
    retriever:
      type: SimpleRetriever
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: page_id
            partition_field: page_id
            stream:
              $ref: "#/streams/1"
      requester:
        $ref: "#/definitions/base_requester"
        path: /wiki/api/v2/pages/{{ stream_partition.page_id }}/inline-comments
        request_parameters:
          limit: "{{ config.get('confluence_page_size', 100) }}"
          body-format: storage
        error_handler:
          $ref: "#/definitions/child_error_handler"
      paginator:
        $ref: "#/definitions/confluence_paginator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
    transformations:
      - $ref: "#/definitions/add_fields"
      - type: AddFields
        fields:
          - path: [comment_id]
            value: "{{ record['id'] }}"
          - path: [page_id]
            value: "{{ stream_partition.page_id }}"
          - path: [author_id]
            value: "{{ (record.get('version', {}) or {}).get('authorId', '') }}"
          - path: [created_at]
            value: "{{ (record.get('version', {}) or {}).get('createdAt', '') }}"
          - path: [body_storage]
            value: >-
              {{ (record.get('body', {}) or {}).get('storage', {}).get('value', '') }}
          - path: [resolution_status]
            value: "{{ record.get('resolutionStatus', '') }}"
          - path: [inline_marker_ref]
            value: >-
              {{ (record.get('properties', {}) or {}).get('inlineMarkerRef', '') }}
          - path: [inline_original_selection]
            value: >-
              {{ (record.get('properties', {}) or {}).get('inlineOriginalSelection', '') }}
          - path: [collected_at]
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S.000Z') }}"
          - path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}-{{ config['insight_source_id']
              }}-{{ record['id'] }}

  - type: DeclarativeStream
    name: wiki_inline_comment_replies
    primary_key:
      - unique_key
    supported_sync_modes:
      - full_refresh
    schema_loader:
      type: InlineSchemaLoader
      schema:
        $ref: "#/definitions/wiki_inline_comment_replies_schema"
    retriever:
      type: SimpleRetriever
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: comment_id
            partition_field: parent_comment_id
            stream:
              $ref: "#/streams/5"
      requester:
        $ref: "#/definitions/base_requester"
        path: /wiki/api/v2/inline-comments/{{ stream_partition.parent_comment_id }}/children
        request_parameters:
          limit: "{{ config.get('confluence_page_size', 100) }}"
          body-format: storage
        error_handler:
          $ref: "#/definitions/child_error_handler"
      paginator:
        $ref: "#/definitions/confluence_paginator"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - results
    transformations:
      - $ref: "#/definitions/add_fields"
      - type: AddFields
        fields:
          - path: [comment_id]
            value: "{{ record['id'] }}"
          - path: [page_id]
            value: "{{ record.get('pageId', '') }}"
          - path: [parent_comment_id]
            value: "{{ stream_partition.parent_comment_id }}"
          - path: [author_id]
            value: "{{ (record.get('version', {}) or {}).get('authorId', '') }}"
          - path: [created_at]
            value: "{{ (record.get('version', {}) or {}).get('createdAt', '') }}"
          - path: [body_storage]
            value: >-
              {{ (record.get('body', {}) or {}).get('storage', {}).get('value', '') }}
          - path: [collected_at]
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S.000Z') }}"
          - path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}-{{ config['insight_source_id']
              }}-{{ record['id'] }}

# default_concurrency MUST be >= 2. With 1 worker the concurrent CDK
# self-deadlocks once a sync generates >= ~10k partitions (the CDK futures
# limit): the only worker thread runs generate_partitions and throttles on
# "futures limit reached" while the partition-read futures have no other
# worker to run them. This connector hit it in production via the
# wiki_page_versions fan-out over wiki_pages — every sync froze at exactly
# "Records read: 10000" (the futures limit) with CPU-busy spin and zero I/O.
# See the jira connector for the full diagnosis.
concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: 4

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    required:
      - insight_tenant_id
      - insight_source_id
      - confluence_instance_url
      - confluence_email
      - confluence_api_token
    properties:
      insight_tenant_id:
        type: string
        description: Insight tenant identifier stamped onto every emitted record.
        title: Insight Tenant ID
        order: 0
      insight_source_id:
        type: string
        description: >-
          Instance discriminator for multi-instance support (e.g.
          confluence-acme).
        title: Insight Source ID
        order: 1
      confluence_instance_url:
        type: string
        description: >-
          Confluence Cloud instance URL (e.g. https://myorg.atlassian.net). Do
          not include a trailing slash.
        title: Confluence Instance URL
        order: 2
      confluence_email:
        type: string
        description: Email address associated with the Atlassian API token.
        title: Confluence Email
        order: 3
      confluence_api_token:
        type: string
        description: Atlassian API token generated at id.atlassian.com.
        title: Confluence API Token
        airbyte_secret: true
        order: 4
      confluence_start_date:
        type: string
        description: >-
          Earliest date for incremental sync (YYYY-MM-DD). Defaults to
          2020-01-01.
        title: Start Date
        format: date
        default: "2020-01-01"
        order: 5
      confluence_page_size:
        type: integer
        description: >-
          Number of results per API page (default 100, max 250).
        title: Page Size
        default: 100
        minimum: 1
        maximum: 250
        order: 6
    additionalProperties: true

metadata:
  autoImportSchema:
    wiki_spaces: false
    wiki_pages: false
    wiki_page_versions: false
    wiki_footer_comments: false
    wiki_footer_comment_replies: false
    wiki_inline_comments: false
    wiki_inline_comment_replies: false
