version: 7.0.4

type: DeclarativeSource

# GitHub connector built on the git-cli-proxy (issue #2224).
#
# Two upstreams in ONE manifest: repository discovery and the PR/issue/CI
# streams talk to api.github.com, while commit-level extraction talks to the
# proxy, which serves it from a bare blobless clone instead of one API call
# per commit.
#
# YAML anchors (not $ref) carry the shared requesters and the slim parent
# streams: anchors resolve at parse time, so the Builder strict validator sees
# plain inlined objects — the same shape github-directory ships with.
#
# org_members is deliberately ABSENT: the deployed github-directory connector
# already syncs the org roster for identity resolution. Folding it in here is
# a separate migration.
#
# Jinja rule inherited from the github-directory "None" incident: every
# computed nullable string field coalesces with `or ''` — a rendered Jinja
# `none` under value_type: string stores the literal text "None" as a value.

# GitHub meters REST and GraphQL as two separate 5000/hour budgets, both
# reported through the same X-RateLimit-* headers. An error handler cannot wait
# one out: DefaultErrorHandler caps total backoff at 600 seconds and the
# manifest has no field to raise it. The budget paces requests before they are
# sent and sleeps until the window resets, which a reset an hour away needs.
# Matchers split the two budgets by method: GET is REST, POST is GraphQL — a
# policy added without a method would claim both.
api_budget:
  type: HTTPAPIBudget
  ratelimit_reset_header: X-RateLimit-Reset
  ratelimit_remaining_header: X-RateLimit-Remaining
  status_codes_for_ratelimit_hit: [403, 429]
  policies:
    - type: FixedWindowCallRatePolicy
      period: PT1H
      call_limit: 5000
      matchers:
        - method: POST
          url_base: https://api.github.com
          url_path_pattern: ^/graphql
    - type: FixedWindowCallRatePolicy
      period: PT1H
      call_limit: 5000
      matchers:
        - method: GET
          url_base: https://api.github.com

definitions:
  # The CDK resolves backoff per requester, not per response filter: the first
  # strategy returning a value wins for every retryable response. X-RateLimit-Reset
  # is stamped on GitHub responses of any status, so reading it here would put a
  # transient 5xx to sleep until the hourly window resets. Retry-After covers the
  # throttles that carry it; everything else backs off exponentially.
  backoff_strategies: &backoff_strategies
    - type: WaitTimeFromHeader
      header: Retry-After
      max_waiting_time_in_seconds: 600
    - type: ExponentialBackoffStrategy
      factor: 2

  rest_error_handler: &rest_error_handler
    type: DefaultErrorHandler
    max_retries: 8
    backoff_strategies: *backoff_strategies
    response_filters:
      # ORDER MATTERS. GitHub reports its secondary rate limits as 403, not
      # 429, so the throttle predicates must run before any 403 handling —
      # otherwise a throttle is mistaken for a denial and skipped or failed.
      - type: HttpResponseFilter
        action: RATE_LIMITED
        http_codes: [403, 429]
        predicate: "{{ 'secondary rate limit' in ((response.get('message') or '') | lower) }}"
      - type: HttpResponseFilter
        action: RATE_LIMITED
        http_codes: [403, 429]
        predicate: "{{ headers.get('x-ratelimit-remaining') == '0' }}"
      - type: HttpResponseFilter
        action: RATE_LIMITED
        http_codes: [429]
      - type: HttpResponseFilter
        action: FAIL
        http_codes: [401]
        failure_type: config_error
        error_message: GitHub rejected the token; check github_token scopes (repo, read:org, read:project)
      - type: HttpResponseFilter
        action: RETRY
        http_codes: [500, 502, 503, 504]
        error_message: Transient GitHub error

  # GraphQL errors arrive as HTTP 200 with an `errors` array, so the HTTP-code
  # filters above never see them. Repo-scoped queries add one more case: an
  # inaccessible repository is a 200 whose `data.repository` is null and whose
  # error type is NOT_FOUND or FORBIDDEN — the same skip-not-fail class as a
  # REST 403/404, and fatal to a whole sync if treated as a query error.
  graphql_error_handler: &graphql_error_handler
    type: DefaultErrorHandler
    max_retries: 5
    backoff_strategies: *backoff_strategies
    response_filters:
      - type: HttpResponseFilter
        action: RATE_LIMITED
        http_codes: [429]
      - type: HttpResponseFilter
        action: RATE_LIMITED
        predicate: "{{ (response.get('errors') or []) | selectattr('type', 'in', ['RATE_LIMITED', 'RATE_LIMIT']) | list | length > 0 }}"
      - type: HttpResponseFilter
        action: RATE_LIMITED
        predicate: "{{ 'rate limit' in ((response.get('errors') or []) | map(attribute='message') | join(' ') | lower) }}"
      - type: HttpResponseFilter
        action: FAIL
        http_codes: [401]
        failure_type: config_error
        error_message: GitHub rejected the token; check github_token scopes (repo, read:org, read:project)
      # Any other GraphQL error still arrives as HTTP 200, and a query-level
      # one omits `data` entirely; without this the extractor finds nothing and
      # the paginator throws an unreadable interpolation error. Fail with what
      # GitHub actually said.
      - type: HttpResponseFilter
        action: FAIL
        predicate: "{{ (response.get('errors') or []) | length > 0 }}"
        error_message: "GitHub GraphQL error: {{ (response.get('errors') or []) | map(attribute='message') | join('; ') }}"
      - type: HttpResponseFilter
        action: RETRY
        http_codes: [500, 502, 503, 504]

  graphql_error_handler_repo_scoped: &graphql_error_handler_repo_scoped
    type: DefaultErrorHandler
    max_retries: 5
    backoff_strategies: *backoff_strategies
    response_filters:
      - type: HttpResponseFilter
        action: RATE_LIMITED
        http_codes: [429]
      - type: HttpResponseFilter
        action: RATE_LIMITED
        predicate: "{{ (response.get('errors') or []) | selectattr('type', 'in', ['RATE_LIMITED', 'RATE_LIMIT']) | list | length > 0 }}"
      - type: HttpResponseFilter
        action: RATE_LIMITED
        predicate: "{{ 'rate limit' in ((response.get('errors') or []) | map(attribute='message') | join(' ') | lower) }}"
      - type: HttpResponseFilter
        action: FAIL
        http_codes: [401]
        failure_type: config_error
        error_message: GitHub rejected the token; check github_token scopes (repo, read:org, read:project)
      - type: HttpResponseFilter
        action: IGNORE
        predicate: "{{ (response.get('errors') or []) | selectattr('type', 'in', ['NOT_FOUND', 'FORBIDDEN']) | list | length > 0 }}"
        error_message: Repository not visible to this token; other repositories continue.
      - type: HttpResponseFilter
        action: FAIL
        predicate: "{{ (response.get('errors') or []) | length > 0 }}"
        error_message: "GitHub GraphQL error: {{ (response.get('errors') or []) | map(attribute='message') | join('; ') }}"
      - type: HttpResponseFilter
        action: RETRY
        http_codes: [500, 502, 503, 504]

  # Same handler, plus per-repository denial tolerance for repo-scoped
  # substreams: a fine-grained token can see the org listing yet 403/404 on
  # individual repositories (or a feature — Actions, issues — is disabled).
  # The partition is skipped; the sync continues. 410 is "issues disabled".
  rest_error_handler_repo_scoped: &rest_error_handler_repo_scoped
    type: DefaultErrorHandler
    max_retries: 8
    backoff_strategies: *backoff_strategies
    response_filters:
      - type: HttpResponseFilter
        action: RATE_LIMITED
        http_codes: [403, 429]
        predicate: "{{ 'secondary rate limit' in ((response.get('message') or '') | lower) }}"
      - type: HttpResponseFilter
        action: RATE_LIMITED
        http_codes: [403, 429]
        predicate: "{{ headers.get('x-ratelimit-remaining') == '0' }}"
      - type: HttpResponseFilter
        action: RATE_LIMITED
        http_codes: [429]
      - type: HttpResponseFilter
        action: IGNORE
        http_codes: [403, 404, 410]
        error_message: Repository (or this feature on it) not accessible; other repositories continue.
      - type: HttpResponseFilter
        action: FAIL
        http_codes: [401]
        failure_type: config_error
        error_message: GitHub rejected the token; check github_token scopes (repo, read:org, read:project)
      - type: HttpResponseFilter
        action: RETRY
        http_codes: [500, 502, 503, 504]
        error_message: Transient GitHub error

  rest_requester: &rest_requester
    type: HttpRequester
    url_base: https://api.github.com
    http_method: GET
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config['github_token'] }}"
    request_headers:
      Accept: application/vnd.github+json
      X-GitHub-Api-Version: "2022-11-28"
    error_handler: *rest_error_handler

  proxy_error_handler: &proxy_error_handler
    type: DefaultErrorHandler
    # Generous on purpose: a cold blobless clone of a large repository runs
    # for many Retry-After cycles before the first page can be served.
    max_retries: 100
    backoff_strategies:
      - type: WaitTimeFromHeader
        header: Retry-After
        max_waiting_time_in_seconds: 600
    response_filters:
      # The repository is being cloned or purged in the background: the proxy
      # is working, the caller waits.
      - type: HttpResponseFilter
        http_codes: [429]
        action: RETRY
        error_message: Repository is being prepared by the proxy
      # Both are permanent for THIS repository and harmless for the rest, so
      # the partition is skipped rather than the whole stream failed. A rising
      # git_proxy_rejections_total is the operator's alert.
      - type: HttpResponseFilter
        http_codes: [404, 413]
        action: IGNORE
        error_message: >-
          Skipping this repository: gone at origin (404), or larger than
          cache.maxRepoBytes (413). Other repositories continue.
      # The pinned snapshot was superseded mid-walk. RETRY would replay the
      # same dead page token and 409 again; rerunning the sync resumes each
      # partition from its own stored cursor against a fresh snapshot.
      - type: HttpResponseFilter
        http_codes: [409]
        action: FAIL
        error_message: Proxy snapshot changed mid-walk; rerun the sync to resume from the stored cursor
      - type: HttpResponseFilter
        http_codes: [500, 502, 503, 504]
        action: RETRY
        error_message: Transient proxy error (the gateway can time out a worst-case page under contention)

  proxy_requester: &proxy_requester
    type: HttpRequester
    url_base: "{{ config['git_proxy_url'] }}"
    http_method: GET
    authenticator:
      type: BearerAuthenticator
      api_token: "{{ config['git_proxy_token'] }}"
    request_headers:
      X-Tenant-Id: "{{ config['insight_tenant_id'] }}"
      X-Source-Id: "{{ config['insight_source_id'] }}"
      X-Git-Username: x-access-token
      X-Git-Token: "{{ config['github_token'] }}"
    error_handler: *proxy_error_handler

  standard_fields: &standard_fields
    - type: AddedFieldDefinition
      path: [tenant_id]
      value: "{{ config['insight_tenant_id'] }}"
      value_type: string
    - type: AddedFieldDefinition
      path: [source_id]
      value: "{{ config['insight_source_id'] }}"
      value_type: string
    - type: AddedFieldDefinition
      path: [data_source]
      value: insight_github
      value_type: string
    - type: AddedFieldDefinition
      path: [collected_at]
      value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
      value_type: string

  # Slim repository roster the proxy streams and repo-scoped substreams
  # partition over. Client-side incremental on pushed_at (the endpoint has no
  # server-side filter; sort=pushed asc keeps the cursor monotonic), so with
  # incremental_dependency only repositories pushed since the last sync are
  # visited. The CDK auto-caches parents, so the aliased copies share one
  # HTTP pass per sync.
  repositories_pushed_parent: &repositories_pushed_parent
    type: DeclarativeStream
    name: repositories_pushed
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id: {type: [integer, "null"]}
          full_name: {type: [string, "null"]}
          clone_url: {type: [string, "null"]}
          pushed_at: {type: [string, "null"]}
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        <<: *rest_requester
        path: "/orgs/{{ stream_partition.org }}/repos"
        request_parameters:
          type: all
          sort: pushed
          direction: asc
          per_page: "100"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
        record_filter:
          type: RecordFilter
          # A fork's clone carries its whole upstream history, so admitting one
          # attributes every upstream commit to this organization.
          condition: "{{ not record.get('archived', false) and not record.get('fork', false) }}"
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ headers['link']['next']['url'] }}"
          stop_condition: "{{ 'next' not in headers.get('link', {}) }}"
        page_token_option:
          type: RequestPath
      partition_router:
        type: ListPartitionRouter
        values: "{{ config['github_organizations'] }}"
        cursor_field: org
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: pushed_at
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S%z"
      is_client_side_incremental: true
      # A repository whose last push predates the start date has no commit,
      # file change or author inside the window, so it is never worth the
      # clone the proxy streams would spend on it. `pushed_at` is never older
      # than the newest commit's push, so nothing in the window is lost by
      # dropping it here. The endpoint offers no date filter, hence the
      # client-side drop — and the CDK refuses to pair that with a data-feed
      # stop, so the listing itself is still walked whole.
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['github_start_date'] }}"
        datetime_format: "%Y-%m-%d"

  # Full roster (no pushed_at gate): reviews/comments/issues/CI advance
  # without pushes, so their parents must not be push-gated.
  repositories_all_parent: &repositories_all_parent
    type: DeclarativeStream
    name: repositories_all
    primary_key:
      - id
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id: {type: [integer, "null"]}
          full_name: {type: [string, "null"]}
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        <<: *rest_requester
        path: "/orgs/{{ stream_partition.org }}/repos"
        request_parameters:
          type: all
          per_page: "100"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
        record_filter:
          type: RecordFilter
          # A fork's clone carries its whole upstream history, so admitting one
          # attributes every upstream commit to this organization.
          condition: "{{ not record.get('archived', false) and not record.get('fork', false) }}"
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ headers['link']['next']['url'] }}"
          stop_condition: "{{ 'next' not in headers.get('link', {}) }}"
        page_token_option:
          type: RequestPath
      partition_router:
        type: ListPartitionRouter
        values: "{{ config['github_organizations'] }}"
        cursor_field: org

check:
  type: CheckStream
  # branches is the cheapest proxy-backed stream, and it is checked so a wrong
  # git_proxy_url or git_proxy_token fails setup instead of the first sync: the
  # proxy answers an unauthenticated call with 401, which the CDK maps to a
  # config error. On a repository the proxy has not cloned yet this waits out
  # the clone, so a first check can be slow.
  stream_names:
    - repositories
    - branches

streams:
  # ── Repository roster (GitHub API) ──────────────────────────────────────
  # Full refresh: metadata of push-quiet repositories must not freeze, so the
  # roster is never gated on pushed_at (the proxy parents are — separately).
  - type: DeclarativeStream
    name: repositories
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          collected_at: {type: [string, "null"]}
          id: {type: [integer, "null"]}
          full_name: {type: [string, "null"]}
          name: {type: [string, "null"]}
          org: {type: [string, "null"]}
          default_branch: {type: [string, "null"]}
          archived: {type: [boolean, "null"]}
          fork: {type: [boolean, "null"]}
          private: {type: [boolean, "null"]}
          has_issues: {type: [boolean, "null"]}
          has_wiki: {type: [boolean, "null"]}
          has_projects: {type: [boolean, "null"]}
          has_discussions: {type: [boolean, "null"]}
          has_pages: {type: [boolean, "null"]}
          is_template: {type: [boolean, "null"]}
          disabled: {type: [boolean, "null"]}
          web_commit_signoff_required: {type: [boolean, "null"]}
          visibility: {type: [string, "null"]}
          license_spdx_id: {type: [string, "null"]}
          topics: {type: [string, "null"]}
          homepage: {type: [string, "null"]}
          stargazers_count: {type: [integer, "null"]}
          forks_count: {type: [integer, "null"]}
          watchers_count: {type: [integer, "null"]}
          open_issues_count: {type: [integer, "null"]}
          language: {type: [string, "null"]}
          size: {type: [integer, "null"]}
          clone_url: {type: [string, "null"]}
          html_url: {type: [string, "null"]}
          created_at: {type: [string, "null"]}
          updated_at: {type: [string, "null"]}
          pushed_at: {type: [string, "null"]}
          description: {type: [string, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        <<: *rest_requester
        path: "/orgs/{{ stream_partition.org }}/repos"
        request_parameters:
          type: all
          per_page: "100"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
        record_filter:
          type: RecordFilter
          # A fork's clone carries its whole upstream history, so admitting one
          # attributes every upstream commit to this organization.
          condition: "{{ not record.get('archived', false) and not record.get('fork', false) }}"
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ headers['link']['next']['url'] }}"
          stop_condition: "{{ 'next' not in headers.get('link', {}) }}"
        page_token_option:
          type: RequestPath
      partition_router:
        type: ListPartitionRouter
        values: "{{ config['github_organizations'] }}"
        cursor_field: org
    transformations:
      - type: AddFields
        fields: *standard_fields
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [org]
            value: "{{ stream_partition.org }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [description]
            value: "{{ (record.get('description') or '')[:1024] }}"
            value_type: string
          # `private` is a boolean, so an organization's internal repositories
          # are indistinguishable from private ones without this.
          - type: AddedFieldDefinition
            path: [visibility]
            value: "{{ record.get('visibility') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [license_spdx_id]
            value: "{{ (record.get('license') or {}).get('spdx_id') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [topics]
            value: "{{ (record.get('topics') or []) | tojson }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ record['id'] }}
      - type: RemoveFields
        # Hoisted above; the nested originals stay out of bronze.
        field_pointers:
          - [license]
          - [owner]
          - [permissions]
          - [custom_properties]

  # ── commits (git-cli-proxy) ────────────────────────────────────────
  - type: DeclarativeStream
    name: commits
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          collected_at: {type: [string, "null"]}
          repository: {type: [string, "null"]}
          sha: {type: [string, "null"]}
          message: {type: [string, "null"]}
          authored_date: {type: [string, "null"]}
          committed_date: {type: [string, "null"]}
          author_name: {type: [string, "null"]}
          author_email: {type: [string, "null"]}
          committer_name: {type: [string, "null"]}
          committer_email: {type: [string, "null"]}
          parent_hashes: {type: [array, "null"], items: {type: string}}
          is_merge: {type: [boolean, "null"]}
          additions: {type: [integer, "null"]}
          deletions: {type: [integer, "null"]}
          changed_files: {type: [integer, "null"]}
          is_in_default_branch: {type: [boolean, "null"]}
          patch_id: {type: [string, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        <<: *proxy_requester
        path: /v1/commits
        request_parameters:
          repo: "{{ stream_partition.repo_clone_url }}"
          page_size: "500"

      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [items]
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response['next_page_token'] }}"
          stop_condition: "{{ not response.get('next_page_token') }}"
        page_token_option:
          type: RequestOption
          field_name: page_token
          inject_into: request_parameter
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: clone_url
            partition_field: repo_clone_url
            # `incremental_dependency` keeps the sync proportional to
            # activity: parent state persists only because this child is
            # itself incremental.
            incremental_dependency: true
            stream: *repositories_pushed_parent
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: committed_date
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      # `git log --since` is a traversal cutoff: after a rebase the
      # replacement commits can carry dates BELOW the stored cursor and would
      # never be visited again. Re-enumerating one window each sync recovers
      # them; bronze dedups the re-read rows.
      lookback_window: "P1M"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S%z"
        - "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['github_start_date'] }}"
        datetime_format: "%Y-%m-%d"
      start_time_option:
        type: RequestOption
        field_name: since
        inject_into: request_parameter
    transformations:
      - type: AddFields
        fields: *standard_fields
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [repository]
            value: "{{ stream_partition.repo_clone_url }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [message]
            value: "{{ (record.get('message') or '')[:2048] }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ stream_partition.repo_clone_url | replace(':', '%3A') }}:{{ record['sha'] | replace(':', '%3A') }}

  # ── file_changes (git-cli-proxy) ───────────────────────────────────
  - type: DeclarativeStream
    name: file_changes
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          collected_at: {type: [string, "null"]}
          repository: {type: [string, "null"]}
          sha: {type: [string, "null"]}
          committed_date: {type: [string, "null"]}
          filename: {type: [string, "null"]}
          previous_filename: {type: [string, "null"]}
          status: {type: [string, "null"]}
          additions: {type: [integer, "null"]}
          deletions: {type: [integer, "null"]}
          changes: {type: [integer, "null"]}
          is_binary: {type: [boolean, "null"]}
          patch: {type: [string, "null"]}
          patch_truncated: {type: [boolean, "null"]}
          # INVARIANT: bronze column order is the destination's insert order —
          # a new column appends at the tail.
          pre_image_oid: {type: [string, "null"]}
          post_image_oid: {type: [string, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        <<: *proxy_requester
        path: /v1/file-changes
        request_parameters:
          repo: "{{ stream_partition.repo_clone_url }}"
          # Worst-case page is page_size x max_patch_bytes, and the whole page
          # is buffered before a record is emitted. 100 keeps that under
          # 100 MB; the extra requests land on the proxy, not the vendor quota.
          page_size: "100"
          include_patch: "true"
          max_patch_bytes: "1048576"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [items]
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response['next_page_token'] }}"
          stop_condition: "{{ not response.get('next_page_token') }}"
        page_token_option:
          type: RequestOption
          field_name: page_token
          inject_into: request_parameter
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: clone_url
            partition_field: repo_clone_url
            # `incremental_dependency` keeps the sync proportional to
            # activity: parent state persists only because this child is
            # itself incremental.
            incremental_dependency: true
            stream: *repositories_pushed_parent
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: committed_date
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      # `git log --since` is a traversal cutoff: after a rebase the
      # replacement commits can carry dates BELOW the stored cursor and would
      # never be visited again. Re-enumerating one window each sync recovers
      # them; bronze dedups the re-read rows.
      lookback_window: "P1M"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S%z"
        - "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['github_start_date'] }}"
        datetime_format: "%Y-%m-%d"
      start_time_option:
        type: RequestOption
        field_name: since
        inject_into: request_parameter
    transformations:
      - type: AddFields
        fields: *standard_fields
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [repository]
            value: "{{ stream_partition.repo_clone_url }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ stream_partition.repo_clone_url | replace(':', '%3A') }}:{{ record['sha'] | replace(':', '%3A') }}:{{ record['filename'] | replace(':', '%3A') }}

  # ── branches (git-cli-proxy) ──────────────────────────────────
  - type: DeclarativeStream
    name: branches
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          collected_at: {type: [string, "null"]}
          repository: {type: [string, "null"]}
          name: {type: [string, "null"]}
          head_sha: {type: [string, "null"]}
          head_committed_date: {type: [string, "null"]}
          is_default: {type: [boolean, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        <<: *proxy_requester
        path: /v1/branches
        request_parameters:
          repo: "{{ stream_partition.repo_clone_url }}"
          page_size: "500"

      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [items]
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response['next_page_token'] }}"
          stop_condition: "{{ not response.get('next_page_token') }}"
        page_token_option:
          type: RequestOption
          field_name: page_token
          inject_into: request_parameter
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: clone_url
            partition_field: repo_clone_url
            # Full-refresh child: parent state would not persist, so no
            # incremental_dependency.
            incremental_dependency: false
            stream: *repositories_pushed_parent
    transformations:
      - type: AddFields
        fields: *standard_fields
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [repository]
            value: "{{ stream_partition.repo_clone_url }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ stream_partition.repo_clone_url | replace(':', '%3A') }}:{{ record['name'] | replace(':', '%3A') }}

  # ── Commit authors (git-cli-proxy + GitHub API) ─────────────────────────
  # A commit names an e-mail and no account, so a commit reaches a person only
  # once something claims that e-mail for one. The proxy enumerates the
  # distinct authors of a repository from the clone it already holds, and this
  # stream asks GitHub who each of them is — one call per AUTHOR, not per
  # commit, which is the whole reason the proxy answers first.
  #
  # `/repos/{repo}/commits/{sha}` reports the account GitHub matched the
  # commit's e-mail to, including addresses kept off the public profile. It
  # reports `author: null` where it can match none — a CI or service identity —
  # and those records are dropped rather than stored as an unresolved row.
  - type: DeclarativeStream
    name: commit_authors
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          collected_at: {type: [string, "null"]}
          repo_full_name: {type: [string, "null"]}
          author_email: {type: [string, "null"]}
          author_login: {type: [string, "null"]}
          author_id: {type: [integer, "null"]}
          author_type: {type: [string, "null"]}
          sample_sha: {type: [string, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        <<: *rest_requester
        error_handler: *rest_error_handler_repo_scoped
        path: "/repos/{{ stream_slice.extra_fields['repo_full_name'] }}/commits/{{ stream_partition.commit_sha }}"
      record_selector:
        type: RecordSelector
        extractor:
          # The response is one commit object, not a list.
          type: DpathExtractor
          field_path: []
        record_filter:
          type: RecordFilter
          # No account matched the e-mail; there is no claim to make. Compared
          # against '' rather than tested for truth: the interpolation renders a
          # missing login as the STRING "None", which is not falsy.
          condition: "{{ ((record.get('author') or {}).get('login') or '') != '' }}"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: sample_sha
            partition_field: commit_sha
            extra_fields:
              - [repo_full_name]
              - [author_email]
            stream:
              type: DeclarativeStream
              name: repository_authors
              primary_key:
                - author_email
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  type: object
                  $schema: http://json-schema.org/schema#
                  properties:
                    author_email: {type: [string, "null"]}
                    author_name: {type: [string, "null"]}
                    sample_sha: {type: [string, "null"]}
                    last_committed_date: {type: [string, "null"]}
                    commit_count: {type: [integer, "null"]}
                    repo_full_name: {type: [string, "null"]}
                  additionalProperties: true
              retriever:
                type: SimpleRetriever
                requester:
                  <<: *proxy_requester
                  path: /v1/authors
                  request_parameters:
                    repo: "{{ stream_partition.repo_clone_url }}"
                    page_size: "500"
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path: [items]
                paginator:
                  type: DefaultPaginator
                  pagination_strategy:
                    type: CursorPagination
                    cursor_value: "{{ response['next_page_token'] }}"
                    stop_condition: "{{ not response.get('next_page_token') }}"
                  page_token_option:
                    type: RequestOption
                    field_name: page_token
                    inject_into: request_parameter
                partition_router:
                  type: SubstreamPartitionRouter
                  parent_stream_configs:
                    - type: ParentStreamConfig
                      parent_key: clone_url
                      partition_field: repo_clone_url
                      extra_fields:
                        - [full_name]
                      incremental_dependency: true
                      stream: *repositories_pushed_parent
              incremental_sync:
                type: DatetimeBasedCursor
                cursor_field: last_committed_date
                datetime_format: "%Y-%m-%dT%H:%M:%S%z"
                cursor_datetime_formats:
                  - "%Y-%m-%dT%H:%M:%S%z"
                  - "%Y-%m-%dT%H:%M:%SZ"
                # An author already resolved keeps their claim, so a later sync
                # only needs the ones who have committed since — which is what
                # keeps this O(active authors) rather than O(authors).
                start_datetime:
                  type: MinMaxDatetime
                  datetime: "{{ config['github_start_date'] }}"
                  datetime_format: "%Y-%m-%d"
                start_time_option:
                  type: RequestOption
                  field_name: since
                  inject_into: request_parameter
              transformations:
                - type: AddFields
                  fields:
                    - type: AddedFieldDefinition
                      path: [repo_full_name]
                      value: "{{ stream_slice.extra_fields['full_name'] }}"
                      value_type: string
    transformations:
      - type: AddFields
        fields: *standard_fields
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [repo_full_name]
            value: "{{ stream_slice.extra_fields['repo_full_name'] }}"
            value_type: string
          # The e-mail the account was resolved FOR: the git ident the proxy
          # enumerated, which is what the commit rows carry and therefore what
          # a claim has to be keyed on.
          - type: AddedFieldDefinition
            path: [author_email]
            value: "{{ stream_slice.extra_fields['author_email'] }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [sample_sha]
            value: "{{ stream_partition.commit_sha }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [author_login]
            value: "{{ (record.get('author') or {}).get('login') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [author_id]
            value: "{{ (record.get('author') or {}).get('id') or 0 }}"
            value_type: integer
          - type: AddedFieldDefinition
            path: [author_type]
            value: "{{ (record.get('author') or {}).get('type') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ stream_slice.extra_fields['repo_full_name'] | replace(':', '%3A') }}:author:{{ stream_slice.extra_fields['author_email'] | replace(':', '%3A') }}
      - type: RemoveFields
        # Hoisted above; the commit payload itself belongs to the proxy streams.
        field_pointers:
          - [commit]
          - [author]
          - [committer]
          - [parents]
          - [files]
          - [stats]
          - [node_id]
          - [sha]
          - [url]
          - [html_url]
          - [comments_url]

  # ── Pull requests (GitHub API) ──────────────────────────────────────────
  # LIST endpoint only: /pulls has no `since`, so newest-first plus the
  # data-feed stop halts pagination at the stored per-repo state, and the
  # client-side filter drops the stale tail of the boundary page.
  # additions/deletions/changed_files/merged_by are detail-only and stay
  # NULL in v1 — PR size comes from the proxy's file_changes.
  - type: DeclarativeStream
    name: pull_requests
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          collected_at: {type: [string, "null"]}
          id: {type: [integer, "null"]}
          number: {type: [integer, "null"]}
          repo_full_name: {type: [string, "null"]}
          state: {type: [string, "null"]}
          draft: {type: [boolean, "null"]}
          title: {type: [string, "null"]}
          author_login: {type: [string, "null"]}
          author_id: {type: [integer, "null"]}
          author_type: {type: [string, "null"]}
          author_association: {type: [string, "null"]}
          head_sha: {type: [string, "null"]}
          head_ref: {type: [string, "null"]}
          head_label: {type: [string, "null"]}
          head_repo_full_name: {type: [string, "null"]}
          base_ref: {type: [string, "null"]}
          base_sha: {type: [string, "null"]}
          merge_commit_sha: {type: [string, "null"]}
          created_at: {type: [string, "null"]}
          updated_at: {type: [string, "null"]}
          closed_at: {type: [string, "null"]}
          merged_at: {type: [string, "null"]}
          body: {type: [string, "null"]}
          locked: {type: [boolean, "null"]}
          active_lock_reason: {type: [string, "null"]}
          auto_merge_enabled: {type: [boolean, "null"]}
          label_names: {type: [string, "null"]}
          assignee_logins: {type: [string, "null"]}
          requested_reviewer_logins: {type: [string, "null"]}
          requested_team_slugs: {type: [string, "null"]}
          milestone_title: {type: [string, "null"]}
          milestone_number: {type: [integer, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        <<: *rest_requester
        error_handler: *rest_error_handler_repo_scoped
        path: "/repos/{{ stream_partition.repo_full_name }}/pulls"
        request_parameters:
          state: all
          sort: updated
          direction: desc
          per_page: "100"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ headers['link']['next']['url'] }}"
          stop_condition: "{{ 'next' not in headers.get('link', {}) }}"
        page_token_option:
          type: RequestPath
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: full_name
            partition_field: repo_full_name
            stream: *repositories_all_parent
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S%z"
      # VERIFIED against the CDK: the data-feed stop halts pagination at the
      # first record older than the slice start, but the boundary PAGE's tail
      # still emits — up to one page of pre-start_date rows per partition
      # lands in bronze. Do NOT "fix" this with a record_filter: the stop
      # condition evaluates POST-filter records, so filtering the old tail
      # away would keep pagination walking through all history instead.
      is_data_feed: true
      lookback_window: P1D
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['github_start_date'] }}"
        datetime_format: "%Y-%m-%d"
    transformations:
      - type: AddFields
        fields: *standard_fields
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [repo_full_name]
            value: "{{ stream_partition.repo_full_name }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [author_login]
            value: "{{ (record.get('user') or {}).get('login') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [author_id]
            value: "{{ (record.get('user') or {}).get('id') or 0 }}"
            value_type: integer
          - type: AddedFieldDefinition
            path: [author_type]
            value: "{{ (record.get('user') or {}).get('type') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [head_sha]
            value: "{{ (record.get('head') or {}).get('sha') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [head_ref]
            value: "{{ (record.get('head') or {}).get('ref') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [head_label]
            value: "{{ (record.get('head') or {}).get('label') or '' }}"
            value_type: string
          # Differs from repo_full_name exactly when the branch lives in a fork,
          # which is the only signal in this payload for an external
          # contribution. Empty where the fork has since been deleted.
          - type: AddedFieldDefinition
            path: [head_repo_full_name]
            value: "{{ ((record.get('head') or {}).get('repo') or {}).get('full_name') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [base_ref]
            value: "{{ (record.get('base') or {}).get('ref') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [base_sha]
            value: "{{ (record.get('base') or {}).get('sha') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [title]
            value: "{{ (record.get('title') or '')[:1024] }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [body]
            value: "{{ (record.get('body') or '')[:2048] }}"
            value_type: string
          # `auto_merge` is an object describing who armed it, or null; only
          # whether it was armed survives here.
          - type: AddedFieldDefinition
            path: [auto_merge_enabled]
            value: "{{ record.get('auto_merge') is not none }}"
            value_type: boolean
          - type: AddedFieldDefinition
            path: [label_names]
            value: "{{ ((record.get('labels') or []) | map(attribute='name') | list) | tojson }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [assignee_logins]
            value: "{{ ((record.get('assignees') or []) | map(attribute='login') | list) | tojson }}"
            value_type: string
          # Reviewers still owing a review: the request events say a review was
          # asked for, this says the ask is still outstanding.
          - type: AddedFieldDefinition
            path: [requested_reviewer_logins]
            value: "{{ ((record.get('requested_reviewers') or []) | map(attribute='login') | list) | tojson }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [requested_team_slugs]
            value: "{{ ((record.get('requested_teams') or []) | map(attribute='slug') | list) | tojson }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [milestone_title]
            value: "{{ ((record.get('milestone') or {}).get('title') or '')[:1024] }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [milestone_number]
            value: "{{ (record.get('milestone') or {}).get('number') or 0 }}"
            value_type: integer
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ stream_partition.repo_full_name | replace(':', '%3A') }}:{{ record['id'] }}
      - type: RemoveFields
        # Hoisted above; the nested originals stay out of bronze.
        field_pointers:
          - [user]
          - [head]
          - [base]
          - [labels]
          - [assignees]
          - [requested_reviewers]
          - [requested_teams]
          - [milestone]
          - [auto_merge]
          - [_links]

  # ── Pull request reviews (GitHub API) ───────────────────────────────────
  # No repo-level reviews endpoint exists in REST, so this is one call per PR
  # updated inside the sliding window.
  - type: DeclarativeStream
    name: pull_request_reviews
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          collected_at: {type: [string, "null"]}
          id: {type: [integer, "null"]}
          pull_number: {type: [integer, "null"]}
          repo_full_name: {type: [string, "null"]}
          author_login: {type: [string, "null"]}
          author_association: {type: [string, "null"]}
          state: {type: [string, "null"]}
          commit_id: {type: [string, "null"]}
          submitted_at: {type: [string, "null"]}
          author_id: {type: [integer, "null"]}
          author_type: {type: [string, "null"]}
          body: {type: [string, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        <<: *rest_requester
        error_handler: *rest_error_handler_repo_scoped
        path: "/repos/{{ stream_slice.extra_fields['repo_full_name'] }}/pulls/{{ stream_partition.pull_number }}/reviews"
        request_parameters:
          per_page: "100"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ headers['link']['next']['url'] }}"
          stop_condition: "{{ 'next' not in headers.get('link', {}) }}"
        page_token_option:
          type: RequestPath
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: number
            partition_field: pull_number
            extra_fields:
              - [repo_full_name]
            # Without this the parent cursor never persists, and every
            # pull request since the start date is re-walked — one call each —
            # on every sync.
            incremental_dependency: true
            stream: &pull_requests_window
              type: DeclarativeStream
              name: pull_requests_window
              primary_key:
                - number
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  type: object
                  $schema: http://json-schema.org/schema#
                  properties:
                    number: {type: [integer, "null"]}
                    repo_full_name: {type: [string, "null"]}
                    updated_at: {type: [string, "null"]}
                  additionalProperties: true
              retriever:
                type: SimpleRetriever
                requester:
                  <<: *rest_requester
                  error_handler: *rest_error_handler_repo_scoped
                  path: "/repos/{{ stream_partition.repo_full_name }}/pulls"
                  request_parameters:
                    state: all
                    sort: updated
                    direction: desc
                    per_page: "100"
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path: []
                paginator:
                  type: DefaultPaginator
                  pagination_strategy:
                    type: CursorPagination
                    cursor_value: "{{ headers['link']['next']['url'] }}"
                    stop_condition: "{{ 'next' not in headers.get('link', {}) }}"
                  page_token_option:
                    type: RequestPath
                partition_router:
                  type: SubstreamPartitionRouter
                  parent_stream_configs:
                    - type: ParentStreamConfig
                      parent_key: full_name
                      partition_field: repo_full_name
                      stream: *repositories_all_parent
              incremental_sync:
                type: DatetimeBasedCursor
                cursor_field: updated_at
                datetime_format: "%Y-%m-%dT%H:%M:%SZ"
                cursor_datetime_formats:
                  - "%Y-%m-%dT%H:%M:%S%z"
                # The start date, so a pull request's reviews, commits and
                # lifecycle events cover the same period the pull request
                # itself does. Every child of this window carries a cursor and
                # sets `incremental_dependency`, which is what makes the bound
                # affordable: this walk is paid once, and later syncs resume
                # from the stored state rather than re-reading the window.
                # VERIFIED against the CDK: the data-feed stop halts pagination at the
                # first record older than the slice start, but the boundary PAGE's tail
                # still emits — up to one page of pre-start_date rows per partition
                # lands in bronze. Do NOT "fix" this with a record_filter: the stop
                # condition evaluates POST-filter records, so filtering the old tail
                # away would keep pagination walking through all history instead.
                is_data_feed: true
                start_datetime:
                  type: MinMaxDatetime
                  datetime: "{{ config['github_start_date'] }}"
                  datetime_format: "%Y-%m-%d"
              transformations:
                - type: AddFields
                  fields:
                    - type: AddedFieldDefinition
                      path: [repo_full_name]
                      value: "{{ stream_partition.repo_full_name }}"
                      value_type: string
    incremental_sync:
      # A cursor of its own is what lets the parent's state persist
      # (`incremental_dependency` above): the review's own timestamp, so a later sync
      # resumes instead of re-reading everything since the start date.
      type: DatetimeBasedCursor
      cursor_field: submitted_at
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S%z"
        - "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['github_start_date'] }}"
        datetime_format: "%Y-%m-%d"
    transformations:
      - type: AddFields
        fields: *standard_fields
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [pull_number]
            value: "{{ stream_partition.pull_number }}"
          - type: AddedFieldDefinition
            path: [repo_full_name]
            value: "{{ stream_slice.extra_fields['repo_full_name'] }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [author_login]
            value: "{{ (record.get('user') or {}).get('login') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [author_id]
            value: "{{ (record.get('user') or {}).get('id') }}"
          - type: AddedFieldDefinition
            path: [author_type]
            value: "{{ (record.get('user') or {}).get('type') or '' }}"
            value_type: string
          # The reviewer's verdict text. Review COMMENTS are a separate stream;
          # this is the summary that accompanies the approval or rejection.
          - type: AddedFieldDefinition
            path: [body]
            value: "{{ (record.get('body') or '')[:2048] }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ stream_slice.extra_fields['repo_full_name'] | replace(':', '%3A') }}:{{ stream_partition.pull_number }}:{{ record['id'] }}
      - type: RemoveFields
        # Hoisted above; the nested originals stay out of bronze.
        field_pointers:
          - [user]
          - [_links]

  # ── Pull request commits (GitHub API) ───────────────────────────────────
  # PR<->commit membership is vendor metadata: it does not exist in git, and a
  # squash- or rebase-merged PR leaves its original commits unreachable from
  # every ref the proxy clones. One light call per PR in the window.
  # A PR's head commits live under refs/pull/*, which a clone does not fetch,
  # so fork and force-pushed commits reach no other stream: this one carries
  # their commit metadata as well as the membership edge.
  # VERIFIED CAVEAT: this endpoint returns at most 250 commits per PR.
  - type: DeclarativeStream
    name: pull_request_commits
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          collected_at: {type: [string, "null"]}
          sha: {type: [string, "null"]}
          pull_number: {type: [integer, "null"]}
          repo_full_name: {type: [string, "null"]}
          author_login: {type: [string, "null"]}
          author_id: {type: [integer, "null"]}
          author_type: {type: [string, "null"]}
          author_name: {type: [string, "null"]}
          author_email: {type: [string, "null"]}
          authored_date: {type: [string, "null"]}
          committer_login: {type: [string, "null"]}
          committer_id: {type: [integer, "null"]}
          committer_name: {type: [string, "null"]}
          committer_email: {type: [string, "null"]}
          committed_date: {type: [string, "null"]}
          message: {type: [string, "null"]}
          parent_shas: {type: [string, "null"]}
          is_merge: {type: [boolean, "null"]}
          is_verified: {type: [boolean, "null"]}
          verification_reason: {type: [string, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        <<: *rest_requester
        error_handler: *rest_error_handler_repo_scoped
        path: "/repos/{{ stream_slice.extra_fields['repo_full_name'] }}/pulls/{{ stream_partition.pull_number }}/commits"
        request_parameters:
          per_page: "100"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ headers['link']['next']['url'] }}"
          stop_condition: "{{ 'next' not in headers.get('link', {}) }}"
        page_token_option:
          type: RequestPath
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: number
            partition_field: pull_number
            extra_fields:
              - [repo_full_name]
            # Without this the parent cursor never persists, and every
            # pull request since the start date is re-walked — one call each —
            # on every sync.
            incremental_dependency: true
            stream: *pull_requests_window
    incremental_sync:
      # A cursor of its own is what lets the parent's state persist
      # (`incremental_dependency` above): the commit's own timestamp, so a later sync
      # resumes instead of re-reading everything since the start date.
      type: DatetimeBasedCursor
      cursor_field: committed_date
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S%z"
        - "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['github_start_date'] }}"
        datetime_format: "%Y-%m-%d"
    transformations:
      - type: AddFields
        fields: *standard_fields
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [pull_number]
            value: "{{ stream_partition.pull_number }}"
          - type: AddedFieldDefinition
            path: [repo_full_name]
            value: "{{ stream_slice.extra_fields['repo_full_name'] }}"
            value_type: string
          # The GitHub account behind a commit. Git carries only a name and an
          # e-mail, so this response is the one place a commit's e-mail and its
          # GitHub login appear together — the edge identity resolution needs.
          # `author` is null wherever GitHub cannot match the e-mail to an
          # account, which is how CI and service identities present.
          - type: AddedFieldDefinition
            path: [author_login]
            value: "{{ (record.get('author') or {}).get('login') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [author_id]
            value: "{{ (record.get('author') or {}).get('id') or 0 }}"
            value_type: integer
          - type: AddedFieldDefinition
            path: [author_type]
            value: "{{ (record.get('author') or {}).get('type') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [committer_login]
            value: "{{ (record.get('committer') or {}).get('login') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [committer_id]
            value: "{{ (record.get('committer') or {}).get('id') or 0 }}"
            value_type: integer
          # A PR's head commits live under refs/pull/*, which a clone does not
          # fetch, so the proxy commit walk cannot see fork or force-pushed
          # commits at all. For those this stream is the only carrier of the
          # commit's own metadata, not a duplicate of it.
          - type: AddedFieldDefinition
            path: [author_name]
            value: "{{ ((record.get('commit') or {}).get('author') or {}).get('name') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [author_email]
            value: "{{ ((record.get('commit') or {}).get('author') or {}).get('email') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [authored_date]
            value: "{{ ((record.get('commit') or {}).get('author') or {}).get('date') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [committer_name]
            value: "{{ ((record.get('commit') or {}).get('committer') or {}).get('name') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [committer_email]
            value: "{{ ((record.get('commit') or {}).get('committer') or {}).get('email') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [committed_date]
            value: "{{ ((record.get('commit') or {}).get('committer') or {}).get('date') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [message]
            value: "{{ ((record.get('commit') or {}).get('message') or '')[:2048] }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [parent_shas]
            value: "{{ ((record.get('parents') or []) | map(attribute='sha') | list) | tojson }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [is_merge]
            value: "{{ ((record.get('parents') or []) | length) > 1 }}"
            value_type: boolean
          - type: AddedFieldDefinition
            path: [is_verified]
            value: "{{ ((record.get('commit') or {}).get('verification') or {}).get('verified') or false }}"
            value_type: boolean
          - type: AddedFieldDefinition
            path: [verification_reason]
            value: "{{ ((record.get('commit') or {}).get('verification') or {}).get('reason') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ stream_slice.extra_fields['repo_full_name'] | replace(':', '%3A') }}:{{ stream_partition.pull_number }}:{{ record['sha'] }}
      - type: RemoveFields
        # Hoisted above; the nested originals stay out of bronze.
        field_pointers:
          - [commit]
          - [author]
          - [committer]
          - [parents]
          - [node_id]
          - [url]
          - [html_url]
          - [comments_url]

  # ── Pull request diff totals (GitHub GraphQL) ───────────────────────────
  # REST carries additions/deletions/changed_files on the PR DETAIL response
  # only, which would cost one call per pull request. The GraphQL list node
  # carries all three, so a page of 100 pull requests costs one request and
  # the stream needs no per-PR fan-out at all.
  # The connection has no updatedAfter argument (VERIFIED against the live
  # schema), so this is a newest-first data feed like the REST pull_requests
  # stream: ordering is UPDATED_AT DESC and the cursor stops the walk.
  - type: DeclarativeStream
    name: pull_request_diff_stats
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          collected_at: {type: [string, "null"]}
          pull_number: {type: [integer, "null"]}
          repo_full_name: {type: [string, "null"]}
          additions: {type: [integer, "null"]}
          deletions: {type: [integer, "null"]}
          changed_files: {type: [integer, "null"]}
          updated_at: {type: [string, "null"]}
          author_email: {type: [string, "null"]}
          author_login: {type: [string, "null"]}
          author_id: {type: [integer, "null"]}
          merged_by_login: {type: [string, "null"]}
          merged_by_id: {type: [integer, "null"]}
          review_decision: {type: [string, "null"]}
          total_comments_count: {type: [integer, "null"]}
          is_cross_repository: {type: [boolean, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        <<: *rest_requester
        error_handler: *graphql_error_handler_repo_scoped
        path: /graphql
        http_method: POST
        request_body_json:
          query: |
            query($owner: String!, $name: String!, $cursor: String) {
              repository(owner: $owner, name: $name) {
                pullRequests(first: 100, after: $cursor, states: [OPEN, CLOSED, MERGED], orderBy: {field: UPDATED_AT, direction: DESC}) {
                  pageInfo { hasNextPage endCursor }
                  nodes { number updatedAt additions deletions changedFiles reviewDecision totalCommentsCount isCrossRepository author { login ... on User { databaseId email } } mergedBy { login ... on User { databaseId } } }
                }
              }
            }
          variables:
            owner: "{{ stream_partition.repo_full_name.split('/')[0] }}"
            name: "{{ stream_partition.repo_full_name.split('/')[1] }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [data, repository, pullRequests, nodes]
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          # `data.repository` is null when the token cannot see the repository,
          # so every hop is guarded rather than subscripted.
          cursor_value: "{{ ((((response.get('data') or {}).get('repository') or {}).get('pullRequests') or {}).get('pageInfo') or {}).get('endCursor') }}"
          stop_condition: "{{ not ((((response.get('data') or {}).get('repository') or {}).get('pullRequests') or {}).get('pageInfo') or {}).get('hasNextPage') }}"
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_path: [variables, cursor]
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: full_name
            partition_field: repo_full_name
            stream: *repositories_all_parent
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['github_start_date'] }}"
        datetime_format: "%Y-%m-%d"
      # VERIFIED against the CDK: the data-feed stop halts pagination at the
      # first record older than the slice start, but the boundary PAGE's tail
      # still emits — up to one page of pre-start_date rows per partition
      # lands in bronze. Do NOT "fix" this with a record_filter: the stop
      # condition evaluates POST-filter records, so filtering the old tail
      # away would keep pagination walking through all history instead.
      is_data_feed: true
    transformations:
      - type: AddFields
        fields: *standard_fields
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [repo_full_name]
            value: "{{ stream_partition.repo_full_name }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [pull_number]
            value: "{{ record.get('number') }}"
          - type: AddedFieldDefinition
            path: [changed_files]
            value: "{{ record.get('changedFiles') }}"
          - type: AddedFieldDefinition
            path: [updated_at]
            value: "{{ record.get('updatedAt') or '' }}"
            value_type: string
          # Empty unless the author publishes an email on their profile.
          - type: AddedFieldDefinition
            path: [author_email]
            value: "{{ (record.get('author') or {}).get('email') or '' }}"
            value_type: string
          # The account the e-mail above belongs to, so a published profile
          # e-mail is a claim against a known account rather than a loose value.
          - type: AddedFieldDefinition
            path: [author_login]
            value: "{{ (record.get('author') or {}).get('login') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [author_id]
            value: "{{ (record.get('author') or {}).get('databaseId') or 0 }}"
            value_type: integer
          # Who merged it — REST reports merged_at but never the merger, and a
          # MergedEvent is only collected for pull requests inside the timeline
          # window.
          - type: AddedFieldDefinition
            path: [merged_by_login]
            value: "{{ (record.get('mergedBy') or {}).get('login') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [merged_by_id]
            value: "{{ (record.get('mergedBy') or {}).get('databaseId') or 0 }}"
            value_type: integer
          - type: AddedFieldDefinition
            path: [review_decision]
            value: "{{ record.get('reviewDecision') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [total_comments_count]
            value: "{{ record.get('totalCommentsCount') or 0 }}"
            value_type: integer
          - type: AddedFieldDefinition
            path: [is_cross_repository]
            value: "{{ record.get('isCrossRepository') or false }}"
            value_type: boolean
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ stream_partition.repo_full_name | replace(':', '%3A') }}:{{ record['number'] }}
      - type: RemoveFields
        # Hoisted above; the camelCase originals stay out of bronze.
        field_pointers:
          - [number]
          - [changedFiles]
          - [updatedAt]
          - [author]
          - [mergedBy]
          - [reviewDecision]
          - [totalCommentsCount]
          - [isCrossRepository]

  # ── Issue & PR conversation comments (GitHub API) ───────────────────────
  # ONE repo-level endpoint covers both: PR conversation comments are issue
  # comments in GitHub's model. Server-side `since` makes it O(changed).
  # Inline code-review comments come from `pull_request_review_comments`.
  - type: DeclarativeStream
    name: pull_request_comments
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          collected_at: {type: [string, "null"]}
          id: {type: [integer, "null"]}
          issue_number: {type: [integer, "null"]}
          repo_full_name: {type: [string, "null"]}
          author_login: {type: [string, "null"]}
          author_association: {type: [string, "null"]}
          created_at: {type: [string, "null"]}
          updated_at: {type: [string, "null"]}
          body: {type: [string, "null"]}
          author_id: {type: [integer, "null"]}
          author_type: {type: [string, "null"]}
          is_via_github_app: {type: [boolean, "null"]}
          reactions_total: {type: [integer, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        <<: *rest_requester
        error_handler: *rest_error_handler_repo_scoped
        path: "/repos/{{ stream_partition.repo_full_name }}/issues/comments"
        request_parameters:
          sort: updated
          direction: asc
          per_page: "100"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ headers['link']['next']['url'] }}"
          stop_condition: "{{ 'next' not in headers.get('link', {}) }}"
        page_token_option:
          type: RequestPath
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: full_name
            partition_field: repo_full_name
            stream: *repositories_all_parent
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S%z"
      lookback_window: P1D
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['github_start_date'] }}"
        datetime_format: "%Y-%m-%d"
      start_time_option:
        type: RequestOption
        field_name: since
        inject_into: request_parameter
    transformations:
      - type: AddFields
        fields: *standard_fields
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [repo_full_name]
            value: "{{ stream_partition.repo_full_name }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [issue_number]
            value: "{{ (record.get('issue_url') or '').split('/') | last }}"
            value_type: integer
          - type: AddedFieldDefinition
            path: [author_login]
            value: "{{ (record.get('user') or {}).get('login') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [body]
            value: "{{ (record.get('body') or '')[:2048] }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [author_id]
            value: "{{ (record.get('user') or {}).get('id') }}"
          # `Bot` marks an automated commenter; login naming conventions are the
          # only other signal and they are not reliable.
          - type: AddedFieldDefinition
            path: [author_type]
            value: "{{ (record.get('user') or {}).get('type') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [is_via_github_app]
            value: "{{ record.get('performed_via_github_app') is not none }}"
            value_type: boolean
          # Engagement on the comment. The per-emoji breakdown is dropped; only
          # the total carries a signal worth serving.
          - type: AddedFieldDefinition
            path: [reactions_total]
            value: "{{ (record.get('reactions') or {}).get('total_count') or 0 }}"
            value_type: integer
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ stream_partition.repo_full_name | replace(':', '%3A') }}:comment:{{ record['id'] }}
      - type: RemoveFields
        # Hoisted above; the nested originals stay out of bronze.
        field_pointers:
          - [user]
          - [issue_url]
          - [reactions]
          - [performed_via_github_app]

  # ── Inline code-review comments (GitHub API) ────────────────────────────
  # Repo-level, so one partition per repo rather than one call per PR. These
  # are the only comments carrying a file path and line, which is what the
  # silver comment contract's is_inline branch needs.
  - type: DeclarativeStream
    name: pull_request_review_comments
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          collected_at: {type: [string, "null"]}
          id: {type: [integer, "null"]}
          pull_number: {type: [integer, "null"]}
          repo_full_name: {type: [string, "null"]}
          author_login: {type: [string, "null"]}
          author_association: {type: [string, "null"]}
          created_at: {type: [string, "null"]}
          updated_at: {type: [string, "null"]}
          body: {type: [string, "null"]}
          author_id: {type: [integer, "null"]}
          author_type: {type: [string, "null"]}
          path: {type: [string, "null"]}
          line: {type: [integer, "null"]}
          start_line: {type: [integer, "null"]}
          side: {type: [string, "null"]}
          subject_type: {type: [string, "null"]}
          commit_id: {type: [string, "null"]}
          original_commit_id: {type: [string, "null"]}
          review_id: {type: [integer, "null"]}
          in_reply_to_id: {type: [integer, "null"]}
          diff_hunk: {type: [string, "null"]}
          is_via_github_app: {type: [boolean, "null"]}
          reactions_total: {type: [integer, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        <<: *rest_requester
        error_handler: *rest_error_handler_repo_scoped
        path: "/repos/{{ stream_partition.repo_full_name }}/pulls/comments"
        request_parameters:
          sort: updated
          direction: asc
          per_page: "100"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ headers['link']['next']['url'] }}"
          stop_condition: "{{ 'next' not in headers.get('link', {}) }}"
        page_token_option:
          type: RequestPath
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: full_name
            partition_field: repo_full_name
            stream: *repositories_all_parent
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S%z"
      lookback_window: P1D
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['github_start_date'] }}"
        datetime_format: "%Y-%m-%d"
      start_time_option:
        type: RequestOption
        field_name: since
        inject_into: request_parameter
    transformations:
      - type: AddFields
        fields: *standard_fields
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [repo_full_name]
            value: "{{ stream_partition.repo_full_name }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [pull_number]
            value: "{{ (record.get('pull_request_url') or '').split('/') | last }}"
            value_type: integer
          - type: AddedFieldDefinition
            path: [author_login]
            value: "{{ (record.get('user') or {}).get('login') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [body]
            value: "{{ (record.get('body') or '')[:2048] }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [author_id]
            value: "{{ (record.get('user') or {}).get('id') }}"
          - type: AddedFieldDefinition
            path: [author_type]
            value: "{{ (record.get('user') or {}).get('type') or '' }}"
            value_type: string
          # An outdated comment loses `line`; `original_line` keeps the
          # position it was written against.
          - type: AddedFieldDefinition
            path: [line]
            value: "{{ record.get('line') or record.get('original_line') }}"
          - type: AddedFieldDefinition
            path: [start_line]
            value: "{{ record.get('start_line') or record.get('original_start_line') or 0 }}"
            value_type: integer
          # Which review this comment was submitted under, and which comment it
          # answers: without them every inline comment reads as a standalone
          # remark and a review thread cannot be reconstructed.
          - type: AddedFieldDefinition
            path: [review_id]
            value: "{{ record.get('pull_request_review_id') or 0 }}"
            value_type: integer
          - type: AddedFieldDefinition
            path: [in_reply_to_id]
            value: "{{ record.get('in_reply_to_id') or 0 }}"
            value_type: integer
          # The code the remark was made about, so a comment can be read without
          # refetching the diff.
          - type: AddedFieldDefinition
            path: [diff_hunk]
            value: "{{ (record.get('diff_hunk') or '')[:2048] }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [is_via_github_app]
            value: "{{ record.get('performed_via_github_app') is not none }}"
            value_type: boolean
          - type: AddedFieldDefinition
            path: [reactions_total]
            value: "{{ (record.get('reactions') or {}).get('total_count') or 0 }}"
            value_type: integer
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ stream_partition.repo_full_name | replace(':', '%3A') }}:review_comment:{{ record['id'] }}
      - type: RemoveFields
        # Hoisted above; the nested originals stay out of bronze.
        field_pointers:
          - [user]
          - [pull_request_url]
          - [original_line]
          - [original_start_line]
          - [pull_request_review_id]
          - [reactions]
          - [performed_via_github_app]
          - [_links]

  # ── Issues (GitHub API) ─────────────────────────────────────────────────
  # The endpoint returns PRs too; the record filter drops them (a PR carries
  # a `pull_request` key). Server-side `since` = updated-after.
  - type: DeclarativeStream
    name: issues
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          collected_at: {type: [string, "null"]}
          id: {type: [integer, "null"]}
          number: {type: [integer, "null"]}
          repo_full_name: {type: [string, "null"]}
          state: {type: [string, "null"]}
          state_reason: {type: [string, "null"]}
          title: {type: [string, "null"]}
          body: {type: [string, "null"]}
          author_login: {type: [string, "null"]}
          author_id: {type: [integer, "null"]}
          author_type: {type: [string, "null"]}
          author_association: {type: [string, "null"]}
          assignee_logins: {type: [string, "null"]}
          assignee_ids: {type: [string, "null"]}
          label_names: {type: [string, "null"]}
          issue_type: {type: [string, "null"]}
          milestone_title: {type: [string, "null"]}
          milestone_number: {type: [integer, "null"]}
          closed_by_login: {type: [string, "null"]}
          closed_by_id: {type: [integer, "null"]}
          locked: {type: [boolean, "null"]}
          reactions_total: {type: [integer, "null"]}
          comments: {type: [integer, "null"]}
          created_at: {type: [string, "null"]}
          updated_at: {type: [string, "null"]}
          closed_at: {type: [string, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        <<: *rest_requester
        error_handler: *rest_error_handler_repo_scoped
        path: "/repos/{{ stream_partition.repo_full_name }}/issues"
        request_parameters:
          state: all
          sort: updated
          direction: asc
          per_page: "100"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
        record_filter:
          type: RecordFilter
          condition: "{{ 'pull_request' not in record }}"
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ headers['link']['next']['url'] }}"
          stop_condition: "{{ 'next' not in headers.get('link', {}) }}"
        page_token_option:
          type: RequestPath
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: full_name
            partition_field: repo_full_name
            stream: *repositories_all_parent
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      datetime_format: "%Y-%m-%dT%H:%M:%SZ"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S%z"
      lookback_window: P1D
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['github_start_date'] }}"
        datetime_format: "%Y-%m-%d"
      start_time_option:
        type: RequestOption
        field_name: since
        inject_into: request_parameter
    transformations:
      - type: AddFields
        fields: *standard_fields
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [repo_full_name]
            value: "{{ stream_partition.repo_full_name }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [author_login]
            value: "{{ (record.get('user') or {}).get('login') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [author_id]
            value: "{{ (record.get('user') or {}).get('id') or 0 }}"
            value_type: integer
          - type: AddedFieldDefinition
            path: [author_type]
            value: "{{ (record.get('user') or {}).get('type') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [assignee_logins]
            value: "{{ ((record.get('assignees') or []) | map(attribute='login') | list) | tojson }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [assignee_ids]
            value: "{{ ((record.get('assignees') or []) | map(attribute='id') | list) | tojson }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [label_names]
            value: "{{ ((record.get('labels') or []) | map(attribute='name') | list) | tojson }}"
            value_type: string
          # GitHub's native issue type (Bug, Task, Feature), distinct from a
          # label. Null on repositories where the org has not enabled types.
          - type: AddedFieldDefinition
            path: [issue_type]
            value: "{{ (record.get('type') or {}).get('name') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [milestone_title]
            value: "{{ ((record.get('milestone') or {}).get('title') or '')[:1024] }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [milestone_number]
            value: "{{ (record.get('milestone') or {}).get('number') or 0 }}"
            value_type: integer
          # Who closed it, which the state and state_reason do not say.
          - type: AddedFieldDefinition
            path: [closed_by_login]
            value: "{{ (record.get('closed_by') or {}).get('login') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [closed_by_id]
            value: "{{ (record.get('closed_by') or {}).get('id') or 0 }}"
            value_type: integer
          - type: AddedFieldDefinition
            path: [reactions_total]
            value: "{{ (record.get('reactions') or {}).get('total_count') or 0 }}"
            value_type: integer
          - type: AddedFieldDefinition
            path: [title]
            value: "{{ (record.get('title') or '')[:1024] }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [body]
            value: "{{ (record.get('body') or '')[:2048] }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ stream_partition.repo_full_name | replace(':', '%3A') }}:issue:{{ record['id'] }}
      - type: RemoveFields
        # Hoisted above; the nested originals stay out of bronze.
        field_pointers:
          - [user]
          - [assignees]
          - [labels]
          - [type]
          - [milestone]
          - [closed_by]
          - [reactions]
          - [performed_via_github_app]
          - [sub_issues_summary]
          - [issue_field_values]

  # ── Projects V2 (GitHub GraphQL) ────────────────────────────────────────
  # Projects V2 has no REST API. Cursor rides in the request body — the
  # pattern github-directory ships with.
  - type: DeclarativeStream
    name: projects_v2
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          collected_at: {type: [string, "null"]}
          project_id: {type: [string, "null"]}
          number: {type: [integer, "null"]}
          org: {type: [string, "null"]}
          title: {type: [string, "null"]}
          short_description: {type: [string, "null"]}
          public: {type: [boolean, "null"]}
          closed: {type: [boolean, "null"]}
          created_at: {type: [string, "null"]}
          updated_at: {type: [string, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        <<: *rest_requester
        path: /graphql
        http_method: POST
        error_handler: *graphql_error_handler
        request_body_json:
          query: |
            query($org: String!, $cursor: String) {
              organization(login: $org) {
                projectsV2(first: 100, after: $cursor) {
                  pageInfo { hasNextPage endCursor }
                  nodes { id number title shortDescription public closed createdAt updatedAt }
                }
              }
            }
          variables:
            org: "{{ stream_partition.org }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [data, organization, projectsV2, nodes]
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response['data']['organization']['projectsV2']['pageInfo']['endCursor'] }}"
          stop_condition: "{{ not response['data']['organization']['projectsV2']['pageInfo']['hasNextPage'] }}"
        page_token_option:
          type: RequestOption
          inject_into: body_json
          field_path: [variables, cursor]
      partition_router:
        type: ListPartitionRouter
        values: "{{ config['github_organizations'] }}"
        cursor_field: org
    transformations:
      - type: AddFields
        fields: *standard_fields
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [org]
            value: "{{ stream_partition.org }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [project_id]
            value: "{{ record.get('id') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [number]
            value: "{{ record.get('number') }}"
          - type: AddedFieldDefinition
            path: [short_description]
            value: "{{ (record.get('shortDescription') or '')[:1024] }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [public]
            value: "{{ record.get('public') }}"
          - type: AddedFieldDefinition
            path: [closed]
            value: "{{ record.get('closed') }}"
          - type: AddedFieldDefinition
            path: [created_at]
            value: "{{ record.get('createdAt') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [updated_at]
            value: "{{ record.get('updatedAt') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [title]
            value: "{{ (record.get('title') or '')[:1024] }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ stream_partition.org | replace(':', '%3A') }}:project:{{ (record.get('id') or '') | replace(':', '%3A') }}

  # ── Actions workflow runs (GitHub API) ──────────────────────────────────
  # The `created` range goes in a plain request parameter: start_time_option
  # cannot emit the `A..B` search syntax. VERIFIED CAVEAT: with `created` the
  # endpoint caps at 1000 results per query — the weekly step keeps windows
  # under it for repositories running up to ~1000 workflows a week. The
  # list returns only the LATEST attempt; run_attempt in the key
  # disambiguates re-runs observed across syncs.
  - type: DeclarativeStream
    name: workflow_runs
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          collected_at: {type: [string, "null"]}
          id: {type: [integer, "null"]}
          run_attempt: {type: [integer, "null"]}
          repo_full_name: {type: [string, "null"]}
          name: {type: [string, "null"]}
          workflow_id: {type: [integer, "null"]}
          event: {type: [string, "null"]}
          status: {type: [string, "null"]}
          conclusion: {type: [string, "null"]}
          head_branch: {type: [string, "null"]}
          head_sha: {type: [string, "null"]}
          actor_login: {type: [string, "null"]}
          actor_id: {type: [integer, "null"]}
          triggering_actor_login: {type: [string, "null"]}
          triggering_actor_id: {type: [integer, "null"]}
          run_number: {type: [integer, "null"]}
          workflow_path: {type: [string, "null"]}
          display_title: {type: [string, "null"]}
          check_suite_id: {type: [integer, "null"]}
          pull_request_numbers: {type: [string, "null"]}
[...]
