version: 7.0.4

type: DeclarativeSource

# GitLab connector built on the git-cli-proxy (issue #2224).
#
# Two upstreams in ONE manifest, which is the whole point: repository discovery
# talks to the GitLab API, while commit-level extraction talks to the proxy,
# which serves it from a bare blobless clone instead of one API call per commit.
# `url_base` is a per-requester property, so mixing them needs no special
# machinery.
#
# The manifest is FULLY INLINED (no $ref, no definitions.linked): the Builder
# strict validator resolves no $ref, so a shared authenticator or url_base is
# rejected. Duplication here is the price of Builder compatibility.
#
#   repositories     -> GitLab /api/v4/projects        incremental (last_activity_at)
#   commits          -> proxy /v1/commits              incremental (committed_date), per repo
#   file_changes     -> proxy /v1/file-changes         incremental (committed_date), per repo
#   branches         -> proxy /v1/branches             full refresh, per repo
#
# The proxy answers 429 + Retry-After while a cold repository is being cloned
# in the background, so every proxy stream retries on 429 and fails fast on the
# permanent ones (409 superseded snapshot, 413 oversized repository).
#
# Vendor-API streams (merge requests, notes, approvals, members, pipelines,
# deployments) live in this same manifest: that data does not exist in git.
# Issues and epics are deliberately not synced.

check:
  type: CheckStream
  stream_names:
    - repositories

streams:
  # ── Repository discovery (GitLab API) ───────────────────────────────────
  # The incremental parent: only repositories whose last_activity_at advanced
  # are visited by the commit streams below.
  - type: DeclarativeStream
    name: repositories
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          project_id: {type: [integer, "null"]}
          path_with_namespace: {type: [string, "null"]}
          name: {type: [string, "null"]}
          default_branch: {type: [string, "null"]}
          visibility: {type: [string, "null"]}
          archived: {type: [boolean, "null"]}
          web_url: {type: [string, "null"]}
          http_url_to_repo: {type: [string, "null"]}
          created_at: {type: [string, "null"]}
          last_activity_at: {type: [string, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "{{ config['gitlab_url'] }}/api/v4"
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['gitlab_token'] }}"
          inject_into:
            type: RequestOption
            field_name: PRIVATE-TOKEN
            inject_into: header
        path: "/groups/{{ stream_partition.group | string | replace('/', '%2F') }}/projects"
        http_method: GET
        request_parameters:
          include_subgroups: "true"
          archived: "false"
          order_by: last_activity_at
          sort: asc
          per_page: "100"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: PageIncrement
          page_size: "100"
          start_from_page: 1
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
      partition_router:
        # INSIDE `retriever`: at stream level the CDK silently ignores it.
        # A read_api service account is a member of nothing, so /projects?membership
        # returns zero rows; group scoping works by group visibility instead.
        type: ListPartitionRouter
        values: "{{ config['gitlab_groups'] }}"
        cursor_field: group
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: last_activity_at
      datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%f%z"
        - "%Y-%m-%dT%H:%M:%S%z"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['gitlab_start_date'] }}"
        datetime_format: "%Y-%m-%d"
      # /groups/:id/projects has no last_activity_after filter (GitLab
      # silently ignores it; the CDK connector full-lists too), so the cursor
      # filters client-side and only repositories active since the last sync
      # are emitted downstream.
      is_client_side_incremental: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [tenant_id]
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path: [source_id]
            value: "{{ config['insight_source_id'] }}"
          - type: AddedFieldDefinition
            path: [data_source]
            value: insight_gitlab_nocode
          - type: AddedFieldDefinition
            path: [project_id]
            value: "{{ record['id'] }}"
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ record['id'] }}
  # ── Commits (git-cli-proxy) ─────────────────────────────────────────────
  - type: DeclarativeStream
    name: commits
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          project_id: {type: [string, "null"]}
          sha: {type: [string, "null"]}
          message: {type: [string, "null"]}
          authored_date: {type: [string, "null"]}
          committed_date: {type: [string, "null"]}
          author_name: {type: [string, "null"]}
          author_email: {type: [string, "null"]}
          committer_name: {type: [string, "null"]}
          committer_email: {type: [string, "null"]}
          parent_hashes: {type: [array, "null"], items: {type: string}}
          is_merge: {type: [boolean, "null"]}
          additions: {type: [integer, "null"]}
          deletions: {type: [integer, "null"]}
          changed_files: {type: [integer, "null"]}
          is_in_default_branch: {type: [boolean, "null"]}
          patch_id: {type: [string, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "{{ config['git_proxy_url'] }}"
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['git_proxy_token'] }}"
        request_headers:
          X-Tenant-Id: "{{ config['insight_tenant_id'] }}"
          X-Source-Id: "{{ config['insight_source_id'] }}"
          X-Git-Username: oauth2
          X-Git-Token: "{{ config['gitlab_token'] }}"
        path: /v1/commits
        http_method: GET
        request_parameters:
          repo: "{{ stream_partition.repo_clone_url }}"
          page_size: "500"
        error_handler:
          type: DefaultErrorHandler
          backoff_strategies:
            - type: WaitTimeFromHeader
              header: Retry-After
              max_waiting_time_in_seconds: 600
          response_filters:
            # The repository is being cloned in the background: the proxy is
            # working, the caller waits.
            - type: HttpResponseFilter
              http_codes: [429]
              action: RETRY
              error_message: Repository is being prepared by the proxy
            # Both are permanent for THIS repository and harmless for the rest,
            # so the partition is skipped rather than the whole stream failed.
            # A rising git_proxy_admission_rejects_total is the alert: a 413
            # means a repository is silently absent from bronze until an
            # operator raises cache.maxRepoBytes.
            - type: HttpResponseFilter
              http_codes: [404, 413]
              action: IGNORE
              error_message: >-
                Skipping this repository: gone at origin (404), or larger than
                cache.maxRepoBytes (413). Other repositories continue.
            # The pinned snapshot was superseded mid-walk. RETRY would replay
            # the same dead page token and 409 again; a response filter cannot
            # reset it. Rerunning the sync resumes each partition from its own
            # stored cursor against a fresh snapshot.
            - type: HttpResponseFilter
              http_codes: [409]
              action: FAIL
              error_message: >-
                Proxy snapshot changed mid-walk; rerun the sync to resume from the stored cursor
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [items]
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response['next_page_token'] }}"
          stop_condition: "{{ not response.get('next_page_token') }}"
        page_token_option:
          type: RequestOption
          field_name: page_token
          inject_into: request_parameter
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: http_url_to_repo
            partition_field: repo_clone_url
            # `incremental_dependency` is what keeps the sync proportional to
            # activity: the parent is itself incremental, so only repositories
            # touched since the last sync are visited. The CDK persists parent
            # state ONLY when the child is incremental — which this stream is.
            incremental_dependency: true
            # Inlined: the Builder strict validator rejects a whole-object
            # $ref for a substream parent.
            stream:
              type: DeclarativeStream
              name: repositories_for_commits
              primary_key:
                - id
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  type: object
                  $schema: http://json-schema.org/schema#
                  properties:
                    id: {type: [integer, "null"]}
                    http_url_to_repo: {type: [string, "null"]}
                    last_activity_at: {type: [string, "null"]}
                  additionalProperties: true
              retriever:
                type: SimpleRetriever
                requester:
                  type: HttpRequester
                  url_base: "{{ config['gitlab_url'] }}/api/v4"
                  authenticator:
                    type: ApiKeyAuthenticator
                    api_token: "{{ config['gitlab_token'] }}"
                    inject_into:
                      type: RequestOption
                      field_name: PRIVATE-TOKEN
                      inject_into: header
                  path: "/groups/{{ stream_partition.group | string | replace('/', '%2F') }}/projects"
                  http_method: GET
                  request_parameters:
                    include_subgroups: "true"
                    archived: "false"
                    order_by: last_activity_at
                    sort: asc
                    per_page: "100"
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path: []
                paginator:
                  type: DefaultPaginator
                  pagination_strategy:
                    type: PageIncrement
                    page_size: "100"
                    start_from_page: 1
                  page_token_option:
                    type: RequestOption
                    field_name: page
                    inject_into: request_parameter
                partition_router:
                  # INSIDE `retriever`: at stream level the CDK silently ignores it.
                  # A read_api service account is a member of nothing, so /projects?membership
                  # returns zero rows; group scoping works by group visibility instead.
                  type: ListPartitionRouter
                  values: "{{ config['gitlab_groups'] }}"
                  cursor_field: group
              incremental_sync:
                type: DatetimeBasedCursor
                cursor_field: last_activity_at
                datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
                cursor_datetime_formats:
                  - "%Y-%m-%dT%H:%M:%S.%f%z"
                  - "%Y-%m-%dT%H:%M:%S%z"
                start_datetime:
                  type: MinMaxDatetime
                  datetime: "{{ config['gitlab_start_date'] }}"
                  datetime_format: "%Y-%m-%d"
                # No server-side activity filter on this endpoint; the
                # cursor filters client-side (see repositories stream).
                is_client_side_incremental: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: committed_date
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      # `git log --since` is a traversal cutoff: after a rebase the
      # replacement commits can carry dates BELOW the stored cursor and
      # would never be visited again. Re-enumerating one window each
      # sync recovers them; bronze dedups the re-read rows. This is a
      # heuristic, not a guarantee — a rewrite older than the window is
      # still lost, and nothing detects it.
      lookback_window: "P1M"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S%z"
        - "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['gitlab_start_date'] }}"
        datetime_format: "%Y-%m-%d"
      start_time_option:
        type: RequestOption
        field_name: since
        inject_into: request_parameter
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [tenant_id]
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path: [source_id]
            value: "{{ config['insight_source_id'] }}"
          - type: AddedFieldDefinition
            path: [data_source]
            value: insight_gitlab_nocode
          - type: AddedFieldDefinition
            path: [project_id]
            value: "{{ stream_partition.repo_clone_url }}"
          # Repository identity is REQUIRED in the key: forks share commit
          # SHAs, so tenant+source+sha alone would let the ReplacingMergeTree
          # collapse commits from different repositories into one row.
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ stream_partition.repo_clone_url | replace(':', '%3A') }}:{{ record['sha'] | replace(':', '%3A') }}

  # ── Per-file changes (git-cli-proxy) ────────────────────────────────────
  - type: DeclarativeStream
    name: file_changes
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          project_id: {type: [string, "null"]}
          sha: {type: [string, "null"]}
          committed_date: {type: [string, "null"]}
          filename: {type: [string, "null"]}
          previous_filename: {type: [string, "null"]}
          status: {type: [string, "null"]}
          additions: {type: [integer, "null"]}
          deletions: {type: [integer, "null"]}
          changes: {type: [integer, "null"]}
          is_binary: {type: [boolean, "null"]}
          patch: {type: [string, "null"]}
          patch_truncated: {type: [boolean, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "{{ config['git_proxy_url'] }}"
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['git_proxy_token'] }}"
        request_headers:
          X-Tenant-Id: "{{ config['insight_tenant_id'] }}"
          X-Source-Id: "{{ config['insight_source_id'] }}"
          X-Git-Username: oauth2
          X-Git-Token: "{{ config['gitlab_token'] }}"
        path: /v1/file-changes
        http_method: GET
        request_parameters:
          repo: "{{ stream_partition.repo_clone_url }}"
          page_size: "500"
          include_patch: "true"
          max_patch_bytes: "1048576"
        error_handler:
          type: DefaultErrorHandler
          backoff_strategies:
            - type: WaitTimeFromHeader
              header: Retry-After
              max_waiting_time_in_seconds: 600
          response_filters:
            # The repository is being cloned in the background: the proxy is
            # working, the caller waits.
            - type: HttpResponseFilter
              http_codes: [429]
              action: RETRY
              error_message: Repository is being prepared by the proxy
            # Both are permanent for THIS repository and harmless for the rest,
            # so the partition is skipped rather than the whole stream failed.
            # A rising git_proxy_admission_rejects_total is the alert: a 413
            # means a repository is silently absent from bronze until an
            # operator raises cache.maxRepoBytes.
            - type: HttpResponseFilter
              http_codes: [404, 413]
              action: IGNORE
              error_message: >-
                Skipping this repository: gone at origin (404), or larger than
                cache.maxRepoBytes (413). Other repositories continue.
            # The pinned snapshot was superseded mid-walk. RETRY would replay
            # the same dead page token and 409 again; a response filter cannot
            # reset it. Rerunning the sync resumes each partition from its own
            # stored cursor against a fresh snapshot.
            - type: HttpResponseFilter
              http_codes: [409]
              action: FAIL
              error_message: >-
                Proxy snapshot changed mid-walk; rerun the sync to resume from the stored cursor
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [items]
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response['next_page_token'] }}"
          stop_condition: "{{ not response.get('next_page_token') }}"
        page_token_option:
          type: RequestOption
          field_name: page_token
          inject_into: request_parameter
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: http_url_to_repo
            partition_field: repo_clone_url
            incremental_dependency: true
            stream:
              type: DeclarativeStream
              name: repositories_for_files
              primary_key:
                - id
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  type: object
                  $schema: http://json-schema.org/schema#
                  properties:
                    id: {type: [integer, "null"]}
                    http_url_to_repo: {type: [string, "null"]}
                    last_activity_at: {type: [string, "null"]}
                  additionalProperties: true
              retriever:
                type: SimpleRetriever
                requester:
                  type: HttpRequester
                  url_base: "{{ config['gitlab_url'] }}/api/v4"
                  authenticator:
                    type: ApiKeyAuthenticator
                    api_token: "{{ config['gitlab_token'] }}"
                    inject_into:
                      type: RequestOption
                      field_name: PRIVATE-TOKEN
                      inject_into: header
                  path: "/groups/{{ stream_partition.group | string | replace('/', '%2F') }}/projects"
                  http_method: GET
                  request_parameters:
                    include_subgroups: "true"
                    archived: "false"
                    order_by: last_activity_at
                    sort: asc
                    per_page: "100"
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path: []
                paginator:
                  type: DefaultPaginator
                  pagination_strategy:
                    type: PageIncrement
                    page_size: "100"
                    start_from_page: 1
                  page_token_option:
                    type: RequestOption
                    field_name: page
                    inject_into: request_parameter
                partition_router:
                  # INSIDE `retriever`: at stream level the CDK silently ignores it.
                  # A read_api service account is a member of nothing, so /projects?membership
                  # returns zero rows; group scoping works by group visibility instead.
                  type: ListPartitionRouter
                  values: "{{ config['gitlab_groups'] }}"
                  cursor_field: group
              incremental_sync:
                type: DatetimeBasedCursor
                cursor_field: last_activity_at
                datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
                cursor_datetime_formats:
                  - "%Y-%m-%dT%H:%M:%S.%f%z"
                  - "%Y-%m-%dT%H:%M:%S%z"
                start_datetime:
                  type: MinMaxDatetime
                  datetime: "{{ config['gitlab_start_date'] }}"
                  datetime_format: "%Y-%m-%d"
                # No server-side activity filter on this endpoint; the
                # cursor filters client-side (see repositories stream).
                is_client_side_incremental: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: committed_date
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      # `git log --since` is a traversal cutoff: after a rebase the
      # replacement commits can carry dates BELOW the stored cursor and
      # would never be visited again. Re-enumerating one window each
      # sync recovers them; bronze dedups the re-read rows. This is a
      # heuristic, not a guarantee — a rewrite older than the window is
      # still lost, and nothing detects it.
      lookback_window: "P1M"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S%z"
        - "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['gitlab_start_date'] }}"
        datetime_format: "%Y-%m-%d"
      start_time_option:
        type: RequestOption
        field_name: since
        inject_into: request_parameter
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [tenant_id]
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path: [source_id]
            value: "{{ config['insight_source_id'] }}"
          - type: AddedFieldDefinition
            path: [data_source]
            value: insight_gitlab_nocode
          - type: AddedFieldDefinition
            path: [project_id]
            value: "{{ stream_partition.repo_clone_url }}"
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ stream_partition.repo_clone_url | replace(':', '%3A') }}:{{ record['sha'] | replace(':', '%3A') }}:{{ record['filename'] | replace(':', '%3A') }}

  # ── Branch heads (git-cli-proxy) ────────────────────────────────────────
  # Full refresh: bronze keeps the LATEST state per branch, and head-movement
  # history is derived downstream by the snapshot/fields_history dbt macros —
  # the same pattern user profiles use.
  - type: DeclarativeStream
    name: branches
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          project_id: {type: [string, "null"]}
          name: {type: [string, "null"]}
          head_sha: {type: [string, "null"]}
          head_committed_date: {type: [string, "null"]}
          is_default: {type: [boolean, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "{{ config['git_proxy_url'] }}"
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['git_proxy_token'] }}"
        request_headers:
          X-Tenant-Id: "{{ config['insight_tenant_id'] }}"
          X-Source-Id: "{{ config['insight_source_id'] }}"
          X-Git-Username: oauth2
          X-Git-Token: "{{ config['gitlab_token'] }}"
        path: /v1/branches
        http_method: GET
        request_parameters:
          repo: "{{ stream_partition.repo_clone_url }}"
          page_size: "500"
        error_handler:
          type: DefaultErrorHandler
          backoff_strategies:
            - type: WaitTimeFromHeader
              header: Retry-After
              max_waiting_time_in_seconds: 600
          response_filters:
            # The repository is being cloned in the background: the proxy is
            # working, the caller waits.
            - type: HttpResponseFilter
              http_codes: [429]
              action: RETRY
              error_message: Repository is being prepared by the proxy
            # Both are permanent for THIS repository and harmless for the rest,
            # so the partition is skipped rather than the whole stream failed.
            # A rising git_proxy_admission_rejects_total is the alert: a 413
            # means a repository is silently absent from bronze until an
            # operator raises cache.maxRepoBytes.
            - type: HttpResponseFilter
              http_codes: [404, 413]
              action: IGNORE
              error_message: >-
                Skipping this repository: gone at origin (404), or larger than
                cache.maxRepoBytes (413). Other repositories continue.
            # The pinned snapshot was superseded mid-walk. RETRY would replay
            # the same dead page token and 409 again; a response filter cannot
            # reset it. Rerunning the sync resumes each partition from its own
            # stored cursor against a fresh snapshot.
            - type: HttpResponseFilter
              http_codes: [409]
              action: FAIL
              error_message: >-
                Proxy snapshot changed mid-walk; rerun the sync to resume from the stored cursor
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [items]
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response['next_page_token'] }}"
          stop_condition: "{{ not response.get('next_page_token') }}"
        page_token_option:
          type: RequestOption
          field_name: page_token
          inject_into: request_parameter
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: http_url_to_repo
            partition_field: repo_clone_url
            # No `incremental_dependency` here: this stream is full refresh, so
            # the CDK would not persist parent state anyway. Branch heads are
            # cheap and must be re-read for every repository each sync.
            stream:
              type: DeclarativeStream
              name: repositories_for_branches
              primary_key:
                - id
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  type: object
                  $schema: http://json-schema.org/schema#
                  properties:
                    id: {type: [integer, "null"]}
                    http_url_to_repo: {type: [string, "null"]}
                  additionalProperties: true
              retriever:
                type: SimpleRetriever
                requester:
                  type: HttpRequester
                  url_base: "{{ config['gitlab_url'] }}/api/v4"
                  authenticator:
                    type: ApiKeyAuthenticator
                    api_token: "{{ config['gitlab_token'] }}"
                    inject_into:
                      type: RequestOption
                      field_name: PRIVATE-TOKEN
                      inject_into: header
                  path: "/groups/{{ stream_partition.group | string | replace('/', '%2F') }}/projects"
                  http_method: GET
                  request_parameters:
                    include_subgroups: "true"
                    archived: "false"
                    per_page: "100"
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path: []
                paginator:
                  type: DefaultPaginator
                  pagination_strategy:
                    type: PageIncrement
                    page_size: "100"
                    start_from_page: 1
                  page_token_option:
                    type: RequestOption
                    field_name: page
                    inject_into: request_parameter
                partition_router:
                  # INSIDE `retriever`: at stream level the CDK silently ignores it.
                  # A read_api service account is a member of nothing, so /projects?membership
                  # returns zero rows; group scoping works by group visibility instead.
                  type: ListPartitionRouter
                  values: "{{ config['gitlab_groups'] }}"
                  cursor_field: group
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [tenant_id]
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path: [source_id]
            value: "{{ config['insight_source_id'] }}"
          - type: AddedFieldDefinition
            path: [data_source]
            value: insight_gitlab_nocode
          - type: AddedFieldDefinition
            path: [project_id]
            value: "{{ stream_partition.repo_clone_url }}"
          # No head_sha in the key: the key identifies the BRANCH, so the RMT
          # collapses to its latest state and a head move is a change the
          # downstream snapshot macro can see.
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ stream_partition.repo_clone_url | replace(':', '%3A') }}:{{ record['name'] | replace(':', '%3A') }}

  # ── Merge requests (GitLab API) ─────────────────────────────────────────
  # Group-level endpoint: one listing covers the group and its subgroups,
  # server-filtered by updated_after. The P1M step bounds offset-pagination
  # depth per window (this endpoint has no keyset mode), so deep-offset caps
  # only ever threaten a single window, not the whole backfill.
  - type: DeclarativeStream
    name: merge_requests
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          collected_at: {type: [string, "null"]}
          id: {type: [integer, "null"]}
          iid: {type: [integer, "null"]}
          project_id: {type: [integer, "null"]}
          state: {type: [string, "null"]}
          draft: {type: [boolean, "null"]}
          title: {type: [string, "null"]}
          author_username: {type: [string, "null"]}
          source_branch: {type: [string, "null"]}
          target_branch: {type: [string, "null"]}
          sha: {type: [string, "null"]}
          merge_commit_sha: {type: [string, "null"]}
          squash_commit_sha: {type: [string, "null"]}
          created_at: {type: [string, "null"]}
          updated_at: {type: [string, "null"]}
          merged_at: {type: [string, "null"]}
          closed_at: {type: [string, "null"]}
          merged_by_username: {type: [string, "null"]}
          user_notes_count: {type: [integer, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "{{ config['gitlab_url'] }}/api/v4"
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['gitlab_token'] }}"
          inject_into:
            type: RequestOption
            field_name: PRIVATE-TOKEN
            inject_into: header
        path: "/groups/{{ stream_partition.group | string | replace('/', '%2F') }}/merge_requests"
        http_method: GET
        request_parameters:
          scope: all
          order_by: updated_at
          sort: asc
          per_page: "100"
        error_handler:
          type: DefaultErrorHandler
          backoff_strategies:
            - type: WaitTimeFromHeader
              header: Retry-After
              max_waiting_time_in_seconds: 600
          response_filters:
            - type: HttpResponseFilter
              http_codes: [429]
              action: RATE_LIMITED
              error_message: GitLab is rate limiting this token
            - type: HttpResponseFilter
              http_codes: [401]
              action: FAIL
              failure_type: config_error
              error_message: GitLab rejected the token; check gitlab_token scopes (read_api)
            - type: HttpResponseFilter
              http_codes: [500, 502, 503, 504]
              action: RETRY
              error_message: Transient GitLab error
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: PageIncrement
          page_size: "100"
          start_from_page: 1
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
      partition_router:
        type: ListPartitionRouter
        values: "{{ config['gitlab_groups'] }}"
        cursor_field: group
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%f%z"
        - "%Y-%m-%dT%H:%M:%S%z"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['gitlab_start_date'] }}"
        datetime_format: "%Y-%m-%d"
      step: P1M
      cursor_granularity: PT1S
      lookback_window: P1D
      start_time_option:
        type: RequestOption
        field_name: updated_after
        inject_into: request_parameter
      end_time_option:
        type: RequestOption
        field_name: updated_before
        inject_into: request_parameter
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [tenant_id]
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path: [source_id]
            value: "{{ config['insight_source_id'] }}"
          - type: AddedFieldDefinition
            path: [data_source]
            value: insight_gitlab_nocode
          - type: AddedFieldDefinition
            path: [collected_at]
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          - type: AddedFieldDefinition
            path: [author_username]
            value: "{{ (record.get('author') or {}).get('username') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [merged_by_username]
            value: "{{ (record.get('merged_by') or {}).get('username') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ record['id'] }}
      - type: RemoveFields
        # Hoisted above; the nested originals stay out of bronze.
        field_pointers:
          - [author]
          - [merged_by]

  # ── Merge request notes (GitLab API) ────────────────────────────────────
  # Child of a stateless sliding window of MRs (see the parent's
  # updated_after comment). Note bodies are deliberately not stored: review
  # metrics need who/when/what-kind, not prose.
  - type: DeclarativeStream
    name: merge_request_notes
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          collected_at: {type: [string, "null"]}
          id: {type: [integer, "null"]}
          mr_iid: {type: [integer, "null"]}
          project_id: {type: [integer, "null"]}
          author_username: {type: [string, "null"]}
          system: {type: [boolean, "null"]}
          type: {type: [string, "null"]}
          resolvable: {type: [boolean, "null"]}
          resolved: {type: [boolean, "null"]}
          created_at: {type: [string, "null"]}
          updated_at: {type: [string, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "{{ config['gitlab_url'] }}/api/v4"
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['gitlab_token'] }}"
          inject_into:
            type: RequestOption
            field_name: PRIVATE-TOKEN
            inject_into: header
        path: "/projects/{{ stream_slice.extra_fields['project_id'] }}/merge_requests/{{ stream_partition.mr_iid }}/notes"
        http_method: GET
        request_parameters:
          per_page: "100"
        error_handler:
          type: DefaultErrorHandler
          backoff_strategies:
            - type: WaitTimeFromHeader
              header: Retry-After
              max_waiting_time_in_seconds: 600
          response_filters:
            - type: HttpResponseFilter
              http_codes: [429]
              action: RATE_LIMITED
              error_message: GitLab is rate limiting this token
            - type: HttpResponseFilter
              http_codes: [403, 404]
              action: IGNORE
              error_message: >-
                MR gone or not visible to this token; other merge requests continue.
            - type: HttpResponseFilter
              http_codes: [401]
              action: FAIL
              failure_type: config_error
              error_message: GitLab rejected the token; check gitlab_token scopes (read_api)
            - type: HttpResponseFilter
              http_codes: [500, 502, 503, 504]
              action: RETRY
              error_message: Transient GitLab error
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: PageIncrement
          page_size: "100"
          start_from_page: 1
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: iid
            partition_field: mr_iid
            extra_fields:
              - [project_id]
            stream:
              type: DeclarativeStream
              name: merge_requests_for_notes
              primary_key:
                - id
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  type: object
                  $schema: http://json-schema.org/schema#
                  properties:
                    id: {type: [integer, "null"]}
                    iid: {type: [integer, "null"]}
                    project_id: {type: [integer, "null"]}
                    updated_at: {type: [string, "null"]}
                  additionalProperties: true
              retriever:
                type: SimpleRetriever
                requester:
                  type: HttpRequester
                  url_base: "{{ config['gitlab_url'] }}/api/v4"
                  authenticator:
                    type: ApiKeyAuthenticator
                    api_token: "{{ config['gitlab_token'] }}"
                    inject_into:
                      type: RequestOption
                      field_name: PRIVATE-TOKEN
                      inject_into: header
                  path: "/groups/{{ stream_partition.group | string | replace('/', '%2F') }}/merge_requests"
                  http_method: GET
                  request_parameters:
                    scope: all
                    order_by: updated_at
                    sort: asc
                    per_page: "100"
                    # Stateless sliding window, not a cursor: these children
                    # have no cursor of their own, so parent state would never
                    # persist (incremental_dependency requires an incremental
                    # child). RMT dedups the re-read window.
                    updated_after: "{{ format_datetime(now_utc() - duration('P30D'), '%Y-%m-%dT%H:%M:%SZ') }}"
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path: []
                paginator:
                  type: DefaultPaginator
                  pagination_strategy:
                    type: PageIncrement
                    page_size: "100"
                    start_from_page: 1
                  page_token_option:
                    type: RequestOption
                    field_name: page
                    inject_into: request_parameter
                partition_router:
                  type: ListPartitionRouter
                  values: "{{ config['gitlab_groups'] }}"
                  cursor_field: group
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [tenant_id]
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path: [source_id]
            value: "{{ config['insight_source_id'] }}"
          - type: AddedFieldDefinition
            path: [data_source]
            value: insight_gitlab_nocode
          - type: AddedFieldDefinition
            path: [collected_at]
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          - type: AddedFieldDefinition
            path: [mr_iid]
            value: "{{ stream_partition.mr_iid }}"
          - type: AddedFieldDefinition
            path: [project_id]
            value: "{{ stream_slice.extra_fields['project_id'] }}"
          - type: AddedFieldDefinition
            path: [author_username]
            value: "{{ (record.get('author') or {}).get('username') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ stream_slice.extra_fields['project_id'] }}:{{ record['id'] }}
      - type: RemoveFields
        # Hoisted above; the nested originals stay out of bronze.
        field_pointers:
          - [author]

  # ── Merge request approvals (GitLab API) ────────────────────────────────
  # Single object per MR; snapshot semantics — the RMT keeps the latest row
  # per unique_key. 402 is "approvals are a paid feature", not an error.
  - type: DeclarativeStream
    name: merge_request_approvals
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          collected_at: {type: [string, "null"]}
          mr_iid: {type: [integer, "null"]}
          project_id: {type: [integer, "null"]}
          approved: {type: [boolean, "null"]}
          approvals_required: {type: [integer, "null"]}
          approvals_left: {type: [integer, "null"]}
          approved_by_usernames: {type: [string, "null"]}
          updated_at: {type: [string, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "{{ config['gitlab_url'] }}/api/v4"
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['gitlab_token'] }}"
          inject_into:
            type: RequestOption
            field_name: PRIVATE-TOKEN
            inject_into: header
        path: "/projects/{{ stream_slice.extra_fields['project_id'] }}/merge_requests/{{ stream_partition.mr_iid }}/approvals"
        http_method: GET
        error_handler:
          type: DefaultErrorHandler
          backoff_strategies:
            - type: WaitTimeFromHeader
              header: Retry-After
              max_waiting_time_in_seconds: 600
          response_filters:
            - type: HttpResponseFilter
              http_codes: [429]
              action: RATE_LIMITED
              error_message: GitLab is rate limiting this token
            - type: HttpResponseFilter
              http_codes: [402, 403, 404]
              action: IGNORE
              error_message: >-
                Approvals unavailable for this MR (paid feature, gone, or not visible); other merge requests continue.
            - type: HttpResponseFilter
              http_codes: [401]
              action: FAIL
              failure_type: config_error
              error_message: GitLab rejected the token; check gitlab_token scopes (read_api)
            - type: HttpResponseFilter
              http_codes: [500, 502, 503, 504]
              action: RETRY
              error_message: Transient GitLab error
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: iid
            partition_field: mr_iid
            extra_fields:
              - [project_id]
            stream:
              type: DeclarativeStream
              name: merge_requests_for_approvals
              primary_key:
                - id
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  type: object
                  $schema: http://json-schema.org/schema#
                  properties:
                    id: {type: [integer, "null"]}
                    iid: {type: [integer, "null"]}
                    project_id: {type: [integer, "null"]}
                    updated_at: {type: [string, "null"]}
                  additionalProperties: true
              retriever:
                type: SimpleRetriever
                requester:
                  type: HttpRequester
                  url_base: "{{ config['gitlab_url'] }}/api/v4"
                  authenticator:
                    type: ApiKeyAuthenticator
                    api_token: "{{ config['gitlab_token'] }}"
                    inject_into:
                      type: RequestOption
                      field_name: PRIVATE-TOKEN
                      inject_into: header
                  path: "/groups/{{ stream_partition.group | string | replace('/', '%2F') }}/merge_requests"
                  http_method: GET
                  request_parameters:
                    scope: all
                    order_by: updated_at
                    sort: asc
                    per_page: "100"
                    # Stateless sliding window, not a cursor: these children
                    # have no cursor of their own, so parent state would never
                    # persist (incremental_dependency requires an incremental
                    # child). RMT dedups the re-read window.
                    updated_after: "{{ format_datetime(now_utc() - duration('P30D'), '%Y-%m-%dT%H:%M:%SZ') }}"
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path: []
                paginator:
                  type: DefaultPaginator
                  pagination_strategy:
                    type: PageIncrement
                    page_size: "100"
                    start_from_page: 1
                  page_token_option:
                    type: RequestOption
                    field_name: page
                    inject_into: request_parameter
                partition_router:
                  type: ListPartitionRouter
                  values: "{{ config['gitlab_groups'] }}"
                  cursor_field: group
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [tenant_id]
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path: [source_id]
            value: "{{ config['insight_source_id'] }}"
          - type: AddedFieldDefinition
            path: [data_source]
            value: insight_gitlab_nocode
          - type: AddedFieldDefinition
            path: [collected_at]
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          - type: AddedFieldDefinition
            path: [mr_iid]
            value: "{{ stream_partition.mr_iid }}"
          - type: AddedFieldDefinition
            path: [project_id]
            value: "{{ stream_slice.extra_fields['project_id'] }}"
          - type: AddedFieldDefinition
            path: [approved_by_usernames]
            value: "{{ ((record.get('approved_by') or []) | map(attribute='user.username') | list) | tojson }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ stream_slice.extra_fields['project_id'] }}:{{ stream_partition.mr_iid }}:approvals
      - type: RemoveFields
        # Hoisted above; the nested originals stay out of bronze.
        field_pointers:
          - [approved_by]

  # ── Group members (GitLab API) ──────────────────────────────────────────
  # /members/all = direct + inherited. Non-admin tokens see no email; identity
  # joins on username. The same user in several groups keeps one row per
  # group: access_level differs.
  - type: DeclarativeStream
    name: users
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          collected_at: {type: [string, "null"]}
          id: {type: [integer, "null"]}
          username: {type: [string, "null"]}
          name: {type: [string, "null"]}
          state: {type: [string, "null"]}
          access_level: {type: [integer, "null"]}
          created_at: {type: [string, "null"]}
          group: {type: [string, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "{{ config['gitlab_url'] }}/api/v4"
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['gitlab_token'] }}"
          inject_into:
            type: RequestOption
            field_name: PRIVATE-TOKEN
            inject_into: header
        path: "/groups/{{ stream_partition.group | string | replace('/', '%2F') }}/members/all"
        http_method: GET
        request_parameters:
          per_page: "100"
        error_handler:
          type: DefaultErrorHandler
          backoff_strategies:
            - type: WaitTimeFromHeader
              header: Retry-After
              max_waiting_time_in_seconds: 600
          response_filters:
            - type: HttpResponseFilter
              http_codes: [429]
              action: RATE_LIMITED
              error_message: GitLab is rate limiting this token
            - type: HttpResponseFilter
              http_codes: [403]
              action: IGNORE
              error_message: >-
                Token cannot list this group's members; other groups continue.
            - type: HttpResponseFilter
              http_codes: [401]
              action: FAIL
              failure_type: config_error
              error_message: GitLab rejected the token; check gitlab_token scopes (read_api)
            - type: HttpResponseFilter
              http_codes: [500, 502, 503, 504]
              action: RETRY
              error_message: Transient GitLab error
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: PageIncrement
          page_size: "100"
          start_from_page: 1
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
      partition_router:
        type: ListPartitionRouter
        values: "{{ config['gitlab_groups'] }}"
        cursor_field: group
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [tenant_id]
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path: [source_id]
            value: "{{ config['insight_source_id'] }}"
          - type: AddedFieldDefinition
            path: [data_source]
            value: insight_gitlab_nocode
          - type: AddedFieldDefinition
            path: [collected_at]
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          - type: AddedFieldDefinition
            path: [group]
            value: "{{ stream_partition.group }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ stream_partition.group | replace(':', '%3A') }}:{{ record['id'] }}

  # ── CI pipelines (GitLab API) ───────────────────────────────────────────
  # Parent is a FULL-REFRESH slim projects copy on purpose: scheduled
  # pipelines run without bumping the project's last_activity_at, so an
  # incremental parent would silently skip them. The list object is slim —
  # `duration` is detail-only and deliberately absent in v1.
  - type: DeclarativeStream
    name: pipelines
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          collected_at: {type: [string, "null"]}
          id: {type: [integer, "null"]}
          iid: {type: [integer, "null"]}
          project_id: {type: [integer, "null"]}
          status: {type: [string, "null"]}
          source: {type: [string, "null"]}
          ref: {type: [string, "null"]}
          sha: {type: [string, "null"]}
          name: {type: [string, "null"]}
          created_at: {type: [string, "null"]}
          updated_at: {type: [string, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "{{ config['gitlab_url'] }}/api/v4"
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['gitlab_token'] }}"
          inject_into:
            type: RequestOption
            field_name: PRIVATE-TOKEN
            inject_into: header
        path: "/projects/{{ stream_partition.project_id }}/pipelines"
        http_method: GET
        request_parameters:
          order_by: updated_at
          sort: asc
          per_page: "100"
        error_handler:
          type: DefaultErrorHandler
          backoff_strategies:
            - type: WaitTimeFromHeader
              header: Retry-After
              max_waiting_time_in_seconds: 600
          response_filters:
            - type: HttpResponseFilter
              http_codes: [429]
              action: RATE_LIMITED
              error_message: GitLab is rate limiting this token
            - type: HttpResponseFilter
              http_codes: [403, 404]
              action: IGNORE
              error_message: >-
                Not visible or disabled for this project; other projects continue.
            - type: HttpResponseFilter
              http_codes: [401]
              action: FAIL
              failure_type: config_error
              error_message: GitLab rejected the token; check gitlab_token scopes (read_api)
            - type: HttpResponseFilter
              http_codes: [500, 502, 503, 504]
              action: RETRY
              error_message: Transient GitLab error
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: PageIncrement
          page_size: "100"
          start_from_page: 1
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: id
            partition_field: project_id
            stream:
              type: DeclarativeStream
              name: projects_for_pipelines
              primary_key:
                - id
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  type: object
                  $schema: http://json-schema.org/schema#
                  properties:
                    id: {type: [integer, "null"]}
                    last_activity_at: {type: [string, "null"]}
                  additionalProperties: true
              retriever:
                type: SimpleRetriever
                requester:
                  type: HttpRequester
                  url_base: "{{ config['gitlab_url'] }}/api/v4"
                  authenticator:
                    type: ApiKeyAuthenticator
                    api_token: "{{ config['gitlab_token'] }}"
                    inject_into:
                      type: RequestOption
                      field_name: PRIVATE-TOKEN
                      inject_into: header
                  path: "/groups/{{ stream_partition.group | string | replace('/', '%2F') }}/projects"
                  http_method: GET
                  request_parameters:
                    include_subgroups: "true"
                    archived: "false"
                    per_page: "100"
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path: []
                paginator:
                  type: DefaultPaginator
                  pagination_strategy:
                    type: PageIncrement
                    page_size: "100"
                    start_from_page: 1
                  page_token_option:
                    type: RequestOption
                    field_name: page
                    inject_into: request_parameter
                partition_router:
                  type: ListPartitionRouter
                  values: "{{ config['gitlab_groups'] }}"
                  cursor_field: group
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%f%z"
        - "%Y-%m-%dT%H:%M:%S%z"
      lookback_window: P1D
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['gitlab_start_date'] }}"
        datetime_format: "%Y-%m-%d"
      start_time_option:
        type: RequestOption
        field_name: updated_after
        inject_into: request_parameter
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [tenant_id]
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path: [source_id]
            value: "{{ config['insight_source_id'] }}"
          - type: AddedFieldDefinition
            path: [data_source]
            value: insight_gitlab_nocode
          - type: AddedFieldDefinition
            path: [collected_at]
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ record['id'] }}

  # ── Deployments (GitLab API) ────────────────────────────────────────────
  # Only populated where teams use GitLab environments; an empty stream is
  # normal, not an error. Outcome (`status`) is in the list — the cheap DORA
  # signal.
  - type: DeclarativeStream
    name: deployments
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          collected_at: {type: [string, "null"]}
          id: {type: [integer, "null"]}
          iid: {type: [integer, "null"]}
          project_id: {type: [integer, "null"]}
          status: {type: [string, "null"]}
          ref: {type: [string, "null"]}
          sha: {type: [string, "null"]}
          environment_name: {type: [string, "null"]}
          deployable_status: {type: [string, "null"]}
          pipeline_id: {type: [integer, "null"]}
          created_at: {type: [string, "null"]}
          updated_at: {type: [string, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "{{ config['gitlab_url'] }}/api/v4"
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['gitlab_token'] }}"
          inject_into:
            type: RequestOption
            field_name: PRIVATE-TOKEN
            inject_into: header
        path: "/projects/{{ stream_partition.project_id }}/deployments"
        http_method: GET
        request_parameters:
          order_by: updated_at
          sort: asc
          per_page: "100"
        error_handler:
          type: DefaultErrorHandler
          backoff_strategies:
            - type: WaitTimeFromHeader
              header: Retry-After
              max_waiting_time_in_seconds: 600
          response_filters:
            - type: HttpResponseFilter
              http_codes: [429]
              action: RATE_LIMITED
              error_message: GitLab is rate limiting this token
            - type: HttpResponseFilter
              http_codes: [403, 404]
              action: IGNORE
              error_message: >-
                Not visible or disabled for this project; other projects continue.
            - type: HttpResponseFilter
              http_codes: [401]
              action: FAIL
              failure_type: config_error
              error_message: GitLab rejected the token; check gitlab_token scopes (read_api)
            - type: HttpResponseFilter
              http_codes: [500, 502, 503, 504]
              action: RETRY
              error_message: Transient GitLab error
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: PageIncrement
          page_size: "100"
          start_from_page: 1
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: id
            partition_field: project_id
            stream:
              type: DeclarativeStream
              name: projects_for_deployments
              primary_key:
                - id
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  type: object
                  $schema: http://json-schema.org/schema#
                  properties:
                    id: {type: [integer, "null"]}
                    last_activity_at: {type: [string, "null"]}
                  additionalProperties: true
              retriever:
                type: SimpleRetriever
                requester:
                  type: HttpRequester
                  url_base: "{{ config['gitlab_url'] }}/api/v4"
                  authenticator:
                    type: ApiKeyAuthenticator
                    api_token: "{{ config['gitlab_token'] }}"
                    inject_into:
                      type: RequestOption
                      field_name: PRIVATE-TOKEN
                      inject_into: header
                  path: "/groups/{{ stream_partition.group | string | replace('/', '%2F') }}/projects"
                  http_method: GET
                  request_parameters:
                    include_subgroups: "true"
                    archived: "false"
                    per_page: "100"
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path: []
                paginator:
                  type: DefaultPaginator
                  pagination_strategy:
                    type: PageIncrement
                    page_size: "100"
                    start_from_page: 1
                  page_token_option:
                    type: RequestOption
                    field_name: page
                    inject_into: request_parameter
                partition_router:
                  type: ListPartitionRouter
                  values: "{{ config['gitlab_groups'] }}"
                  cursor_field: group
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated_at
      datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%f%z"
        - "%Y-%m-%dT%H:%M:%S%z"
      lookback_window: P1D
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['gitlab_start_date'] }}"
        datetime_format: "%Y-%m-%d"
      start_time_option:
        type: RequestOption
        field_name: updated_after
        inject_into: request_parameter
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [tenant_id]
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path: [source_id]
            value: "{{ config['insight_source_id'] }}"
          - type: AddedFieldDefinition
            path: [data_source]
            value: insight_gitlab_nocode
          - type: AddedFieldDefinition
            path: [collected_at]
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%SZ') }}"
          - type: AddedFieldDefinition
            path: [environment_name]
            value: "{{ (record.get('environment') or {}).get('name') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [deployable_status]
            value: "{{ (record.get('deployable') or {}).get('status') or '' }}"
            value_type: string
          - type: AddedFieldDefinition
            path: [pipeline_id]
            value: "{{ ((record.get('deployable') or {}).get('pipeline') or {}).get('id') }}"
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ record['id'] }}
      - type: RemoveFields
        # Hoisted above; the nested originals stay out of bronze.
        field_pointers:
          - [environment]
          - [deployable]
concurrency_level:
  type: ConcurrencyLevel
  # Never 1: the concurrent CDK self-deadlocks at a single worker once a sync
  # generates ~10k partitions.
  default_concurrency: 4

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    title: GitLab (git-cli-proxy) Spec
    required:
      - insight_tenant_id
      - insight_source_id
      - gitlab_url
      - gitlab_token
      - gitlab_groups
      - git_proxy_url
      - git_proxy_token
      - gitlab_start_date
    properties:
      insight_tenant_id:
        type: string
        description: Insight tenant identifier stamped onto every emitted record.
        title: Insight Tenant ID
        order: 0
      insight_source_id:
        type: string
        description: >-
          Instance discriminator for multi-instance support (e.g. gitlab-acme).
        title: Insight Source ID
        order: 1
      gitlab_url:
        type: string
        description: >-
          GitLab base URL without a trailing slash or the /api suffix (e.g. https://gitlab.example.com).
        title: GitLab URL
        order: 2
      gitlab_token:
        type: string
        description: >-
          GitLab personal or project access token. Needs `read_api` for repository discovery and `read_repository` for the clone the proxy performs on its behalf — the same token is forwarded to the proxy and never stored there.
        title: GitLab Access Token
        airbyte_secret: true
        order: 3
      gitlab_groups:
        type: array
        items:
          type: string
        description: >-
          Full paths of the GitLab groups to sync, including nested ones (e.g. acme, acme/platform). Subgroups are included. REQUIRED, and deliberately so: a read-only service account is a member of no project, so membership-scoped discovery returns nothing, and a declarative manifest cannot express the CDK connector's instance-wide fallback. A project reachable from two configured groups is emitted twice under one key and collapses downstream.
        title: GitLab Groups
        order: 4
      git_proxy_url:
        type: string
        description: >-
          Base URL of the git-cli-proxy service (cluster-internal, e.g. http://insight-git-cli-proxy:8085). No default: a wrong or absent value must fail the check, not fall back somewhere.
        title: Git Proxy URL
        order: 5
      git_proxy_token:
        type: string
        description: Bearer token the git-cli-proxy requires on every /v1 request.
        title: Git Proxy Token
        airbyte_secret: true
        order: 6
      gitlab_start_date:
        type: string
        description: >-
          Earliest date for incremental sync (YYYY-MM-DD). Required: it bounds
          the first-sync cost, so choosing it is a deployment decision.
        title: Start Date
        format: date
        order: 7
    additionalProperties: true

metadata:
  autoImportSchema:
    repositories: false
    commits: false
    file_changes: false
    branches: false
    merge_requests: false
    merge_request_notes: false
    merge_request_approvals: false
    users: false
    pipelines: false
    deployments: false
