version: 7.0.4

type: DeclarativeSource

# GitLab connector built on the git-cli-proxy (issue #2224).
#
# Two upstreams in ONE manifest, which is the whole point: repository discovery
# talks to the GitLab API, while commit-level extraction talks to the proxy,
# which serves it from a bare blobless clone instead of one API call per commit.
# `url_base` is a per-requester property, so mixing them needs no special
# machinery.
#
# The manifest is FULLY INLINED (no $ref, no definitions.linked): the Builder
# strict validator resolves no $ref, so a shared authenticator or url_base is
# rejected. Duplication here is the price of Builder compatibility.
#
#   repositories     -> GitLab /api/v4/projects        incremental (last_activity_at)
#   commits          -> proxy /v1/commits              incremental (committed_date), per repo
#   commit_files     -> proxy /v1/file-changes         incremental (committed_date), per repo
#   repo_branches    -> proxy /v1/branches             full refresh, per repo
#
# The proxy answers 429 + Retry-After while a cold repository is being cloned
# in the background, so every proxy stream retries on 429 and fails fast on the
# permanent ones (409 superseded snapshot, 413 oversized repository).
#
# NOT ported here: merge requests, notes, approvals. That data does not exist in
# git, so it stays on the vendor API — a mechanical port of the CDK connector's
# streams, tracked separately.

check:
  type: CheckStream
  stream_names:
    - repositories

streams:
  # ── Repository discovery (GitLab API) ───────────────────────────────────
  # The incremental parent: only repositories whose last_activity_at advanced
  # are visited by the commit streams below.
  - type: DeclarativeStream
    name: repositories
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          project_id: {type: [integer, "null"]}
          path_with_namespace: {type: [string, "null"]}
          name: {type: [string, "null"]}
          default_branch: {type: [string, "null"]}
          visibility: {type: [string, "null"]}
          archived: {type: [boolean, "null"]}
          web_url: {type: [string, "null"]}
          http_url_to_repo: {type: [string, "null"]}
          created_at: {type: [string, "null"]}
          last_activity_at: {type: [string, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "{{ config['gitlab_url'] }}/api/v4"
        authenticator:
          type: ApiKeyAuthenticator
          api_token: "{{ config['gitlab_token'] }}"
          inject_into:
            type: RequestOption
            field_name: PRIVATE-TOKEN
            inject_into: header
        path: /projects
        http_method: GET
        request_parameters:
          membership: "true"
          archived: "false"
          order_by: last_activity_at
          sort: asc
          per_page: "{{ config.get('gitlab_page_size', 100) }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: PageIncrement
          page_size: "{{ config.get('gitlab_page_size', 100) }}"
          start_from_page: 1
        page_token_option:
          type: RequestOption
          field_name: page
          inject_into: request_parameter
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: last_activity_at
      datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%f%z"
        - "%Y-%m-%dT%H:%M:%S%z"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['gitlab_start_date'] }}"
        datetime_format: "%Y-%m-%d"
      start_time_option:
        type: RequestOption
        field_name: last_activity_after
        inject_into: request_parameter
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [tenant_id]
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path: [source_id]
            value: "{{ config['insight_source_id'] }}"
          - type: AddedFieldDefinition
            path: [data_source]
            value: insight_gitlab_nocode
          - type: AddedFieldDefinition
            path: [project_id]
            value: "{{ record['id'] }}"
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ record['id'] }} #magic___^_^___line
  # ── Commits (git-cli-proxy) ─────────────────────────────────────────────
  - type: DeclarativeStream
    name: commits
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          project_id: {type: [string, "null"]}
          sha: {type: [string, "null"]}
          message: {type: [string, "null"]}
          authored_date: {type: [string, "null"]}
          committed_date: {type: [string, "null"]}
          author_name: {type: [string, "null"]}
          author_email: {type: [string, "null"]}
          committer_name: {type: [string, "null"]}
          committer_email: {type: [string, "null"]}
          parent_hashes: {type: [array, "null"], items: {type: string}}
          is_merge: {type: [boolean, "null"]}
          additions: {type: [integer, "null"]}
          deletions: {type: [integer, "null"]}
          changed_files: {type: [integer, "null"]}
          branch_names: {type: [array, "null"], items: {type: string}}
          patch_id: {type: [string, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "{{ config['git_proxy_url'] }}"
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['git_proxy_token'] }}"
        request_headers:
          X-Tenant-Id: "{{ config['insight_tenant_id'] }}"
          X-Source-Id: "{{ config['insight_source_id'] }}"
          X-Git-Username: oauth2
          X-Git-Token: "{{ config['gitlab_token'] }}"
        path: /v1/commits
        http_method: GET
        request_parameters:
          repo: "{{ stream_partition.repo_clone_url }}"
          page_size: "{{ config.get('proxy_page_size', 500) }}"
        error_handler:
          type: DefaultErrorHandler
          backoff_strategies:
            - type: WaitTimeFromHeader
              header: Retry-After
              max_waiting_time_in_seconds: 600
          response_filters:
            # The repository is being cloned in the background: the proxy is
            # working, the caller waits.
            - type: HttpResponseFilter
              http_codes: [429]
              action: RETRY
              error_message: Repository is being prepared by the proxy
            # A superseded snapshot (409) or an oversized repository (413) are
            # permanent for this attempt — retrying the same page token loops.
            - type: HttpResponseFilter
              http_codes: [409, 413]
              action: FAIL
              error_message: >-
                Proxy refused the page: snapshot changed or repository exceeds the configured size cap
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [items]
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response['next_page_token'] }}"
          stop_condition: "{{ not response.get('next_page_token') }}"
        page_token_option:
          type: RequestOption
          field_name: page_token
          inject_into: request_parameter
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: http_url_to_repo
            partition_field: repo_clone_url
            # `incremental_dependency` is what keeps the sync proportional to
            # activity: the parent is itself incremental, so only repositories
            # touched since the last sync are visited. The CDK persists parent
            # state ONLY when the child is incremental — which this stream is.
            incremental_dependency: true
            # Inlined: the Builder strict validator rejects a whole-object
            # $ref for a substream parent.
            stream:
              type: DeclarativeStream
              name: repositories_for_commits
              primary_key:
                - id
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  type: object
                  $schema: http://json-schema.org/schema#
                  properties:
                    id: {type: [integer, "null"]}
                    http_url_to_repo: {type: [string, "null"]}
                    last_activity_at: {type: [string, "null"]}
                  additionalProperties: true
              retriever:
                type: SimpleRetriever
                requester:
                  type: HttpRequester
                  url_base: "{{ config['gitlab_url'] }}/api/v4"
                  authenticator:
                    type: ApiKeyAuthenticator
                    api_token: "{{ config['gitlab_token'] }}"
                    inject_into:
                      type: RequestOption
                      field_name: PRIVATE-TOKEN
                      inject_into: header
                  path: /projects
                  http_method: GET
                  request_parameters:
                    membership: "true"
                    archived: "false"
                    order_by: last_activity_at
                    sort: asc
                    per_page: "{{ config.get('gitlab_page_size', 100) }}"
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path: []
                paginator:
                  type: DefaultPaginator
                  pagination_strategy:
                    type: PageIncrement
                    page_size: "{{ config.get('gitlab_page_size', 100) }}"
                    start_from_page: 1
                  page_token_option:
                    type: RequestOption
                    field_name: page
                    inject_into: request_parameter
              incremental_sync:
                type: DatetimeBasedCursor
                cursor_field: last_activity_at
                datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
                cursor_datetime_formats:
                  - "%Y-%m-%dT%H:%M:%S.%f%z"
                  - "%Y-%m-%dT%H:%M:%S%z"
                start_datetime:
                  type: MinMaxDatetime
                  datetime: "{{ config['gitlab_start_date'] }}"
                  datetime_format: "%Y-%m-%d"
                start_time_option:
                  type: RequestOption
                  field_name: last_activity_after
                  inject_into: request_parameter
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: committed_date
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S%z"
        - "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['gitlab_start_date'] }}"
        datetime_format: "%Y-%m-%d"
      start_time_option:
        type: RequestOption
        field_name: since
        inject_into: request_parameter
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [tenant_id]
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path: [source_id]
            value: "{{ config['insight_source_id'] }}"
          - type: AddedFieldDefinition
            path: [data_source]
            value: insight_gitlab_nocode
          - type: AddedFieldDefinition
            path: [project_id]
            value: "{{ stream_partition.repo_clone_url }}"
          # Repository identity is REQUIRED in the key: forks share commit
          # SHAs, so tenant+source+sha alone would let the ReplacingMergeTree
          # collapse commits from different repositories into one row.
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ stream_partition.repo_clone_url }}:{{ record['sha'] }}

  # ── Per-file changes (git-cli-proxy) ────────────────────────────────────
  - type: DeclarativeStream
    name: commit_files
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          project_id: {type: [string, "null"]}
          sha: {type: [string, "null"]}
          committed_date: {type: [string, "null"]}
          filename: {type: [string, "null"]}
          previous_filename: {type: [string, "null"]}
          status: {type: [string, "null"]}
          additions: {type: [integer, "null"]}
          deletions: {type: [integer, "null"]}
          changes: {type: [integer, "null"]}
          is_binary: {type: [boolean, "null"]}
          patch: {type: [string, "null"]}
          patch_truncated: {type: [boolean, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "{{ config['git_proxy_url'] }}"
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['git_proxy_token'] }}"
        request_headers:
          X-Tenant-Id: "{{ config['insight_tenant_id'] }}"
          X-Source-Id: "{{ config['insight_source_id'] }}"
          X-Git-Username: oauth2
          X-Git-Token: "{{ config['gitlab_token'] }}"
        path: /v1/file-changes
        http_method: GET
        request_parameters:
          repo: "{{ stream_partition.repo_clone_url }}"
          page_size: "{{ config.get('proxy_page_size', 500) }}"
          include_patch: "{{ config.get('gitlab_include_patch', true) | lower }}"
          max_patch_bytes: "{{ config.get('gitlab_max_patch_bytes', 1048576) }}"
        error_handler:
          type: DefaultErrorHandler
          backoff_strategies:
            - type: WaitTimeFromHeader
              header: Retry-After
              max_waiting_time_in_seconds: 600
          response_filters:
            - type: HttpResponseFilter
              http_codes: [429]
              action: RETRY
              error_message: Repository is being prepared by the proxy
            - type: HttpResponseFilter
              http_codes: [409, 413]
              action: FAIL
              error_message: >-
                Proxy refused the page: snapshot changed or repository exceeds the configured size cap
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [items]
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response['next_page_token'] }}"
          stop_condition: "{{ not response.get('next_page_token') }}"
        page_token_option:
          type: RequestOption
          field_name: page_token
          inject_into: request_parameter
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: http_url_to_repo
            partition_field: repo_clone_url
            incremental_dependency: true
            stream:
              type: DeclarativeStream
              name: repositories_for_files
              primary_key:
                - id
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  type: object
                  $schema: http://json-schema.org/schema#
                  properties:
                    id: {type: [integer, "null"]}
                    http_url_to_repo: {type: [string, "null"]}
                    last_activity_at: {type: [string, "null"]}
                  additionalProperties: true
              retriever:
                type: SimpleRetriever
                requester:
                  type: HttpRequester
                  url_base: "{{ config['gitlab_url'] }}/api/v4"
                  authenticator:
                    type: ApiKeyAuthenticator
                    api_token: "{{ config['gitlab_token'] }}"
                    inject_into:
                      type: RequestOption
                      field_name: PRIVATE-TOKEN
                      inject_into: header
                  path: /projects
                  http_method: GET
                  request_parameters:
                    membership: "true"
                    archived: "false"
                    order_by: last_activity_at
                    sort: asc
                    per_page: "{{ config.get('gitlab_page_size', 100) }}"
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path: []
                paginator:
                  type: DefaultPaginator
                  pagination_strategy:
                    type: PageIncrement
                    page_size: "{{ config.get('gitlab_page_size', 100) }}"
                    start_from_page: 1
                  page_token_option:
                    type: RequestOption
                    field_name: page
                    inject_into: request_parameter
              incremental_sync:
                type: DatetimeBasedCursor
                cursor_field: last_activity_at
                datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
                cursor_datetime_formats:
                  - "%Y-%m-%dT%H:%M:%S.%f%z"
                  - "%Y-%m-%dT%H:%M:%S%z"
                start_datetime:
                  type: MinMaxDatetime
                  datetime: "{{ config['gitlab_start_date'] }}"
                  datetime_format: "%Y-%m-%d"
                start_time_option:
                  type: RequestOption
                  field_name: last_activity_after
                  inject_into: request_parameter
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: committed_date
      datetime_format: "%Y-%m-%dT%H:%M:%S%z"
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S%z"
        - "%Y-%m-%dT%H:%M:%SZ"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config['gitlab_start_date'] }}"
        datetime_format: "%Y-%m-%d"
      start_time_option:
        type: RequestOption
        field_name: since
        inject_into: request_parameter
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [tenant_id]
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path: [source_id]
            value: "{{ config['insight_source_id'] }}"
          - type: AddedFieldDefinition
            path: [data_source]
            value: insight_gitlab_nocode
          - type: AddedFieldDefinition
            path: [project_id]
            value: "{{ stream_partition.repo_clone_url }}"
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ stream_partition.repo_clone_url }}:{{ record['sha'] }}:{{ record['filename'] }}

  # ── Branch heads (git-cli-proxy) ────────────────────────────────────────
  # Full refresh: bronze keeps the LATEST state per branch, and head-movement
  # history is derived downstream by the snapshot/fields_history dbt macros —
  # the same pattern user profiles use.
  - type: DeclarativeStream
    name: repo_branches
    primary_key:
      - unique_key
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          unique_key: {type: string}
          tenant_id: {type: [string, "null"]}
          source_id: {type: [string, "null"]}
          data_source: {type: [string, "null"]}
          project_id: {type: [string, "null"]}
          name: {type: [string, "null"]}
          head_sha: {type: [string, "null"]}
          head_committed_date: {type: [string, "null"]}
          is_default: {type: [boolean, "null"]}
        required:
          - unique_key
        additionalProperties: true
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: "{{ config['git_proxy_url'] }}"
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['git_proxy_token'] }}"
        request_headers:
          X-Tenant-Id: "{{ config['insight_tenant_id'] }}"
          X-Source-Id: "{{ config['insight_source_id'] }}"
          X-Git-Username: oauth2
          X-Git-Token: "{{ config['gitlab_token'] }}"
        path: /v1/branches
        http_method: GET
        request_parameters:
          repo: "{{ stream_partition.repo_clone_url }}"
          page_size: "{{ config.get('proxy_page_size', 500) }}"
        error_handler:
          type: DefaultErrorHandler
          backoff_strategies:
            - type: WaitTimeFromHeader
              header: Retry-After
              max_waiting_time_in_seconds: 600
          response_filters:
            - type: HttpResponseFilter
              http_codes: [429]
              action: RETRY
              error_message: Repository is being prepared by the proxy
            - type: HttpResponseFilter
              http_codes: [409, 413]
              action: FAIL
              error_message: >-
                Proxy refused the page: snapshot changed or repository exceeds the configured size cap
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: [items]
      paginator:
        type: DefaultPaginator
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response['next_page_token'] }}"
          stop_condition: "{{ not response.get('next_page_token') }}"
        page_token_option:
          type: RequestOption
          field_name: page_token
          inject_into: request_parameter
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: http_url_to_repo
            partition_field: repo_clone_url
            # No `incremental_dependency` here: this stream is full refresh, so
            # the CDK would not persist parent state anyway. Branch heads are
            # cheap and must be re-read for every repository each sync.
            stream:
              type: DeclarativeStream
              name: repositories_for_branches
              primary_key:
                - id
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  type: object
                  $schema: http://json-schema.org/schema#
                  properties:
                    id: {type: [integer, "null"]}
                    http_url_to_repo: {type: [string, "null"]}
                  additionalProperties: true
              retriever:
                type: SimpleRetriever
                requester:
                  type: HttpRequester
                  url_base: "{{ config['gitlab_url'] }}/api/v4"
                  authenticator:
                    type: ApiKeyAuthenticator
                    api_token: "{{ config['gitlab_token'] }}"
                    inject_into:
                      type: RequestOption
                      field_name: PRIVATE-TOKEN
                      inject_into: header
                  path: /projects
                  http_method: GET
                  request_parameters:
                    membership: "true"
                    archived: "false"
                    per_page: "{{ config.get('gitlab_page_size', 100) }}"
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path: []
                paginator:
                  type: DefaultPaginator
                  pagination_strategy:
                    type: PageIncrement
                    page_size: "{{ config.get('gitlab_page_size', 100) }}"
                    start_from_page: 1
                  page_token_option:
                    type: RequestOption
                    field_name: page
                    inject_into: request_parameter
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path: [tenant_id]
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path: [source_id]
            value: "{{ config['insight_source_id'] }}"
          - type: AddedFieldDefinition
            path: [data_source]
            value: insight_gitlab_nocode
          - type: AddedFieldDefinition
            path: [project_id]
            value: "{{ stream_partition.repo_clone_url }}"
          # No head_sha in the key: the key identifies the BRANCH, so the RMT
          # collapses to its latest state and a head move is a change the
          # downstream snapshot macro can see.
          - type: AddedFieldDefinition
            path: [unique_key]
            value: >-
              {{ config['insight_tenant_id'] }}:{{ config['insight_source_id'] }}:{{ stream_partition.repo_clone_url }}:{{ record['name'] }}

concurrency_level:
  type: ConcurrencyLevel
  # Never 1: the concurrent CDK self-deadlocks at a single worker once a sync
  # generates ~10k partitions.
  default_concurrency: 4

spec:
  type: Spec
  connection_specification:
    type: object
    $schema: http://json-schema.org/draft-07/schema#
    title: GitLab (git-cli-proxy) Spec
    required:
      - insight_tenant_id
      - insight_source_id
      - gitlab_url
      - gitlab_token
      - git_proxy_url
      - git_proxy_token
    properties:
      insight_tenant_id:
        type: string
        description: Insight tenant identifier stamped onto every emitted record.
        title: Insight Tenant ID
        order: 0
      insight_source_id:
        type: string
        description: >-
          Instance discriminator for multi-instance support (e.g. gitlab-acme).
        title: Insight Source ID
        order: 1
      gitlab_url:
        type: string
        description: >-
          GitLab base URL without a trailing slash or the /api suffix (e.g. https://gitlab.example.com).
        title: GitLab URL
        order: 2
      gitlab_token:
        type: string
        description: >-
          GitLab personal or project access token. Needs `read_api` for repository discovery and `read_repository` for the clone the proxy performs on its behalf — the same token is forwarded to the proxy and never stored there.
        title: GitLab Access Token
        airbyte_secret: true
        order: 3
      git_proxy_url:
        type: string
        description: >-
          Base URL of the git-cli-proxy service (cluster-internal, e.g. http://insight-git-cli-proxy:8085). No default: a wrong or absent value must fail the check, not fall back somewhere.
        title: Git Proxy URL
        order: 4
      git_proxy_token:
        type: string
        description: Bearer token the git-cli-proxy requires on every /v1 request.
        title: Git Proxy Token
        airbyte_secret: true
        order: 5
      gitlab_start_date:
        type: string
        description: Earliest date for incremental sync (YYYY-MM-DD).
        title: Start Date
        format: date
        default: "2020-01-01"
        order: 6
      gitlab_page_size:
        type: integer
        description: GitLab API page size (max 100).
        title: GitLab Page Size
        default: 100
        minimum: 1
        maximum: 100
        order: 7
      proxy_page_size:
        type: integer
        description: Rows per page requested from the git-cli-proxy.
        title: Proxy Page Size
        default: 500
        minimum: 1
        maximum: 10000
        order: 8
      gitlab_include_patch:
        type: boolean
        description: >-
          Store per-file diff text. Keep enabled to allow recomputing line counts later under different filters (blank lines, comments); disable to cut bronze volume.
        title: Include Patch Text
        default: true
        order: 9
      gitlab_max_patch_bytes:
        type: integer
        description: >-
          Truncation cap for a single file's diff. Truncated rows are flagged with patch_truncated so downstream never mistakes them for complete.
        title: Max Patch Bytes
        default: 1048576
        minimum: 1024
        order: 10
    additionalProperties: true

metadata:
  autoImportSchema:
    repositories: false
    commits: false
    commit_files: false
    repo_branches: false
