version: 6.60.9

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - jira_projects

definitions:
  linked:
    HttpRequester:
      authenticator:
        type: BasicHttpAuthenticator
        username: "{{ config['jira_email'] }}"
        password: "{{ config['jira_api_token'] }}"
      error_handler:
        type: DefaultErrorHandler
        backoff_strategies:
          - type: WaitTimeFromHeader
            header: Retry-After
        response_filters:
          - type: HttpResponseFilter
            action: RETRY
            http_codes:
              - 429
              - 503
          - type: HttpResponseFilter
            action: FAIL
            http_codes:
              - 401
              - 403
          - type: HttpResponseFilter
            action: IGNORE
            http_codes:
              - 400
              - 404
      request_parameters:
        jql: >-
          project IN ({{ config['jira_project_keys'] }}) AND updated >= "{{
          stream_slice.start_time }}" AND updated <= "{{ stream_slice.end_time
          }}" ORDER BY updated ASC
        expand: names
        fields: "*all"
    SimpleRetriever:
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: maxResults
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: startAt
        pagination_strategy:
          type: OffsetIncrement
          page_size: 50

streams:
  - type: DeclarativeStream
    name: jira_boards
    primary_key:
      - unique_key
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - values
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        url: "{{ config['jira_instance_url'] }}/rest/agile/1.0/board"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: number
          self:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          location:
            type:
              - object
              - "null"
            properties:
              projectId:
                type:
                  - number
                  - "null"
              displayName:
                type:
                  - string
                  - "null"
              projectName:
                type:
                  - string
                  - "null"
              projectKey:
                type:
                  - string
                  - "null"
              projectTypeKey:
                type:
                  - string
                  - "null"
              avatarURI:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              userId:
                type:
                  - number
                  - "null"
              userAccountId:
                type:
                  - string
                  - "null"
          isPrivate:
            type:
              - boolean
              - "null"
        required:
          - id
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - tenant_id
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path:
              - source_id
            value: "{{ config['insight_source_id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - unique_key
            value: >-
              {{ config['insight_tenant_id'] }}-{{ config['insight_source_id']
              }}-{{ record['id'] }}
          - type: AddedFieldDefinition
            path:
              - collected_at
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S.%f')[:-3] + 'Z' }}"
  - type: DeclarativeStream
    name: jira_fields
    primary_key:
      - unique_key
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
      requester:
        type: HttpRequester
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        url: "{{ config['jira_instance_url'] }}/rest/api/3/field"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - tenant_id
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path:
              - source_id
            value: "{{ config['insight_source_id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - unique_key
            value: >-
              {{ config['insight_tenant_id'] }}-{{ config['insight_source_id']
              }}-{{ record['id'] }}
          - type: AddedFieldDefinition
            path:
              - field_id
            value: "{{ record['id'] }}"
          - type: AddedFieldDefinition
            path:
              - name
            value: "{{ record.get('name') }}"
          - type: AddedFieldDefinition
            path:
              - custom
            value: "{{ record.get('custom') }}"
          - type: AddedFieldDefinition
            path:
              - schema_type
            value: "{{ record.get('schema', {}).get('type') }}"
          - type: AddedFieldDefinition
            path:
              - schema_items
            value: "{{ record.get('schema', {}).get('items') }}"
          - type: AddedFieldDefinition
            path:
              - schema_custom
            value: "{{ record.get('schema', {}).get('custom') }}"
          - type: AddedFieldDefinition
            path:
              - collected_at
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S.%f')[:-3] + 'Z' }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id:
            type:
              - string
              - "null"
          key:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          untranslatedName:
            type:
              - string
              - "null"
          custom:
            type:
              - boolean
              - "null"
          orderable:
            type:
              - boolean
              - "null"
          navigable:
            type:
              - boolean
              - "null"
          searchable:
            type:
              - boolean
              - "null"
          clauseNames:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          schema:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              custom:
                type:
                  - string
                  - "null"
              customId:
                type:
                  - number
                  - "null"
              items:
                type:
                  - string
                  - "null"
              system:
                type:
                  - string
                  - "null"
              configuration:
                type:
                  - object
                  - "null"
                properties:
                  isMulti:
                    type:
                      - boolean
                      - "null"
                  com.atlassian.jira.plugin.system.customfieldtypes:atlassian-team:
                    type:
                      - boolean
                      - "null"
          tenant_id:
            type:
              - string
              - "null"
          source_id:
            type:
              - string
              - "null"
          unique_key:
            type: string
          field_id:
            type:
              - string
              - "null"
          schema_type:
            type:
              - string
              - "null"
          schema_items:
            type:
              - string
              - "null"
          schema_custom:
            type:
              - string
              - "null"
          collected_at:
            type:
              - string
              - "null"
          scope:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              project:
                type:
                  - object
                  - "null"
                properties:
                  id:
                    type:
                      - string
                      - "null"
        required:
          - unique_key
        additionalProperties: true
  - type: DeclarativeStream
    name: jira_projects
    primary_key:
      - unique_key
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - values
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        url: "{{ config['jira_instance_url'] }}/rest/api/3/project/search"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - tenant_id
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path:
              - source_id
            value: "{{ config['insight_source_id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - unique_key
            value: >-
              {{ config['insight_tenant_id'] }}-{{ config['insight_source_id']
              }}-{{ record['id'] }}
          - type: AddedFieldDefinition
            path:
              - project_id
            value: "{{ record['id'] }}"
          - type: AddedFieldDefinition
            path:
              - project_key
            value: "{{ record['key'] }}"
          - type: AddedFieldDefinition
            path:
              - lead_account_id
            value: "{{ record.get('lead', {}).get('accountId') }}"
          - type: AddedFieldDefinition
            path:
              - project_type
            value: "{{ record.get('projectTypeKey') }}"
          - type: AddedFieldDefinition
            path:
              - style
            value: "{{ record.get('style') }}"
          - type: AddedFieldDefinition
            path:
              - archived
            value: "{{ record.get('archived', false) }}"
          - type: AddedFieldDefinition
            path:
              - collected_at
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S.%f')[:-3] + 'Z' }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          expand:
            type:
              - string
              - "null"
          self:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          key:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          avatarUrls:
            type:
              - object
              - "null"
            properties:
              48x48:
                type:
                  - string
                  - "null"
              24x24:
                type:
                  - string
                  - "null"
              16x16:
                type:
                  - string
                  - "null"
              32x32:
                type:
                  - string
                  - "null"
          projectCategory:
            type:
              - object
              - "null"
            properties:
              description:
                type:
                  - string
                  - "null"
              self:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
          projectTypeKey:
            type:
              - string
              - "null"
          simplified:
            type:
              - boolean
              - "null"
          style:
            type:
              - string
              - "null"
          isPrivate:
            type:
              - boolean
              - "null"
          properties:
            type:
              - object
              - "null"
          tenant_id:
            type:
              - string
              - "null"
          source_id:
            type:
              - string
              - "null"
          unique_key:
            type: string
          project_id:
            type:
              - number
              - "null"
          project_key:
            type:
              - string
              - "null"
          project_type:
            type:
              - string
              - "null"
          archived:
            type:
              - boolean
              - "null"
          collected_at:
            type:
              - string
              - "null"
          entityId:
            type:
              - string
              - "null"
          uuid:
            type:
              - string
              - "null"
        required:
          - unique_key
        additionalProperties: true
  - type: DeclarativeStream
    name: jira_user
    primary_key:
      - unique_key
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: maxResults
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: startAt
        pagination_strategy:
          type: OffsetIncrement
          page_size: 200
      requester:
        type: HttpRequester
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        url: "{{ config['jira_instance_url'] }}/rest/api/3/users/search"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - tenant_id
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path:
              - source_id
            value: "{{ config['insight_source_id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - unique_key
            value: >-
              {{ config['insight_tenant_id'] }}-{{ config['insight_source_id']
              }}-{{ record['accountId'] }}
          - type: AddedFieldDefinition
            path:
              - account_id
            value: "{{ record['accountId'] }}"
          - type: AddedFieldDefinition
            path:
              - email
            value: "{{ record.get('emailAddress') }}"
          - type: AddedFieldDefinition
            path:
              - display_name
            value: "{{ record.get('displayName') }}"
          - type: AddedFieldDefinition
            path:
              - account_type
            value: "{{ record.get('accountType') }}"
          - type: AddedFieldDefinition
            path:
              - active
            value: "{{ record.get('active') }}"
          - type: AddedFieldDefinition
            path:
              - collected_at
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S.%f')[:-3] + 'Z' }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          self:
            type:
              - string
              - "null"
          accountId:
            type:
              - string
              - "null"
          accountType:
            type:
              - string
              - "null"
          emailAddress:
            type:
              - string
              - "null"
          avatarUrls:
            type:
              - object
              - "null"
            properties:
              48x48:
                type:
                  - string
                  - "null"
              24x24:
                type:
                  - string
                  - "null"
              16x16:
                type:
                  - string
                  - "null"
              32x32:
                type:
                  - string
                  - "null"
          displayName:
            type:
              - string
              - "null"
          active:
            type:
              - boolean
              - "null"
          tenant_id:
            type:
              - string
              - "null"
          source_id:
            type:
              - string
              - "null"
          unique_key:
            type: string
          account_id:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          display_name:
            type:
              - string
              - "null"
          account_type:
            type:
              - string
              - "null"
          collected_at:
            type:
              - string
              - "null"
          locale:
            type:
              - string
              - "null"
          timeZone:
            type:
              - string
              - "null"
        required:
          - unique_key
        additionalProperties: true
  - type: DeclarativeStream
    name: jira_issue
    primary_key:
      - unique_key
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - issues
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: maxResults
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: nextPageToken
        pagination_strategy:
          type: CursorPagination
          page_size: 50
          cursor_value: "{{ response.get('nextPageToken', '') }}"
          stop_condition: "{{ not response.get('nextPageToken') }}"
      requester:
        type: HttpRequester
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        request_parameters:
          $ref: "#/definitions/linked/HttpRequester/request_parameters"
        url: "{{ config['jira_instance_url'] }}/rest/api/3/search/jql"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%f%z"
        - "%Y-%m-%d %H:%M"
        - "%Y-%m-%d"
      datetime_format: "%Y-%m-%d %H:%M"
      cursor_granularity: PT1M
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config.get('jira_start_date', '2020-01-01') }}"
        datetime_format: "%Y-%m-%d"
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%d %H:%M') }}"
        datetime_format: "%Y-%m-%d %H:%M"
      step: P30D
      lookback_window: PT1H
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - tenant_id
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path:
              - source_id
            value: "{{ config['insight_source_id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - unique_key
            value: >-
              {{ config['insight_tenant_id'] }}-{{ config['insight_source_id']
              }}-{{ record['key'] }}
          - type: AddedFieldDefinition
            path:
              - jira_id
            value: "{{ record['id'] }}"
          - type: AddedFieldDefinition
            path:
              - id_readable
            value: "{{ record['key'] }}"
          - type: AddedFieldDefinition
            path:
              - project_key
            value: "{{ (record.get('fields', {}).get('project') or {}).get('key') }}"
          - type: AddedFieldDefinition
            path:
              - status_id
            value: "{{ (record.get('fields', {}).get('status') or {}).get('id') }}"
          - type: AddedFieldDefinition
            path:
              - priority_id
            value: "{{ (record.get('fields', {}).get('priority') or {}).get('id') }}"
          - type: AddedFieldDefinition
            path:
              - issuetype_id
            value: "{{ (record.get('fields', {}).get('issuetype') or {}).get('id') }}"
          - type: AddedFieldDefinition
            path:
              - resolution_id
            value: "{{ (record.get('fields', {}).get('resolution') or {}).get('id') }}"
          - type: AddedFieldDefinition
            path:
              - assignee_id
            value: >-
              {{ (record.get('fields', {}).get('assignee') or
              {}).get('accountId') }}
          - type: AddedFieldDefinition
            path:
              - reporter_id
            value: >-
              {{ (record.get('fields', {}).get('reporter') or
              {}).get('accountId') }}
          - type: AddedFieldDefinition
            path:
              - parent_id
            value: "{{ (record.get('fields', {}).get('parent') or {}).get('key') }}"
          - type: AddedFieldDefinition
            path:
              - labels_csv
            value: "{{ (record.get('fields', {}).get('labels') or []) | join(',') }}"
          - type: AddedFieldDefinition
            path:
              - story_points
            value: >-
              {{ record.get('fields',
              {}).get(config.get('jira_story_points_field_id',
              'customfield_10016')) or record.get('fields',
              {}).get('story_points') }}
          - type: AddedFieldDefinition
            path:
              - due_date
            value: "{{ record.get('fields', {}).get('duedate') }}"
          - type: AddedFieldDefinition
            path:
              - created
            value: "{{ record.get('fields', {}).get('created') }}"
          - type: AddedFieldDefinition
            path:
              - updated
            value: "{{ record.get('fields', {}).get('updated') }}"
          - type: AddedFieldDefinition
            path:
              - custom_fields_json
            value: "{{ record.get('fields', {}) | tojson }}"
          - type: AddedFieldDefinition
            path:
              - collected_at
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S.%f')[:-3] + 'Z' }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          expand:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          self:
            type:
              - string
              - "null"
          key:
            type:
              - string
              - "null"
          fields:
            type:
              - object
              - "null"
            properties:
              description:
                type:
                  - object
                  - "null"
                properties:
                  version:
                    type:
                      - number
                      - "null"
                  type:
                    type:
                      - string
                      - "null"
                  content:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        content:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              text:
                                type:
                                  - string
                                  - "null"
                              marks:
                                type:
                                  - array
                                  - "null"
                                items:
                                  type:
                                    - object
                                    - "null"
                                  properties:
                                    type:
                                      type:
                                        - string
                                        - "null"
                                    attrs:
                                      type:
                                        - object
                                        - "null"
                                      properties:
                                        href:
                                          type:
                                            - string
                                            - "null"
                              attrs:
                                type:
                                  - object
                                  - "null"
                                properties:
                                  type:
                                    type:
                                      - string
                                      - "null"
                                  url:
                                    type:
                                      - string
                                      - "null"
                                  id:
                                    type:
                                      - string
                                      - "null"
                                  alt:
                                    type:
                                      - string
                                      - "null"
                                  collection:
                                    type:
                                      - string
                                      - "null"
                                  height:
                                    type:
                                      - number
                                      - "null"
                                  width:
                                    type:
                                      - number
                                      - "null"
                                  text:
                                    type:
                                      - string
                                      - "null"
                                  accessLevel:
                                    type:
                                      - string
                                      - "null"
                                  localId:
                                    type:
                                      - string
                                      - "null"
                              content:
                                type:
                                  - array
                                  - "null"
                                items:
                                  type:
                                    - object
                                    - "null"
                                  properties:
                                    type:
                                      type:
                                        - string
                                        - "null"
                                    content:
                                      type:
                                        - array
                                        - "null"
                                      items:
                                        type:
                                          - object
                                          - "null"
                                        properties:
                                          type:
                                            type:
                                              - string
                                              - "null"
                                          text:
                                            type:
                                              - string
                                              - "null"
                                          content:
                                            type:
                                              - array
                                              - "null"
                                            items:
                                              type:
                                                - object
                                                - "null"
                                              properties:
                                                type:
                                                  type:
                                                    - string
                                                    - "null"
                                                content:
                                                  type:
                                                    - array
                                                    - "null"
                                                  items:
                                                    type:
                                                      - object
                                                      - "null"
                                                    properties:
                                                      type:
                                                        type:
                                                          - string
                                                          - "null"
                                                      text:
                                                        type:
                                                          - string
                                                          - "null"
                                                      attrs:
                                                        type:
                                                          - object
                                                          - "null"
                                                        properties:
                                                          url:
                                                            type:
                                                              - string
                                                              - "null"
                                                      marks:
                                                        type:
                                                          - array
                                                          - "null"
                                                        items:
                                                          type:
                                                            - object
                                                            - "null"
                                                          properties:
                                                            type:
                                                              type:
                                                                - string
                                                                - "null"
                                                            attrs:
                                                              type:
                                                                - object
                                                                - "null"
                                                              properties:
                                                                href:
                                                                  type:
                                                                    - string
                                                                    - "null"
                                                      content:
                                                        type:
                                                          - array
                                                          - "null"
                                                        items:
                                                          type:
                                                            - object
                                                            - "null"
                                                          properties:
                                                            type:
                                                              type:
                                                                - string
                                                                - "null"
                                                            content:
                                                              type:
                                                                - array
                                                                - "null"
                                                              items:
                                                                type:
                                                                  - object
                                                                  - "null"
                                                                properties:
                                                                  type:
                                                                    type:
                                                                      - string
                                                                      - "null"
                                                                  text:
                                                                    type:
                                                                      - string
                                                                      - "null"
                                                                  marks:
                                                                    type:
                                                                      - array
                                                                      - "null"
                                                                    items:
                                                                      type:
                                                                        - object
                                                                        - "null"
                                                                      properties:
                                                                        type:
                                                                          type:
                                                                            - string
                                                                            - "null"
                                                text:
                                                  type:
                                                    - string
                                                    - "null"
                                                marks:
                                                  type:
                                                    - array
                                                    - "null"
                                                  items:
                                                    type:
                                                      - object
                                                      - "null"
                                                    properties:
                                                      type:
                                                        type:
                                                          - string
                                                          - "null"
                                                      attrs:
                                                        type:
                                                          - object
                                                          - "null"
                                                        properties:
                                                          href:
                                                            type:
                                                              - string
                                                              - "null"
                                          attrs:
                                            type:
                                              - object
                                              - "null"
                                            properties:
                                              url:
                                                type:
                                                  - string
                                                  - "null"
                                          marks:
                                            type:
                                              - array
                                              - "null"
                                            items:
                                              type:
                                                - object
                                                - "null"
                                              properties:
                                                type:
                                                  type:
                                                    - string
                                                    - "null"
                                                attrs:
                                                  type:
                                                    - object
                                                    - "null"
                                                  properties:
                                                    href:
                                                      type:
                                                        - string
                                                        - "null"
                                    attrs:
                                      type:
                                        - object
                                        - "null"
                                      properties:
                                        order:
                                          type:
                                            - number
                                            - "null"
                                        localId:
                                          type:
                                            - string
                                            - "null"
                        attrs:
                          type:
                            - object
                            - "null"
                          properties:
                            language:
                              type:
                                - string
                                - "null"
                            order:
                              type:
                                - number
                                - "null"
                            width:
                              type:
                                - number
                                - "null"
                            layout:
                              type:
                                - string
                                - "null"
                            level:
                              type:
                                - number
                                - "null"
                            widthType:
                              type:
                                - string
                                - "null"
                            isNumberColumnEnabled:
                              type:
                                - boolean
                                - "null"
                            localId:
                              type:
                                - string
                                - "null"
              customfield_17260:
                type:
                  - string
                  - "null"
              customfield_17146:
                type:
                  - object
                  - "null"
                properties:
                  self:
                    type:
                      - string
                      - "null"
                  value:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
              customfield_17269:
                type:
                  - object
                  - "null"
                properties:
                  self:
                    type:
                      - string
                      - "null"
                  value:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
              customfield_16971:
                type:
                  - object
                  - "null"
                properties:
                  self:
                    type:
                      - string
                      - "null"
                  value:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
              statusCategory:
                type:
                  - object
                  - "null"
                properties:
                  self:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - number
                      - "null"
                  key:
                    type:
                      - string
                      - "null"
                  colorName:
                    type:
                      - string
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
              resolution:
                type:
                  - object
                  - "null"
                properties:
                  description:
                    type:
                      - string
                      - "null"
                  self:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
              customfield_16976:
                type:
                  - object
                  - "null"
                properties:
                  self:
                    type:
                      - string
                      - "null"
                  value:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
              customfield_16612:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    self:
                      type:
                        - string
                        - "null"
                    value:
                      type:
                        - string
                        - "null"
                    id:
                      type:
                        - string
                        - "null"
              customfield_16608:
                type:
                  - object
                  - "null"
                properties:
                  version:
                    type:
                      - number
                      - "null"
                  type:
                    type:
                      - string
                      - "null"
                  content:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        content:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              text:
                                type:
                                  - string
                                  - "null"
                              marks:
                                type:
                                  - array
                                  - "null"
                                items:
                                  type:
                                    - object
                                    - "null"
                                  properties:
                                    type:
                                      type:
                                        - string
                                        - "null"
                                    attrs:
                                      type:
                                        - object
                                        - "null"
                                      properties:
                                        href:
                                          type:
                                            - string
                                            - "null"
              customfield_16607:
                type:
                  - string
                  - "null"
              customfield_16727:
                type:
                  - object
                  - "null"
                properties:
                  self:
                    type:
                      - string
                      - "null"
                  value:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
              customfield_16847:
                type:
                  - object
                  - "null"
                properties:
                  self:
                    type:
                      - string
                      - "null"
                  value:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
              customfield_17373:
                type:
                  - object
                  - "null"
                properties:
                  self:
                    type:
                      - string
                      - "null"
                  value:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
              customfield_18100:
                type:
                  - object
                  - "null"
                properties:
                  self:
                    type:
                      - string
                      - "null"
                  value:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
              customfield_17370:
                type:
                  - object
                  - "null"
                properties:
                  version:
                    type:
                      - number
                      - "null"
                  type:
                    type:
                      - string
                      - "null"
                  content:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        content:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              text:
                                type:
                                  - string
                                  - "null"
              customfield_17376:
                type:
                  - object
                  - "null"
                properties:
                  self:
                    type:
                      - string
                      - "null"
                  value:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
              customfield_16603:
                type:
                  - string
                  - "null"
              customfield_16724:
                type:
                  - object
                  - "null"
                properties:
                  self:
                    type:
                      - string
                      - "null"
                  value:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
              customfield_16966:
                type:
                  - object
                  - "null"
                properties:
                  self:
                    type:
                      - string
                      - "null"
                  value:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
              customfield_16602:
                type:
                  - string
                  - "null"
              labels:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              aggregatetimeoriginalestimate:
                type:
                  - number
                  - "null"
              issuelinks:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    type:
                      type:
                        - object
                        - "null"
                      properties:
                        id:
                          type:
                            - string
                            - "null"
                        name:
                          type:
                            - string
                            - "null"
                        inward:
                          type:
                            - string
                            - "null"
                        outward:
                          type:
                            - string
                            - "null"
                        self:
                          type:
                            - string
                            - "null"
                    id:
                      type:
                        - string
                        - "null"
                    self:
                      type:
                        - string
                        - "null"
                    inwardIssue:
                      type:
                        - object
                        - "null"
                      properties:
                        id:
                          type:
                            - string
                            - "null"
                        key:
                          type:
                            - string
                            - "null"
                        self:
                          type:
                            - string
                            - "null"
                        fields:
                          type:
                            - object
                            - "null"
                          properties:
                            summary:
                              type:
                                - string
                                - "null"
                            status:
                              type:
                                - object
                                - "null"
                              properties:
                                description:
                                  type:
                                    - string
                                    - "null"
                                self:
                                  type:
                                    - string
                                    - "null"
                                iconUrl:
                                  type:
                                    - string
                                    - "null"
                                name:
                                  type:
                                    - string
                                    - "null"
                                id:
                                  type:
                                    - string
                                    - "null"
                                statusCategory:
                                  type:
                                    - object
                                    - "null"
                                  properties:
                                    self:
                                      type:
                                        - string
                                        - "null"
                                    id:
                                      type:
                                        - number
                                        - "null"
                                    key:
                                      type:
                                        - string
                                        - "null"
                                    colorName:
                                      type:
                                        - string
                                        - "null"
                                    name:
                                      type:
                                        - string
                                        - "null"
                            priority:
                              type:
                                - object
                                - "null"
                              properties:
                                self:
                                  type:
                                    - string
                                    - "null"
                                iconUrl:
                                  type:
                                    - string
                                    - "null"
                                name:
                                  type:
                                    - string
                                    - "null"
                                id:
                                  type:
                                    - string
                                    - "null"
                            issuetype:
                              type:
                                - object
                                - "null"
                              properties:
                                description:
                                  type:
                                    - string
                                    - "null"
                                self:
                                  type:
                                    - string
                                    - "null"
                                id:
                                  type:
                                    - string
                                    - "null"
                                iconUrl:
                                  type:
                                    - string
                                    - "null"
                                name:
                                  type:
                                    - string
                                    - "null"
                                subtask:
                                  type:
                                    - boolean
                                    - "null"
                                avatarId:
                                  type:
                                    - number
                                    - "null"
                                hierarchyLevel:
                                  type:
                                    - number
                                    - "null"
                                entityId:
                                  type:
                                    - string
                                    - "null"
                    outwardIssue:
                      type:
                        - object
                        - "null"
                      properties:
                        id:
                          type:
                            - string
                            - "null"
                        key:
                          type:
                            - string
                            - "null"
                        self:
                          type:
                            - string
                            - "null"
                        fields:
                          type:
                            - object
                            - "null"
                          properties:
                            summary:
                              type:
                                - string
                                - "null"
                            status:
                              type:
                                - object
                                - "null"
                              properties:
                                description:
                                  type:
                                    - string
                                    - "null"
                                self:
                                  type:
                                    - string
                                    - "null"
                                iconUrl:
                                  type:
                                    - string
                                    - "null"
                                name:
                                  type:
                                    - string
                                    - "null"
                                id:
                                  type:
                                    - string
                                    - "null"
                                statusCategory:
                                  type:
                                    - object
                                    - "null"
                                  properties:
                                    self:
                                      type:
                                        - string
                                        - "null"
                                    id:
                                      type:
                                        - number
                                        - "null"
                                    key:
                                      type:
                                        - string
                                        - "null"
                                    colorName:
                                      type:
                                        - string
                                        - "null"
                                    name:
                                      type:
                                        - string
                                        - "null"
                            priority:
                              type:
                                - object
                                - "null"
                              properties:
                                self:
                                  type:
                                    - string
                                    - "null"
                                iconUrl:
                                  type:
                                    - string
                                    - "null"
                                name:
                                  type:
                                    - string
                                    - "null"
                                id:
                                  type:
                                    - string
                                    - "null"
                            issuetype:
                              type:
                                - object
                                - "null"
                              properties:
                                description:
                                  type:
                                    - string
                                    - "null"
                                self:
                                  type:
                                    - string
                                    - "null"
                                id:
                                  type:
                                    - string
                                    - "null"
                                iconUrl:
                                  type:
                                    - string
                                    - "null"
                                name:
                                  type:
                                    - string
                                    - "null"
                                subtask:
                                  type:
                                    - boolean
                                    - "null"
                                avatarId:
                                  type:
                                    - number
                                    - "null"
                                hierarchyLevel:
                                  type:
                                    - number
                                    - "null"
              assignee:
                type:
                  - object
                  - "null"
                properties:
                  self:
                    type:
                      - string
                      - "null"
                  accountId:
                    type:
                      - string
                      - "null"
                  emailAddress:
                    type:
                      - string
                      - "null"
                  avatarUrls:
                    type:
                      - object
                      - "null"
                    properties:
                      48x48:
                        type:
                          - string
                          - "null"
                      24x24:
                        type:
                          - string
                          - "null"
                      16x16:
                        type:
                          - string
                          - "null"
                      32x32:
                        type:
                          - string
                          - "null"
                  displayName:
                    type:
                      - string
                      - "null"
                  active:
                    type:
                      - boolean
                      - "null"
                  timeZone:
                    type:
                      - string
                      - "null"
                  accountType:
                    type:
                      - string
                      - "null"
              customfield_17361:
                type:
                  - object
                  - "null"
                properties:
                  version:
                    type:
                      - number
                      - "null"
                  type:
                    type:
                      - string
                      - "null"
                  content:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        content:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              text:
                                type:
                                  - string
                                  - "null"
              components:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    description:
                      type:
                        - string
                        - "null"
                    metadata:
                      type:
                        - object
                        - "null"
                      properties:
                        typeId:
                          type:
                            - string
                            - "null"
                        compassComponentState:
                          type:
                            - string
                            - "null"
                        compassComponentVersion:
                          type:
                            - string
                            - "null"
                    self:
                      type:
                        - string
                        - "null"
                    id:
                      type:
                        - string
                        - "null"
                    name:
                      type:
                        - string
                        - "null"
                    ari:
                      type:
                        - string
                        - "null"
              customfield_17364:
                type:
                  - object
                  - "null"
                properties:
                  self:
                    type:
                      - string
                      - "null"
                  value:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
              customfield_17001:
                type:
                  - object
                  - "null"
                properties:
                  version:
                    type:
                      - number
                      - "null"
                  type:
                    type:
                      - string
                      - "null"
                  content:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        content:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              text:
                                type:
                                  - string
                                  - "null"
              customfield_17367:
                type:
                  - object
                  - "null"
                properties:
                  self:
                    type:
                      - string
                      - "null"
                  value:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
              customfield_12900:
                type:
                  - string
                  - "null"
              customfield_18562:
                type:
                  - string
                  - "null"
              customfield_17355:
                type:
                  - object
                  - "null"
                properties:
                  self:
                    type:
                      - string
                      - "null"
                  value:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
              subtasks:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - object
                    - "null"
                  properties:
                    id:
                      type:
                        - string
                        - "null"
                    key:
                      type:
                        - string
                        - "null"
                    self:
                      type:
                        - string
                        - "null"
                    fields:
                      type:
                        - object
                        - "null"
                      properties:
                        summary:
                          type:
                            - string
                            - "null"
                        status:
                          type:
                            - object
                            - "null"
                          properties:
                            description:
                              type:
                                - string
                                - "null"
                            self:
                              type:
                                - string
                                - "null"
                            iconUrl:
                              type:
                                - string
                                - "null"
                            name:
                              type:
                                - string
                                - "null"
                            id:
                              type:
                                - string
                                - "null"
                            statusCategory:
                              type:
                                - object
                                - "null"
                              properties:
                                self:
                                  type:
                                    - string
                                    - "null"
                                id:
                                  type:
                                    - number
                                    - "null"
                                key:
                                  type:
                                    - string
                                    - "null"
                                colorName:
                                  type:
                                    - string
                                    - "null"
                                name:
                                  type:
                                    - string
                                    - "null"
                        priority:
                          type:
                            - object
                            - "null"
                          properties:
                            self:
                              type:
                                - string
                                - "null"
                            iconUrl:
                              type:
                                - string
                                - "null"
                            name:
                              type:
                                - string
                                - "null"
                            id:
                              type:
                                - string
                                - "null"
                        issuetype:
                          type:
                            - object
                            - "null"
                          properties:
                            description:
                              type:
                                - string
                                - "null"
                            self:
                              type:
                                - string
                                - "null"
                            id:
                              type:
                                - string
                                - "null"
                            iconUrl:
                              type:
                                - string
                                - "null"
                            name:
                              type:
                                - string
                                - "null"
                            subtask:
                              type:
                                - boolean
                                - "null"
                            avatarId:
                              type:
                                - number
                                - "null"
                            hierarchyLevel:
                              type:
                                - number
                                - "null"
              customfield_17112:
                type:
                  - object
                  - "null"
                properties:
                  self:
                    type:
                      - string
                      - "null"
                  value:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
              customfield_17352:
                type:
                  - object
                  - "null"
                properties:
                  version:
                    type:
                      - number
                      - "null"
                  type:
                    type:
                      - string
                      - "null"
                  content:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        type:
                          type:
                            - string
                            - "null"
                        content:
                          type:
                            - array
                            - "null"
                          items:
                            type:
                              - object
                              - "null"
                            properties:
                              type:
                                type:
                                  - string
                                  - "null"
                              text:
                                type:
                                  - string
                                  - "null"
              customfield_17231:
                type:
                  - string
                  - "null"
              customfield_17358:
                type:
                  - object
                  - "null"
                properties:
                  self:
                    type:
                      - string
                      - "null"
                  value:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
              reporter:
                type:
                  - object
                  - "null"
                properties:
                  self:
                    type:
                      - string
                      - "null"
                  accountId:
                    type:
                      - string
                      - "null"
                  emailAddress:
                    type:
                      - string
                      - "null"
                  avatarUrls:
                    type:
                      - object
                      - "null"
                    properties:
                      48x48:
                        type:
                          - string
                          - "null"
                      24x24:
                        type:
                          - string
                          - "null"
                      16x16:
                        type:
                          - string
                          - "null"
                      32x32:
                        type:
                          - string
                          - "null"
                  displayName:
                    type:
                      - string
                      - "null"
                  active:
                    type:
                      - boolean
                      - "null"
                  timeZone:
                    type:
                      - string
                      - "null"
                  accountType:
                    type:
                      - string
                      - "null"
              customfield_12100:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              customfield_17235:
                type:
                  - number
                  - "null"
              customfield_14878:
                type:
                  - array
                  - "null"
                items:
                  type:
                    - string
                    - "null"
              progress:
                type:
                  - object
                  - "null"
                properties:
                  progress:
                    type:
                      - number
                      - "null"
                  total:
                    type:
                      - number
                      - "null"
                  percent:
                    type:
                      - number
                      - "null"
              votes:
                type:
                  - object
                  - "null"
                properties:
                  self:
                    type:
                      - string
                      - "null"
                  votes:
                    type:
                      - number
                      - "null"
                  hasVoted:
                    type:
                      - boolean
                      - "null"
              worklog:
                type:
                  - object
                  - "null"
                properties:
                  startAt:
                    type:
                      - number
                      - "null"
                  maxResults:
                    type:
                      - number
                      - "null"
                  total:
                    type:
                      - number
                      - "null"
                  worklogs:
                    type:
                      - array
                      - "null"
                    items:
                      type:
                        - object
                        - "null"
                      properties:
                        self:
                          type:
                            - string
                            - "null"
                        author:
                          type:
                            - object
                            - "null"
                          properties:
                            self:
                              type:
                                - string
                                - "null"
                            accountId:
                              type:
                                - string
                                - "null"
                            emailAddress:
                              type:
                                - string
                                - "null"
                            avatarUrls:
                              type:
                                - object
                                - "null"
                              properties:
                                48x48:
                                  type:
                                    - string
                                    - "null"
                                24x24:
                                  type:
                                    - string
                                    - "null"
                                16x16:
                                  type:
                                    - string
                                    - "null"
                                32x32:
                                  type:
                                    - string
                                    - "null"
                            displayName:
                              type:
                                - string
                                - "null"
                            active:
                              type:
                                - boolean
                                - "null"
                            timeZone:
                              type:
                                - string
                                - "null"
                            accountType:
                              type:
                                - string
                                - "null"
                        updateAuthor:
                          type:
                            - object
                            - "null"
                          properties:
                            self:
                              type:
                                - string
                                - "null"
                            accountId:
                              type:
                                - string
                                - "null"
                            emailAddress:
                              type:
                                - string
                                - "null"
                            avatarUrls:
                              type:
                                - object
                                - "null"
                              properties:
                                48x48:
                                  type:
                                    - string
                                    - "null"
                                24x24:
                                  type:
                                    - string
                                    - "null"
                                16x16:
                                  type:
                                    - string
                                    - "null"
                                32x32:
                                  type:
                                    - string
                                    - "null"
                            displayName:
                              type:
                                - string
                                - "null"
                            active:
                              type:
                                - boolean
                                - "null"
                            timeZone:
                              type:
                                - string
                                - "null"
                            accountType:
                              type:
                                - string
                                - "null"
                        created:
                          type:
                            - string
                            - "null"
                        updated:
                          type:
                            - string
                            - "null"
                        started:
                          type:
                            - string
                            - "null"
                        timeSpent:
                          type:
                            - string
                            - "null"
                        timeSpentSeconds:
                          type:
                            - number
                            - "null"
                        id:
                          type:
                            - string
                            - "null"
                        issueId:
                          type:
                            - string
                            - "null"
                        comment:
                          type:
                            - object
                            - "null"
                          properties:
                            version:
                              type:
                                - number
                                - "null"
                            type:
                              type:
                                - string
                                - "null"
                            content:
                              type:
                                - array
                                - "null"
                              items:
                                type:
                                  - object
                                  - "null"
                                properties:
                                  type:
                                    type:
                                      - string
                                      - "null"
                                  content:
                                    type:
                                      - array
                                      - "null"
                                    items:
                                      type:
                                        - object
                                        - "null"
                                      properties:
                                        type:
                                          type:
                                            - string
                                            - "null"
                                        text:
                                          type:
                                            - string
                                            - "null"
                                        attrs:
                                          type:
                                            - object
                                            - "null"
                                          properties:
                                            url:
                                              type:
                                                - string
                                                - "null"
              customfield_17340:
                type:
                  - object
                  - "null"
                properties:
                  self:
                    type:
                      - string
                      - "null"
                  value:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
              issuetype:
                type:
                  - object
                  - "null"
                properties:
                  description:
                    type:
                      - string
                      - "null"
                  self:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  iconUrl:
                    type:
                      - string
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
                  subtask:
                    type:
                      - boolean
                      - "null"
                  avatarId:
                    type:
                      - number
                      - "null"
                  hierarchyLevel:
                    type:
                      - number
                      - "null"
              customfield_17343:
                type:
                  - object
                  - "null"
                properties:
                  self:
                    type:
                      - string
                      - "null"
                  value:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
              project:
                type:
                  - object
                  - "null"
                properties:
                  self:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
                  key:
                    type:
                      - string
                      - "null"
                  name:
                    type:
                      - string
                      - "null"
                  projectTypeKey:
                    type:
                      - string
                      - "null"
                  simplified:
                    type:
                      - boolean
                      - "null"
                  avatarUrls:
                    type:
                      - object
                      - "null"
                    properties:
                      48x48:
                        type:
                          - string
                          - "null"
                      24x24:
                        type:
                          - string
                          - "null"
                      16x16:
                        type:
                          - string
                          - "null"
                      32x32:
                        type:
                          - string
                          - "null"
                  projectCategory:
                    type:
                      - object
                      - "null"
                    properties:
                      description:
                        type:
                          - string
                          - "null"
                      self:
                        type:
                          - string
                          - "null"
                      id:
                        type:
                          - string
                          - "null"
                      name:
                        type:
                          - string
                          - "null"
              customfield_17346:
                type:
                  - object
                  - "null"
                properties:
                  self:
                    type:
                      - string
                      - "null"
                  value:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
              customfield_17349:
                type:
                  - object
                  - "null"
                properties:
                  self:
                    type:
                      - string
                      - "null"
                  value:
                    type:
                      - string
                      - "null"
                  id:
                    type:
                      - string
                      - "null"
              customfield_14869:
                type:
                  - object
                  - "null"
                properties:
                  version:
                    type:
                      - number
                      - "null"
                  type:
[...]
