version: 6.60.9

type: DeclarativeSource

check:
  type: CheckStream
  stream_names:
    - jira_projects

definitions:
  linked:
    HttpRequester:
      authenticator:
        type: BasicHttpAuthenticator
        username: "{{ config['jira_email'] }}"
        password: "{{ config['jira_api_token'] }}"
      error_handler:
        type: DefaultErrorHandler
        backoff_strategies:
          - type: WaitTimeFromHeader
            header: Retry-After
        response_filters:
          - type: HttpResponseFilter
            action: RETRY
            http_codes:
              - 429
              - 503
          - type: HttpResponseFilter
            action: FAIL
            http_codes:
              - 401
              - 403
          - type: HttpResponseFilter
            action: IGNORE
            http_codes:
              - 400
              - 404
      request_parameters:
        # Per-project JQL: the project scope comes from the
        # jira_project_discovery partition router (see definitions), not from
        # config — the manual jira_project_keys allowlist is gone.
        jql: >-
          project = "{{ stream_partition.project_key }}" AND updated >= "{{ stream_slice.start_time }}" AND updated <= "{{ stream_slice.end_time }}" ORDER BY updated ASC
        expand: names
        fields: "*all"
    SimpleRetriever:
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: maxResults
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: startAt
        pagination_strategy:
          type: OffsetIncrement
          page_size: 50

  # ─── Project auto-discovery parent (supersedes the jira_project_keys
  # allowlist; idea from PR #941/#616, reworked) ──────────────────────────
  # Inline-only parent for jira_issue and jira_issue_keys: enumerates every
  # project visible to the API token via /project/search and partitions the
  # issue scans per project (JQL `project = "<KEY>"`). Defined under
  # `definitions`, NOT `streams`, so discover() never sees it and reconcile
  # (ADR-0015) cannot auto-select it as a bronze table.
  #
  # Incremental gate: `expand=insight` adds per-project
  # insight.lastIssueUpdateTime (a denormalized Atlassian aggregate; observed
  # second-fresh on live Jira Cloud). With the client-side cursor on the
  # hoisted last_issue_update_time, the first sync emits every project while
  # later syncs emit only projects whose issues changed since the previous
  # run — idle projects cost zero child requests. Projects with no issues
  # carry no insight block; they default to epoch and stay filtered until
  # their first issue stamps a fresh lastIssueUpdateTime. Comments/worklogs
  # bump the issue's `updated`, which bumps the project aggregate
  # transitively, so this one gate covers all issue substreams.
  #
  # Residual risk (verified empirically): the client-side record filter
  # compares strictly against the stored cursor — lookback_window does NOT
  # widen the gate on resume (observed: 3/211 projects re-emitted, only those
  # updated after the cursor). If the insight aggregate ever lags behind the
  # source of truth, that project's data is delayed until its next issue
  # update pushes the aggregate past the cursor. Accepted: the aggregate was
  # observed second-fresh on live Jira Cloud, and a periodic full refresh
  # (major version bump / connection reset) re-covers everything.
  jira_project_discovery:
    type: DeclarativeStream
    name: jira_project_discovery
    primary_key:
      - project_key
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - values
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        request_parameters:
          expand: insight
        url: "{{ config['jira_instance_url'] }}/rest/api/3/project/search"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - project_key
            value: "{{ record['key'] }}"
          - type: AddedFieldDefinition
            path:
              - last_issue_update_time
            value: >-
              {{ (record.get('insight') or {}).get('lastIssueUpdateTime') or '1970-01-01T00:00:00.000+0000' }}
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: last_issue_update_time
      is_client_side_incremental: true
      # insight.lastIssueUpdateTime is ISO (the first format), but this cursor
      # also has to parse values flowing through the parent_state of its child
      # substreams (jira_issue / jira_issue_keys serialise their cursor as
      # "%Y-%m-%d %H:%M"). With only the ISO format here, reading such a value
      # crashed the stream: "No format in ['%Y-%m-%dT%H:%M:%S.%f%z'] matching
      # 2026-06-15 02:00". Accept all three formats the issue streams use so
      # parent/child cursor values are mutually parseable.
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%f%z"
        - "%Y-%m-%d %H:%M"
        - "%Y-%m-%d"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
      start_datetime:
        type: MinMaxDatetime
        datetime: "1970-01-01"
        datetime_format: "%Y-%m-%d"
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S.%f%z') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
      lookback_window: P3D
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          project_key:
            type:
              - string
              - "null"
          last_issue_update_time:
            type:
              - string
              - "null"
        additionalProperties: true

  # ─── Census parent (specs/DELETION-AND-VISIBILITY.md) ──────────────────
  # Inline-only parent for jira_issue_census: lists every live project the
  # account can browse, with NO incremental gate. jira_project_discovery must
  # never drive the census — its insight.lastIssueUpdateTime gate skips idle
  # projects, and a deletion does not reliably bump that aggregate, so a
  # gated census would miss exactly the disappearances it exists to observe.
  # Parent responses are tiny (id/key per project), so the CDK's SQLite
  # substream-parent cache stays small.
  jira_census_projects:
    type: DeclarativeStream
    name: jira_census_projects
    primary_key:
      - project_key
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - values
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        url: "{{ config['jira_instance_url'] }}/rest/api/3/project/search"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - project_key
            value: "{{ record['key'] }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          project_key:
            type:
              - string
              - "null"
        additionalProperties: true

streams:
  - type: DeclarativeStream
    name: jira_boards
    primary_key:
      - unique_key
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - values
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        url: "{{ config['jira_instance_url'] }}/rest/agile/1.0/board"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          type:
            type:
              - string
              - "null"
          id:
            type: number
          self:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          location:
            type:
              - object
              - "null"
            properties:
              projectId:
                type:
                  - number
                  - "null"
              displayName:
                type:
                  - string
                  - "null"
              projectName:
                type:
                  - string
                  - "null"
              projectKey:
                type:
                  - string
                  - "null"
              projectTypeKey:
                type:
                  - string
                  - "null"
              avatarURI:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
              userId:
                type:
                  - number
                  - "null"
              userAccountId:
                type:
                  - string
                  - "null"
          isPrivate:
            type:
              - boolean
              - "null"
          tenant_id:
            type:
              - string
              - "null"
          source_id:
            type:
              - string
              - "null"
          unique_key:
            type:
              - string
              - "null"
          collected_at:
            type:
              - string
              - "null"
        required:
          - id
        additionalProperties: true
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - tenant_id
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path:
              - source_id
            value: "{{ config['insight_source_id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - unique_key
            value: >-
              {{ config['insight_tenant_id'] }}-{{ config['insight_source_id'] }}-{{ record['id'] }}
          - type: AddedFieldDefinition
            path:
              - collected_at
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S.%f')[:-3] + 'Z' }}"
  - type: DeclarativeStream
    name: jira_fields
    primary_key:
      - unique_key
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
      requester:
        type: HttpRequester
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        url: "{{ config['jira_instance_url'] }}/rest/api/3/field"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - tenant_id
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path:
              - source_id
            value: "{{ config['insight_source_id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - unique_key
            value: >-
              {{ config['insight_tenant_id'] }}-{{ config['insight_source_id'] }}-{{ record['id'] }}
          - type: AddedFieldDefinition
            path:
              - field_id
            value: "{{ record['id'] }}"
          - type: AddedFieldDefinition
            path:
              - name
            value: "{{ record.get('name') }}"
          - type: AddedFieldDefinition
            path:
              - custom
            value: "{{ record.get('custom') }}"
          - type: AddedFieldDefinition
            path:
              - schema_type
            value: "{{ (record.get('schema') or {}).get('type') }}"
          - type: AddedFieldDefinition
            path:
              - schema_items
            value: "{{ (record.get('schema') or {}).get('items') }}"
          - type: AddedFieldDefinition
            path:
              - schema_custom
            value: "{{ (record.get('schema') or {}).get('custom') }}"
          - type: AddedFieldDefinition
            path:
              - collected_at
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S.%f')[:-3] + 'Z' }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id:
            type:
              - string
              - "null"
          key:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          untranslatedName:
            type:
              - string
              - "null"
          custom:
            type:
              - boolean
              - "null"
          orderable:
            type:
              - boolean
              - "null"
          navigable:
            type:
              - boolean
              - "null"
          searchable:
            type:
              - boolean
              - "null"
          clauseNames:
            type:
              - array
              - "null"
            items:
              type:
                - string
                - "null"
          schema:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              custom:
                type:
                  - string
                  - "null"
              customId:
                type:
                  - number
                  - "null"
              items:
                type:
                  - string
                  - "null"
              system:
                type:
                  - string
                  - "null"
              configuration:
                type:
                  - object
                  - "null"
                properties:
                  isMulti:
                    type:
                      - boolean
                      - "null"
                  com.atlassian.jira.plugin.system.customfieldtypes:atlassian-team:
                    type:
                      - boolean
                      - "null"
          tenant_id:
            type:
              - string
              - "null"
          source_id:
            type:
              - string
              - "null"
          unique_key:
            type: string
          field_id:
            type:
              - string
              - "null"
          schema_type:
            type:
              - string
              - "null"
          schema_items:
            type:
              - string
              - "null"
          schema_custom:
            type:
              - string
              - "null"
          collected_at:
            type:
              - string
              - "null"
          scope:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              project:
                type:
                  - object
                  - "null"
                properties:
                  id:
                    type:
                      - string
                      - "null"
        required:
          - unique_key
        additionalProperties: true
  - type: DeclarativeStream
    name: jira_projects
    primary_key:
      - unique_key
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - values
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        # expand=lead: without it /project/search omits the lead object and
        # the lead_account_id stamp below is always empty (bronze gap, #2419).
        request_parameters:
          expand: lead
        url: "{{ config['jira_instance_url'] }}/rest/api/3/project/search"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - tenant_id
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path:
              - source_id
            value: "{{ config['insight_source_id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - unique_key
            value: >-
              {{ config['insight_tenant_id'] }}-{{ config['insight_source_id'] }}-{{ record['id'] }}
          - type: AddedFieldDefinition
            path:
              - project_id
            value: "{{ record['id'] }}"
          - type: AddedFieldDefinition
            path:
              - project_key
            value: "{{ record['key'] }}"
          - type: AddedFieldDefinition
            path:
              - lead_account_id
            value: "{{ (record.get('lead') or {}).get('accountId') }}"
          - type: AddedFieldDefinition
            path:
              - project_type
            value: "{{ record.get('projectTypeKey') }}"
          - type: AddedFieldDefinition
            path:
              - style
            value: "{{ record.get('style') }}"
          - type: AddedFieldDefinition
            path:
              - archived
            value: "{{ record.get('archived', false) }}"
          - type: AddedFieldDefinition
            path:
              - collected_at
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S.%f')[:-3] + 'Z' }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          expand:
            type:
              - string
              - "null"
          self:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          key:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          avatarUrls:
            type:
              - object
              - "null"
            properties:
              48x48:
                type:
                  - string
                  - "null"
              24x24:
                type:
                  - string
                  - "null"
              16x16:
                type:
                  - string
                  - "null"
              32x32:
                type:
                  - string
                  - "null"
          projectCategory:
            type:
              - object
              - "null"
            properties:
              description:
                type:
                  - string
                  - "null"
              self:
                type:
                  - string
                  - "null"
              id:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
          projectTypeKey:
            type:
              - string
              - "null"
          simplified:
            type:
              - boolean
              - "null"
          style:
            type:
              - string
              - "null"
          isPrivate:
            type:
              - boolean
              - "null"
          properties:
            type:
              - object
              - "null"
          tenant_id:
            type:
              - string
              - "null"
          source_id:
            type:
              - string
              - "null"
          unique_key:
            type: string
          project_id:
            type:
              - number
              - "null"
          project_key:
            type:
              - string
              - "null"
          project_type:
            type:
              - string
              - "null"
          archived:
            type:
              - boolean
              - "null"
          lead:
            type:
              - object
              - "null"
          lead_account_id:
            type:
              - string
              - "null"
          collected_at:
            type:
              - string
              - "null"
          entityId:
            type:
              - string
              - "null"
          uuid:
            type:
              - string
              - "null"
        required:
          - unique_key
        additionalProperties: true
  - type: DeclarativeStream
    name: jira_user
    primary_key:
      - unique_key
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: maxResults
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: startAt
        pagination_strategy:
          type: OffsetIncrement
          page_size: 200
      requester:
        type: HttpRequester
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        url: "{{ config['jira_instance_url'] }}/rest/api/3/users/search"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - tenant_id
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path:
              - source_id
            value: "{{ config['insight_source_id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - unique_key
            value: >-
              {{ config['insight_tenant_id'] }}-{{ config['insight_source_id'] }}-{{ record['accountId'] }}
          - type: AddedFieldDefinition
            path:
              - account_id
            value: "{{ record['accountId'] }}"
          - type: AddedFieldDefinition
            path:
              - email
            value: "{{ record.get('emailAddress') }}"
          - type: AddedFieldDefinition
            path:
              - display_name
            value: "{{ record.get('displayName') }}"
          - type: AddedFieldDefinition
            path:
              - account_type
            value: "{{ record.get('accountType') }}"
          - type: AddedFieldDefinition
            path:
              - active
            value: "{{ record.get('active') }}"
          - type: AddedFieldDefinition
            path:
              - collected_at
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S.%f')[:-3] + 'Z' }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          self:
            type:
              - string
              - "null"
          accountId:
            type:
              - string
              - "null"
          accountType:
            type:
              - string
              - "null"
          emailAddress:
            type:
              - string
              - "null"
          avatarUrls:
            type:
              - object
              - "null"
            properties:
              48x48:
                type:
                  - string
                  - "null"
              24x24:
                type:
                  - string
                  - "null"
              16x16:
                type:
                  - string
                  - "null"
              32x32:
                type:
                  - string
                  - "null"
          displayName:
            type:
              - string
              - "null"
          active:
            type:
              - boolean
              - "null"
          tenant_id:
            type:
              - string
              - "null"
          source_id:
            type:
              - string
              - "null"
          unique_key:
            type: string
          account_id:
            type:
              - string
              - "null"
          email:
            type:
              - string
              - "null"
          display_name:
            type:
              - string
              - "null"
          account_type:
            type:
              - string
              - "null"
          collected_at:
            type:
              - string
              - "null"
          locale:
            type:
              - string
              - "null"
          timeZone:
            type:
              - string
              - "null"
        required:
          - unique_key
        additionalProperties: true
  - type: DeclarativeStream
    name: jira_issue
    primary_key:
      - unique_key
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - issues
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: maxResults
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: nextPageToken
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.get('nextPageToken', '') }}"
          stop_condition: "{{ not response.get('nextPageToken') }}"
      requester:
        type: HttpRequester
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        request_parameters:
          $ref: "#/definitions/linked/HttpRequester/request_parameters"
        url: "{{ config['jira_instance_url'] }}/rest/api/3/search/jql"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: project_key
            partition_field: project_key
            incremental_dependency: true
            stream:
              $ref: "#/definitions/jira_project_discovery"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%f%z"
        - "%Y-%m-%d %H:%M"
        - "%Y-%m-%d"
      datetime_format: "%Y-%m-%d %H:%M"
      cursor_granularity: PT1M
      # Force a single global cursor instead of per-partition state. Since
      # #1316 made this stream a substream of jira_project_discovery, the CDK
      # kept per-partition cursor state keyed by project (211 partitions, under
      # the 10k cap that auto-switches to global). That per-partition state did
      # NOT persist (committed as `states: []`), so every sync re-pulled all
      # projects from jira_start_date — ~2.5h, 2M+ records, Argo poll timed out
      # before dbt. The global cursor is one max(updated) across all projects;
      # it persists as `{"state":{"updated":...}}` (verified: resume read after
      # a 5100-record first run pulled only 235). The issue substreams
      # (history/comments/worklogs) already use a global cursor because their
      # per-issue partition count exceeds the 10k cap.
      global_substream_cursor: true
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config.get('jira_start_date', '2020-01-01') }}"
        datetime_format: "%Y-%m-%d"
      end_datetime:
        type: MinMaxDatetime
        # WORKAROUND: a JQL datetime literal carries no timezone — Jira reads
        # it in the instance's own zone, while this bound is rendered from
        # now_utc(). A bare `updated <= <now-as-UTC>` ceiling therefore lands
        # early on a positive-offset instance, and any object that changes
        # more often than that offset sits above it at every sync and is never
        # collected. +14h clears the ceiling for every possible zone (the
        # maximum is UTC+14) without having to resolve which one applies.
        # It cannot drag the cursor with it: the cursor advances to the newest
        # record actually returned, and on the next sync the window floor is
        # restored from that stored value, never from the previous ceiling
        # (DateTimeStreamStateConverter.convert_from_sequential_state).
        datetime: "{{ (now_utc() + duration('PT14H')).strftime('%Y-%m-%d %H:%M') }}"
        datetime_format: "%Y-%m-%d %H:%M"
      step: P30D
      # The missing timezone skews the floor the other way on a negative-offset
      # instance, and a long sync reads early partitions before late ones. 14h
      # covers both. Independent of the ceiling above — do not tie them.
      lookback_window: PT14H
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - tenant_id
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path:
              - source_id
            value: "{{ config['insight_source_id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - unique_key
            value: >-
              {{ config['insight_tenant_id'] }}-{{ config['insight_source_id'] }}-{{ record['id'] }}
          - type: AddedFieldDefinition
            path:
              - jira_id
            value: "{{ record['id'] }}"
          - type: AddedFieldDefinition
            path:
              - id_readable
            value: "{{ record['key'] }}"
          - type: AddedFieldDefinition
            path:
              - project_key
            value: "{{ ((record.get('fields') or {}).get('project') or {}).get('key') }}"
          - type: AddedFieldDefinition
            path:
              - status_id
            value: "{{ ((record.get('fields') or {}).get('status') or {}).get('id') }}"
          - type: AddedFieldDefinition
            path:
              - priority_id
            value: "{{ ((record.get('fields') or {}).get('priority') or {}).get('id') }}"
          - type: AddedFieldDefinition
            path:
              - issuetype_id
            value: "{{ ((record.get('fields') or {}).get('issuetype') or {}).get('id') }}"
          - type: AddedFieldDefinition
            path:
              - resolution_id
            value: "{{ ((record.get('fields') or {}).get('resolution') or {}).get('id') }}"
          - type: AddedFieldDefinition
            path:
              - assignee_id
            value: >-
              {{ ((record.get('fields') or {}).get('assignee') or {}).get('accountId') }}
          - type: AddedFieldDefinition
            path:
              - reporter_id
            value: >-
              {{ ((record.get('fields') or {}).get('reporter') or {}).get('accountId') }}
          - type: AddedFieldDefinition
            path:
              - parent_id
            value: "{{ ((record.get('fields') or {}).get('parent') or {}).get('key') }}"
          - type: AddedFieldDefinition
            path:
              - labels_csv
            value: "{{ ((record.get('fields') or {}).get('labels') or []) | join(',') }}"
          # No hardcoded field-id fallback: story-points custom-field ids are
          # instance-specific and a wrong guess silently reads the wrong field
          # (or nothing). The config key remains as an explicit operator
          # override; the authoritative resolution happens in dbt from
          # bronze_jira.jira_fields metadata (specs/DATA-COMPLETENESS.md).
          - type: AddedFieldDefinition
            path:
              - story_points
            value: >-
              {{ (record.get('fields') or {}).get(config.get('jira_story_points_field_id', '')) or (record.get('fields') or {}).get('story_points') }}
          - type: AddedFieldDefinition
            path:
              - due_date
            value: "{{ (record.get('fields') or {}).get('duedate') }}"
          - type: AddedFieldDefinition
            path:
              - created
            value: "{{ (record.get('fields') or {}).get('created') }}"
          - type: AddedFieldDefinition
            path:
              - updated
            value: "{{ (record.get('fields') or {}).get('updated') }}"
          - type: AddedFieldDefinition
            path:
              - custom_fields_json
            value: "{{ record.get('fields', {}) | tojson }}"
          - type: AddedFieldDefinition
            path:
              - collected_at
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S.%f')[:-3] + 'Z' }}"
      # The `fields` object is emitted twice: once raw, and once re-serialized
      # by `custom_fields_json` above. The key sets are identical and the only
      # value differences are nested-key ordering, so the raw copy is dropped —
      # it has no reader, its key order is not deterministic, and it is the
      # larger of the two by far. Runs AFTER the AddFields block, which reads
      # `fields` to derive the flattened columns.
      - type: RemoveFields
        field_pointers:
          - [fields]
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          expand:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          self:
            type:
              - string
              - "null"
          key:
            type:
              - string
              - "null"
          tenant_id:
            type:
              - string
              - "null"
          source_id:
            type:
              - string
              - "null"
          unique_key:
            type: string
          jira_id:
            type:
              - string
              - "null"
          id_readable:
            type:
              - string
              - "null"
          project_key:
            type:
              - string
              - "null"
          status_id:
            type:
              - number
              - "null"
          priority_id:
            type:
              - number
              - "null"
          issuetype_id:
            type:
              - number
              - "null"
          resolution_id:
            type:
              - number
              - "null"
          assignee_id:
            type:
              - string
              - "null"
          reporter_id:
            type:
              - string
              - "null"
          parent_id:
            type:
              - string
              - "null"
          labels_csv:
            type:
              - string
              - "null"
          due_date:
            type:
              - string
              - "null"
          created:
            type:
              - string
              - "null"
          updated:
            type: string
          custom_fields_json:
            type:
              - string
              - "null"
          collected_at:
            type:
              - string
              - "null"
        required:
          - unique_key
          - updated
        additionalProperties: true
  - type: DeclarativeStream
    name: jira_issue_history
    primary_key:
      - unique_key
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - values
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: maxResults
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: startAt
        pagination_strategy:
          type: OffsetIncrement
          page_size: 100
      requester:
        type: HttpRequester
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        url: >-
          {{ config['jira_instance_url'] }}/rest/api/3/issue/{{ stream_partition.id_readable }}/changelog
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/13"
            parent_key: id_readable
            partition_field: id_readable
            # INVARIANT: the parent's immutable id travels with every child row; the
            # key is what Jira showed at fetch time and changes on a project move.
            extra_fields:
              - [id]
            incremental_dependency: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: created
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%f%z"
        - "%Y-%m-%dT%H:%M:%S%z"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config.get('jira_start_date', '2020-01-01') }}"
        datetime_format: "%Y-%m-%d"
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S.%fZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      lookback_window: PT1H
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - tenant_id
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path:
              - source_id
            value: "{{ config['insight_source_id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - unique_key
            value: >-
              {{ config['insight_tenant_id'] }}-{{ config['insight_source_id'] }}-{{ record['id'] }}
          - type: AddedFieldDefinition
            path:
              - id_readable
            value: "{{ stream_partition.id_readable }}"
          - type: AddedFieldDefinition
            path:
              - jira_id
            value: "{{ stream_slice.extra_fields['id'] }}"
          - type: AddedFieldDefinition
            path:
              - author_account_id
            value: "{{ (record.get('author') or {}).get('accountId') }}"
          - type: AddedFieldDefinition
            path:
              - changelog_id
            value: "{{ record['id'] }}"
          - type: AddedFieldDefinition
            path:
              - created_at
            value: "{{ record.get('created') }}"
          - type: AddedFieldDefinition
            path:
              - items
            value: "{{ record.get('items', []) | tojson }}"
          - type: AddedFieldDefinition
            path:
              - collected_at
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S.%f')[:-3] + 'Z' }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id:
            type:
              - string
              - "null"
          author:
            type:
              - object
              - "null"
            properties:
              self:
                type:
                  - string
                  - "null"
              accountId:
                type:
                  - string
                  - "null"
              emailAddress:
                type:
                  - string
                  - "null"
              avatarUrls:
                type:
                  - object
                  - "null"
                properties:
                  48x48:
                    type:
                      - string
                      - "null"
                  24x24:
                    type:
                      - string
                      - "null"
                  16x16:
                    type:
                      - string
                      - "null"
                  32x32:
                    type:
                      - string
                      - "null"
              displayName:
                type:
                  - string
                  - "null"
              active:
                type:
                  - boolean
                  - "null"
              timeZone:
                type:
                  - string
                  - "null"
              accountType:
                type:
                  - string
                  - "null"
          created:
            type:
              - string
              - "null"
          items:
            # Plain string, NOT `anyOf: [string, array]`. The AddFields
            # transformation renders this column with `| tojson`; the CDK then
            # re-parses that render with ast.literal_eval, which fails on JSON
            # `null` and leaves the value a string. Under a string/array union
            # the destination JSON-encodes that string, storing an escaped blob
            # `"[{\"field\": ...}]"` that JSONExtractArrayRaw cannot read —
            # every changelog item whose previous value was empty is lost that
            # way. A plain string declaration stores the render verbatim.
            type:
              - string
              - "null"
          tenant_id:
            type:
              - string
              - "null"
          source_id:
            type:
              - string
              - "null"
          unique_key:
            type: string
          id_readable:
            type:
              - string
              - "null"
          jira_id:
            type:
              - string
              - "null"
          author_account_id:
            type:
              - string
              - "null"
          changelog_id:
            type:
              - number
              - "null"
          created_at:
            type:
              - string
              - "null"
          collected_at:
            type:
              - string
              - "null"
        required:
          - unique_key
        additionalProperties: true
  - type: DeclarativeStream
    name: jira_comments
    primary_key:
      - unique_key
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - comments
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        url: >-
          {{ config['jira_instance_url'] }}/rest/api/3/issue/{{ stream_partition.id_readable }}/comment
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/13"
            parent_key: id_readable
            partition_field: id_readable
            # INVARIANT: the parent's immutable id travels with every child row; the
            # key is what Jira showed at fetch time and changes on a project move.
            extra_fields:
              - [id]
            incremental_dependency: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%f%z"
        - "%Y-%m-%dT%H:%M:%S%z"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config.get('jira_start_date', '2020-01-01') }}"
        datetime_format: "%Y-%m-%d"
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S.%fZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      lookback_window: PT1H
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - tenant_id
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path:
              - source_id
            value: "{{ config['insight_source_id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - unique_key
            value: >-
              {{ config['insight_tenant_id'] }}-{{ config['insight_source_id'] }}-{{ record['id'] }}
          - type: AddedFieldDefinition
            path:
              - comment_id
            value: "{{ record['id'] }}"
          - type: AddedFieldDefinition
            path:
              - id_readable
            value: "{{ stream_partition.id_readable }}"
          - type: AddedFieldDefinition
            path:
              - jira_id
            value: "{{ stream_slice.extra_fields['id'] }}"
          - type: AddedFieldDefinition
            path:
              - author_account_id
            value: "{{ (record.get('author') or {}).get('accountId') }}"
          - type: AddedFieldDefinition
            path:
              - created
            value: "{{ record.get('created') }}"
          - type: AddedFieldDefinition
            path:
              - updated
            value: "{{ record.get('updated') }}"
          - type: AddedFieldDefinition
            path:
              - body
            value: "{{ record.get('body', {}) | tojson }}"
          - type: AddedFieldDefinition
            path:
              - collected_at
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S.%f')[:-3] + 'Z' }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          self:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          author:
            type:
              - object
              - "null"
            properties:
              self:
                type:
                  - string
                  - "null"
              accountId:
                type:
                  - string
                  - "null"
              emailAddress:
                type:
                  - string
                  - "null"
              avatarUrls:
                type:
                  - object
                  - "null"
                properties:
                  48x48:
                    type:
                      - string
                      - "null"
                  24x24:
                    type:
                      - string
                      - "null"
                  16x16:
                    type:
                      - string
                      - "null"
                  32x32:
                    type:
                      - string
                      - "null"
              displayName:
                type:
                  - string
                  - "null"
              active:
                type:
                  - boolean
                  - "null"
              timeZone:
                type:
                  - string
                  - "null"
              accountType:
                type:
                  - string
                  - "null"
          body:
            type:
              - string
              - "null"
          updateAuthor:
            type:
              - object
              - "null"
            properties:
              self:
                type:
                  - string
                  - "null"
              accountId:
                type:
                  - string
                  - "null"
              emailAddress:
                type:
                  - string
                  - "null"
              avatarUrls:
                type:
                  - object
                  - "null"
                properties:
                  48x48:
                    type:
                      - string
                      - "null"
                  24x24:
                    type:
                      - string
                      - "null"
                  16x16:
                    type:
                      - string
                      - "null"
                  32x32:
                    type:
                      - string
                      - "null"
              displayName:
                type:
                  - string
                  - "null"
              active:
                type:
                  - boolean
                  - "null"
              timeZone:
                type:
                  - string
                  - "null"
              accountType:
                type:
                  - string
                  - "null"
          created:
            type:
              - string
              - "null"
          updated:
            type:
              - string
              - "null"
          jsdPublic:
            type:
              - boolean
              - "null"
          tenant_id:
            type:
              - string
              - "null"
          source_id:
            type:
              - string
              - "null"
          unique_key:
            type: string
          comment_id:
            type:
              - number
              - "null"
          id_readable:
            type:
              - string
              - "null"
          jira_id:
            type:
              - string
              - "null"
          author_account_id:
            type:
              - string
              - "null"
          collected_at:
            type:
              - string
              - "null"
        required:
          - unique_key
        additionalProperties: true
  - type: DeclarativeStream
    name: jira_worklogs
    primary_key:
      - unique_key
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - worklogs
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: maxResults
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: startAt
        pagination_strategy:
          type: OffsetIncrement
          page_size: 100
      requester:
        type: HttpRequester
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        url: >-
          {{ config['jira_instance_url'] }}/rest/api/3/issue/{{ stream_partition.id_readable }}/worklog
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              $ref: "#/streams/13"
            parent_key: id_readable
            partition_field: id_readable
            # INVARIANT: the parent's immutable id travels with every child row; the
            # key is what Jira showed at fetch time and changes on a project move.
            extra_fields:
              - [id]
            incremental_dependency: true
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%f%z"
        - "%Y-%m-%dT%H:%M:%S%z"
      datetime_format: "%Y-%m-%dT%H:%M:%S.%f%z"
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config.get('jira_start_date', '2020-01-01') }}"
        datetime_format: "%Y-%m-%d"
      end_datetime:
        type: MinMaxDatetime
        datetime: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S.%fZ') }}"
        datetime_format: "%Y-%m-%dT%H:%M:%S.%fZ"
      lookback_window: PT1H
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - tenant_id
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path:
              - source_id
            value: "{{ config['insight_source_id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - unique_key
            value: >-
              {{ config['insight_tenant_id'] }}-{{ config['insight_source_id'] }}-{{ record['id'] }}
          - type: AddedFieldDefinition
            path:
              - worklog_id
            value: "{{ record['id'] }}"
          - type: AddedFieldDefinition
            path:
              - id_readable
            value: "{{ stream_partition.id_readable }}"
          - type: AddedFieldDefinition
            path:
              - jira_id
            value: "{{ stream_slice.extra_fields['id'] }}"
          - type: AddedFieldDefinition
            path:
              - author_account_id
            value: "{{ (record.get('author') or {}).get('accountId') }}"
          - type: AddedFieldDefinition
            path:
              - started
            value: "{{ record.get('started') }}"
          - type: AddedFieldDefinition
            path:
              - time_spent_seconds
            value: "{{ record.get('timeSpentSeconds') }}"
          - type: AddedFieldDefinition
            path:
              - comment
            value: >-
              {{ record.get('comment', '') | tojson if record.get('comment') is mapping else record.get('comment', '') }}
          - type: AddedFieldDefinition
            path:
              - collected_at
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S.%f')[:-3] + 'Z' }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          self:
            type:
              - string
              - "null"
          author:
            type:
              - object
              - "null"
            properties:
              self:
                type:
                  - string
                  - "null"
              accountId:
                type:
                  - string
                  - "null"
              emailAddress:
                type:
                  - string
                  - "null"
              avatarUrls:
                type:
                  - object
                  - "null"
                properties:
                  48x48:
                    type:
                      - string
                      - "null"
                  24x24:
                    type:
                      - string
                      - "null"
                  16x16:
                    type:
                      - string
                      - "null"
                  32x32:
                    type:
                      - string
                      - "null"
              displayName:
                type:
                  - string
                  - "null"
              active:
                type:
                  - boolean
                  - "null"
              timeZone:
                type:
                  - string
                  - "null"
              accountType:
                type:
                  - string
                  - "null"
          updateAuthor:
            type:
              - object
              - "null"
            properties:
              self:
                type:
                  - string
                  - "null"
              accountId:
                type:
                  - string
                  - "null"
              emailAddress:
                type:
                  - string
                  - "null"
              avatarUrls:
                type:
                  - object
                  - "null"
                properties:
                  48x48:
                    type:
                      - string
                      - "null"
                  24x24:
                    type:
                      - string
                      - "null"
                  16x16:
                    type:
                      - string
                      - "null"
                  32x32:
                    type:
                      - string
                      - "null"
              displayName:
                type:
                  - string
                  - "null"
              active:
                type:
                  - boolean
                  - "null"
              timeZone:
                type:
                  - string
                  - "null"
              accountType:
                type:
                  - string
                  - "null"
          created:
            type:
              - string
              - "null"
          updated:
            type:
              - string
              - "null"
          started:
            type:
              - string
              - "null"
          timeSpent:
            type:
              - string
              - "null"
          timeSpentSeconds:
            type:
              - number
              - "null"
          id:
            type:
              - string
              - "null"
          issueId:
            type:
              - string
              - "null"
          tenant_id:
            type:
              - string
              - "null"
          source_id:
            type:
              - string
              - "null"
          unique_key:
            type: string
          worklog_id:
            type:
              - number
              - "null"
          id_readable:
            type:
              - string
              - "null"
          jira_id:
            type:
              - string
              - "null"
          author_account_id:
            type:
              - string
              - "null"
          time_spent_seconds:
            type:
              - number
              - "null"
          comment:
            type:
              - string
              - "null"
          collected_at:
            type:
              - string
              - "null"
        required:
          - unique_key
        additionalProperties: true
  - type: DeclarativeStream
    name: jira_sprints
    primary_key:
      - unique_key
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - values
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        url: >-
          {{ config['jira_instance_url'] }}/rest/agile/1.0/board/{{ stream_partition.board_id }}/sprint
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            stream:
              type: DeclarativeStream
              name: _scrum_boards
              retriever:
                type: SimpleRetriever
                record_selector:
                  type: RecordSelector
                  extractor:
                    type: DpathExtractor
                    field_path:
                      - values
                paginator:
                  $ref: "#/definitions/linked/SimpleRetriever/paginator"
                requester:
                  type: HttpRequester
                  http_method: GET
                  authenticator:
                    $ref: "#/definitions/linked/HttpRequester/authenticator"
                  error_handler:
                    $ref: "#/definitions/linked/HttpRequester/error_handler"
                  url: "{{ config['jira_instance_url'] }}/rest/agile/1.0/board?type=scrum"
              schema_loader:
                type: InlineSchemaLoader
                schema:
                  type: object
                  properties:
                    id:
                      type: number
            parent_key: id
            partition_field: board_id
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - tenant_id
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path:
              - source_id
            value: "{{ config['insight_source_id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - unique_key
            value: >-
              {{ config['insight_tenant_id'] }}-{{ config['insight_source_id'] }}-{{ record['id'] }}
          - type: AddedFieldDefinition
            path:
              - sprint_id
            value: "{{ record['id'] }}"
          - type: AddedFieldDefinition
            path:
              - board_id
            value: "{{ stream_partition.board_id }}"
          - type: AddedFieldDefinition
            path:
              - sprint_name
            value: "{{ record.get('name') }}"
          - type: AddedFieldDefinition
            path:
              - state
            value: "{{ record.get('state') }}"
          - type: AddedFieldDefinition
            path:
              - start_date
            value: "{{ record.get('startDate') }}"
          - type: AddedFieldDefinition
            path:
              - end_date
            value: "{{ record.get('endDate') }}"
          - type: AddedFieldDefinition
            path:
              - complete_date
            value: "{{ record.get('completeDate') }}"
          - type: AddedFieldDefinition
            path:
              - collected_at
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S.%f')[:-3] + 'Z' }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id:
            type:
              - number
              - "null"
          self:
            type:
              - string
              - "null"
          state:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          startDate:
            type:
              - string
              - "null"
          endDate:
            type:
              - string
              - "null"
          completeDate:
            type:
              - string
              - "null"
          originBoardId:
            type:
              - number
              - "null"
          tenant_id:
            type:
              - string
              - "null"
          source_id:
            type:
              - string
              - "null"
          unique_key:
            type: string
          sprint_id:
            type:
              - number
              - "null"
          board_id:
            type:
              - number
              - "null"
          sprint_name:
            type:
              - number
              - string
              - "null"
          start_date:
            type:
              - string
              - "null"
          end_date:
            type:
              - string
              - "null"
          complete_date:
            type:
              - string
              - "null"
          collected_at:
            type:
              - string
              - "null"
          goal:
            type:
              - string
              - "null"
          createdDate:
            type:
              - string
              - "null"
        required:
          - unique_key
        additionalProperties: true
  - type: DeclarativeStream
    name: jira_statuses
    primary_key:
      - unique_key
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
      requester:
        type: HttpRequester
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        url: "{{ config['jira_instance_url'] }}/rest/api/3/status"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - tenant_id
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path:
              - source_id
            value: "{{ config['insight_source_id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - unique_key
            value: >-
              {{ config['insight_tenant_id'] }}-{{ config['insight_source_id'] }}-{{ record['id'] }}
          - type: AddedFieldDefinition
            path:
              - status_id
            value: "{{ record['id'] }}"
          - type: AddedFieldDefinition
            path:
              - name
            value: "{{ record.get('name') }}"
          - type: AddedFieldDefinition
            path:
              - category_id
            value: "{{ (record.get('statusCategory') or {}).get('id') }}"
          - type: AddedFieldDefinition
            path:
              - category_name
            value: "{{ (record.get('statusCategory') or {}).get('name') }}"
          - type: AddedFieldDefinition
            path:
              - category_key
            value: "{{ (record.get('statusCategory') or {}).get('key') }}"
          - type: AddedFieldDefinition
            path:
              - collected_at
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S.%f')[:-3] + 'Z' }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          description:
            type:
              - string
              - "null"
          self:
            type:
              - string
              - "null"
          iconUrl:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          untranslatedName:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          statusCategory:
            type:
              - object
              - "null"
            properties:
              self:
                type:
                  - string
                  - "null"
              id:
                type:
                  - number
                  - "null"
              key:
                type:
                  - string
                  - "null"
              colorName:
                type:
                  - string
                  - "null"
              name:
                type:
                  - string
                  - "null"
          scope:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              project:
                type:
                  - object
                  - "null"
                properties:
                  id:
                    type:
                      - string
                      - "null"
          tenant_id:
            type:
              - string
              - "null"
          source_id:
            type:
              - string
              - "null"
          unique_key:
            type: string
          status_id:
            type:
              - number
              - "null"
          category_id:
            type:
              - number
              - "null"
          category_name:
            type:
              - string
              - "null"
          category_key:
            type:
              - string
              - "null"
          collected_at:
            type:
              - string
              - "null"
        required:
          - unique_key
        additionalProperties: true
  - type: DeclarativeStream
    name: jira_priorities
    primary_key:
      - unique_key
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
      requester:
        type: HttpRequester
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        url: "{{ config['jira_instance_url'] }}/rest/api/3/priority"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - tenant_id
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path:
              - source_id
            value: "{{ config['insight_source_id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - unique_key
            value: >-
              {{ config['insight_tenant_id'] }}-{{ config['insight_source_id'] }}-{{ record['id'] }}
          - type: AddedFieldDefinition
            path:
              - priority_id
            value: "{{ record['id'] }}"
          - type: AddedFieldDefinition
            path:
              - name
            value: "{{ record.get('name') }}"
          - type: AddedFieldDefinition
            path:
              - collected_at
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S.%f')[:-3] + 'Z' }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          description:
            type:
              - string
              - "null"
          self:
            type:
              - string
              - "null"
          statusColor:
            type:
              - string
              - "null"
          iconUrl:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          tenant_id:
            type:
              - string
              - "null"
          source_id:
            type:
              - string
              - "null"
          unique_key:
            type: string
          priority_id:
            type:
              - number
              - "null"
          collected_at:
            type:
              - string
              - "null"
        required:
          - unique_key
        additionalProperties: true
  - type: DeclarativeStream
    name: jira_issuetypes
    primary_key:
      - unique_key
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
      requester:
        type: HttpRequester
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        url: "{{ config['jira_instance_url'] }}/rest/api/3/issuetype"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - tenant_id
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path:
              - source_id
            value: "{{ config['insight_source_id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - unique_key
            value: >-
              {{ config['insight_tenant_id'] }}-{{ config['insight_source_id'] }}-{{ record['id'] }}
          - type: AddedFieldDefinition
            path:
              - issuetype_id
            value: "{{ record['id'] }}"
          - type: AddedFieldDefinition
            path:
              - name
            value: "{{ record.get('name') }}"
          - type: AddedFieldDefinition
            path:
              - subtask
            value: "{{ record.get('subtask', false) }}"
          - type: AddedFieldDefinition
            path:
              - hierarchy_level
            value: "{{ record.get('hierarchyLevel') }}"
          - type: AddedFieldDefinition
            path:
              - collected_at
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S.%f')[:-3] + 'Z' }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          description:
            type:
              - string
              - "null"
          self:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          iconUrl:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          untranslatedName:
            type:
              - string
              - "null"
          subtask:
            type:
              - boolean
              - "null"
          avatarId:
            type:
              - number
              - "null"
          hierarchyLevel:
            type:
              - number
              - "null"
          tenant_id:
            type:
              - string
              - "null"
          source_id:
            type:
              - string
              - "null"
          unique_key:
            type: string
          issuetype_id:
            type:
              - number
              - "null"
          hierarchy_level:
            type:
              - number
              - "null"
          collected_at:
            type:
              - string
              - "null"
          scope:
            type:
              - object
              - "null"
            properties:
              type:
                type:
                  - string
                  - "null"
              project:
                type:
                  - object
                  - "null"
                properties:
                  id:
                    type:
                      - string
                      - "null"
        required:
          - unique_key
        additionalProperties: true
  - type: DeclarativeStream
    name: jira_resolutions
    primary_key:
      - unique_key
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      paginator:
        type: NoPagination
      requester:
        type: HttpRequester
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        url: "{{ config['jira_instance_url'] }}/rest/api/3/resolution"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - tenant_id
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path:
              - source_id
            value: "{{ config['insight_source_id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - unique_key
            value: >-
              {{ config['insight_tenant_id'] }}-{{ config['insight_source_id'] }}-{{ record['id'] }}
          - type: AddedFieldDefinition
            path:
              - resolution_id
            value: "{{ record['id'] }}"
          - type: AddedFieldDefinition
            path:
              - name
            value: "{{ record.get('name') }}"
          - type: AddedFieldDefinition
            path:
              - collected_at
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S.%f')[:-3] + 'Z' }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          description:
            type:
              - string
              - "null"
          self:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          tenant_id:
            type:
              - string
              - "null"
          source_id:
            type:
              - string
              - "null"
          unique_key:
            type: string
          resolution_id:
            type:
              - number
              - "null"
          collected_at:
            type:
              - string
              - "null"
        required:
          - unique_key
        additionalProperties: true

  # ─── Lightweight parent for issue substreams ──────────────────────────
  # SubstreamPartitionRouter parent for jira_issue_history, jira_comments and
  # jira_worklogs — it enumerates issue keys and deliberately requests a
  # minimal field set ("updated" for the cursor; id/key come back at the top
  # level for free) instead of the full jira_issue payload (fields=*all +
  # expand=names). The CDK auto-caches a substream parent's HTTP responses in
  # SQLite; caching the full jira_issue responses (~2 MB each on instances
  # with ~1000 fields) ballooned that cache to ~226 MB and stalled the sync
  # with no records emitted. Keeping the parent responses tiny keeps the
  # cache small. jira_issue itself stays the full-record emitter but is no
  # longer a substream parent, so it is read once and not cached.
  #
  # Reconcile (ADR-0015) auto-selects every discovered stream, so this lands
  # as a real (tiny: key + updated per issue) bronze_jira.jira_issue_keys
  # table. It therefore carries the standard identity stamp
  # (tenant_id/source_id/unique_key) and is promoted to RMT in
  # dbt/jira__bronze_promoted.sql like every other jira bronze table.
  - type: DeclarativeStream
    name: jira_issue_keys
    primary_key:
      - unique_key
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - issues
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: maxResults
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: nextPageToken
        pagination_strategy:
          type: CursorPagination
          page_size: 100
          cursor_value: "{{ response.get('nextPageToken', '') }}"
          stop_condition: "{{ not response.get('nextPageToken') }}"
      requester:
        type: HttpRequester
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        request_parameters:
          jql: >-
            project = "{{ stream_partition.project_key }}" AND updated >= "{{ stream_slice.start_time }}" AND updated <= "{{ stream_slice.end_time }}" ORDER BY updated ASC
          fields: updated
        url: "{{ config['jira_instance_url'] }}/rest/api/3/search/jql"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: project_key
            partition_field: project_key
            incremental_dependency: true
            stream:
              $ref: "#/definitions/jira_project_discovery"
    incremental_sync:
      type: DatetimeBasedCursor
      cursor_field: updated
      cursor_datetime_formats:
        - "%Y-%m-%dT%H:%M:%S.%f%z"
        - "%Y-%m-%d %H:%M"
        - "%Y-%m-%d"
      datetime_format: "%Y-%m-%d %H:%M"
      cursor_granularity: PT1M
      # Force a single global cursor instead of per-partition state. Since
      # #1316 made this stream a substream of jira_project_discovery, the CDK
      # kept per-partition cursor state keyed by project (211 partitions, under
      # the 10k cap that auto-switches to global). That per-partition state did
      # NOT persist (committed as `states: []`), so every sync re-pulled all
      # projects from jira_start_date — ~2.5h, 2M+ records, Argo poll timed out
      # before dbt. The global cursor is one max(updated) across all projects;
      # it persists as `{"state":{"updated":...}}` (verified: resume read after
      # a 5100-record first run pulled only 235). The issue substreams
      # (history/comments/worklogs) already use a global cursor because their
      # per-issue partition count exceeds the 10k cap.
      global_substream_cursor: true
      start_datetime:
        type: MinMaxDatetime
        datetime: "{{ config.get('jira_start_date', '2020-01-01') }}"
        datetime_format: "%Y-%m-%d"
      end_datetime:
        type: MinMaxDatetime
        # WORKAROUND: a JQL datetime literal carries no timezone — Jira reads
        # it in the instance's own zone, while this bound is rendered from
        # now_utc(). A bare `updated <= <now-as-UTC>` ceiling therefore lands
        # early on a positive-offset instance, and any object that changes
        # more often than that offset sits above it at every sync and is never
        # collected. +14h clears the ceiling for every possible zone (the
        # maximum is UTC+14) without having to resolve which one applies.
        # It cannot drag the cursor with it: the cursor advances to the newest
        # record actually returned, and on the next sync the window floor is
        # restored from that stored value, never from the previous ceiling
        # (DateTimeStreamStateConverter.convert_from_sequential_state).
        datetime: "{{ (now_utc() + duration('PT14H')).strftime('%Y-%m-%d %H:%M') }}"
        datetime_format: "%Y-%m-%d %H:%M"
      step: P30D
      # The missing timezone skews the floor the other way on a negative-offset
      # instance, and a long sync reads early partitions before late ones. 14h
      # covers both. Independent of the ceiling above — do not tie them.
      lookback_window: PT14H
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - tenant_id
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path:
              - source_id
            value: "{{ config['insight_source_id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - unique_key
            value: >-
              {{ config['insight_tenant_id'] }}-{{ config['insight_source_id'] }}-{{ record['id'] }}
          - type: AddedFieldDefinition
            path:
              - id_readable
            value: "{{ record['key'] }}"
          - type: AddedFieldDefinition
            path:
              - jira_id
            value: "{{ record['id'] }}"
          # Hoist the cursor field to the top level: /search/jql returns it
          # nested as fields.updated, but DatetimeBasedCursor reads
          # record['updated'] (jira_issue does the same hoist).
          - type: AddedFieldDefinition
            path:
              - updated
            value: "{{ (record.get('fields') or {}).get('updated') }}"
          - type: AddedFieldDefinition
            path:
              - collected_at
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S.%f')[:-3] + 'Z' }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id:
            type:
              - string
              - "null"
          key:
            type:
              - string
              - "null"
          tenant_id:
            type:
              - string
              - "null"
          source_id:
            type:
              - string
              - "null"
          unique_key:
            type: string
          id_readable:
            type:
              - string
              - "null"
          jira_id:
            type:
              - string
              - "null"
          updated:
            type: string
          collected_at:
            type:
              - string
              - "null"
        required:
          - unique_key
          - updated
        additionalProperties: true

  # ─── Deletion & visibility censuses (specs/DELETION-AND-VISIBILITY.md) ──
  # Both streams are full-refresh: each sync re-observes the complete visible
  # surface. After RMT promotion (version = _airbyte_extracted_at) each row's
  # extracted-at is the entity's last-seen timestamp; dbt classifies absences
  # against the census high-water mark (deleted / archived / trashed /
  # access_lost / unobserved) — see dbt/jira__issue_availability_state.sql.

  # Roster of every project the account can see, per lifecycle status.
  # Presence in /project/search IS the Browse-permission check: the endpoint
  # returns only projects the caller can browse. status=deleted means the
  # project sits in Jira's trash (retention window before permanent purge).
  - type: DeclarativeStream
    name: jira_project_visibility
    primary_key:
      - unique_key
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - values
      paginator:
        $ref: "#/definitions/linked/SimpleRetriever/paginator"
      requester:
        type: HttpRequester
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        request_parameters:
          status: "{{ stream_partition.project_status }}"
        url: "{{ config['jira_instance_url'] }}/rest/api/3/project/search"
      partition_router:
        type: ListPartitionRouter
        cursor_field: project_status
        values:
          - live
          - archived
          - deleted
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - tenant_id
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path:
              - source_id
            value: "{{ config['insight_source_id'] }}"
      - type: AddFields
        fields:
          # Keyed by immutable numeric project id, not by key: project keys
          # can be renamed, and a rename must not look like access loss.
          - type: AddedFieldDefinition
            path:
              - unique_key
            value: >-
              {{ config['insight_tenant_id'] }}-{{ config['insight_source_id'] }}-{{ record['id'] }}
          - type: AddedFieldDefinition
            path:
              - project_id
            value: "{{ record['id'] }}"
          - type: AddedFieldDefinition
            path:
              - project_key
            value: "{{ record['key'] }}"
          - type: AddedFieldDefinition
            path:
              - project_status
            value: "{{ stream_partition.project_status }}"
          - type: AddedFieldDefinition
            path:
              - is_private
            value: "{{ record.get('isPrivate', false) }}"
          - type: AddedFieldDefinition
            path:
              - collected_at
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S.%f')[:-3] + 'Z' }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          expand:
            type:
              - string
              - "null"
          self:
            type:
              - string
              - "null"
          id:
            type:
              - string
              - "null"
          key:
            type:
              - string
              - "null"
          name:
            type:
              - string
              - "null"
          avatarUrls:
            type:
              - object
              - "null"
          projectCategory:
            type:
              - object
              - "null"
          projectTypeKey:
            type:
              - string
              - "null"
          simplified:
            type:
              - boolean
              - "null"
          style:
            type:
              - string
              - "null"
          isPrivate:
            type:
              - boolean
              - "null"
          properties:
            type:
              - object
              - "null"
          tenant_id:
            type:
              - string
              - "null"
          source_id:
            type:
              - string
              - "null"
          unique_key:
            type: string
          # CDK interpolation literal-evals the rendered Jinja value, so the
          # numeric-string API id becomes an int — declared number, like
          # jira_projects.project_id.
          project_id:
            type:
              - number
              - "null"
          project_key:
            type:
              - string
              - "null"
          project_status:
            type: string
          is_private:
            type:
              - boolean
              - "null"
          collected_at:
            type:
              - string
              - "null"
        required:
          - unique_key
          - project_status
        additionalProperties: true

  # Id-only sweep of ALL issues in every visible live project. Jira Cloud
  # serves large pages when only `id` is requested (maxResults up to 5000),
  # so the census costs ceil(issues/5000) requests per
  # project. Keyed by numeric issue id, never by key: moving an issue between
  # projects changes its key but not its id — a key-based census would report
  # every moved issue as deleted.
  - type: DeclarativeStream
    name: jira_issue_census
    primary_key:
      - unique_key
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - issues
      paginator:
        type: DefaultPaginator
        page_size_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: maxResults
        page_token_option:
          type: RequestOption
          inject_into: request_parameter
          field_name: nextPageToken
        pagination_strategy:
          type: CursorPagination
          page_size: 5000
          cursor_value: "{{ response.get('nextPageToken', '') }}"
          stop_condition: "{{ not response.get('nextPageToken') }}"
      requester:
        type: HttpRequester
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        request_parameters:
          jql: >-
            project = "{{ stream_partition.project_key }}" ORDER BY created ASC
          fields: id
        url: "{{ config['jira_instance_url'] }}/rest/api/3/search/jql"
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: project_key
            partition_field: project_key
            stream:
              $ref: "#/definitions/jira_census_projects"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - tenant_id
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path:
              - source_id
            value: "{{ config['insight_source_id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - unique_key
            value: >-
              {{ config['insight_tenant_id'] }}-{{ config['insight_source_id'] }}-{{ record['id'] }}
          - type: AddedFieldDefinition
            path:
              - jira_id
            value: "{{ record['id'] }}"
          - type: AddedFieldDefinition
            path:
              - project_key
            value: "{{ stream_partition.project_key }}"
          - type: AddedFieldDefinition
            path:
              - collected_at
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S.%f')[:-3] + 'Z' }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          id:
            type:
              - string
              - "null"
          tenant_id:
            type:
              - string
              - "null"
          source_id:
            type:
              - string
              - "null"
          unique_key:
            type: string
          # Declared string like every other stream carrying jira_id (the
          # 2.4.0 consistency rule — see migration 20260723000000): bronze
          # jira_issue.jira_id is String and dbt joins the two directly.
          jira_id:
            type:
              - string
              - "null"
          project_key:
            type:
              - string
              - "null"
          collected_at:
            type:
              - string
              - "null"
        required:
          - unique_key
        additionalProperties: true

  # ─── Worklog deletion tombstones (specs/DELETION-AND-VISIBILITY.md) ─────
  # /rest/api/3/worklog/deleted is the one Jira surface where deletions are
  # first-class: every deleted worklog id with its deletion timestamp. The
  # list is small and bounded (one row per ever-deleted worklog), so the
  # stream re-reads it in full each sync — same census philosophy as
  # jira_issue_census, no cursor state to corrupt. Pagination: the API pages
  # via a `nextPage` URL that carries since=<until>; the paginator swaps the
  # request URL wholesale (RequestPath token), so the initial `since=0` baked
  # into the url never conflicts with the page token.
  - type: DeclarativeStream
    name: jira_worklog_deleted
    primary_key:
      - unique_key
    retriever:
      type: SimpleRetriever
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - values
      paginator:
        type: DefaultPaginator
        page_token_option:
          type: RequestPath
        pagination_strategy:
          type: CursorPagination
          cursor_value: "{{ response.get('nextPage', '') }}"
          stop_condition: "{{ response.get('lastPage', true) }}"
      requester:
        type: HttpRequester
        http_method: GET
        authenticator:
          $ref: "#/definitions/linked/HttpRequester/authenticator"
        error_handler:
          $ref: "#/definitions/linked/HttpRequester/error_handler"
        url: "{{ config['jira_instance_url'] }}/rest/api/3/worklog/deleted?since=0"
    transformations:
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - tenant_id
            value: "{{ config['insight_tenant_id'] }}"
          - type: AddedFieldDefinition
            path:
              - source_id
            value: "{{ config['insight_source_id'] }}"
      - type: AddFields
        fields:
          - type: AddedFieldDefinition
            path:
              - unique_key
            value: >-
              {{ config['insight_tenant_id'] }}-{{ config['insight_source_id'] }}-{{ record['worklogId'] }}
          - type: AddedFieldDefinition
            path:
              - worklog_id
            value: "{{ record['worklogId'] }}"
          # The API calls it updatedTime, but on this endpoint it IS the
          # deletion timestamp (epoch millis).
          - type: AddedFieldDefinition
            path:
              - deleted_at_ms
            value: "{{ record['updatedTime'] }}"
          - type: AddedFieldDefinition
            path:
              - collected_at
            value: "{{ now_utc().strftime('%Y-%m-%dT%H:%M:%S.%f')[:-3] + 'Z' }}"
    schema_loader:
      type: InlineSchemaLoader
      schema:
        type: object
        $schema: http://json-schema.org/schema#
        properties:
          worklogId:
            type:
              - number
              - "null"
          updatedTime:
            type:
              - number
              - "null"
          properties:
            type:
              - array
              - "null"
          tenant_id:
            type:
              - string
              - "null"
          source_id:
            type:
              - string
              - "null"
          unique_key:
[...]
